{% extends "layout_hmpps-no-nav.html" %}
{% set serviceName = "Appointments" %}

{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block beforeContent %}
    {{govukBackLink({
        text: "Back",
        "href": "javascript: window.history.go(-1)"
        })}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full"> 
        <form action="search-for-a-prisoner-results" method="post">
            <div class="moj-search">
            <div class="govuk-form-group">
                <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                <h1 class="govuk-heading-xl">
                    <span class="govuk-caption-l">
                    Manage suspensions                    
                </span>
                    Find a prisoner
                </h1>
                </label>
                <div id="search-hint" class="govuk-hint moj-search__hint ">
                Search by name or prison number
                </div>
                <input class="govuk-input moj-search__input govuk-input--width-30" id="search" name="search" type="search" aria-describedby="search-hint">
            </div>
            <button class="govuk-button govuk-button--secondary moj-search__button " data-module="govuk-button">
                Search
            </button>
            </div>
        </form>
    </div>
</div> 
{% endblock %}
