{% extends "layout_hmpps.html" %}
{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block primaryNavigation %} {% endblock %}

{% block beforeContent %}
{{govukBackLink({
text: "Back",
"href": "javascript: window.history.go(-1)"
})}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            {% set dateHtml %}
            {{govukDateInput({
            idPrefix: "deallocation-date",
            namePrefix: "deallocation-date",
            fieldset: {
            legend: {
            text: "Date",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
            }
            },
            hint: {
            text: "For example, 31 3 1980"
            },
            items: [
            {
            name: "day",
            classes: "govuk-input--width-2",
            value: existingDate['day'] or ''
            },
            {
            name: "month",
            classes: "govuk-input--width-2",
            value: existingDate['month'] or ''
            },
            {
            name: "year",
            classes: "govuk-input--width-4",
            value: existingDate['year'] or ''
            }
            ]
            })}}
            {% endset %}

            <span class="govuk-caption-xl">{{prisoner.name.firstname}} {{prisoner.name.surname}}</span>
            {{govukRadios({
            idPrefix: "end-date-check",
            name: "allocation[end-date-check]",
            fieldset: {
            legend: {
            html: "Do you want to set an end date for this allocation?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--xl"
            }
            },
            items: [
            {
            value: "yes",
            text: "Yes",
            checked: true if allocation.endDate
            },
            {
            value: "no",
            text: "No",
            checked: true if not allocation.endDate
            }
            ]
            })}}


            {% if prisonerData | length == 1 %}
            {% set insetTextText = prisonerData[0].name.firstname + " " + prisonerData[0].name.surname + " will be
            expected to attend any sessions scheduled to take place between now and the date they are removed from the
            activity." %}
            {% else %}
            {% set insetTextText = "The " + prisonerData | length + " selected prisoners will be expected to attend any
            sessions scheduled to take place between now and the date they are removed from the activity." %}
            {% endif %}

            {{ govukButton({
            text: "Save and continue"
            }) }}

            <p>
                <a href="javascript:window.history.go(-1)" class="govuk-link">Cancel</a>
            </p>
        </form>
    </div>
</div>

{% endblock %}