
{% extends "layout_hmpps-no-nav.html" %}
{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block content %}

    <div class="govuk-width-container">
      
      <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds-from-desktop">
            <div class="back">
              <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
              </div>
            <h1 class="govuk-heading-l">
              <span class="govuk-caption-l">View and edit appointment occurence</span>
              Chaplaincy appointment - 2 March 2023
             </h1>
            <h2 class="govuk-heading-m">Appointment occurence details</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Category
                </dt>
                <dd class="govuk-summary-list__value">
                  Chaplaincy
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change <span class="govuk-visually-hidden"> Appointment type</span>
                  </a>
                </dd>
              </div>
              <!--<div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Sub-type
                </dt>
                <dd class="govuk-summary-list__value">
                  Programme session
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change <span class="govuk-visually-hidden"> Appointment sub-type</span>
                  </a>
                </dd>
              </div>-->
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Location
                </dt>
                <dd class="govuk-summary-list__value">
                  HB2 Classroom 2
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change <span class="govuk-visually-hidden"> Appointment location</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date
                </dt>
                <dd class="govuk-summary-list__value">
                  2 Mar 2023
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change <span class="govuk-visually-hidden"> date</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Start time
                </dt>
                <dd class="govuk-summary-list__value">
                15:00 
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change <span class="govuk-visually-hidden"> Start time</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  End time
                </dt>
                <dd class="govuk-summary-list__value">
                16:00 
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change <span class="govuk-visually-hidden"> End time</span>
                  </a>
                </dd>
              </div>
            </dl>

            

            <h2 class="govuk-heading-m">Prisoner details</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Prisoners 
                </dt>
                <dd class="govuk-summary-list__value">
                  7 
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> prisoners</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Prisoner 
                </dt>
                <dd class="govuk-summary-list__value">
                  Rudge, Neil<br>G2044E  
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Remove<span class="govuk-visually-hidden"> Time</span>
                  </a>
                </dd>
              </div>
             
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Prisoner 
                </dt>
                <dd class="govuk-summary-list__value">
                  Hungerford, Bert<br>C2598E 
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Remove<span class="govuk-visually-hidden"> Time</span>
                  </a>
                </dd>
              </div>
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Prisoner 
                </dt>
                <dd class="govuk-summary-list__value">
                  Doyle, Matthew<br>E4911C 
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Remove<span class="govuk-visually-hidden"> Time</span>
                  </a>
                </dd>
              </div>
             
             
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Prisoner 
                </dt>
                <dd class="govuk-summary-list__value">
                  Gee, Ryan<br>F5132C 
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Remove<span class="govuk-visually-hidden"> Time</span>
                  </a>
                </dd>
              </div>
             
             
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Prisoner 
                </dt>
                <dd class="govuk-summary-list__value">
                  Bab, Robin<br>F4933A
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Remove<span class="govuk-visually-hidden"> Time</span>
                  </a>
                </dd>
              </div>
            
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Prisoner 
                </dt>
                <dd class="govuk-summary-list__value">
                  Knox, Tommy-Lee<br>C8361E
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Remove<span class="govuk-visually-hidden"> Time</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Prisoner 
                </dt>
                <dd class="govuk-summary-list__value">
                  Rasmussen, Fuentes<br>E2405E
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Remove<span class="govuk-visually-hidden"> Time</span>
                  </a>
                </dd>
              </div>
             
              

              </dl>
           

              
             
            
            <form action="confirmation" method="post" novalidate>
              <div class="govuk-button-group">
                <button class="govuk-button " data-module="govuk-button">
                  Print movement slip
                </button>
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Cancel this appointment
                </button>
                <button class="govuk-button govuk-button--warning" data-module="govuk-button">
                  Delete this appointment
                </button>
            </div>
             <p class="govuk-body">
              <a href="edit-appointment-option-4" class="govuk-link">Back to group details</a>
             </p>
            </form>
          </div>
        </div>
      </main>
    </div>
  
{% endblock %}
