
{% extends "layout_hmpps-no-nav.html" %}
{% set serviceName = "Appointments" %}

{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}



{% block content %}
<div class="back">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Appointment created"
      }) }}
     
      <h2 class="govuk-heading-m">What you can do next</h2>
      <p class="govuk-body">
        Your appointment has been created.
      </p>
      <p class="govuk-body">
        You can <a href="" class="govuk-link">print appointment and prisoners' details</a>.
      </p>
      <p class="govuk-body">
        You can <a href="" class="govuk-link">create a new appointment</a> or <a href="" class="govuk-link">change details of an existing appointment</a>.
      </p>
      
      {{ govukButton({
        text: "Print appointment and prisoners' details",
        classes: "govuk-button--secondary"
      }) }}
    </div>
  </div>
{% endblock %}
