
{% extends "layout_hmpps-no-nav.html" %}
{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block content %}
<form id="form" method="post" action="check-answers">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>
   <h1 class="govuk-heading-l">
    EXAMPLE - Schedule 
   </h1>
   


  
   {% set timeSetHtml %}
        <div class="govuk-button-group">
         
          <ul class="time-input">
            <li>
              {{ govukSelect({
                id: "start-hours",
                name: "start-hours",
                items: [
                {
                  value: "--",
                  text: "--",
                selected: true},
                  {
                    value: "08",
                    text: "08"
                  },
                  {
                    value: "09",
                    text: "09"
                  },
                  {
                    value: "10",
                    text: "10"
                  },
                  {
                    value: "11",
                    text: "11"
                  },
                  {
                    value: "12",
                    text: "12"
                  },
                  {
                    value: "13",
                    text: "13"
                  },
                  {
                    value: "14",
                    text: "14"
                  },
                  {
                    value: "15",
                    text: "15"
                  },
                  {
                    value: "16",
                    text: "16"
                  },
                  {
                    value: "17",
                    text: "17"
                  },
                  {
                    value: "18",
                    text: "18"
                  },
                  {
                    value: "19",
                    text: "19"
                  },
                  {
                    value: "20",
                    text: "20"
                  },
                  {
                    value: "21",
                    text: "21"
                  },
                  {
                    value: "22",
                    text: "22"
                  }
                  
                ]
              }) }}
            </li>
            <li class="minutes">
              {{ govukSelect({
                id: "start-minutes",
                name: "start-minutes",
                items: [
                {
                  value: "--",
                  text: "--",
                selected: true},
                  {
                    value: "00",
                    text: "00"
                  },
                  {
                    value: "15",
                    text: "15"
                  },
                  {
                    value: "30",
                    text: "30"
                  },
                  {
                    value: "45",
                    text: "45"
                  }
                ]
              }) }}
            </li>
          </ul>
      </div>
      {% endset -%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header width-one-eight">Name</th>
          <th scope="col" class="govuk-table__header width-one-eight">Prisoner number</th>
          <th scope="col" class="govuk-table__header width-one-eight">Location</th>
          <th scope="col" class="govuk-table__header width-one-eight"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell width-one-eight">Neil Rudge</td>
          <td class="govuk-table__cell width-one-eight">A4309SK</td>
            <td class="govuk-table__cell width-one-eight">1-3-003</td>
          <td class="govuk-table__cell width-one-eight"></td>
        </tr>
      
      </tbody>
    </table>

  </div>
</div>

    


{{ govukButton({
  text: "Continue"
}) }}  



    </div>
    
    </div>
  </div>
  
    
   </div>
   
  </div>
</div>
</form>
{% endblock %}
