{% extends "layout_hmpps.html" %}
{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}




{% block main %}
 
<div class="govuk-width-container">   
  {% block beforeContent %}
    <nav class="govuk-!-display-none-print">
    {{govukBackLink({
      text: "Back",
      "href": "javascript: window.history.go(-1)"
      })}} 
      <a href="../dps-home.html" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-3 float-right">
        Go to all appointments tasks
      </a>
    </nav>
  {% endblock %}


  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main"> 
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="POST"> 
              

        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

              <h1 class="govuk-fieldset__heading">
                Are you sure you want to reset the attendance record for Amby Abraham?
              </h1>

            </legend> 
            <div class="govuk-radios" data-module="govuk-radios"> 
        
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="confirm" name="confirm" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="confirm">Yes </label>
              </div> 
        
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="confirm-2" name="confirm" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="confirm-2">No</label>
              </div> 
    
            </div> 
          </fieldset> 
        </div> 
        <div class="govuk-inset-text">
            The attendance record will be changed to 'not recorded yet' and this will be noted in the change history.
        </div> 

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

        </form>
      </div>
    </div>  
  </main> 
</div>   
{% endblock %}
 