
{% extends "layout_hmpps-no-nav.html" %}
{% block pageTitle %}
Appointments prototype
{% endblock %}


{% block beforeContent %}
<nav class="govuk-!-display-none-print"> 
  <a href="../dps-home.html" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-3 float-right">
    Go to all appointments tasks
  </a>
</nav>
{% endblock %}

{% block content %}
 
    <div class="govuk-width-container">
      
      <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
         
          <div class="govuk-grid-column-two-thirds-from-desktop">
            
            {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

            {% set html %}
              <h3 class="govuk-notification-banner__heading">
                Appointment cancelled
              </h3>
              <p class="govuk-body">This appointment was cancelled by J. Mckechnie on Monday, 24 July 2023</p>
              
            {% endset %}

            {{ govukNotificationBanner({
              html: html 
            }) }}
          
            <h1 class="govuk-heading-l">
              <span class="govuk-caption-l">Manage appointments</span>
              
              {% if data['alt-appointment-name'] !='' %}

              {{ data['alt-appointment-name']}} ({{ data['apppointment-type']}})

              {% else %}
              
              {{ data['apppointment-type']}}
              {% endif %}
              <span class="govuk-caption-m govuk-!-margin-top-2">Tuesday, {{ data['date-of-appointment-day']}} October 2023</span>
             </h1>

             <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Series details</h2>
                <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action"> <a class="govuk-link" href="../repeating/overview">
                      View series
                    </a>
                  </li>
                </ul>
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Frequency
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Weekly
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Appointment
                    </dt>
                    <dd class="govuk-summary-list__value">
                      1 of 6
                    </dd>
                  </div>
                </dl>
              </div>
            </div>

            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Appointment details</h2>
                <!-- <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                      Cancel appointment
                    </a>
                  </li>
                </ul> -->
              </div>
              <div class="govuk-summary-card__content"> 
                <dl class="govuk-summary-list">

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Appointment name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Case - Substance misuse services
                    </dd> 
                    <!-- <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change <span class="govuk-visually-hidden">  type</span>
                      </a>
                    </dd> -->
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Tier
                    </dt>
                    <dd class="govuk-summary-list__value"> 

                      {{ data['FRD-tier']}}  
                      
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <!-- <a class="govuk-link" href="../../edit/tier/tier">
                        Change<span class="govuk-visually-hidden">tier</span>
                      </a> -->
                    </dd>
                  </div>
                 
           
                  {% if data['FRD-tier'] == 'Tier 2' %}
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                          Host
                      </dt>
                      <dd class="govuk-summary-list__value">
                          
                          {{data['FRD-provider']}}
                      </dd>
                      <dd class="govuk-summary-list__actions">
                          <!-- <a class="govuk-link" href="../../edit/tier-repeating/provider"> 
                              Change<span class="govuk-visually-hidden"> activity provider</span>
                          </a> -->
                      </dd>
                  </div>
                  {% else %}
            

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Location
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Medical room
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="change-answers-group-alt/location">
                        Change <span class="govuk-visually-hidden">  location</span>
                      </a>
                    </dd> -->
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date
                    </dt>
                    <dd class="govuk-summary-list__value">
                      1 June 2023
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="change-answers-group-alt/date-of-appointment">
                        Change <span class="govuk-visually-hidden"> date</span>
                      </a>
                    </dd> -->
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Start time
                    </dt>
                    <dd class="govuk-summary-list__value">
                      9:00
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="change-answers-group-alt/date-of-appointment">
                        Change <span class="govuk-visually-hidden"> start time</span>
                      </a>
                    </dd> -->
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      End time
                    </dt>
                    <dd class="govuk-summary-list__value">
                      12:00
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="change-answers-group-alt/date-of-appointment">
                        Change <span class="govuk-visually-hidden"> end time</span>
                      </a>
                    </dd> -->
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Extra information
                    </dt>
                    <dd class="govuk-summary-list__value">
                      
                    </dd> 
                  </div>
                 </dl>
              </div>
            </div>

             <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">6 attendees</h2>
                <!-- <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action"> 
                    <a class="govuk-link" href="#">
                      Print movement slips
                    </a>
                </li>
                  <li class="govuk-summary-card__action" style="padding-left: 10px;"> <a class="govuk-link" href="../../edit/appointment-list/add/upload-or-per-person">
                      Add attendees
                    </a>
                  </li>
                  <li class="govuk-summary-card__action"> 
                    <a class="govuk-link" href="../../edit/appointment-list/remove/multiple/choose-people">
                      Remove attendees
                    </a>
                  </li>
                </ul> -->
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Name of attendee 
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <a href="#" class="govuk-link"> Amby Abraham</a><br>G2044E <br>1-2-33 
                      </dd> 
                      
                    </div>
                   
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Name of attendee 
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <a href="#" class="govuk-link"> Bert Hungerford</a><br>C2598E<br>1-3-44 
                      </dd>
                      
                    </div>
                    
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Name of attendee 
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <a href="#" class="govuk-link"> Matthew Doyle</a><br>E4911C<br>1-2-22 
                      </dd> 
                      
                    </div>
                   
                   
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Name of attendee 
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <a href="#" class="govuk-link"> Ryan Gee</a><br>F5132C<br>1-2-88 
                      </dd> 
                      
                    </div>
                   
                   
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Name of attendee 
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <a href="#" class="govuk-link"> Robin Bab</a><br>F4933A<br>1-3-66
                      </dd>  
                      
                    </div>
                  
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Name of attendee 
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <a href="#" class="govuk-link"> Tommy-Lee Knox</a><br>C8361E<br>2-1-22
                      </dd> 
                      
                    </div>
                    </dl>
              </div>
            </div> 
            
            
            <!-- <form  method="post" novalidate>
              <div class="govuk-button-group">
                {{ govukButton({
                  text: "Print movement slip"
                }) }}
              
               {{ govukButton({
                text: "Cancel appointment",
                classes: "govuk-button--secondary",
                href: "cancel-group-alt/cancel-occurrence-question"
               }) }}
               
            </div>  -->

            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Appointment history</h2> 
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
             
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Created by
                    </dt>
                    <dd class="govuk-summary-list__value">
                      J. Smith
                    </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Date created
                      </dt>
                      <dd class="govuk-summary-list__value">
                        13 Feb 2023
                      </dd>
                    </div>
                     <!-- <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Last edited by
                      </dt>
                      <dd class="govuk-summary-list__value">
                        B. Milman
                      </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Date last edited
                        </dt>
                        <dd class="govuk-summary-list__value">
                          22 June 2023
                        </dd>
                      </div>  -->
                 </dl>
              </div>
            </div>
            
            </form>
          </div>
        </div>
      </main>
    </div>
  
{% endblock %}
