<header class="dps-header">
    <div class="govuk-width-container">
        <h1 class="govuk-heading-l">Welcome to Digital Prison Services</h1>
        <p>The modern replacement for NOMIS.</p>
        <a href="/learn-more-about-dps" class="govuk-link govuk-link--text-colour">Find out more about DPS</a>
    </div>
</header>

<style>
    header.dps-header {
    background-color: rgba(86,148,202,.2);
    padding: 25px 0
}

header.dps-header div {
    position: relative
}

header.dps-header div::before {
    content: url("/public/images/dps-logo.svg");
    float: left;
    margin-right: 20px
}

header.dps-header h1 {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 8px 0
}

header.dps-header p {
    font-weight: 700;
    margin: 0 0 5px 0
}

header.dps-header a {
    font-weight: 300
}

</style>