
{% extends "layout_hmpps-no-nav.html" %}
{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>

      

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      <span class="govuk-caption-l">Multiple appointment list</span>
      Check for appointment clashes
    </h1>
    <p class="govuk-body">
      Select and remove prisoners with conflicting events.
    </p>
  </div>

</div>




  






<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" action="check-answers">



  <table class="govuk-table" data-module="moj-sortable-table" style="margin:30px 0 0 10px;">
    
  
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"   aria-sort="ascending" >Prisoner name and number</th>
        <th scope="col" class="govuk-table__header"  ></th>
      </tr>
    </thead>
  
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" >
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                Bert Hungerford, {{ data['person-2']}}
              </label>
            </div>
          </div>
          <br>

          <!--details component-->
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Clash details
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="appointment-event">
                <li>
                  <b>Drugs misuse programme</b><br>
                  13:00 to 16:30<br>
                  Created by: John Smith<br>
                  {% if data['appointment-repeat'] === 'Yes' %}
                  
                  Clashes with 2 instances
                  {% endif %}
                </li>
                <li>
                  <b>Kitchen</b><br>
                  13:00 to 16:30<br>
                  Created by: Bill Jones<br>
                  {% if data['appointment-repeat'] === 'Yes' %}
                  Clashes with {{ data['number-of-appointments']}} instances
                  {% endif %}
                </li>
              </ul>
            </div>
          </details>
         <!--details component-->
            
       </td>
        <td class="govuk-table__cell" data-sort-value="0">
          {{ govukTag({
            text: "Clash",
            classes: "govuk-!-margin-right-3"
          }) }}
          <a href="schedules/prisoner-schedule" class="govuk-link" target="_blank">View schedule (opens in a new tab)</a>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" >
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                Alex Sale, {{ data['person-4']}}
              </label>
            </div>
          </div>
          <br>

          <!--details component-->
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Clash details
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="appointment-event">
               
                <li>
                  <b>Kitchen</b><br>
                  13:00 to 16:30<br>
                  Created by: Bill Jones<br>
                  {% if data['appointment-repeat'] === 'Yes' %}
                  Clashes with {{ data['number-of-appointments']}} instances
                  {% endif %}
                </li>
              </ul>
            </div>
          </details>
         <!--details component-->
            
       </td>
        <td class="govuk-table__cell" data-sort-value="0">
          {{ govukTag({
            text: "Clash",
            classes: "govuk-!-margin-right-3"
          }) }}
          <a href="#" class="govuk-link" target="_blank">View schedule (opens in a new tab)</a>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" >
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                Ryan Gee, {{ data['person-5']}}
              </label>
            </div>
          </div>
          <br>

          <!--details component-->
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Clash details
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="appointment-event">
               
                <li>
                  <b>Kitchen</b><br>
                  13:00 to 16:30m<br>
                  Created by: Bill Jones<br>

                  {% if data['appointment-repeat'] === 'Yes' %}
                  Clashes with {{ data['number-of-appointments']}} instances
                  {% endif %}
                </li>
              </ul>
            </div>
          </details>
         <!--details component-->
            
       </td>
        <td class="govuk-table__cell" data-sort-value="0">
          {{ govukTag({
            text: "Clash",
            classes: "govuk-!-margin-right-3"
          }) }}
          <a href="#" class="govuk-link" target="_blank">View schedule (opens in a new tab)</a>
        </td>
      </tr>
    </tbody>
  </table>
  
  



<br />
<button class="govuk-button govuk-button--warning" data-module="govuk-button" name="editDashboard" value="archive">
Remove selected prisoners
</button>
<button class="govuk-button" data-module="govuk-button" style="margin-left:30px;" name="editDashboard" value="suspend">
Continue
</button>
  </form>

</div>
</div>
</div>


{% endblock %}
