
{% extends "layout_hmpps-no-nav.html" %}
{% set serviceName = "Appointments" %}

{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="back">
          <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
          </div>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
          Are you sure you wish to remove the following prisoners from this appointment?
          </h1>
     


          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" style="width:30%;"   >Prisoner name and number</th>
              
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% if data.personMatthew=='Matthew' %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-sort-value="Maths level 1">
                    Matthew Doyle, {{ data['person-3']}} 
                </td>
              </tr>
              {% endif %}
              {% if data.personRobin=='Robin' %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" data-sort-value="Maths level 1">
                    Robin Bab, {{ data['person-3']}}  
                </td>
              </tr>
              {% endif %}
              </tbody>
              </table>


              

          {{ govukRadios({
            idPrefix: "rem-prisoner",
            name: "rem-prisoner",
            items: [
              {
                value: "Yes",
                text: "Yes"
              },
              {
                value: "No",
                text: "No"
              }
            ]
          }) }}
          {{ govukButton({
            text: "Continue",
            href: "non-associations-updated"
          }) }}
          <input type="hidden" name="cancelAllocation" value="false">
        </form>
      </div>
</div>
{% endblock %}
