{% extends "layout_hmpps.html" %}
{% set serviceName = "Appointments" %}

{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block main %}
<form method="post" action="apply-to">
   <div class="govuk-width-container"> 

        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
          {% block content %}
            <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div class="back">
                <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
                </div>

                {% if data['choose-too-many'] == 'true' %}
                <div class="govuk-form-group govuk-form-group--error">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h1 class="govuk-fieldset__heading">
                        Choose who to remove from the appointment list
                      </h1>
                    </legend>
                    <div id="waste-hint" class="govuk-hint">
                      You cannot remove everyone from the appointment.
                    </div>
                    <p id="people-error" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span> You cannot remove everyone from the appointment
                    </p>
            
                <table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="col" id="select-all govuk-visually-hidden"></th>
                      <th class="govuk-table__header" aria-sort="none">
                        <button type="button" data-index="0">
                          Name
                        </button>
                      </th>
                      <th class="govuk-table__header" aria-sort="ascending">
                        <button type="button" data-index="1">
                          Prison number
                        </button>
                      </th> 
                      <th class="govuk-table__header" aria-sort="ascending" width="120">
                        <button type="button" data-index="1">
                          Location
                        </button>
                      </th> 
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">


                    <tr class="govuk-table__row govuk-table__row--selected">
                      <td class="govuk-table__cell">
                        <div 
                          class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" checked
                            id="prisoner-david_francis-2">
                          <label class="govuk-label govuk-checkboxes__label"
                            for="prisoner-david_francis-2">
                            <span class="govuk-visually-hidden">Select Abraham Arby, E2405E</span>
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell" width="180" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>Abraham, </b>Amby</a><br>
                        <span class="govuk-hint govuk-!-font-size-16"></span>
                      </td>
                      <td class="govuk-table__cell" data-sort-value="112" scope="col">
                        E2405E 
                      </td>
                    
                      <td class="govuk-table__cell" data-sort-value="" scope="col">
                        2-2-2
                      </td>
                    </tr>


                    <tr class="govuk-table__row govuk-table__row--selected">
                      <td class="govuk-table__cell">
                        <div
                          class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" checked
                            id="prisoner-david_francis-2">
                          <label class="govuk-label govuk-checkboxes__label"
                            for="prisoner-david_francis-2">
                            <span class="govuk-visually-hidden">Select Bert Hungerford, A3123DF</span>
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell" width="180" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>Hungerford, </b>Bert</a><br>
                        <span class="govuk-hint govuk-!-font-size-16"></span>
                      </td>
                      <td class="govuk-table__cell" data-sort-value="112" scope="col">
                        C2598E 
                      </td>
                    
                      <td class="govuk-table__cell" data-sort-value="" scope="col">
                        1-5-111
                      </td>
                    </tr>

                    <tr class="govuk-table__row govuk-table__row--selected">
                      <td class="govuk-table__cell">
                        <div
                          class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" checked
                            id="prisoner-david_francis-2">
                          <label class="govuk-label govuk-checkboxes__label"
                            for="prisoner-david_francis-2">
                            <span class="govuk-visually-hidden">Select Matthew Doyle, E4911C</span>
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell" width="180" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>Doyle, </b>Matthew</a><br>
                        <span class="govuk-hint govuk-!-font-size-16"></span>
                      </td>
                      <td class="govuk-table__cell" data-sort-value="112" scope="col">
                        E4911C
                      </td>
                    
                      <td class="govuk-table__cell" data-sort-value="" scope="col">
                        1-2-22
                      </td>
                    </tr>

                    <tr class="govuk-table__row govuk-table__row--selected">
                      <td class="govuk-table__cell">
                        <div
                          class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" checked
                            id="prisoner-david_francis-2">
                          <label class="govuk-label govuk-checkboxes__label"
                            for="prisoner-david_francis-2">
                            <span class="govuk-visually-hidden">Select Ryan Gee, E4911C</span>
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell" width="180" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>Gee, </b>Ryan</a><br>
                        <span class="govuk-hint govuk-!-font-size-16"></span>
                      </td>
                      <td class="govuk-table__cell" data-sort-value="112" scope="col">
                        F5132C
                      </td>
                    
                      <td class="govuk-table__cell" data-sort-value="" scope="col">
                        1−1−204
                      </td>
                    </tr>

                    <tr class="govuk-table__row govuk-table__row--selected">
                      <td class="govuk-table__cell">
                        <div
                          class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" checked
                            id="prisoner-david_francis-2">
                          <label class="govuk-label govuk-checkboxes__label"
                            for="prisoner-david_francis-2">
                            <span class="govuk-visually-hidden">Select Robin Bab, F4933A</span>
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell" width="180" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>Bab, </b>Robin</a><br>
                        <span class="govuk-hint govuk-!-font-size-16"></span>
                      </td>
                      <td class="govuk-table__cell" data-sort-value="112" scope="col">
                        F4933A
                      </td>
                    
                      <td class="govuk-table__cell" data-sort-value="" scope="col">
                        1-3-66
                      </td>
                    </tr>

                    <tr class="govuk-table__row govuk-table__row--selected">
                      <td class="govuk-table__cell">
                        <div
                          class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" checked
                            id="prisoner-david_francis-2">
                          <label class="govuk-label govuk-checkboxes__label"
                            for="prisoner-david_francis-2">
                            <span class="govuk-visually-hidden">Select Tommy-Lee Knox, C8361E</span>
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell" width="180" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>Knox, </b>Tommy-Lee</a><br>
                        <span class="govuk-hint govuk-!-font-size-16"></span>
                      </td>
                      <td class="govuk-table__cell" data-sort-value="112" scope="col">
                        C8361E
                      </td>
                    
                      <td class="govuk-table__cell" data-sort-value="" scope="col">
                        2-1-22
                      </td>
                    </tr>

                    <!-- <tr class="govuk-table__row govuk-table__row--selected">
                      <td class="govuk-table__cell">
                        <div
                          class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" checked
                            id="prisoner-david_francis-2">
                          <label class="govuk-label govuk-checkboxes__label"
                            for="prisoner-david_francis-2">
                            <span class="govuk-visually-hidden">Select Fuentes Rasmussen, E2405E</span>
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell" width="180" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>Rasmussen, </b>Fuentes </a><br>
                        <span class="govuk-hint govuk-!-font-size-16"></span>
                      </td>
                      <td class="govuk-table__cell" data-sort-value="112" scope="col">
                        E2405E
                      </td>
                    
                      <td class="govuk-table__cell" data-sort-value="" scope="col">
                        1-3-2
                      </td>
                    </tr>

                    <tr class="govuk-table__row govuk-table__row--selected">
                      <td class="govuk-table__cell">
                        <div
                          class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" checked
                            id="prisoner-david_francis-2">
                          <label class="govuk-label govuk-checkboxes__label"
                            for="prisoner-david_francis-2">
                            <span class="govuk-visually-hidden">Select Luther Drove, E2405E</span>
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell" width="180" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>Drove, </b>Luther</a><br>
                        <span class="govuk-hint govuk-!-font-size-16"></span>
                      </td>
                      <td class="govuk-table__cell" data-sort-value="112" scope="col">
                        E2405E 
                      </td>
                    
                      <td class="govuk-table__cell" data-sort-value="" scope="col">
                        2-2-2
                      </td>
                    </tr>

                    <tr class="govuk-table__row govuk-table__row--selected">
                      <td class="govuk-table__cell">
                        <div
                          class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" checked
                            id="prisoner-david_francis-2">
                          <label class="govuk-label govuk-checkboxes__label"
                            for="prisoner-david_francis-2">
                            <span class="govuk-visually-hidden">Select Logan Looker, C7950C</span>
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell" width="180" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>Looker, </b>Logan</a><br>
                        <span class="govuk-hint govuk-!-font-size-16"></span>
                      </td>
                      <td class="govuk-table__cell" data-sort-value="112" scope="col">
                        C7950C
                      </td>
                    
                      <td class="govuk-table__cell" data-sort-value="" scope="col">
                        1-1-1
                      </td>
                    </tr>

                    <tr class="govuk-table__row govuk-table__row--selected">
                      <td class="govuk-table__cell">
                        <div
                          class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" checked
                            id="prisoner-david_francis-2"> 
                          <label class="govuk-label govuk-checkboxes__label"
                            for="prisoner-david_francis-2">
                            <span class="govuk-visually-hidden">Select Eric Sykes, B9295C</span>
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell" width="180" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>Sykes, </b>Eric</a><br>
                        <span class="govuk-hint govuk-!-font-size-16"></span>
                      </td>
                      <td class="govuk-table__cell" data-sort-value="112" scope="col">
                        B9295C
                      </td>
                    
                      <td class="govuk-table__cell" data-sort-value="" scope="col">
                        1-4-5
                      </td>
                    </tr> -->
                    
                  </tbody>
                </table>
              </fieldset>
              </div>

                {% else %}

                <h1 class="govuk-heading-l"> 
                  Choose who to remove from the appointment list
                </h1>

                <table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="col" id="select-all govuk-visually-hidden"></th>
                      <th class="govuk-table__header" aria-sort="none">
                        <button type="button" data-index="0">
                          Name
                        </button>
                      </th>
                      <th class="govuk-table__header" aria-sort="ascending">
                        <button type="button" data-index="1">
                          Prison number
                        </button>
                      </th> 
                      <th class="govuk-table__header" aria-sort="ascending" width="120">
                        <button type="button" data-index="1">
                          Location
                        </button>
                      </th> 
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">


                    <tr class="govuk-table__row govuk-table__row--selected">
                      <td class="govuk-table__cell">
                        <div
                          class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input"
                            id="prisoner-david_francis-2">
                          <label class="govuk-label govuk-checkboxes__label"
                            for="prisoner-david_francis-2">
                            <span class="govuk-visually-hidden">Select Abraham Arby, E2405E</span>
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell" width="180" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>Abraham, </b>Amby</a><br>
                        <span class="govuk-hint govuk-!-font-size-16"></span>
                      </td>
                      <td class="govuk-table__cell" data-sort-value="112" scope="col">
                        E2405E 
                      </td>
                    
                      <td class="govuk-table__cell" data-sort-value="" scope="col">
                        2-2-2
                      </td>
                    </tr>


                    <tr class="govuk-table__row govuk-table__row--selected">
                      <td class="govuk-table__cell">
                        <div
                          class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input"
                            id="prisoner-david_francis-2">
                          <label class="govuk-label govuk-checkboxes__label"
                            for="prisoner-david_francis-2">
                            <span class="govuk-visually-hidden">Select Bert Hungerford, A3123DF</span>
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell" width="180" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>Hungerford, </b>Bert</a><br>
                        <span class="govuk-hint govuk-!-font-size-16"></span>
                      </td>
                      <td class="govuk-table__cell" data-sort-value="112" scope="col">
                        C2598E 
                      </td>
                    
                      <td class="govuk-table__cell" data-sort-value="" scope="col">
                        1-5-111
                      </td>
                    </tr>

                    <tr class="govuk-table__row govuk-table__row--selected">
                      <td class="govuk-table__cell">
                        <div
                          class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input"
                            id="prisoner-david_francis-2">
                          <label class="govuk-label govuk-checkboxes__label"
                            for="prisoner-david_francis-2">
                            <span class="govuk-visually-hidden">Select Matthew Doyle, E4911C</span>
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell" width="180" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>Doyle, </b>Matthew</a><br>
                        <span class="govuk-hint govuk-!-font-size-16"></span>
                      </td>
                      <td class="govuk-table__cell" data-sort-value="112" scope="col">
                        E4911C
                      </td>
                    
                      <td class="govuk-table__cell" data-sort-value="" scope="col">
                        1-2-22
                      </td>
                    </tr>

                    <tr class="govuk-table__row govuk-table__row--selected">
                      <td class="govuk-table__cell">
                        <div
                          class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input"
                            id="prisoner-david_francis-2">
                          <label class="govuk-label govuk-checkboxes__label"
                            for="prisoner-david_francis-2">
                            <span class="govuk-visually-hidden">Select Ryan Gee, E4911C</span>
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell" width="180" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>Gee, </b>Ryan</a><br>
                        <span class="govuk-hint govuk-!-font-size-16"></span>
                      </td>
                      <td class="govuk-table__cell" data-sort-value="112" scope="col">
                        F5132C
                      </td>
                    
                      <td class="govuk-table__cell" data-sort-value="" scope="col">
                        1−1−204
                      </td>
                    </tr>

                    <tr class="govuk-table__row govuk-table__row--selected">
                      <td class="govuk-table__cell">
                        <div
                          class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input"
                            id="prisoner-david_francis-2">
                          <label class="govuk-label govuk-checkboxes__label"
                            for="prisoner-david_francis-2">
                            <span class="govuk-visually-hidden">Select Robin Bab, F4933A</span>
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell" width="180" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>Bab, </b>Robin</a><br>
                        <span class="govuk-hint govuk-!-font-size-16"></span>
                      </td>
                      <td class="govuk-table__cell" data-sort-value="112" scope="col">
                        F4933A
                      </td>
                    
                      <td class="govuk-table__cell" data-sort-value="" scope="col">
                        1-3-66
                      </td>
                    </tr>

                    <tr class="govuk-table__row govuk-table__row--selected">
                      <td class="govuk-table__cell">
                        <div
                          class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input"
                            id="prisoner-david_francis-2">
                          <label class="govuk-label govuk-checkboxes__label"
                            for="prisoner-david_francis-2">
                            <span class="govuk-visually-hidden">Select Tommy-Lee Knox, C8361E</span>
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell" width="180" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>Knox, </b>Tommy-Lee</a><br>
                        <span class="govuk-hint govuk-!-font-size-16"></span>
                      </td>
                      <td class="govuk-table__cell" data-sort-value="112" scope="col">
                        C8361E
                      </td>
                    
                      <td class="govuk-table__cell" data-sort-value="" scope="col">
                        2-1-22
                      </td>
                    </tr>

                    <!-- <tr class="govuk-table__row govuk-table__row--selected">
                      <td class="govuk-table__cell">
                        <div
                          class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input"
                            id="prisoner-david_francis-2">
                          <label class="govuk-label govuk-checkboxes__label"
                            for="prisoner-david_francis-2">
                            <span class="govuk-visually-hidden">Select Fuentes Rasmussen, E2405E</span>
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell" width="180" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>Rasmussen, </b>Fuentes </a><br>
                        <span class="govuk-hint govuk-!-font-size-16"></span>
                      </td>
                      <td class="govuk-table__cell" data-sort-value="112" scope="col">
                        E2405E
                      </td>
                    
                      <td class="govuk-table__cell" data-sort-value="" scope="col">
                        1-3-2
                      </td>
                    </tr>

                    <tr class="govuk-table__row govuk-table__row--selected">
                      <td class="govuk-table__cell">
                        <div
                          class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input"
                            id="prisoner-david_francis-2">
                          <label class="govuk-label govuk-checkboxes__label"
                            for="prisoner-david_francis-2">
                            <span class="govuk-visually-hidden">Select Luther Drove, E2405E</span>
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell" width="180" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>Drove, </b>Luther</a><br>
                        <span class="govuk-hint govuk-!-font-size-16"></span>
                      </td>
                      <td class="govuk-table__cell" data-sort-value="112" scope="col">
                        E2405E 
                      </td>
                    
                      <td class="govuk-table__cell" data-sort-value="" scope="col">
                        2-2-2
                      </td>
                    </tr>

                    <tr class="govuk-table__row govuk-table__row--selected">
                      <td class="govuk-table__cell">
                        <div
                          class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input"
                            id="prisoner-david_francis-2">
                          <label class="govuk-label govuk-checkboxes__label"
                            for="prisoner-david_francis-2">
                            <span class="govuk-visually-hidden">Select Logan Looker, C7950C</span>
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell" width="180" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>Looker, </b>Logan</a><br>
                        <span class="govuk-hint govuk-!-font-size-16"></span>
                      </td>
                      <td class="govuk-table__cell" data-sort-value="112" scope="col">
                        C7950C
                      </td>
                    
                      <td class="govuk-table__cell" data-sort-value="" scope="col">
                        1-1-1
                      </td>
                    </tr>

                    <tr class="govuk-table__row govuk-table__row--selected">
                      <td class="govuk-table__cell">
                        <div
                          class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input"
                            id="prisoner-david_francis-2">
                          <label class="govuk-label govuk-checkboxes__label"
                            for="prisoner-david_francis-2">
                            <span class="govuk-visually-hidden">Select Eric Sykes, B9295C</span>
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell" width="180" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>Sykes, </b>Eric</a><br>
                        <span class="govuk-hint govuk-!-font-size-16"></span>
                      </td>
                      <td class="govuk-table__cell" data-sort-value="112" scope="col">
                        B9295C
                      </td>
                    
                      <td class="govuk-table__cell" data-sort-value="" scope="col">
                        1-4-5
                      </td>
                    </tr> -->
                    
                  </tbody>
                </table>

                {% endif %}

                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                      {{ govukButton({
                        text: 'Continue'
                      }) }}
                    </div>
                </div>

            </div>
          </div> 

          {% endblock %}
        </main>
    </div>
  
  </form>

{% endblock %}
 
{% block pageScripts %}
<script type="text/javascript">
    // toggle .app-attendance-sticky-bar--bottom toolbar to display when any table checkboxes are checked
    // ... and hide when no checkboxes are checked
    const toolbar = $('#allocation-toolbar');
    const checkbox = $('table').find('input[type="checkbox"]');
    const selectedCount = $('#app-selected-count');
    const clearButton = $('#clear-selection');

    selectedCount.attr('data-html', $('#app-selected-count').html());

    const generateCountString = (count) => {
        let noun = count == 1 ? ' person' : ' people';
        return count + noun + ' selected';
    }

    function updateToolbar() {
        if (checkbox.is(':checked')) {
            toolbar.addClass('active').attr("aria-disabled", false);
            selectedCount.html(generateCountString(checkbox.filter(':checked').length));
        } else {
            toolbar.removeClass('active').attr("aria-disabled", true);
            selectedCount.html(selectedCount.attr('data-html'));
        }
    };

    $('body').on('change', 'table input[type="checkbox"]', updateToolbar);

    // run the function on window load to check if any checkboxes are already checked
    $(window).on('load', updateToolbar);

    clearButton.on('click', function (event) {
        event.preventDefault();
        let selectAllCheckbox = $('body').find('table input[type="checkbox"]').first();
        // if the first checkbox in the table is checked, uncheck it
        if (selectAllCheckbox.is(':checked')) {
            selectAllCheckbox.click();
        } else {
            // otherwise, uncheck all other checkboxes
            checkbox.prop('checked', false);
        }
        toolbar.removeClass('active').attr("aria-disabled", true);
        selectedCount.html(selectedCount.attr('data-html'));
    });

</script>
{% endblock %}
