{% extends "layout_hmpps-new-nav.html" %}

{% set serviceName = "Activities" %}

{% set prisonerName = "David Jones" %}
{% set prisonerNameAlt = "Jones, David" %}
{% set prisonerNumber = "G7006VF" %}
{% set prisonerLocation = "D-2-08N" %}
{% set prisonerCategory = "C" %}
{% set prisonerCSRA = "Standard" %}
{% set prisonerIncentiveLevel = "Standard" %}
{% set prisonerEarliestReleaseDate = "17 June 2032" %}

{% set activityTitle = "Wing cleaning" %}

{% block pageTitle %}
Allocate - {{ serviceName }} prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Allocation complete
            </h1>
            <div class="govuk-panel__body">
              {{ prisonerName }} is scheduled to be allocated to {{activityTitle }} on Wednesday, 12 February 2025
            </div>
          </div>
          <h2 class="govuk-heading-m">
            What you can do next
          </h2>
          <p>You can either:</p>
          <ul class="govuk-list govuk-list--bullet">
                <li>
                    <a href="../summary-allocations" class="govuk-link">Review {{ prisonerName }}' allocations</a>
                </li>
                <li>
                  <a href="" class="govuk-link">Review the allocations for {{activityTitle }} and continue allocating</a>
                </li>
                <li>
                  <a href="" class="govuk-link">Find other activities with vacancies</a>
                </li>
                <li>
                  <a href="../dps-home" class="govuk-link">Find other prisoner</a>
                </li>
          </ul>
    </div>
</div>
{% endblock %}