
{% extends "layout_hmpps-no-nav.html" %}
{% set serviceName = "Appointments" %}

{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}


{% block beforeContent %}
<nav class="govuk-!-display-none-print">
{{govukBackLink({
  text: "Back",
  "href": "javascript: window.history.go(-1)"
  })}} 
  <a href="../dps-home.html" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-3 float-right">
    Go to all appointments tasks
  </a>
</nav>
{% endblock %}

{% block content %}

<form id="form" method="post" action="comments-all">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> 
     
     <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Schedule a set of back-to-backs</span>
      Add extra information (optional)
     </h1>

<p class="govuk-body">
  Add any important information about how an attendee should prepare for their appointment. It will be printed on the movement slip.
</p>


<p class="govuk-body">
  Wing staff will be notified there is extra information on the printed unlock list, but for confidentiality the full text will only be visible when you view the details of the appointment in this service.
</p>


<button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Add extra information for all attendees
</button>

     <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header ">Name</th>
          <th scope="col" class="govuk-table__header "></th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter "></th>
          
        </tr>
      </thead>
      <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><a href="#" class="govuk-link--no-visited-state"><b>Neil Rudge</b></a><br>
              <span class="govuk-hint govuk-!-font-size-16">G2044E</span>
            </td>
            <td class="govuk-table__cell "> </td>
            <td class="govuk-table__cell "> <a href="prisoner-comments" class="govuk-link">Add extra information</a></td>
              </tr>
            </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell ">
              <a href="#" class="govuk-link--no-visited-state"><b>Bert Hungerford</b></a><br>
                <span class="govuk-hint govuk-!-font-size-16">C2598E</span>
             </td>
            <td class="govuk-table__cell "></td>
            <td class="govuk-table__cell "> <a href="prisoner-comments" class="govuk-link">Add extra information</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell "><a href="#" class="govuk-link--no-visited-state"><b>Matthew Doyle</b></a><br>
                <span class="govuk-hint govuk-!-font-size-16">E4911C</span>
              </td>
               <td class="govuk-table__cell "> </td>
              <td class="govuk-table__cell "> <a href="#" class="govuk-link">Add extra information</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell "><a href="#" class="govuk-link--no-visited-state"><b>Ryan Gee</b></a><br>
                <span class="govuk-hint govuk-!-font-size-16">F5132C</span>
              </td>
              <td class="govuk-table__cell "> </td>
            <td class="govuk-table__cell "> <a href="#" class="govuk-link">Add extra information</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell "><a href="#" class="govuk-link--no-visited-state"><b>Robin Bab</b></a><br>
                <span class="govuk-hint govuk-!-font-size-16">F4933A</span>
              </td>
              <td class="govuk-table__cell "> </td>
            <td class="govuk-table__cell "> <a href="#" class="govuk-link">Add extra information</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell "><a href="#" class="govuk-link--no-visited-state"><b>Tommy-Lee Knox</b></a><br>
                <span class="govuk-hint govuk-!-font-size-16">C8361E</span>
              </td>
              <td class="govuk-table__cell "> </td>
            <td class="govuk-table__cell "> <a href="#" class="govuk-link">Add extra information</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell "><a href="#" class="govuk-link--no-visited-state"><b>Fuentes Rasmussen</b></a><br>
                <span class="govuk-hint govuk-!-font-size-16">E2405E</span>
              </td>
              <td class="govuk-table__cell "> </td>
            <td class="govuk-table__cell "> <a href="#" class="govuk-link">Add extra information</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell ">
                <a href="#" class="govuk-link--no-visited-state"><b>Luther Drove</b></a><br>
                <span class="govuk-hint govuk-!-font-size-16">C7950C</span>
              </td>
              <td class="govuk-table__cell "> </td>
            <td class="govuk-table__cell "> <a href="#" class="govuk-link">Add extra information</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell "><a href="#" class="govuk-link--no-visited-state"><b>Logan Looker</b></a><br>
                <span class="govuk-hint govuk-!-font-size-16">B9295C</span>
              </td>
              <td class="govuk-table__cell "> </td>
            <td class="govuk-table__cell "> <a href="#" class="govuk-link">Add extra information</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell "><a href="#" class="govuk-link--no-visited-state"><b>Eric Sykes</b></a><br>
                <span class="govuk-hint govuk-!-font-size-16">F6726E</span>
               </td>
               <td class="govuk-table__cell "> </td>
               <td class="govuk-table__cell "> <a href="#" class="govuk-link">Add extra information</a></td>
            </tr>
          

            <tr class="govuk-table__row">
              <td class="govuk-table__cell "><a href="#" class="govuk-link--no-visited-state"><b>Grant Kittel</b></a><br>
                <span class="govuk-hint govuk-!-font-size-16">G2044E</span>
               </td>
               <td class="govuk-table__cell "> </td>
               <td class="govuk-table__cell "> <a href="#" class="govuk-link">Add extra information</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell "><a href="#" class="govuk-link--no-visited-state"><b>Amby Abraham</b></a><br>
                <span class="govuk-hint govuk-!-font-size-16">C7950C</span>
               </td>
               <td class="govuk-table__cell "> </td>
               <td class="govuk-table__cell "> <a href="#" class="govuk-link">Add extra information</a></td>
            </tr>
          </tbody>
    </table>


  

      {{ govukButton({
        text: "Continue"
      }) }}
    
      
    </div>
    </div>
  </div>
  </form>


{% endblock %}
