
{% extends "layout.html" %}
{% set serviceName = "" %}

{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      What type of activity would you like to create?
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="education" name="category" type="radio" value="education" aria-describedby="sign-in-item-hint">
                <label class="govuk-label govuk-radios__label" for="education">
                  Education
                </label>
                <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                  Includes classes in English, maths, construction and computer skills
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="gym" name="category" type="radio" value="gym" aria-describedby="sign-in-item-hint">
                <label class="govuk-label govuk-radios__label" for="gym">
                  Gym, sport and fitness
                </label>
                <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                  Includes sport clubs like football, fitness classes and gym sessions
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="induction" name="category" type="radio" value="induction" aria-describedby="sign-in-item-hint">
                <label class="govuk-label govuk-radios__label" for="induction">
                  Induction
                </label>
                <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                  Includes gym induction, education assessments, health and safety workshops
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="intervention" name="category" type="radio" value="intervention" aria-describedby="sign-in-item-hint">
                <label class="govuk-label govuk-radios__label" for="intervention">
                  Intervention programmes
                </label>
                <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                  Includes programmes for behaviour management, drug and alcohol misuse and community rehabilitation
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="leisure" name="category" type="radio" value="leisure" aria-describedby="sign-in-item-hint">
                <label class="govuk-label govuk-radios__label" for="leisure">
                  Leisure and social
                </label>
                <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                  Includes association, library time and social clubs, like music or art
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="industry" name="category" type="radio" value="industry" aria-describedby="sign-in-item-hint">
                <label class="govuk-label govuk-radios__label" for="industry">
                  Prison industry work
                </label>
                <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                  Includes work in the prison and with employers and charities
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="maintenance" name="category" type="radio" value="maintenance" aria-describedby="sign-in-item-hint">
                <label class="govuk-label govuk-radios__label" for="maintenance">
                  Prison maintenance and services
                </label>
                <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                  Includes work in the kitchens and laundry, cleaning, gardening, and mentoring
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </fieldset>
    </div>
    <br />
    <button class="govuk-button" data-module="govuk-button">Continue</button>
  </div>
</div>

{% endblock %}
