

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>
  Location picker - public demo
</title>

    <!--[if gt IE 8]><!--><link href="https://govuk-location-picker-demo.herokuapp.com/public/stylesheets/govuk-template.css?0.19.2" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/public/stylesheets/govuk-template-ie6.css?0.19.2" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/public/stylesheets/govuk-template-ie7.css?0.19.2" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/public/stylesheets/govuk-template-ie8.css?0.19.2" media="screen" rel="stylesheet" /><![endif]-->
    <link href="https://govuk-location-picker-demo.herokuapp.com/public/stylesheets/govuk-template-print.css?0.19.2" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/public/stylesheets/fonts-ie8.css?0.19.2" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="https://govuk-location-picker-demo.herokuapp.com/public/stylesheets/fonts.css?0.19.2" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/public/javascripts/ie.js?0.19.2"></script><![endif]-->

    <link rel="shortcut icon" href="https://govuk-location-picker-demo.herokuapp.com/public/images/favicon.ico?0.19.2" type="image/x-icon" />
    <link rel="mask-icon" href="https://govuk-location-picker-demo.herokuapp.com/public/images/gov.uk_logotype_crown.svg?0.19.2" color="#0b0c0c">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/public/images/apple-touch-icon-152x152.png?0.19.2">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/public/images/apple-touch-icon-120x120.png?0.19.2">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/public/images/apple-touch-icon-76x76.png?0.19.2">
    <link rel="apple-touch-icon-precomposed" href="/public/images/apple-touch-icon-60x60.png?0.19.2">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/public/images/opengraph-image.png?0.19.2">


  <link href="https://govuk-location-picker-demo.herokuapp.com/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

  </head>

  <body class="">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">


  <p>GOV.UK uses cookies to make the site simpler. <a href="#" title="Find out more about cookies">Find out more about cookies</a></p>


    </div>


    <header role="banner" id="global-header" class="
  with-proposition
">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="/public/images/gov.uk_logotype_crown_invert_trans.png?0.19.2" width="36" height="32" alt=""> Prototype
            </a>
          </div>

        </div>

  <!-- blank to remove the proposition header -->

      </div>
    </header>




    <div id="global-header-bar"></div>


<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/">Back</a>

      <h1 class="heading-large">
        What is your country of birth?
      </h1>

      <form class="form" method="POST" action="/country-of-birth" autocomplete="off">

        <div class="form-group">
          <label class="form-label-bold visually-hidden" for="location-select-dropdown">
            What is your country of birth?
          </label>
          <div class="form-control-1-2">
            <select class="form-control" id="location-select-dropdown">
              <option value="" disabled selected>
                Choose a location
              </option>

                <option value="Abu Dhabi">Abu Dhabi</option>

                <option value="Afghanistan">Afghanistan</option>

                <option value="Ajman">Ajman</option>

                <option value="Akrotiri">Akrotiri</option>

                <option value="Albania">Albania</option>

                <option value="Algeria">Algeria</option>

                <option value="American Samoa">American Samoa</option>

                <option value="Andorra">Andorra</option>

                <option value="Angola">Angola</option>

                <option value="Anguilla">Anguilla</option>

                <option value="Antarctica">Antarctica</option>

                <option value="Antigua and Barbuda">Antigua and Barbuda</option>

                <option value="Argentina">Argentina</option>

                <option value="Armenia">Armenia</option>

                <option value="Aruba">Aruba</option>

                <option value="Ascension">Ascension</option>

                <option value="Australia">Australia</option>

                <option value="Austria">Austria</option>

                <option value="Azerbaijan">Azerbaijan</option>

                <option value="Bahrain">Bahrain</option>

                <option value="Baker Island">Baker Island</option>

                <option value="Bangladesh">Bangladesh</option>

                <option value="Barbados">Barbados</option>

                <option value="Belarus">Belarus</option>

                <option value="Belgium">Belgium</option>

                <option value="Belize">Belize</option>

                <option value="Benin">Benin</option>

                <option value="Bermuda">Bermuda</option>

                <option value="Bhutan">Bhutan</option>

                <option value="Bolivia">Bolivia</option>

                <option value="Bonaire">Bonaire</option>

                <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>

                <option value="Botswana">Botswana</option>

                <option value="Bouvet Island">Bouvet Island</option>

                <option value="Brazil">Brazil</option>

                <option value="British Antarctic Territory">British Antarctic Territory</option>

                <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>

                <option value="British Virgin Islands">British Virgin Islands</option>

                <option value="Brunei">Brunei</option>

                <option value="Bulgaria">Bulgaria</option>

                <option value="Burkina Faso">Burkina Faso</option>

                <option value="Burma">Burma</option>

                <option value="Burundi">Burundi</option>

                <option value="Cambodia">Cambodia</option>

                <option value="Cameroon">Cameroon</option>

                <option value="Canada">Canada</option>

                <option value="Cape Verde">Cape Verde</option>

                <option value="Cayman Islands">Cayman Islands</option>

                <option value="Central African Republic">Central African Republic</option>

                <option value="Ceuta">Ceuta</option>

                <option value="Chad">Chad</option>

                <option value="Chile">Chile</option>

                <option value="China">China</option>

                <option value="Christmas Island">Christmas Island</option>

                <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>

                <option value="Colombia">Colombia</option>

                <option value="Comoros">Comoros</option>

                <option value="Congo">Congo</option>

                <option value="Congo (Democratic Republic)">Congo (Democratic Republic)</option>

                <option value="Cook Islands">Cook Islands</option>

                <option value="Costa Rica">Costa Rica</option>

                <option value="Croatia">Croatia</option>

                <option value="Cuba">Cuba</option>

                <option value="Curaçao">Curaçao</option>

                <option value="Cyprus">Cyprus</option>

                <option value="Czechia">Czechia</option>

                <option value="Czechoslovakia">Czechoslovakia</option>

                <option value="Denmark">Denmark</option>

                <option value="Dhekelia">Dhekelia</option>

                <option value="Djibouti">Djibouti</option>

                <option value="Dominica">Dominica</option>

                <option value="Dominican Republic">Dominican Republic</option>

                <option value="Dubai">Dubai</option>

                <option value="East Timor">East Timor</option>

                <option value="Ecuador">Ecuador</option>

                <option value="Egypt">Egypt</option>

                <option value="El Salvador">El Salvador</option>

                <option value="Equatorial Guinea">Equatorial Guinea</option>

                <option value="Eritrea">Eritrea</option>

                <option value="Estonia">Estonia</option>

                <option value="Ethiopia">Ethiopia</option>

                <option value="Falkland Islands">Falkland Islands</option>

                <option value="Faroe Islands">Faroe Islands</option>

                <option value="Fiji">Fiji</option>

                <option value="Finland">Finland</option>

                <option value="France">France</option>

                <option value="French Guiana">French Guiana</option>

                <option value="French Polynesia">French Polynesia</option>

                <option value="French Southern Territories">French Southern Territories</option>

                <option value="Fujairah">Fujairah</option>

                <option value="Gabon">Gabon</option>

                <option value="Georgia">Georgia</option>

                <option value="Germany">Germany</option>

                <option value="Germany">Germany</option>

                <option value="Ghana">Ghana</option>

                <option value="Gibraltar">Gibraltar</option>

                <option value="Greece">Greece</option>

                <option value="Greenland">Greenland</option>

                <option value="Grenada">Grenada</option>

                <option value="Guadeloupe">Guadeloupe</option>

                <option value="Guam">Guam</option>

                <option value="Guatemala">Guatemala</option>

                <option value="Guernsey">Guernsey</option>

                <option value="Guinea">Guinea</option>

                <option value="Guinea-Bissau">Guinea-Bissau</option>

                <option value="Guyana">Guyana</option>

                <option value="Haiti">Haiti</option>

                <option value="Heard Island and McDonald Islands">Heard Island and McDonald Islands</option>

                <option value="Honduras">Honduras</option>

                <option value="Hong Kong">Hong Kong</option>

                <option value="Howland Island">Howland Island</option>

                <option value="Hungary">Hungary</option>

                <option value="Iceland">Iceland</option>

                <option value="India">India</option>

                <option value="Indonesia">Indonesia</option>

                <option value="Iran">Iran</option>

                <option value="Iraq">Iraq</option>

                <option value="Ireland">Ireland</option>

                <option value="Isle of Man">Isle of Man</option>

                <option value="Israel">Israel</option>

                <option value="Italy">Italy</option>

                <option value="Ivory Coast">Ivory Coast</option>

                <option value="Jamaica">Jamaica</option>

                <option value="Japan">Japan</option>

                <option value="Jarvis Island">Jarvis Island</option>

                <option value="Jersey">Jersey</option>

                <option value="Johnston Atoll">Johnston Atoll</option>

                <option value="Jordan">Jordan</option>

                <option value="Kazakhstan">Kazakhstan</option>

                <option value="Kenya">Kenya</option>

                <option value="Kingman Reef">Kingman Reef</option>

                <option value="Kiribati">Kiribati</option>

                <option value="Kosovo">Kosovo</option>

                <option value="Kuwait">Kuwait</option>

                <option value="Kyrgyzstan">Kyrgyzstan</option>

                <option value="Laos">Laos</option>

                <option value="Latvia">Latvia</option>

                <option value="Lebanon">Lebanon</option>

                <option value="Lesotho">Lesotho</option>

                <option value="Liberia">Liberia</option>

                <option value="Libya">Libya</option>

                <option value="Liechtenstein">Liechtenstein</option>

                <option value="Lithuania">Lithuania</option>

                <option value="Luxembourg">Luxembourg</option>

                <option value="Macao">Macao</option>

                <option value="Macedonia">Macedonia</option>

                <option value="Madagascar">Madagascar</option>

                <option value="Malawi">Malawi</option>

                <option value="Malaysia">Malaysia</option>

                <option value="Maldives">Maldives</option>

                <option value="Mali">Mali</option>

                <option value="Malta">Malta</option>

                <option value="Marshall Islands">Marshall Islands</option>

                <option value="Martinique">Martinique</option>

                <option value="Mauritania">Mauritania</option>

                <option value="Mauritius">Mauritius</option>

                <option value="Mayotte">Mayotte</option>

                <option value="Melilla">Melilla</option>

                <option value="Mexico">Mexico</option>

                <option value="Micronesia">Micronesia</option>

                <option value="Midway Islands">Midway Islands</option>

                <option value="Moldova">Moldova</option>

                <option value="Monaco">Monaco</option>

                <option value="Mongolia">Mongolia</option>

                <option value="Montenegro">Montenegro</option>

                <option value="Montserrat">Montserrat</option>

                <option value="Morocco">Morocco</option>

                <option value="Mozambique">Mozambique</option>

                <option value="Namibia">Namibia</option>

                <option value="Nauru">Nauru</option>

                <option value="Navassa Island">Navassa Island</option>

                <option value="Nepal">Nepal</option>

                <option value="Netherlands">Netherlands</option>

                <option value="New Caledonia">New Caledonia</option>

                <option value="New Zealand">New Zealand</option>

                <option value="Nicaragua">Nicaragua</option>

                <option value="Niger">Niger</option>

                <option value="Nigeria">Nigeria</option>

                <option value="Niue">Niue</option>

                <option value="Norfolk Island">Norfolk Island</option>

                <option value="North Korea">North Korea</option>

                <option value="Northern Mariana Islands">Northern Mariana Islands</option>

                <option value="Norway">Norway</option>

                <option value="Occupied Palestinian Territories">Occupied Palestinian Territories</option>

                <option value="Oman">Oman</option>

                <option value="Pakistan">Pakistan</option>

                <option value="Palau">Palau</option>

                <option value="Palmyra Atoll">Palmyra Atoll</option>

                <option value="Panama">Panama</option>

                <option value="Papua New Guinea">Papua New Guinea</option>

                <option value="Paraguay">Paraguay</option>

                <option value="Peru">Peru</option>

                <option value="Philippines">Philippines</option>

                <option value="Pitcairn, Henderson, Ducie and Oeno Islands">Pitcairn, Henderson, Ducie and Oeno Islands</option>

                <option value="Poland">Poland</option>

                <option value="Portugal">Portugal</option>

                <option value="Puerto Rico">Puerto Rico</option>

                <option value="Qatar">Qatar</option>

                <option value="Ras al-Khaimah">Ras al-Khaimah</option>

                <option value="Romania">Romania</option>

                <option value="Russia">Russia</option>

                <option value="Rwanda">Rwanda</option>

                <option value="Réunion">Réunion</option>

                <option value="Saba">Saba</option>

                <option value="Saint Barthélemy">Saint Barthélemy</option>

                <option value="Saint Helena">Saint Helena</option>

                <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>

                <option value="Saint-Martin (French part)">Saint-Martin (French part)</option>

                <option value="Samoa">Samoa</option>

                <option value="San Marino">San Marino</option>

                <option value="Sao Tome and Principe">Sao Tome and Principe</option>

                <option value="Saudi Arabia">Saudi Arabia</option>

                <option value="Senegal">Senegal</option>

                <option value="Serbia">Serbia</option>

                <option value="Seychelles">Seychelles</option>

                <option value="Sharjah">Sharjah</option>

                <option value="Sierra Leone">Sierra Leone</option>

                <option value="Singapore">Singapore</option>

                <option value="Sint Eustatius">Sint Eustatius</option>

                <option value="Sint Maarten (Dutch part)">Sint Maarten (Dutch part)</option>

                <option value="Slovakia">Slovakia</option>

                <option value="Slovenia">Slovenia</option>

                <option value="Solomon Islands">Solomon Islands</option>

                <option value="Somalia">Somalia</option>

                <option value="South Africa">South Africa</option>

                <option value="South Georgia and South Sandwich Islands">South Georgia and South Sandwich Islands</option>

                <option value="South Korea">South Korea</option>

                <option value="South Sudan">South Sudan</option>

                <option value="Spain">Spain</option>

                <option value="Sri Lanka">Sri Lanka</option>

                <option value="St Kitts and Nevis">St Kitts and Nevis</option>

                <option value="St Lucia">St Lucia</option>

                <option value="St Vincent">St Vincent</option>

                <option value="Sudan">Sudan</option>

                <option value="Suriname">Suriname</option>

                <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>

                <option value="Swaziland">Swaziland</option>

                <option value="Sweden">Sweden</option>

                <option value="Switzerland">Switzerland</option>

                <option value="Syria">Syria</option>

                <option value="Taiwan">Taiwan</option>

                <option value="Tajikistan">Tajikistan</option>

                <option value="Tanzania">Tanzania</option>

                <option value="Thailand">Thailand</option>

                <option value="The Bahamas">The Bahamas</option>

                <option value="The Gambia">The Gambia</option>

                <option value="Togo">Togo</option>

                <option value="Tokelau">Tokelau</option>

                <option value="Tonga">Tonga</option>

                <option value="Trinidad and Tobago">Trinidad and Tobago</option>

                <option value="Tristan da Cunha">Tristan da Cunha</option>

                <option value="Tunisia">Tunisia</option>

                <option value="Turkey">Turkey</option>

                <option value="Turkmenistan">Turkmenistan</option>

                <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>

                <option value="Tuvalu">Tuvalu</option>

                <option value="USSR">USSR</option>

                <option value="Uganda">Uganda</option>

                <option value="Ukraine">Ukraine</option>

                <option value="Umm al-Quwain">Umm al-Quwain</option>

                <option value="United Arab Emirates">United Arab Emirates</option>

                <option value="United Kingdom">United Kingdom</option>

                <option value="United States">United States</option>

                <option value="United States Virgin Islands">United States Virgin Islands</option>

                <option value="Uruguay">Uruguay</option>

                <option value="Uzbekistan">Uzbekistan</option>

                <option value="Vanuatu">Vanuatu</option>

                <option value="Vatican City">Vatican City</option>

                <option value="Venezuela">Venezuela</option>

                <option value="Vietnam">Vietnam</option>

                <option value="Wake Island">Wake Island</option>

                <option value="Wallis and Futuna">Wallis and Futuna</option>

                <option value="Western Sahara">Western Sahara</option>

                <option value="Yemen">Yemen</option>

                <option value="Yugoslavia">Yugoslavia</option>

                <option value="Zambia">Zambia</option>

                <option value="Zimbabwe">Zimbabwe</option>

                <option value="Åland Islands">Åland Islands</option>

            </select>
          </div>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">


        <div class="footer-meta">
          <div class="footer-meta-inner">


            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>

                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>

            </div>
          </div>

          <div class="copyright">
            <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="https://govuk-location-picker-demo.herokuapp.com/public/data/picker-data-4.json/public/javascripts/govuk-template.js?0.19.2"></script>


  <link rel="stylesheet" href="https://unpkg.com/accessible-typeahead@0.4.1/dist/styled.min.css">
  <style>
    .typeahead__menu--inline {
      max-height: none;
      overflow-x: visible;
    }
  </style>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','locationPicker');

    locationPicker('create', 'UA-90200549-4', {
      'cookieName': '_gaCookieLocationPickerComponent'
    });
  </script>
  <script type="text/javascript" src="https://unpkg.com/registers-picker-engine@0.0.2"></script>
  <script type="text/javascript" src="https://unpkg.com/accessible-typeahead@0.4.1"></script>
  <script type="text/javascript">
    var dataFilePath = 'https://govuk-location-picker-demo.herokuapp.com/public/data/picker-data-4.json'
    AccessibleTypeahead.enhanceSelectElement({
      autoselect: true,
      selectElement: document.getElementById('location-select-dropdown'),
      minLength: 2,
      source: locationPickerSuggestions(dataFilePath),
      onSelect: (val) => {
        locationPicker('send', 'event', 'Picker', 'onSelect', val);
      }
    })
  </script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  </body>
</html>
