<nav class="moj-sub-navigation" aria-label="Sub navigation" id="subnav">
    <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" {% if currentPage=='currently-allocated' %}aria-current="page" {% endif
                %}href="currently-allocated">Current allocations</a>
        </li>
        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" {% if currentPage=='applications' %}aria-current="page" {% endif
                %}href="applications">Waitlist</a>
        </li>
        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" {% if currentPage=='other-prisoners' %}aria-current="page" {% endif
                %}href="other-prisoners?page=1">Attendance history</a>
        </li>
        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" {% if currentPage=='information' %}aria-current="page" {% endif
                %} href="information">Details and schedule</a>
        </li>
    </ul>
</nav>