{% extends "layout_hmpps.html" %}
{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block primaryNavigation %} {% endblock %}

{% block beforeContent %}
{{govukBackLink({
text: "Back",
"href": "javascript: window.history.go(-1)"
})}}
{% endblock %}

{% block content %}
{% if (application and application.eligible != 'yes') %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% set bannerHtml %}
<h2 class="govuk-notification-banner__heading">
    Suitability checks have not been carried out for this prisoner.
</h2>
{% endset %}
{{ govukNotificationBanner({
html: bannerHtml
}) }}
{% endif %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        {% set activity = application['activity'] | getActivityDetails %}
        {% set prisoner = data['new-activity']['prisoner'] %}
        <h1 class="govuk-heading-xl">
            Allocate {{prisoner.name.firstname}} {{prisoner.name.surname}} to {{activity.name}}
        </h1>


        {% if application and application.status != 'rejected' %}
        <!-- <h2 class="govuk-heading-m">
            {{prisoner.name.firstname}} {{prisoner.name.surname}}'s request
        </h2> -->
        <dl class="govuk-summary-list govuk-!-margin-bottom-">
            <!-- <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Prisoner
                </dt>
                <dd class="govuk-summary-list__value">
                    {{prisoner.name.firstname}} {{prisoner.name.surname}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> asd's pizza</span>
                    </a>
                </dd>
            </div> -->
            <!-- <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Activity requested
                </dt>
                <dd class="govuk-summary-list__value">
                    {% set activity = application['activity']|getActivityDetails %}
                    {{activity.name}}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of request
                </dt>
                <dd class="govuk-summary-list__value">
                    {{application['date']|convertShortDateToLongDate}}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Requester
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if application['applicant'] == 'prisoner' %}
                    Prisoner
                    {% else %}
                    {{application['applicant']}}
                    {% endif %}
                </dd>
            </div> -->
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Suitability
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if application['eligible'] == 'yes' %}
                    <span class="govuk-tag govuk-tag--green">Checks passed</span>
                    {% elif application['eligible'] == 'no' %}
                    <span class="govuk-tag govuk-tag--red">Rejected</span>
                    {% else %}
                    <span class="govuk-tag govuk-tag--yellow">Checks needed</span>
                    {% endif %}
                </dd>
            </div>
        </dl>
        {% endif %}

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">
                Prisoner suitability details
            </caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Type of requirement</th>
                    <th scope="col" class="govuk-table__header">{{prisoner.name.firstname}} {{prisoner.name.surname}}'s
                        details</th>
                    <th scope="col" class="govuk-table__header">Meets requirement</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Workplace risk assessment level</th>

                    <td class="govuk-table__cell">{{prisoner.riskAssessment|capitalize}}</td>

                    <td class="govuk-table__cell">
                        <span class="govuk-tag govuk-tag--green">Yes</span>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Incentive level</th>

                    <td class="govuk-table__cell">{{prisoner.incentiveLevel|capitalize}}</td>

                    <td class="govuk-table__cell">
                        <span class="govuk-tag govuk-tag--green">Yes</span>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Education levels</th>

                    <td class="govuk-table__cell">English level 1</td>

                    <td class="govuk-table__cell">
                        <span class="govuk-tag govuk-tag--green">Yes</span>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Earliest release date</th>

                    <td class="govuk-table__cell">{{prisoner.releaseDate|convertShortDateToMediumDate}}</td>

                    <td class="govuk-table__cell">
                        <span class="govuk-tag govuk-tag--grey">Not applicable</span>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Non-associations</th>

                    <td class="govuk-table__cell">
                        <a href="#" class="govuk-link--no-visited-state">Junior Smith</a>
                    </td>

                    <td class="govuk-table__cell">
                        <span class="govuk-tag govuk-tag--red">No</span>
                    </td>
            </tbody>
        </table>

        <h2 class="govuk-heading-m">
            {{prisoner.name.firstname}} {{prisoner.name.surname}}'s previous requests
        </h2>
        {% include "../includes/_previous-requests-table.html" %}

        <p class="govuk-inset-text">
            You may need to <a href="#">view {{prisoner.name.firstname}} {{prisoner.name.surname}}'s profile</a> or
            consult with other departments before making your decision.
        </p>

        <form method="post" class="govuk-!-margin-top-8">
            {% if application %}
            {{govukRadios({
            idPrefix: "application-status",
            name: "allocate",
            fieldset: {
            legend: {
            text: "Do you want to set the pay rate for " + prisoner.name.firstname + " " + prisoner.name.surname + "?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
            }
            },
            items: [
            {
            value: "yes",
            html: "Yes, continue to select pay rate"
            },
            {
            value: "return",
            html: "No, return to the waitlist"
            },
            {
                divider: "or"
            },
            {
            value: "no",
            html: "I want to remove " + prisoner.name.firstname + " " + prisoner.name.surname + " from the waitlist"
            }
            ]
            })}}
            {% else %}
            <h2 class="govuk-heading-m">
                Confirm you want to set pay rate for {{prisoner.name.firstname}} {{prisoner.name.surname}}
            </h2>
            <input type="hidden" name="allocate" value="yes">
            {% endif %}

            {{ govukButton({
            text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}