{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}
{% set activitiesCount = activitiesForDate.morning|length + activitiesForDate.afternoon|length %}

{% block pageTitle %}
Find an activity to record or edit attendance
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block beforeContent %}
{% include "./_activity-breadcrumbs.html" %}
{% endblock %}

{% block content %}

{% include "./_activity-header.html" %}
<p>
    Select the person you want to allocate.
</p>
<p>
    You can also <a href="../../log-an-application-version-2">add a new activity request</a>.
</p>

{% include './_filters.html' %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="moj-search govuk-!-margin-bottom-6">
            <form action="other-prisoners" method="get" novalidate="">
                <div class="govuk-form-group">
                    <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="name">
                        Search by name or prison number
                    </label>
                    <input class="govuk-input moj-search__input " id="name" name="search" type="search"
                        value="{{data['person-search']}}">
                </div>
                <button class="govuk-button moj-search__button" data-module="govuk-button">
                    Search
                </button>
            </form>
        </div>
    </div>
</div>

<table class="govuk-table" id="list">
    <caption class="govuk-table__caption govuk-table__caption--m">
        {{data['timetable-complete-1']['prisoners']|getOtherPrisonersCount(activity.id)}} people are not allocated to
        this activity
    </caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" aria-sort="none">Prisoner</th>
            <th scope="col" class="govuk-table__header" aria-sort="ascending">Non-associations</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Current allocation</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Education level held</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Earliest release date</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Other waitlists</th>
            <th scope="col" class="govuk-table__header"></th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        {% for prisoner in prisonersWithoutApplicationPaginated | sort(false, false, 'activity') %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                <a href="../../../prisoner/{{prisoner.id}}"
                    class="govuk-link--no-visited-state govuk-!-display-block"><b>{{prisoner.name.surname}}</b>,
                    {{prisoner.name.firstname}}</a>
                <span
                    class="govuk-hint govuk-!-font-size-16 govuk-!-display-block govuk-!-margin-0">{{prisoner.id}}</span>
                <span
                    class="govuk-hint govuk-!-font-size-16 govuk-!-display-block govuk-!-margin-0">{{prisoner.location.cell}}</span>
            </td>
            <td class="govuk-table__cell" data-sort-value="{{application.date}}">
                {% if loop.index == 4 %}
                <a href="#" class="govuk-link--no-visited-state">Joe Bloggs</a>
                {% elif loop.index == 5 %}
                <ul class="govuk-list">
                    <li><a href="#" class="govuk-link--no-visited-state">Joe Bloggs</a></li>
                    <li><a href="#" class="govuk-link--no-visited-state">Bob Smith</a></li>
                </ul>
                {% else %}
                <span class="govuk-hint">None</span>
                {% endif %}
            </td>
            <td class="govuk-table__cell">
                <ul class="govuk-list">
                    <!-- {% if prisoner.activity|length == 0 %}
                    <span class="govuk-hint">None</span>
                    {% endif %}
                    {% for allocation in prisoner.activity %}
                    {% set activity = allocation|getActivityDetails %}
                    <li><a href="../{{activity.id}}" class="govuk-link--no-visited-state">{{activity.name}}</a></li>
                    {% endfor %} -->
                    <li><span class="govuk-hint">None</span></li>
                </ul>
            </td>
            <td class="govuk-table__cell">
                <ul class="govuk-list">
                    {% if loop.index == 5 or loop.index == 3 %}
                    <li><span class="govuk-hint">N/A</span></li>
                    {% else %}
                    <li>English level 1</li>
                    {% endif %}
                </ul>
            </td>
            <td class="govuk-table__cell" data-sort-value="{{prisoner.releaseDate}}">
                {{prisoner.releaseDate|convertShortDateToMediumDate}}
            </td>
            <td class="govuk-table__cell" data-sort-value="{{prisoner.releaseDate}}" style="text-align: center;">
                <ul class="govuk-list">
                    {% if (loop.index == 1 and data['page'] == 1) or (loop.index == 2 and data['page'] == 1) %}
                    <li>0</li>
                    {% else %}
                    <li>1</li>
                    {% endif %}
                </ul>
            </td>
            <td class="govuk-table__cell">
                <a href="allocate/{{prisoner.id}}" class="govuk-link--no-visited-state">Allocate</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- PAGINATION -->
<nav class="moj-pagination" aria-label="Pagination navigation">
    <ul class="moj-pagination__list">
        {% if data.page > 1 %}
        <li class="moj-pagination__item  moj-pagination__item--prev">
            <a class="moj-pagination__link" href="?page={{data.page|int - 1|int}}#list">Previous<span
                    class="govuk-visually-hidden"> page</span></a>
        </li>
        {% endif %}

        {% for page in range(1, 6) %}
        <li class="moj-pagination__item {% if page == data.page %}moj-pagination__item--active{% endif %}">
            {% if page != data.page %}
            <a class="moj-pagination__link" href="?page={{page}}#list"
                aria-label="Page {{page}} of {{totalPages}}">{{page}}</a>
            {% else %}
            {{page}}
            {% endif %}
        </li>
        {% endfor %}

        {% if data.page < 5 %} <li class="moj-pagination__item  moj-pagination__item--next">
            <a class="moj-pagination__link" href="?page={{data.page|int + 1|int}}#list">Next<span
                    class="govuk-visually-hidden"> page</span></a>
            </li>
            {% endif %}
    </ul>
    <p class="moj-pagination__results">Showing <b>{{offset+1}}</b> to <b>{{offset+limit}}</b> of <b>{{5*limit}}</b>
        people</p>
</nav>

<!-- <nav class="govuk-pagination" role="navigation" aria-label="results">
    {% if data.page > 1 %}
    <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link govuk-link--no-visited-state" href="?page={{data.page|int - 1|int}}"
            rel="prev">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg"
                height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path
                    d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z">
                </path>
            </svg>
            <span class="govuk-pagination__link-title">Previous 5 prisoners</span></a>
    </div>
    {% endif %}
    <ul class="govuk-pagination__list">
        {% for page in range(1, 6) %}
        <li class="govuk-pagination__item {% if page == data.page %}govuk-pagination__item--current{% endif %}">
            <a class="govuk-link govuk-pagination__link govuk-link--no-visited-state" href="?page={{page}}"
                aria-label="Page 1" {% if page==data.page %}aria-current="page" {% endif %}>
                {{page}}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% if data.page < 5 %} <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link govuk-link--no-visited-state" href="?page={{data.page|int + 1|int}}"
            rel="next"> <span class="govuk-pagination__link-title">Next 5
                prisoners</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next"
                xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false"
                viewBox="0 0 15 13">
                <path
                    d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
                </path>
            </svg></a>
        </div>
        {% endif %}
</nav> -->
{% endblock %}

{% block pageScripts %}
{% endblock %}