{% extends "./_layout-activities.html" %}

{% set serviceName = "Activities Management" %}
{% set activitiesCount = activitiesForDate.morning|length + activitiesForDate.afternoon|length %}

{% block pageTitle %}
Find an activity to record or edit attendance
{% endblock %}

{% block tableArea %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% if data['confirmation-dialog'].display == true %}

{% set prisoner = data['confirmation-dialog'].prisoner | getPrisonerDetails %}

{% if data['confirmation-dialog'].type == 'deallocate' %}
{% set bannerHtml %}
<h2 class="govuk-notification-banner__heading">
    {{prisoner.name.firstname}} {{prisoner.name.surname}} is no longer allocated to {{activity.name}}.
</h2>
{% endset %}
{{ govukNotificationBanner({
html: bannerHtml,
titleText: "Success",
type: "success"
}) }}
{% endif %}
{% endif %}

<!-- <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Activity schedule</h2>
        <p class="govuk-body">This activity is scheduled to run on the following days:</p>
        <ul class="govuk-list govuk-list--spaced">
            {% for day in activityDaysWithTimes %}
            <li>
                {% if day.times %}
                <b>{{day.day|capitalize}}: {{day.times}}</b>
                {% else %}
                <span class="govuk-hint">{{day.day|capitalize}}: Not scheduled</span>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div> -->

<div class="govuk-grid-row govuk-!-margin-top-7">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-visually-hidden">
            Schedule
        </h2>
        <ul class="govuk-list govuk-button-group">
            <li>
                <a href="#" class="govuk-link">Edit schedule<span class="govuk-visually-hidden"> for
                        {{activity.name}}</span></a>
            </li>
            <li>
                <a href="#" class="govuk-link">Suspend activity<span class="govuk-visually-hidden"> for
                        {{activity.name}}</span></a>
            </li>
        </ul>
        <dl class="govuk-summary-list govuk-!-margin-0">
            {% for day in activityDaysWithTimes %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {% if day.times %}
                    {{day.day|capitalize}}
                    {% else %}
                    <span class="govuk-hint">{{day.day|capitalize}}</span>
                    {% endif %}
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if day.times %}
                    {% if day.times.am %}
                    <span class="govuk-tag govuk-tag--green govuk-!-margin-right-1">AM</span>
                    {% endif %}
                    {% if day.times.pm %}
                    <span class="govuk-tag govuk-tag--green">PM</span>
                    {% endif %}
                    {% else %}
                    <span class="govuk-hint">Not scheduled</span>
                    {% endif %}
                </dd>
            </div>
            {% endfor %}
        </dl>
    </div>
</div>
{% endblock %}

{% block pageScripts %}
{% endblock %}