{% extends "layout_hmpps.html" %}
{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block primaryNavigation %} {% endblock %}

{% block beforeContent %}
{{govukBackLink({
text: "Back",
"href": "javascript: window.history.go(-1)"
})}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <span class="govuk-caption-xl">
                {{activity.name}}
            </span>

            <h1 class="govuk-heading-xl">
                Select a new payrate for {{prisonerData.length}} people
            </h1>

            {% for prisoner in prisonerData %}
            <div class="govuk-form-group">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="prisoner-{{prisoner.id}}-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <span class="govuk-visually-hidden">Pay rate for </span> {{prisoner.name.firstname}}
                            {{prisoner.name.surname}}
                            <span class="govuk-hint">{{prisoner.id}}</span>
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                            {% for payrate in payrates %}
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input"
                                    id="new-payrate{{prisoner.id}}-{{payrate.payRate_id}}"
                                    name="new-payrate[{{prisoner.id}}]" type="radio" value="{{payrate.payRate_id}}"
                                    aria-controls="conditional-prisoner-{{prisoner.id}}-{{payrate.payRate_id}}"
                                    aria-expanded="false">
                                <label class="govuk-label govuk-radios__label"
                                    for="new-payrate{{prisoner.id}}-{{payrate.payRate_id}}">
                                    {{payrate.payBand|capitalize}} – £{{payrate.amount|decimalPlaces(2)}} ({{'flat rate'
                                    if payrate.incentiveLevel == 'flatRate' else payrate.incentiveLevel + ' incentive
                                    level'}})
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </fieldset>
                </div>
            {% endfor %}

            {{govukButton({
            text: "Continue",
            classes: "govuk-!-margin-top-6"
            })}}
        </form>
    </div>
</div>
{% endblock %}