// override the default page width
$govuk-page-width: 1170px; // DPS currently 1170px
$moj-page-width: $govuk-page-width;

$moj-images-path: "/public/images/";

// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import ".tmp/sass/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
@import "components/app-masthead";
@import "components/dps-header";
@import "components/cards";
@import "components/option-select";
@import "components/option-select-v2";
@import "components/jquery.modal";
@import "components/checkbox-dropdown.scss";
@import "components/autocomplete.scss";
@import "components/app-attendance-toolbar.scss";

@import "patterns/horizontal-form";
@import "patterns/whereabouts-table";

@import "unlock-experimental";
@import "unlock-print";

.form-background {
  background-color: #f3f2f1;
}

.app-unlock-list {
  .moj-filter-layout__filter {

    @include govuk-media-query(desktop) {
      max-width: 285px;
      min-width: 260px;
    }
  }
}
ul.appointment-even{
  margin:0px;
  margin-block-start: 1em;
}
ul.appointment-event li{
  border: #000 1pt solid;
  list-style-type: none;
  margin:0px 0px 10px -35px;
  padding:5px;
  width:100%;
}
select#start-minutes,select#start-minutes-bulk,select#start-minutes-alt,select#start-minutes-single,select#start-minutes-1-bulk,select#start-minutes-2-bulk,select#start-minutes-3-bulk,select#start-minutes-4-bulk,select#start-minutes-5-bulk,select#start-minutes-6-bulk,select#start-minutes-7-bulk,select#start-minutes-8-bulk,select#start-minutes-9-bulk,select#start-minutes-10-bulk{min-width:2em;max-width:4em!important;}
select#end-minutes,select#end-minutes-bulk,select#end-minutes-single,select#end-minutes-alt,select#end-minutes-1-bulk,select#end-minutes-2-bulk,select#end-minutes-3-bulk,select#end-minutes-4-bulk,select#end-minutes-5-bulk,select#end-minutes-6-bulk,select#end-minutes-7-bulk,select#end-minutes-8-bulk,select#end-minutes-9-bulk,select#end-minutes-10-bulk{min-width:2em;max-width:4em!important;}
ul.time-input{margin:0px;padding:0px;}
select#start-hours,select#start-hours-bulk,select#start-hours-single,select#start-hours-alt,select#start-hours-1-bulk,select#start-hours-2-bulk,select#start-hours-3-bulk,select#start-hours-4-bulk,select#start-hours-5-bulk,select#start-hours-6-bulk,select#start-hours-7-bulk,select#start-hours-8-bulk,select#start-hours-9-bulk,select#start-hours-10-bulk{min-width:2em;max-width:4em!important;}
select#end-hours,select#end-hours-bulk,select#end-hours-single,select#end-hours-alt,select#end-hours-1-bulk,select#end-hours-2-bulk,select#end-hours-3-bulk,select#end-hours-4-bulk,select#end-hours-5-bulk,select#end-hours-6-bulk,select#end-hours-7-bulk,select#end-hours-8-bulk,select#end-hours-9-bulk,select#end-hours-10-bulk{min-width:2em;max-width:4em!important;}
ul.time-input li{list-style-type: none;float:left;position: relative;width:80px;}
.minutes{left:10px;top:0px}
.noTransform{text-transform: none!important;}
.width-one-eight{max-width: 12.5% !important;}
ul.noMarginBottom .govuk-form-group {
  margin-bottom: 0px !important;padding-bottom: 0px !important;
}

.filters{background-color: #f3f2f1;padding:20px;margin-bottom:30px;}
.width-one-eighth{width:15.5% !important;}
ul.appointment-event li.nobox{border: none !important;margin-left:5px;list-style-type: disc;margin-bottom:0px}
