{% extends "layout.html" %}
{% set serviceName = "Activities Management" %}
{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block content %}

<h2 class="govuk-heading-m">
	Attending multiple prisoners
</h2>

{{govukButton({
	text: "Open modal",
	href: "modal-multiple-prisoners",
	attributes: {
		'data-modal': ""
	},
	classes: "govuk-button--secondary"
})}}


<h2 class="govuk-heading-m">
	Partial pay
</h2>
{{govukButton({
	disabled: true,
	text: "Open modal",
	href: "modal-partial-pay",
	attributes: {
		'data-modal': ""
	},
	classes: "govuk-button--secondary"
})}}


<h2 class="govuk-heading-m">
	View or change attendance details for a single prisoner
</h2>
<ul class="govuk-list govuk-list--bullet">
	<li>Attended</li>
	<li>Paid</li>
</ul>
{{govukButton({
	disabled: true,
	text: "Open modal",
	href: "modal-concept-1",
	attributes: {
		'data-modal': ""
	},
	classes: "govuk-button--secondary"
})}}


	<!-- <div class="app-modal-bar app-modal-bar--bottom">
		{{ govukButton({
			text: "Remove attendance details",
			classes: "govuk-button--warning govuk-!-margin-bottom-0"
		}) }}
	</div> -->
</div>
{% endblock %}
{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/jquery.modal.js"></script>
<script type="text/javascript" src="/public/javascripts/modal-examples.js"></script>
<script type="text/javascript" src="/public/javascripts/dropdown-checkboxes.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('a[data-modal]').on('click', function(event) {
			event.preventDefault();
			this.blur();
			$.get(this.href, function(html) {
				$(html).appendTo('body').modal({
					showClose: false,
					clickClose: false
				});
			});
		});

		let radios = $('.app-radios-toggle').find('input[type="radio"]')
		radios.each(function(){
			$(this).on('change', function(){
				let target = $(this).data('target')

				if ($(this).is(':checked')) {
					$(target).hide()
					$(target).show()
				} else {
					$(target).hide()
				}
			})
		})
	})
</script>
{% endblock %}