
{% extends "layout.html" %}
{% set serviceName = "" %}

{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
    Enter the name of the activity
    </h1>
  </div>
    <form method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label" for="event-name">
            </label>
            <input class="govuk-input govuk-input--width-30" id="event-name" name="activityName" type="text" value="Maths Level 3">
          </div>
        </fieldset>
      </div>
      <br />
    <button class="govuk-button" data-module="govuk-button">Continue</button>
</div>

{% endblock %}
