{% extends "layout_hmpps-new-nav.html" %}
{% set serviceName = "Appointments" %}

{% block pageTitle %}
Appointments prototype
{% endblock %}



{% block beforeContent %}
<nav class="govuk-!-display-none-print">
{{govukBackLink({
  text: "Back",
  "href": "javascript: window.history.go(-1)"
  })}} 
  <!-- hidden for testing
  <a href="../dps-home.html" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-3 float-right">
    Go to all activity tasks
  </a>
  -->
</nav>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl" data-qa="caption">View non-associations</span>
        <h1 class="govuk-heading-l" data-qa="title">Matt Bellamy’s non-associations</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full"> 
        <div class="hmpps-mini-banner govuk-!-margin-top-6">
            <img class="hmpps-mini-banner__photo" src="/public/images/test-image-5.jpeg" alt="Bellamy, Matt" width="80" height="100">
            <div class="hmpps-mini-banner__name">
                <h2 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a class="govuk-link govuk-link--no-visited-state" href="prisoner-profile-2.html">Bellamy, Matt</a></h2>
                <div class="govuk-body" id="prisonerNumber">G2444ZD</div>
            </div>
            <div class="dps-mini-profile-header">
                <dl class="govuk-body">
                    <dt>Location</dt>
                    <dd>
                    <a class="black-link govuk-link--no-visited-state" href="#">D-2-08N</a>
                    </dd>
                </dl>
                <dl class="govuk-body">
                    <dt>Incentive level</dt>
                    <dd>
                        <a class="black-link" href="#">Standard</a>
                    </dd>
                </dl>
                <dl class="govuk-body">
                    <dt>Earliest release date</dt>
                    <dd>
                        <a class="black-link" href="#">17 June 2032</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full"> 
        <p class="govuk-body govuk-!-margin-top-5" data-qa="para1">Check if attending this activity could mean Matt Bellamy coming into contact with someone they must be kept apart from.</p>
        <h2 class="govuk-heading-m">People allocated to Bicycle maintenance</h2>
        <p class="govuk-body govuk-!-margin-top-5" data-qa="noNA-activity">Matt Bellamy has no open non-associations with anyone who is allocated to Bicycle maintenance.</p>
        <h2 class="govuk-heading-m">Other people in Leeds (HMP)</h2>
        <table class="govuk-table govuk-!-margin-bottom-9" data-qa="na-table" data-module="moj-sortable-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="0">Name</button></th>
                <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="1">Cell location</button></th>
                <th scope="col" class="govuk-table__header">Allocations</th>
                <th scope="col" class="govuk-table__header">Non-association details</th>
                <th scope="col" class="govuk-table__header" aria-sort="descending">
                    <button type="button" data-index="4">Last updated</button>
                </th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">   
                    <td class="govuk-table__cell" data-sort-value="Naismith, Shaun">
                        <div data-qa="prisoner-summary">
                            <div data-qa="prisoner-name">
                                <a href="" target="_blank" class="govuk-link govuk-link--no-visited-state">
                                    <strong>Naismith</strong>, Shaun
                                </a>
                            </div>
                            <div class="govuk-body-s govuk-!-margin-0" data-qa="prisoner-number">G5753GD</div>
                        </div>
                    </td>
                    <td class="govuk-table__cell" data-sort-value="D-1-107">
                        D-1-107
                    </td>
                    <td class="govuk-table__cell">
                        <p class="govuk-body govuk-!-margin-bottom-0">
                            <a href="#" data-qa="allocation-434">English level 1</a>
                        </p>
                        <p class="govuk-body">Classroom 2</p>
                        <hr class="mid-grey-tint-20-hr dash-border">
                        
                        <p class="govuk-body govuk-!-margin-bottom-0">
                            <a href="#" data-qa="allocation-445">Maths level 1</a>
                        </p>
                        <p class="govuk-body">Classroom 4</p>
                    </td>           
                    <td class="govuk-table__cell naDetailsColumn">
                        <p class="govuk-body govuk-!-margin-bottom-0">Where to keep apart: Cell, wing and landing</p>
                        <hr class="mid-grey-tint-20-hr dash-border">
                        <p class="govuk-body govuk-!-margin-bottom-0">Reason: Threat</p>
                        <hr class="mid-grey-tint-20-hr dash-border">
                        <p class="govuk-body govuk-!-margin-bottom-0">Comments: No comments provided</p>
                        <hr class="mid-grey-tint-20-hr dash-border">
                        <p class="govuk-body govuk-!-margin-bottom-0">Matt Bellamy’s role: Victim</p>
                    </td>
                    <td class="govuk-table__cell" data-sort-value="1481500800">25 July 2019</td>
                </tr>
                <tr class="govuk-table__row">   
                    <td class="govuk-table__cell" data-sort-value="Naismith, Shaun">
                        <div data-qa="prisoner-summary">
                            <div data-qa="prisoner-name">
                                <a href="" target="_blank" class="govuk-link govuk-link--no-visited-state">
                                    <strong>Donaldson</strong>, Allan
                                </a>
                            </div>
                            <div class="govuk-body-s govuk-!-margin-0" data-qa="prisoner-number">A6452GB</div>
                        </div>
                    </td>
                    <td class="govuk-table__cell" data-sort-value="B-2-007">
                        B-2-007
                    </td>
                    <td class="govuk-table__cell">
                        <p class="govuk-body govuk-!-margin-bottom-0">
                            <a href="#" data-qa="allocation-434">Gardens</a>
                        </p>
                        <p class="govuk-body">Garden</p>
                    </td>           
                    <td class="govuk-table__cell naDetailsColumn">
                        <p class="govuk-body govuk-!-margin-bottom-0">Where to keep apart: Cell, wing and landing</p>
                        <hr class="mid-grey-tint-20-hr dash-border">
                        <p class="govuk-body govuk-!-margin-bottom-0">Reason: Threat</p>
                        <hr class="mid-grey-tint-20-hr dash-border">
                        <p class="govuk-body govuk-!-margin-bottom-0">Comments: Prisoner Donaldson threatened Bellamy with violence                        </p>
                        <hr class="mid-grey-tint-20-hr dash-border">
                        <p class="govuk-body govuk-!-margin-bottom-0">Matt Bellamy’s role: Victim</p>
                    </td>
                    <td class="govuk-table__cell" data-sort-value="1481500800">22 June 2022</td>
                </tr>
            </tbody>
        </table>
        <div aria-live="polite" role="status" aria-atomic="true" class="govuk-visually-hidden"></div>
    </div>
</div>

<style>
    .dash-border {
    border-top-style: dashed;
}
    .black-link, .govvk-link--no-visited-state {
        color:#000000 !important;
    }
    
    .hmpps-mini-banner {
        background-color: #f3f2f1;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 0px;
        padding: 15px
    }
    .hmpps-mini-banner__location {
        margin: 0
    }
    
    .hmpps-mini-banner__location dt {
        font-weight: 700
    }
    
    .hmpps-mini-banner__location dd {
        margin: 0
    }
    
    .dps-mini-profile-header {
        display: flex;
        flex-direction: row;
        align-items: start;
        background: #f3f2f1
    }
    
    .dps-mini-profile-header .app-prisoner-photo--small {
        margin-right: 30px
    }
    
    .dps-mini-profile-header dl {
        margin-right: 60px
    }
    
    .dps-mini-profile-header dl:last-child {
        margin-right: 0
    }
    
    .dps-mini-profile-header .dps-mini-profile-header--align-right {
        align-self: center;
        margin-left: auto
    }
    
    .dps-mini-profile-header .dps-mini-profile-header--align-right .govuk-button,.dps-mini-profile-header .dps-mini-profile-header--align-right .hmpps-action-button {
        margin-bottom: 0
    }
    
    @media(max-width: 40.0525em) {
        .dps-mini-profile-header {
            display:block
        }
    
        .dps-mini-profile-header .app-prisoner-photo--small {
            margin-bottom: 20px
        }
    
        .dps-mini-profile-header dl {
            margin-right: 0
        }
    
        .dps-mini-profile-header dl:last-child {
            margin-bottom: 0
        }
    
        .dps-mini-profile-header dl:last-child dd {
            margin-bottom: 0
        }
    }
    .app-prisoner-photo,.app-prisoner-photo--large,.app-prisoner-photo--small {
    width: 90px
}

.app-prisoner-photo--small {
    width: 80px
}

.app-prisoner-photo--large {
    width: 120px
}

dl dt {
    font-weight: bold;
    font-size: 19px;
}

dl dd {
    margin-left: 0;
    font-size:19px;
}

dl dd,dl,p,.govuk-body,.govuk-body-m {
    margin-top: 0;
    /* margin-bottom:15px; */
} 
.summary-box {
    padding:15px;
    border-bottom:1px solid #b1b4b6;
    padding:20px 0;
}
.summary-box-first {
    border-top:1px solid#b1b4b6;
}
.summary-box-action-link {
    margin-right:30px;
}
.summary-box-top {
    padding:0;
    margin-bottom:5px;
}

.summary-box-top h3 {
    display: inline-block;
}
.summary-box-actions {
    float:right;
}
.summary-box-actions a {
    margin-left:30px;
}

.summary-box-bottom {
    padding:0px;
    margin-bottom:0px;
}

.summary-box-bottom .govuk-details {
    margin-bottom:0 !important;
}

.summary-box-bottom .govuk-details__summary {
    margin-bottom:0 !important;
}

.gov-grid-column-one-quarter, .summary-box-content {
    padding:0px !important;
}

</style>

{% endblock %}