{% extends "layout_hmpps-new-nav.html" %}
{% set serviceName = "Appointments" %}

{% block pageTitle %}
Appointments prototype
{% endblock %}



{% block beforeContent %}
<nav class="govuk-!-display-none-print">
{{govukBackLink({
  text: "Back",
  "href": "javascript: window.history.go(-1)"
  })}} 
  <!-- hidden for testing
  <a href="../dps-home.html" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-3 float-right">
    Go to all activity tasks
  </a>
  -->
</nav>
{% endblock %}

{% block content %}


{% endblock %}