
{% extends "layout.html" %}


{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
    Select a pay rate for {{ data.offenderAllocate }}, <strong>{{ data.offenderIDAllocate }}</strong></h2><br />

    </h1>
    <p class="govuk-body">{{ data.offenderAllocate }}'s current incentive level is <strong>Basic</strong>. </p>
    <p class="govuk-body">If the rate you need is not listed you can <a href="#">add or change rates for this activity.</a></p>
  </div>



<!--START NEW -->

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <form method="post">
    <div id="contact-hint" class="govuk-hint">
      Choose session or piecework rate and select the correct pay level
    </div>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="dailyRate" name="dailyRate" type="radio" value="yes" data-aria-controls="conditional-contact"  {% if data.dailyRate=="yes" %} checked="checked" {% endif %}>
        <label class="govuk-label govuk-radios__label" for="dailyRate">
          Session rate
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
        {% if data.setupPayments == "three" %}
      <!--3 payments-->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">

              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="AllocatePaymentCurrent" name="AllocatePayment" type="radio" value="1.21" {% if data.AllocatePayment=="1.21" %} checked="checked" {% endif %}>
                <label class="govuk-label govuk-radios__label" for="AllocatePaymentCurrent">
                  &pound;1.21  <strong style="margin-left:20px;" class="govuk-tag govuk-tag--yellow">C<span style="text-transform:lowercase;">urrent rate</strong>

                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="AllocatePayment" type="radio" value="1.51" {% if data.AllocatePayment=="1.51" %} checked {% endif %}>
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                &pound;1.51
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-3" name="AllocatePayment" type="radio" value="1.81" {% if data.AllocatePayment=="1.81" %} checked {% endif %}>
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                 &pound;1.81
                </label>
              </div>
            </div>

          </fieldset>
        </div>




    <!--9 payments-->
    {% elseif data.setupPayments == "nine" %}
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
          </h1>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live" name="AllocatePayment" type="radio" value="1.21" {% if data.AllocatePayment=="1.21" %} checked="checked" {% endif %}>
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
              Basic rate: &pound;1.33 <strong class="govuk-tag govuk-tag--yellow" style="margin-left:20px;" >C<span style="text-transform:lowercase;">urrent rate</strong>
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="AllocatePayment" type="radio" value="1.51" {% if data.AllocatePayment=="1.51" %} checked="checked" {% endif %}>
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
              Standard rate: &pound;1.51
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-3" name="AllocatePayment" type="radio" value="1.81" {% if data.AllocatePayment=="1.81" %} checked="checked" {% endif %}>
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
            Advanced rate: &pound;1.81
            </label>
          </div>
        </div>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live" name="AllocatePayment" type="radio" value="1.21">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
              Basic rate: &pound;1.21
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="AllocatePayment" type="radio" value="1.51">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
              Standard rate: &pound;1.51
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-3" name="AllocatePayment" type="radio" value="1.81">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
            Advanced rate: &pound;1.81
            </label>
          </div>
        </div>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live" name="AllocatePayment" type="radio" value="1.21">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
              Basic rate: &pound;1.21
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="AllocatePayment" type="radio" value="1.51">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
              Standard rate: &pound;1.51
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-3" name="AllocatePayment" type="radio" value="1.81">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
            Advanced rate: &pound;1.81
            </label>
          </div>
        </div>

      </fieldset>
    </div>

          {% else %}
          <!--10 payments-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">

                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live" name="AllocatePayment" type="radio" value="1.21" {% if data.AllocatePayment=="1.21" %} checked="checked" {% endif %}>
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                    Rate A: &pound;1.21 <strong style="margin-left:20px;" class="govuk-tag govuk-tag--yellow">C<span style="text-transform:lowercase;">urrent rate</strong>
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-2" name="AllocatePayment" type="radio" value="1.51" {% if data.AllocatePayment=="1.51" %} checked="checked" {% endif %}>
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                    Rate B: &pound;1.51
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-3" name="AllocatePayment" type="radio" value="1.81" {% if data.AllocatePayment=="1.81" %} checked="checked" {% endif %}>
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                  Rate C: &pound;1.81
                  </label>
                </div>
              </div><br /><br />
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live" name="AllocatePayment" type="radio" value="1.31"  {% if data.AllocatePayment=="1.31" %} checked="checked" {% endif %}>
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                    Rate D: &pound;1.31
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-2" name="AllocatePayment" type="radio" value="1.51"  {% if data.AllocatePayment=="1.61" %} checked="checked" {% endif %}>
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                    Rate E: &pound;1.61
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-3" name="AllocatePayment" type="radio" value="1.91" {% if data.AllocatePayment=="1.91" %} checked="checked" {% endif %}>
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                  Rate F: &pound;1.91
                  </label>
                </div>
              </div><br /><br />
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">

                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live" name="AllocatePayment" type="radio" value="1.21" {% if data.AllocatePayment=="1.41" %} checked="checked" {% endif %}>
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                    Rate G: &pound;1.41
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-2" name="AllocatePayment" type="radio" value="1.71" {% if data.AllocatePayment=="1.71" %} checked="checked" {% endif %}>
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                    Rate H: &pound;1.71
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-3" name="AllocatePayment" type="radio" value="2.01" {% if data.AllocatePayment=="2.01" %} checked="checked" {% endif %}>
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                  Rate I: &pound;2.01
                  </label>
                </div>
              </div>

            </fieldset>
          </div>
  {% endif %}



      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
        <label class="govuk-label govuk-radios__label" for="contact-2">
          Piecework rate
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">

              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live" name="AllocatePayment" type="radio" value="1.21">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  10p per item
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="AllocatePayment" type="radio" value="1.51">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  5p per item
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-3" name="AllocatePayment" type="radio" value="1.81">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                20p per item
                </label>
              </div>
            </div>

          </fieldset>
        </div>



      </div>
    </div>

  </fieldset>
</div>


<!--END NEW-->

  <div id="event-name-hint" class="govuk-hint">

  </div>

      <br />
    <button class="govuk-button" data-module="govuk-button">Confirm pay and continue</button>
</div>

{% endblock %}
