
{% extends "layout_hmpps-no-nav.html" %}
{% set serviceName = "Appointments" %}

{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block content %}
<form id="form" method="post" action="../check-answers">
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Individual appointment</span>
        When is the appointment?
       </h1>
      {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

      {{ govukDateInput({
        id: "dateofappointment-single",
        name:dateofappointment-single,
        value: data['dateofappointment-single'],
        fieldset: {
          legend: {
            text: "If it's a recurring appointment enter the date of the first appointment."
          }
        }
      }) }}

      {% from "govuk/components/date-input/macro.njk" import govukDateInput %}
    
    {{ govukButton({
      text: "Continue"
    }) }}




  </div>
</div>
</form>
{% endblock %}
