{% extends "layout_hmpps.html" %}
{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block primaryNavigation %} {% endblock %}

{% block back %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post">
      {{ govukRadios({
        name: "confirm-remove-education-level",
        fieldset: {
          legend: {
            text: "Are you sure you want to remove education level " + educationLevel.name + "?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
        ]
      }) }}
      <button class="govuk-button">
        Save and continue
      </button>
    </form>
  </div>
</div>
{% endblock %}