
{% extends "layout_hmpps-no-nav.html" %}
{% set serviceName = "Appointments" %}

{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block content %}

<form id="form" method="post" action="check-answers">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <div class="back">
        <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
        </div>
     
     <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Schedule a one-to-one</span>
      Add extra information for Neil Rudge, G2044E (optional)
     </h1>
     <p class="govuk-body">Give the attendee any important information about their appointment. This will be printed on their movement slip.</p>
     <p class="govuk-body">Wing staff will be notified there is extra information on the printed unlock list, but for confidentiality the full details will only be visible when you view the details of the appointment in this service.</p>

    {{ govukTextarea({
      name: "more-detail",
      id: "more-detail"
    }) }}

 
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
  
    
  </div>
    </div>
  </div>
  </form>


  
{% endblock %}
