
{% extends "layout.html" %}
{% set serviceName = "" %}

{% block pageTitle %}
Activities Management prototype
{% endblock %}
{% block back %}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-three-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4" style="margin-left:10px;">
        Check the person you're allocating meets the requirements
        </h1><br />
      </div>


  <!--    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      This person may be unsuitable for this activity - check the following risks and requirements before you proceed.
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Incentive level
        </dt>

        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--orange">M<span style="text-transform:lowercase;">ismatch</strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Learning pathways
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--orange">M<span style="text-transform:lowercase;">ismatch</strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Non association
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--orange">M<span style="text-transform:lowercase;">ismatch</strong>
        </dd>
      </div>


    </p>
  </div>
</div>-->




<h2 class="govuk-heading-s">{{ data.offenderAllocate }}, <strong>{{ data.offenderIDAllocate }} </strong>may be unsuitable for {{ data.activityAllocateName }}. Check the mismatched risks and requirements before you proceed.</h2><br />



      <div class="govuk-grid-column-three-thirds">
        <h2 class="govuk-heading-m"></h2>


        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">

            </dt>
            <dd class="govuk-summary-list__value" style="width:35%;">
            <strong>Prisoner details</strong>
            </dd>
            <dd class="govuk-summary-list__value" style="width:22%;">
              <strong>Activity requirements</strong>
            </dd>
            <dd class="govuk-summary-list__value" style="width:22%;">
              <strong>Mismatch</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Non-associations
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--orange">L<span style="text-transform:lowercase;">ance</span> A<span style="text-transform:lowercase;">rm</span>, A4509GH</strong>

            </dd>
            <dd class="govuk-summary-list__value">

            </dd>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--orange">M<span style="text-transform:lowercase;">ismatch</strong>

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Incentive level
            </dt>
            <dd class="govuk-summary-list__value">
              Basic
            </dd>
            <dd class="govuk-summary-list__value">
              Standard
            </dd>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--orange">M<span style="text-transform:lowercase;">ismatch</strong>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Learning pathways
            </dt>
            <dd class="govuk-summary-list__value">
              Maintenance
            </dd>
            <dd class="govuk-summary-list__value">
              Cleaning
            </dd>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--orange">M<span style="text-transform:lowercase;">ismatch</strong>
            </dd>
          </div>


        </dl><div id="event-name-hint" class="govuk-hint">
          If you don't want to proceed with allocating {{ data.offenderAllocate }}, you can <a href="activity-dashboard-4-1#allocate">cancel and return to the list of candidates</a>.
      </div>
      <br />
        <form method="post">
          <button class="govuk-button" data-module="govuk-button" value="yes" name="activityConfirmedAllocation">
            Continue to set pay rates
          </button>

        </form>

      </div>
</div>
{% endblock %}
