
{% extends "layout.html" %}
{% set serviceName = "" %}

{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
    Select how much you want to pay {{ data.offenderAllocate }}, <strong>A430914</strong>.</h2><br />

    </h1>
    <p class="govuk-body">{{ data.offenderAllocate }}'s current incentive rate is Basic. His pay has been previously set for this activity at £1.21.</p>
    <p class="govuk-body">If the rate you need is not listed you can <a href="#">add or change rates for this activity.</a></p>
  </div>
  <div id="event-name-hint" class="govuk-hint">

  </div>
    <form method="post">
      <div class="govuk-form-group">

        {% if data.setupPayments == "three" %}
      <!--3 payments-->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
              
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live" name="AllocatePayment" type="radio" value="1.21">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  Basic rate: &pound;1.21
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="AllocatePayment" type="radio" value="1.51">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  Standard rate: &pound;1.51
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-3" name="AllocatePayment" type="radio" value="1.81">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                Advanced rate: &pound;1.81
                </label>
              </div>
            </div>

          </fieldset>
        </div>












    <!--10 payments-->
    {% elseif data.setupPayments == "ten" %}
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label" for="paymentA">A rate
            </label>
            £ <input class="govuk-input govuk-input--width-5" id="paymentA" name="paymentA" type="text" value="1.01">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label" for="paymentB">B rate
            </label>
            £ <input class="govuk-input govuk-input--width-5" id="paymentB" name="paymentB" type="text" value="1.11">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label" for="paymentC">C rate
            </label>
            £ <input class="govuk-input govuk-input--width-5" id="paymentC" name="paymentC" type="text" value="1.21">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label" for="paymentD">D rate
            </label>
            £ <input class="govuk-input govuk-input--width-5" id="paymentD" name="paymentD" type="text" value="1.31">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label" for="paymentE">E rate
            </label>
            £ <input class="govuk-input govuk-input--width-5" id="paymentE" name="paymentE" type="text" value="1.41">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label" for="paymentF">F rate
            </label>
            £ <input class="govuk-input govuk-input--width-5" id="paymentF" name="paymentF" type="text" value="1.51">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label" for="paymentG">G rate
            </label>
            £ <input class="govuk-input govuk-input--width-5" id="paymentG" name="paymentG" type="text" value="1.61">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label" for="paymentH">H rate
            </label>
            £ <input class="govuk-input govuk-input--width-5" id="paymentH" name="paymentH" type="text" value="1.71">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label" for="paymentI">I rate
            </label>
            £ <input class="govuk-input govuk-input--width-5" id="paymentI" name="paymentI" type="text" value="1.81">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label" for="paymentJ">J rate
            </label>
            £ <input class="govuk-input govuk-input--width-5" id="paymentJ" name="paymentJ" type="text" value="1.91">
          </div>

          {% else %}
          <!--3 payments-->
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-label" for="paymentBasic">Basic rate
              </label>
              £ <input class="govuk-input govuk-input--width-5" id="paymentBasic" name="paymentBasic" type="text" value="1.21">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label govuk-label" for="paymentStandard">Standard rate
              </label>
              £ <input class="govuk-input govuk-input--width-5" id="paymentStandard" name="paymentStandard" type="text" value="1.51">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label govuk-label" for="paymentEnhanced">Enhanced rate
              </label>
              £ <input class="govuk-input govuk-input--width-5" id="paymentEnhanced" name="paymentEnhanced" type="text" value="1.81">
            </div>



  {% endif %}


        </fieldset>
      </div>
      <br />
    <button class="govuk-button" data-module="govuk-button">Continue</button>
</div>

{% endblock %}
