{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}
{% block pageTitle %}
Activities Management prototype
{% endblock %}
{% block primaryNavigation %}
{% endblock %}
{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{{ govukBreadcrumbs({
	classes: "govuk-!-display-none-print",
	items: [
	{
		text: "Digital Prison Services",
		href: "#"
	},
	{
		text: "Manage prisoner whereabouts",
		href: "whereabouts-concept-2"
	}
	]
}) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-three-quarters">
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
			Record attendance
			<span class="govuk-caption-l">{{filteredPrisoners.length or "3"}} prisoners</span>
		</h1>

		<span class="govuk-tag govuk-tag--green">Attended</span>

		<form>
			{% for prisoner in filteredPrisoners %}
			<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
			
			<h2 class="govuk-heading-l">
				<span class="govuk-caption-l">Prisoner {{loop.index}}</span>
				{{prisoner.name.surname}}, {{prisoner.name.firstname}}
				<span class="govuk-caption-m">{{prisoner._id}}</span>
			</h2>

			<div class="govuk-inset-text">
				{{data['activity'] or "Workshop"}}, 13:00&thinsp;&ndash;&thinsp;15:30
			</div>

			{{ govukRadios({
				name: "attend-" + loop.index,
				classes: "govuk-radios--inline",
				fieldset: {
					legend: {
						text: "Did " + prisoner.name.firstname + " " + prisoner.name.surname + " attend?"			
					}
				},
				items: [
				{
					value: "yes",
					text: "Yes"
				},
				{
					value: "no",
					text: "No"
				}
				]
			}) }}

			{{ govukRadios({
				name: "pay-" + loop.index,
				classes: "govuk-radios--inline",
				fieldset: {
					legend: {
						text: "Do you want to pay " + prisoner.name.firstname + " " + prisoner.name.surname + "?"
					}
				},
				items: [
				{
					value: "yes",
					text: "Yes"
				},
				{
					value: "no",
					text: "No"
				}
				]
			}) }}

			{{ govukTextarea({
				name: "more-detail",
				id: "more-detail",
				label: {
					text: "Enter more details"
				}
			}) }}
			{% endfor %}

			<div class="govuk-button-group">
				{{govukButton({
					text: "Continue"
				})}}
			</div>
		</form>
	</div>
</div>
{% endblock %}