{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}
{% block pageTitle %}
Activities Management prototype
{% endblock %}
{% block primaryNavigation %}
{% endblock %}
{% block beforeContent %}
{{govukBackLink({
	text: "Back",
	"href": "javascript: window.history.go(-1)"
})}}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-three-quarters">
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
			Check attendance details
		</h1>

		{% for id, item in data['attendance-details'] %}
		<h2 class="govuk-heading-m">
			{{ id }}
		</h2>
		<ul class="govuk-list govuk-list--bullet">
			{% for key, value in item %}

			{% if key == 'bonus' %}

			{% if item.attended == 'yes' %}
			<li>
				{{ key }}:
				{% if item.bonus['bonus-awarded'] == "yes" %}
				<ul class="govuk-list govuk-list--bullet">
					{% for key, value in item.bonus %}
					<li>{{ key }}: {{ value }}</li>
					{% endfor %}
				</ul>
				{% else %}
				no
				{% endif %}
			</li>
			{% endif %}

			{% else %}

			<li>{{ key }}: {{ value | dump }}</li>

			{% endif %}
			{% endfor %}
		</ul>
		{% endfor %}

		{% for attendanceDetail in data['attendance'] %}
		{{attendanceDetail[0]}}
		{% endfor %}
		<div class="prisoner">
			{% if filteredPrisoners.length > 1 %}
			<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
			<h2 class="govuk-heading-l">
				<span class="govuk-caption-l">Prisoner {{loop.index}}</span>
				{{prisoner.name.surname}}, {{prisoner.name.firstname}}
				<span class="govuk-caption-m">{{prisoner._id}}</span>
			</h2>
			{% endif %}

		</div>

		<form method="post">
			{{govukButton({
				text: "Confirm and record attendance"
			})}}
		</form>
	</div>
</div>
{% endblock %}

{% block pageScripts %}
{% endblock %}