{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}

{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block content %}
<form method="post">
	<h1 class="govuk-heading-xl">
		Prototype settings
	</h1>
	{{ govukRadios({
		name: "config[attend-pattern]",
		fieldset: {
			legend: {
				text: "Attendance pattern",
				isPageHeading: true,
				classes: "govuk-fieldset__legend--m"
			}
		},
		items: [
		{
			value: "separate",
			html: 'Separate journey <span class="govuk-tag govuk-tag--blue">Default</span>'
		},
		{
			value: "modals",
			text: "Modals"
		}
		]
	}) }}

	{{ govukRadios({
		name: "config[select-activity-pattern]",
		fieldset: {
			legend: {
				text: "Select activity pattern",
				isPageHeading: true,
				classes: "govuk-fieldset__legend--m"
			}
		},
		items: [
		{
			value: "typeahead",
			html: 'Typeahead search <span class="govuk-tag govuk-tag--blue">Default</span>'
		},
		{
			value: "table",
			text: "Table (by date)"
		}
		]
	}) }}

	{{ govukRadios({
		name: "config[record-attendance-pattern]",
		fieldset: {
			legend: {
				text: "Record attendance pattern",
				isPageHeading: true,
				classes: "govuk-fieldset__legend--m"
			}
		},
		items: [
		{
			value: "dropdown-button",
			html: 'Dropdown button <span class="govuk-tag govuk-tag--blue">Default</span>'
		},
		{
			value: "single-button",
			text: "Single button"
		},
		{
			value: "buttons",
			text: "Separate buttons"
		}
		]
	}) }}

	{{govukButton({
		text: "Save and continue"
	})}}
</form>
{% endblock %}
