{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}

{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block main %}
{% block beforeContent %}
<div class="govuk-width-container">
	<a href="/" class="govuk-back-link">Digital Prison Services</a>
	<h1 class="govuk-heading-l govuk-!-margin-top-7">Manage prisoner whereabouts</h1>
</div>
{% endblock %}
<div class="homepage-content">
	<div class="govuk-width-container">
		<ul class="govuk-grid-row card-group">
			<li class="govuk-grid-column-one-third card-group__item">
				<div class="card card--clickable" data-test="view-activity-location">
					<h2 class="govuk-heading-m card__heading">
						<a class="govuk-link card__link govuk-link--no-visited-state" href="select-activity">Attend an activity</a>
					</h2>
					<p class="govuk-body card__description">Record attendance and get printable attendance lists for activities and appointments.</p>
				</div>
			</li>
			<li class="govuk-grid-column-one-third card-group__item">
				<div class="card card--clickable" data-test="view-activity-location">
					<h2 class="govuk-heading-m card__heading">
						<a class="govuk-link card__link govuk-link--no-visited-state" href="select-unlock-locations">Get unlock list</a>
					</h2>
					<p class="govuk-body card__description">Get a list of prisoners to unlock on a chosen date, by residential location and sub-location.</p>
				</div>
			</li>
			<li class="govuk-grid-column-one-third card-group__item">
				<div class="card card--clickable" data-test="view-all-appointments">
					<h2 class="govuk-heading-m card__heading">
						<a class="govuk-link card__link govuk-link--no-visited-state" href="select-refusals-locations">Mark refusals and sickness</a>
					</h2>
					<p class="govuk-body card__description">Record prisoners' refusal to leave cells and sickness details.</p>
				</div>
			</li>			<li class="govuk-grid-column-one-third card-group__item">
				<div class="card card--clickable" data-test="view-activity-location">
					<h2 class="govuk-heading-m card__heading">
						<a class="govuk-link card__link govuk-link--no-visited-state" href="view-daily-schedules">View daily schedules</a>
					</h2>
					<p class="govuk-body card__description">View prisoner schedules by residential, activity or appointment location and see who is due to leave prison.</p>
				</div>
			</li>
			<li class="govuk-grid-column-one-third card-group__item">
				<div class="card card--clickable" data-test="view-attendance-statistics">
					<h2 class="govuk-heading-m card__heading">
						<a class="govuk-link card__link govuk-link--no-visited-state" href="#">Attendance data</a>
					</h2>
					<p class="govuk-body card__description">View a breakdown of attendance statistics.</p>
				</div>
			</li>
			<li class="govuk-grid-column-one-third card-group__item">
				<div class="card card--clickable" data-test="view-bulk-appointments">
					<h2 class="govuk-heading-m card__heading">
						<a class="govuk-link card__link govuk-link--no-visited-state" href="#">Add bulk appointments</a>
					</h2>
					<p class="govuk-body card__description">Upload a spreadsheet to add appointments for multiple people.</p>
				</div>
			</li>
		</ul>
	</div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/cards.js"></script>
{% endblock %}