{% extends "layout_hmpps-no-nav.html" %}
{% set serviceName = "Appointments" %}

{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block content %}
<form id="form" method="post" action="">
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>
      <h1 class="govuk-heading-l">
        Upload info for bulk flow
      </h1>
   
    <p class="govuk-body">
      Info here for people in the bulk flow
    </p>
    
    {{ govukButton({
      text: "Continue"
    }) }}
  </div>
</div>
{% endblock %}
