{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}
{% set activitiesCount = activitiesForDate.morning|length + activitiesForDate.afternoon|length %}

{% block pageTitle %}
Find an activity to record or edit attendance
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{{ govukBreadcrumbs({
classes: "govuk-!-display-none-print",
items: [
{
text: "Digital Prison Services",
href: "/dps-home"
},
{
text: "Manage activities",
href: "/v10/dps-home-2"
}
]
}) }}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
            {{activity.name}}
        </h1>

        <p>
            Select the relevant activity to see schedules and start allocating people to them.
        </p>

        <ul class="govuk-list govuk-!-margin-bottom-6">
            <li class="">
                <a href="../create-activity" class="govuk-link--no-visited-state">Create an activity</a>
            </li>
            <li class="">
                <a href="{{'_'|today}}" class="govuk-link--no-visited-state">Edit activities and schedules</a>
            </li>
            <li class="">
                <a href="../activities" class="govuk-link--no-visited-state">Select a different activity</a>
            </li>
        </ul>
    </div>

    <div class="govuk-grid-column-one-third">
        <table class="govuk-table govuk-!-font-size-16 govuk-!-margin-bottom-4">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Days</th>
                    <th scope="col" class="govuk-table__header">AM</th>
                    <th scope="col" class="govuk-table__header">PM</th>
                    <th scope="col" class="govuk-table__header">ED</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Monday</td>
                    <td class="govuk-table__cell"><span class="app-tag app-tag--green app-tag--s">AM</span></td>
                    <td class="govuk-table__cell"><strong class="app-tag app-tag--grey app-tag--s">No</span></td>
                    <td class="govuk-table__cell"><span class="app-tag app-tag--green app-tag--s">ED</span></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Tuesday</th>
                    <td class="govuk-table__cell"><span class="app-tag app-tag--green app-tag--s">AM</span></td>
                    <td class="govuk-table__cell"><strong
                            class="app-tag app-tag--green app-tag--grey app-tag--s">No</span></td>
                    <td class="govuk-table__cell"><span class="app-tag app-tag--green app-tag--s">ED</span></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Wednesday</th>
                    <td class="govuk-table__cell"><span class="app-tag app-tag--green app-tag--s">AM</span></td>
                    <td class="govuk-table__cell"><strong class="app-tag app-tag--grey app-tag--s">No</span></td>
                    <td class="govuk-table__cell"><span class="app-tag app-tag--green app-tag--s">ED</span></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Thursday</th>
                    <td class="govuk-table__cell"><span class="app-tag app-tag--green app-tag--s">AM</span></td>
                    <td class="govuk-table__cell"><strong class="app-tag app-tag--grey app-tag--s">No</span></td>
                    <td class="govuk-table__cell"><span class="app-tag app-tag--green app-tag--s">ED</span></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Friday</th>
                    <td class="govuk-table__cell"><span class="app-tag app-tag--green app-tag--s">AM</span></td>
                    <td class="govuk-table__cell"><strong class="app-tag app-tag--grey app-tag--s">No</span></td>
                    <td class="govuk-table__cell"><span class="app-tag app-tag--green app-tag--s">ED</span></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Saturday</th>
                    <td class="govuk-table__cell"><span class="app-tag app-tag--green app-tag--s">AM</span></td>
                    <td class="govuk-table__cell"><strong class="app-tag app-tag--grey app-tag--s">No</span></td>
                    <td class="govuk-table__cell"><span class="app-tag app-tag--green app-tag--s">ED</span></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Sunday</th>
                    <td class="govuk-table__cell"><span class="app-tag app-tag--green app-tag--s">AM</span></td>
                    <td class="govuk-table__cell"><strong class="app-tag app-tag--grey app-tag--s">No</span></td>
                    <td class="govuk-table__cell"><span class="app-tag app-tag--green app-tag--s">ED</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
        Contents
    </h2>
    <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#past-day">
                Currently allocated
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#past-week">
                Manage waitlist
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#past-month">
                Allocate
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#past-year">
                Schedule for Wing cleaning 1
            </a>
        </li>
    </ul>
    <div class="govuk-tabs__panel" id="past-day">
        <h2 class="govuk-heading-l">
            Currently allocated
        </h2>
        <p>
            Review the list of people currently allocated to identify any non-associations.
        </p>
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Prisoners</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Prisoner details</th>
                    <th scope="col" class="govuk-table__header">Non-associations in this prison</th>
                    <th scope="col" class="govuk-table__header">Date allocated</th>
                    <th scope="col" class="govuk-table__header">Other allocations</th>
                    <th scope="col" class="govuk-table__header">Earliest release date</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for prisoner in currentlyAllocated %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live"
                                    type="radio" value="england">
                                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                                    <b><a href="">{{prisoner.name.firstname}} {{prisoner.name.surname}}</a></b><br>
                                    {{prisoner.id}}<br>
                                    {{prisoner.location.cell}}
                                </label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell govuk-!-padding-top-4">None</td>
                    <td class="govuk-table__cell govuk-!-padding-top-4">DATE</td>
                    <td class="govuk-table__cell govuk-!-padding-top-4">ACTIVITY</td>
                    <td class="govuk-table__cell govuk-!-padding-top-4">DATE</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
        <h2 class="govuk-heading-l">
            Manage waitlist
        </h2>
        <p>
            View the status of applications which have been added to the waitlist.
        </p>
        <p>
            Select someone if you need to approve or reject their application.
        </p>
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Prisoners</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Prisoner details</th>
                    <th scope="col" class="govuk-table__header">Non-associations in this prison</th>
                    <th scope="col" class="govuk-table__header">Date allocated</th>
                    <th scope="col" class="govuk-table__header">Other allocations</th>
                    <th scope="col" class="govuk-table__header">Earliest release date</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for application in data['applications'] %}
                {% set prisoner = application.prisoner|getPrisonerDetails %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live"
                                    type="radio" value="england">
                                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                                    <b><a href="">{{prisoner.name.firstname}} {{prisoner.name.surname}}</a></b><br>
                                    {{prisoner.id}}<br>
                                    {{prisoner.location.cell}}
                                </label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell govuk-!-padding-top-4">None</td>
                    <td class="govuk-table__cell govuk-!-padding-top-4">
                        {{application.date|convertShortDateToMediumDate}}</td>
                    <td class="govuk-table__cell govuk-!-padding-top-4">
                        <ul class="govuk-list">
                            {% for allocation in prisoner.activity %}
                            {% set activity = allocation|getActivityDetails %}
                            <li>{{activity.name}}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td class="govuk-table__cell govuk-!-padding-top-4">DATE</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
        <h2 class="govuk-heading-l">
            Allocate
        </h2>

    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
        <h2 class="govuk-heading-l">
            Schedule for Wing cleaning 1
        </h2>

    </div>
</div>
{% endblock %}

{% block pageScripts %}
{% endblock %}