{% extends "layout_hmpps.html" %}
{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block primaryNavigation %} {% endblock %}

{% block beforeContent %}
{{govukBackLink({ text: "Back", "href": "javascript:
window.history.go(-1)" })}} {% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post">
        <h2 class="govuk-heading-m">
            <span class="govuk-caption-m">
                {{data['new-activity']['category']}}
            </span>
            {{data['new-activity']['activity-name']}}
        </h2>
        {{govukRadios({
            idPrefix: "risk-assessment-levels",
            name: "new-activity[risk-assessment-level]",
            fieldset: {
                legend: {
                    text: "Workplace risk assessment levels: which ones are suitable for this activity?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                text: "The risk assessment levels you set on this page will be used to filter the list of people you'll see when allocating to this activity."
            },
            items: [
                {
                    value: "low",
                    text: "Only low workplace risk assessment is suitable"
                },
                {
                    value: "medium",
                    text: "Either low or medium workplace risk assessment is suitable"
                },
                {
                    value: "high",
                    text: "Any of low, medium or high workplace risk assessment is suitable"
                }
            ]
        })}}

      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}