
{% extends "layout.html" %}
{% set serviceName = "" %}

{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Activity allocation
    </h1>
  </div><br />

<ul>List activity details:
  <li>Activity Name</li>
  <li>Content</li>
  <li>Alerts</li>
  <li>Education</li>
  <li>etc</li>
</ul>

<ul>List activity dates and times and availability
  <li>Monday AM</li>
  <li>Monday PM</li>
  <li>Tuesday AM</li>
  <li>Tuesday PM</li>

</ul>

  </tbody>
</table>
</div>
{% endblock %}
