
{% extends "layout_hmpps-no-nav.html" %}
{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block content %}
<form id="form" method="post">
<div class="govuk-grid-row">
  
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>
      <h1 class="govuk-heading-l">
		<span class="govuk-caption-l">Appointment management</span>
		View and edit an appointment
       </h1>
	   
	<div class="filters govuk-!-display-none-print">
		<form>
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-full">
					<h2 class="govuk-heading-m govuk-!-margin-top-3 govuk-!-margin-bottom-6">
						Filters
					</h2>
					<div class="govuk-grid-row ">
							<div class="govuk-grid-column-one-third " >
							{{ govukDateInput({
								id: "date",
								namePrefix: "date",
								fieldset: {
									legend: {
										text: "Start date",
										isPageHeading: true,
										classes: "govuk-fieldset__legend--s"
									}
								},
								hint: {
									text: "For example, 27 3 2007"
								  },
								items: [
									{
										name: "day",
										label: "Day",
										value: "13",
										classes: "govuk-input--width-2 "
									},
									{
										name: "month",
										label: "Month",
										value: "2",
										classes: "govuk-input--width-2"
									},
									{
										name: "year",
										label: "Year",
										value: "2023",
										classes: "govuk-input--width-4"
									}
								]
							}) }}
						</div>
						<div class="govuk-grid-column-one-third " style="vertical-align: top;">
							{{ govukDateInput({
								id: "date",
								namePrefix: "date",
								fieldset: {
									legend: {
										text: "End date",
										isPageHeading: true,
										classes: "govuk-fieldset__legend--s"
									}
								},
								hint: {
									text: "For example, 27 3 2007"
								  },
								items: [
									{
										name: "day",
										label: "Day",
										value: "20",
										classes: "govuk-input--width-2"
									},
									{
										name: "month",
										label: "Month",
										value: "2",
										classes: "govuk-input--width-2"
									},
									{
										name: "year",
										label: "Year",
										value: "2023",
										classes: "govuk-input--width-4"
									}
								]
							}) }}
						</div>
						<div class="govuk-grid-column-full govuk-!-margin-bottom-3" style="vertical-align: top;">
							<fieldset class="govuk-fieldset govuk-!-display-inline-block govuk-!-margin-right-3" style="width: 360px; position: relative; top: 14px;">
								<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
									Type
								</legend>
								<div class="dropdown" data-control="checkbox-dropdown">
									<label class="dropdown-label">All types</label>
									<div class="dropdown-list">
										<div class="govuk-form-group govuk-!-margin-0">
											<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
												<!--{% for location in data['residential-locations-2'] %}
												{% if location.id == houseblock %}
												{% for spur in location.spurs.slice(0, 3) %}-->
												<div class="govuk-checkboxes__item">
													<input class="govuk-checkboxes__input" id="landings-{{spur.id}}" name="filters[landings]" type="checkbox" value="{{spur.id}}" {{ 'checked' if data['filters']['landings'] and loop.index|string in data['filters']['landings'] }}>
													<label class="govuk-label govuk-checkboxes__label" for="landings-{{spur.id}}">
														Landing {{spur.id}}
													</label>
												</div>
												<!--{% endfor %}
												{% endif %}
												{% endfor %}-->
											</div>
										</div>
									</div>
								</div>
							</fieldset>
	
	
							<fieldset class="govuk-fieldset govuk-!-display-inline-block govuk-!-margin-right-3" style="width: 360px; position: relative; top: 14px;">
								<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
									Sub-types
								</legend>
								<div class="dropdown" data-control="checkbox-dropdown">
									<label class="dropdown-label">All sub-types</label>
									<div class="dropdown-list">
										<div class="govuk-form-group govuk-!-margin-0">
											<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
												{% for activity in filteredActivities %}
												<div class="govuk-checkboxes__item">
													<input class="govuk-checkboxes__input" id="activity-{{activity.id}}" name="filters[activities]" type="checkbox" value="1">
													<label class="govuk-label govuk-checkboxes__label" for="activity-{{activity.id}}">
														{{activity.name}}
													</label>
												</div>
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
							</fieldset>
	
							
	
							{{ govukSelect({
								formGroup: {
									classes: "govuk-!-margin-top-6"
								},
								label: {
									text: "Created by",
									classes: "govuk-label--s"
								},
								idPrefix: 'prisoners-without-events',
								name: 'filters[prisoners-without-events]',
								heading: {
									text: 'Staying or leaving'
								},
								items: [{
									text: 'Person name (logged in user)',
									id: 'hide',
									value: 'hide'
								},
								{
									text: 'User name',
									id: 'show',
									value: 'show'
								},
								{
									text: 'User name',
									id: 'show',
									value: 'show'
								},
								{
									text: 'User name',
									id: 'show',
									value: 'show'
								},
								{
									text: 'User name',
									id: 'show',
									value: 'show'
								}]
							}) }}
	
							<!-- {{ govukCheckboxes({
								formGroup: {
									classes: "govuk-!-display-inline-block"
								},
								name: "waste",
								items: [
								{
									value: "without-events",
									text: "Hide prisoners without events"
								}
								]
							}) }} -->
						</div>
					</div>

					
					{{govukButton({
						text: "Apply filters",
						classes: "govuk-!-margin-bottom-2"
					})}}

				</div>
			</div>
		</form>
	</div>
	   {% from "govuk/components/tabs/macro.njk" import govukTabs %}
	   {% from "govuk/components/table/macro.njk" import govukTable %}
	   {% set individualHtml %}
	   <h2 class="govuk-heading-l">Individual appointments</h2>



	   <table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
		<thead class="govuk-table__head">
		  <tr class="govuk-table__row">
			<th class="govuk-table__header" scope="col" id="select-all"></th>
			<th class="govuk-table__header" scope="col">Date</th>
			<th class="govuk-table__header" scope="col">Time</th>
			<th class="govuk-table__header" scope="col">Type</th>
			<th class="govuk-table__header" scope="col">Prison name and number</th>
			<th class="govuk-table__header govuk-table__header--numeric" scope="col">People in group</th>
			<th class="govuk-table__header govuk-table__header--numeric" scope="col">Occurences left</th>
			<th class="govuk-table__header govuk-table__header--numeric" scope="col"></th>
		  </tr>
		</thead>
		<tbody class="govuk-table__body">
		 
		  <tr class="govuk-table__row govuk-table__row--selected">
			<td class="govuk-table__cell">
			  <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
				<input type="checkbox" class="govuk-checkboxes__input" id="prisoner-david_francis-2">
				<label class="govuk-label govuk-checkboxes__label" for="prisoner-david_francis-2">
				  <span class="govuk-visually-hidden">Select David Francis, A3123DF</span>
				</label>
			  </div>
			</td>
				<td class="govuk-table__cell">13 Feb 2023</td>
				<td class="govuk-table__cell">11:00</td>
				<td class="govuk-table__cell">Medical</td>
				<td class="govuk-table__cell">David Francis, A3123DF</td>
				<td class="govuk-table__cell govuk-table__cell--numeric">7</td>
				<td class="govuk-table__cell govuk-table__cell--numeric">1</td>
				<td class="govuk-table__cell">
					<a href="edit-appointment-option-1" class="govuk-link">View and edit</a>
				</td>
		  </tr>
		  <tr class="govuk-table__row govuk-table__row--selected">
			<td class="govuk-table__cell">
			  <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
				<input type="checkbox" class="govuk-checkboxes__input" id="prisoner-david_francis-3">
				<label class="govuk-label govuk-checkboxes__label" for="prisoner-david_francis-3">
				  <span class="govuk-visually-hidden">Select David Francis, A3123DF</span>
				</label>
			  </div>
			</td>
				<td class="govuk-table__cell">15 Feb 2023</td>
				<td class="govuk-table__cell">09:00</td>
				<td class="govuk-table__cell">Faith</td>
				<td class="govuk-table__cell">David Francis, A3123DF</td>
				<td class="govuk-table__cell govuk-table__cell--numeric">20</td>
				<td class="govuk-table__cell govuk-table__cell--numeric">20</td>
				<td class="govuk-table__cell">
					<a href="edit-appointment-option-2" class="govuk-link">View and edit</a>
				</td>
			</td>
			<tr class="govuk-table__row govuk-table__row--selected">
				<td class="govuk-table__cell">
				  <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
					<input type="checkbox" class="govuk-checkboxes__input" id="prisoner-david_francis-2">
					<label class="govuk-label govuk-checkboxes__label" for="prisoner-david_francis-2">
					  <span class="govuk-visually-hidden">Select David Francis, A3123DF</span>
					</label>
				  </div>
				</td>
					<td class="govuk-table__cell">16 Feb 2023</td>
					<td class="govuk-table__cell">11:30</td>
					<td class="govuk-table__cell">Medical</td>
					<td class="govuk-table__cell">David Francis, A3123DF</td>
					<td class="govuk-table__cell govuk-table__cell--numeric">1</td>
					<td class="govuk-table__cell govuk-table__cell--numeric">1</td>
					<td class="govuk-table__cell">
						<a href="edit-appointment-option-3" class="govuk-link">View and edit</a>
					</td>
			  </tr>
			<tr class="govuk-table__row govuk-table__row--selected">
				<td class="govuk-table__cell">
				  <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
					<input type="checkbox" class="govuk-checkboxes__input" id="prisoner-david_francis-3">
					<label class="govuk-label govuk-checkboxes__label" for="prisoner-david_francis-3">
					  <span class="govuk-visually-hidden">Select David Francis, A3123DF</span>
					</label>
				  </div>
				</td>
			<td class="govuk-table__cell">17 Feb 2023</td>
			<td class="govuk-table__cell">15:00</td>
			<td class="govuk-table__cell">Programmes and interventions</td>
			<td class="govuk-table__cell">David Francis, A3123DF</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">7</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">7</td>
			<td class="govuk-table__cell">
				<a href="edit-appointment-option-4" class="govuk-link">View and edit</a>
			</td>
		  </tr>
		 
		</tbody>
	  </table>
	  <div class="govuk-button-group">

		{{ govukButton({
		text: "Cancel selected appointments",
		classes: "govuk-button--secondary"
	  }) }}

	  {{ govukButton({
		text: "Delete selected appointments",
		classes: "govuk-button--warning"
	  }) }}
	   
	  </div>

	   {% endset -%}
	   {% set bulkHtml %}
	   <h2 class="govuk-heading-l">Group appointments</h2>
	  

	   <table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
		<thead class="govuk-table__head">
		  <tr class="govuk-table__row">
			<th class="govuk-table__header" scope="col" id="select-all"></th>
			<th class="govuk-table__header" scope="col">Date</th>
			<th class="govuk-table__header" scope="col">Time</th>
			<th class="govuk-table__header" scope="col">Type</th>
			<!--<th class="govuk-table__header" scope="col">Prison name and number</th>-->
			<th class="govuk-table__header govuk-table__header--numeric" scope="col">People in group</th>
			<th class="govuk-table__header govuk-table__header--numeric" scope="col">Occurences left</th>
			<th class="govuk-table__header govuk-table__header--numeric" scope="col"></th>
		  </tr>
		</thead>
		<tbody class="govuk-table__body">
		 
		  <tr class="govuk-table__row govuk-table__row--selected">
			<td class="govuk-table__cell">
			  <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
				<input type="checkbox" class="govuk-checkboxes__input" id="prisoner-david_francis-2">
				<label class="govuk-label govuk-checkboxes__label" for="prisoner-david_francis-2">
				  <span class="govuk-visually-hidden">Select David Francis, A3123DF</span>
				</label>
			  </div>
			</td>
				<td class="govuk-table__cell">13 Feb 2023</td>
				<td class="govuk-table__cell">11:00</td>
				<td class="govuk-table__cell">Medical</td>
				<!--<td class="govuk-table__cell">David Francis, A3123DF</td>-->
				<td class="govuk-table__cell govuk-table__cell--numeric">7</td>
				<td class="govuk-table__cell govuk-table__cell--numeric">1</td>
				<td class="govuk-table__cell">
					<a href="edit-appointment-option-1" class="govuk-link">View and edit</a>
				</td>
		  </tr>
		  <tr class="govuk-table__row govuk-table__row--selected">
			<td class="govuk-table__cell">
			  <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
				<input type="checkbox" class="govuk-checkboxes__input" id="prisoner-david_francis-3">
				<label class="govuk-label govuk-checkboxes__label" for="prisoner-david_francis-3">
				  <span class="govuk-visually-hidden">Select David Francis, A3123DF</span>
				</label>
			  </div>
			</td>
				<td class="govuk-table__cell">15 Feb 2023</td>
				<td class="govuk-table__cell">09:00</td>
				<td class="govuk-table__cell">Faith</td>
				<!--<td class="govuk-table__cell">David Francis, A3123DF</td>-->
				<td class="govuk-table__cell govuk-table__cell--numeric">20</td>
				<td class="govuk-table__cell govuk-table__cell--numeric">20</td>
				<td class="govuk-table__cell">
					<a href="edit-appointment-option-2" class="govuk-link">View and edit</a>
				</td>
			</td>
			<tr class="govuk-table__row govuk-table__row--selected">
				<td class="govuk-table__cell">
				  <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
					<input type="checkbox" class="govuk-checkboxes__input" id="prisoner-david_francis-2">
					<label class="govuk-label govuk-checkboxes__label" for="prisoner-david_francis-2">
					  <span class="govuk-visually-hidden">Select David Francis, A3123DF</span>
					</label>
				  </div>
				</td>
					<td class="govuk-table__cell">16 Feb 2023</td>
					<td class="govuk-table__cell">11:30</td>
					<td class="govuk-table__cell">Medical</td>
					<!--<td class="govuk-table__cell">David Francis, A3123DF</td>-->
					<td class="govuk-table__cell govuk-table__cell--numeric">1</td>
					<td class="govuk-table__cell govuk-table__cell--numeric">1</td>
					<td class="govuk-table__cell">
						<a href="edit-appointment-option-3" class="govuk-link">View and edit</a>
					</td>
			  </tr>
			<tr class="govuk-table__row govuk-table__row--selected">
				<td class="govuk-table__cell">
				  <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
					<input type="checkbox" class="govuk-checkboxes__input" id="prisoner-david_francis-3">
					<label class="govuk-label govuk-checkboxes__label" for="prisoner-david_francis-3">
					  <span class="govuk-visually-hidden">Select David Francis, A3123DF</span>
					</label>
				  </div>
				</td>
			<td class="govuk-table__cell">17 Feb 2023</td>
			<td class="govuk-table__cell">15:00</td>
			<td class="govuk-table__cell">Programmes and interventions</td>
			
			<td class="govuk-table__cell govuk-table__cell--numeric">7</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">7</td>
			<td class="govuk-table__cell">
				<a href="edit-appointment-option-4" class="govuk-link">View and edit</a>
			</td>
		  </tr>
		 
		</tbody>
	  </table>
	 <div class="govuk-button-group">
		
		{{ govukButton({
		text: "Cancel selected appointments",
		classes: "govuk-button--secondary"
	  }) }}

	  {{ govukButton({
		text: "Delete selected appointments",
		classes: "govuk-button--warning"
	  }) }}
	   
	  </div>
	   {% endset -%}
	   
	   {{ govukTabs({
		 items: [
		   {
			 label: "Individual appointments",
			 id: "Individual",
			 panel: {
			   html: individualHtml
			 }
		   },
		   {
			 label: "Group appointments",
			 id: "Bulk",
			 panel: {
			   html: bulkHtml
			 }
		   }
		 ]
	   }) }}
	   
   
  </div>
</div>
</form>
{% endblock %}
