ga{% extends "layout.html" %}


{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      You're allocating to {{data.activityAllocateName or 'Wing cleaning 1'}}
    </h1>
  </div>


  <div class="govuk-width-container">
    <ul class="govuk-grid-row card-group" id="sortable">
    <!--  <li class="govuk-grid-column-two-thirds card-group__item" id="tile_create">
        <div class="card card--clickable" data-test="manage-prisoner-whereabouts">
          <h2 class="govuk-heading-m card__heading">
          <!--  <a class="govuk-link card__link govuk-link--no-visited-state" href="{{data['prototype-versions']['create-and-allocate']['url']}}"-->
        <!--      Current allocation
          </h2>
          <p class="govuk-body card__description">

            <span style="width:10%; text-align: center; float:left;"><strong>Capacity</strong></span>
            <span style="width:70%; text-align: center; float:left;"><strong>Allocated</strong></span>
            <span style="width:20%; text-align: center; float:left;"><strong>Vacancies</strong></span>
            <br /><br/>
            <span style="width:10%; text-align: center; float:left;">12</span>
            <span style="width:70%; text-align: center; float:left;">8</span>
            <span style="width:20%; text-align: center; float:left;">4</span>

          </p>
        </div>
      </li>-->
      <li class="govuk-grid-column-one-third card-group__item" id="tile_unlock">
        <div class="card card--clickable" data-test="manage-prisoner-whereabouts">
          <div style="height:20px; width:100%; padding:0; margin:0; background-color:#f1f1f1;">
          &nbsp;
          <div>
          <h2 class="govuk-heading-m card__heading">
        <!--    <a class="govuk-link card__link govuk-link--no-visited-state" href="{{data['prototype-versions']['unlock-and-attend']['url']}}">-->
            Current allocation
          </h2>
          <p class="govuk-body card__description">
            <span style="width:57%; float:left;"><strong>Vacancies:</strong></span><span class="govuk-tag govuk-tag--blue"> 4</span> <br /><br />
            <span style="width:59%; float:left;"><strong>Allocated:</strong></span> 8 <br /><br />
            <span style="width:58%; float:left;"><strong>Capacity:</strong></span> 12 <br />
          </p>
        </div>
      </li>
      <li class="govuk-grid-column-two-thirds card-group__item" id="tile_unlock">
        <div class="card card--clickable" data-test="manage-prisoner-whereabouts">
          <div style="height:20px; width:100%; padding:0; margin:0; background-color:#f1f1f1;">
          &nbsp;
          <div>
          <h2 class="govuk-heading-m card__heading">
        <!--    <a class="govuk-link card__link govuk-link--no-visited-state" href="{{data['prototype-versions']['unlock-and-attend']['url']}}">-->
            Requirements
          </h2>
          <p class="govuk-body card__description">
            <span style="width:370px; float:left;"><strong>Education level:</strong></span> English entry level 1, Maths level 2<br /><br />
            <span style="width:370px; float:left;"><strong>Suitable for incentive level:</strong></span> Low or Standard<br /><br />
            <span style="width:370px; float:left;"><strong>Suitable for workplace risk assessment:</strong></span> Low or Medium
          </p>
        </div>
      </li>

    </ul>
  </div>



<div class="govuk-grid-column-three-third">
<div class="govuk-tabs" data-module="govuk-tabs">
<h2 class="govuk-tabs__title">
  Contents
</h2>
<ul class="govuk-tabs__list">
  <li class="govuk-tabs__list-item">
    <a class="govuk-tabs__tab" href="#allocated">
    <strong>  Currently allocated</strong>
    </a>
  </li>
  <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
    <a class="govuk-tabs__tab" href="#allocate">
      <strong>Candidates</strong>
    </a>
  </li>
</ul>








<!--allocated-->
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="allocated">
  <h2 class="govuk-heading-m">People allocated now  <strong class="govuk-tag govuk-tag--yellow">
    <span style="text-transform:lowercase; ">4 people allocated out of a possible 5</span>
  </strong></h2><p>Review the list of people currently allocated to identify any non-associations or other risks. You can also remove someone from the activity by selecting their name.</p>



<form method="post" action="AllocateRemove">
<table class="govuk-table" data-module="moj-sortable-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">

        <th scope="col" class="govuk-table__header" style="width:30%;" aria-sort="ascending">Name</th>
        <th scope="col" class="govuk-table__header" style="width:15%;" aria-sort="none">Prison number</th>
        <th scope="col" class="govuk-table__header" style="width:15%;" aria-sort="none">Location</th>
        <th scope="col" class="govuk-table__header" style="width:20%;" aria-sort="none">Allocation</th>
        <th scope="col" class="govuk-table__header" style="width:35%;" aria-sort="none">Earliest release date</th>

      </tr>
    </thead>
    <tbody class="govuk-table__body">
{% if (data.LanceArm != 'NotAllocated')%}
      <tr class="govuk-table__row">
        <td data-sort-value="Lance">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="RemoveOffenderName" type="checkbox" value="Lance Arm">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
              Lance Arm
            </label>
          </div>
      </td>
      <td  data-sort-value="AB4309H">AB4309H</td>
      <td  data-sort-value="13003">1-3-003</td>
      <td  data-sort-value="Wing">Wing cleaning</td>
      <td data-sort-value="20230923">23 Sept 2023</td>
    </tr>
    <tr>
    <td  colspan="7" class="govuk-table__cell" data-sort-value="Lance">
      <details class="hods-expandable-banner">
    <summary class="hods-expandable-banner__summary" style="color:#00008B">
      show more profile information
    </summary>
    <div class="hods-expandable-banner__text" style="background-color:#F2F1F0; padding:5px 0 0 15px;">


      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">

          </dt>
          <dd class="govuk-summary-list__value">
          <strong>Prisoner details</strong>
          </dd>
          <dd class="govuk-summary-list__value">
            <strong>Activity requirements</strong>
          </dd>
          <dd class="govuk-summary-list__value">
            <strong>Mismatch</strong>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Security category
          </dt>
          <dd class="govuk-summary-list__value">
            A
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Incentive level
          </dt>
          <dd class="govuk-summary-list__value">
            Basic
          </dd>
          <dd class="govuk-summary-list__value">
            Standard
          </dd>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--orange">M<span style="text-transform:lowercase;">ismatch</span> </strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Educational qualifications
          </dt>
          <dd class="govuk-summary-list__value">
            Maths level 1
          </dd>
          <dd class="govuk-summary-list__value">
            None set
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Technical qualifications
          </dt>
          <dd class="govuk-summary-list__value">
            Maintenance foundation skills
          </dd>
          <dd class="govuk-summary-list__value">
            None set
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Learning pathways
          </dt>
          <dd class="govuk-summary-list__value">
            Maintenance
          </dd>
          <dd class="govuk-summary-list__value">
            Cleaning
          </dd>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--orange">M<span style="text-transform:lowercase;">ismatch</span> </strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Alerts
          </dt>
          <dd class="govuk-summary-list__value">
            Racist,<br />
            Arsonist<br />
          </dd>
          <dd class="govuk-summary-list__value">
            None set
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Learning difficulties, <br />disabilities and health
          </dt>
          <dd class="govuk-summary-list__value">
            Asthma,<br />
            Dyslexia
          </dd>
          <dd class="govuk-summary-list__value">
            None set
          </dd>
        </div>
      </dl>
    </div>
  </details>
  </td>
  <td class="govuk-table__cell" data-sort-value="A4309JH"></td>
  <td class="govuk-table__cell" data-sort-value="13003"></td>
  <td class="govuk-table__cell" data-sort-value="Wing"></td>
  <td class="govuk-table__cell" data-sort-value="20230923"></td>
  </tr>
{% endif %}
      <tr class="govuk-table__row">
        <td data-sort-value="Armit">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="RemoveOffenderName" type="checkbox" value=" Armit Singh">
              <label class="govuk-label govuk-checkboxes__label" for="organisation">
              Armit Singh
              </label>
            </div>
          </td>
          <td class="" data-sort-value="FG9121R">FG9121R</td>
          <td class="" data-sort-value="23022">2-3-022</td>
          <td class="" data-sort-value="Maths level 2">Maths level 2<br />Wing cleaning</td>
          <td class="" data-sort-value="20230102">2 Jan 2023</td>
          </tr>
          <tr>
            <td colspan="7" class="govuk-table__cell" data-sort-value="Armit">
        <details class="hods-expandable-banner">
      <summary class="hods-expandable-banner__summary" style="color:#00008B">
        show more profile information
      </summary>
      <div class="hods-expandable-banner__text" style="background-color:#F2F1F0; padding:5px 0 0 15px;">
    <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            </dt>
            <dd class="govuk-summary-list__value">
            <strong>Prisoner details</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              <strong>Activity requirements</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              <strong>Mismatch</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Security category
            </dt>
            <dd class="govuk-summary-list__value">
              A
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Incentive level
            </dt>
            <dd class="govuk-summary-list__value">
              Basic
            </dd>
            <dd class="govuk-summary-list__value">
              Standard
            </dd>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--orange">M<span style="text-transform:lowercase;">ismatch</span> </strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Educational qualifications
            </dt>
            <dd class="govuk-summary-list__value">
              Maths level 1
            </dd>
            <dd class="govuk-summary-list__value">
              None set
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Technical qualifications
            </dt>
            <dd class="govuk-summary-list__value">
              Maintenance foundation skills
            </dd>
            <dd class="govuk-summary-list__value">
              None set
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Learning pathways
            </dt>
            <dd class="govuk-summary-list__value">
              Maintenance
            </dd>
            <dd class="govuk-summary-list__value">
              Maintenance
            </dd>
            <dd class="govuk-summary-list__value">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Alerts
            </dt>
            <dd class="govuk-summary-list__value">
              None set
            </dd>
            <dd class="govuk-summary-list__value">
              None set
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Learning difficulties, <br />disabilities and health
            </dt>
            <dd class="govuk-summary-list__value">
            None set
            </dd>
            <dd class="govuk-summary-list__value">
              None set
            </dd>
          </div>
        </dl>

      </div>
    </details>
    </td>
    <td class="" data-sort-value="A9121TR"></td>
    <td class="" data-sort-value="23022"></td>
    <td class="" data-sort-value="Maths level 2"></td>
    <td class="" data-sort-value="20230102"></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          </td>
            <tr class="govuk-table__row">
          <td class="" data-sort-value="Lewis">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="RemoveOffenderName" type="checkbox" value=" Lewis Holme">
              <label class="govuk-label govuk-checkboxes__label" for="organisation">
                Lewis Holme
              </label>
            </div>
          </td>
          <td class="" data-sort-value="A1291QA">LG1291A</td>
          <td class="" data-sort-value="11021">1-1-021</td>
          <td class="" data-sort-value="Breakfast">Breakfast packs<br />Wing cleaning</td>
          <td class="" data-sort-value="20230923">23 Sept 2023</td>
          </tr>
              <tr>
                <td colspan="7"  class="govuk-table__cell" data-sort-value="Lewis">
                  <details class="hods-expandable-banner">
                <summary class="hods-expandable-banner__summary" style="color:#00008B">
                  show more profile information
                </summary>
                <div class="hods-expandable-banner__text" style="background-color:#F2F1F0; padding:5px 0 0 15px;">
              <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                      </dt>
                      <dd class="govuk-summary-list__value">
                      <strong>Prisoner details</strong>
                      </dd>
                      <dd class="govuk-summary-list__value">
                        <strong>Activity requirements</strong>
                      </dd>
                      <dd class="govuk-summary-list__value">
                        <strong>Mismatch</strong>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Security category
                      </dt>
                      <dd class="govuk-summary-list__value">
                        A
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Incentive level
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Standard
                      </dd>
                      <dd class="govuk-summary-list__value">
                        Standard
                      </dd>
                      <dd class="govuk-summary-list__value">
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Educational qualifications
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Maths level 1
                      </dd>
                      <dd class="govuk-summary-list__value">
                        None set
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Technical qualifications
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Maintenance foundation skills
                      </dd>
                      <dd class="govuk-summary-list__value">
                        None set
                      </dd>

                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                      Learning pathways
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Maintenance
                      </dd>
                      <dd class="govuk-summary-list__value">
                        Maintenance
                      </dd>
                      <dd class="govuk-summary-list__value">
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Alerts
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Violent
                      </dd>
                      <dd class="govuk-summary-list__value">
                        None set
                      </dd>
                      <dd class="govuk-summary-list__value">
                        <strong class="govuk-tag govuk-tag--orange">M<span style="text-transform:lowercase;">ismatch</span> </strong>
                      </dd>

                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Learning difficulties, <br />disabilities and health
                      </dt>
                      <dd class="govuk-summary-list__value">
                      None set
                      </dd>
                      <dd class="govuk-summary-list__value">
                        None set
                      </dd>
                    </div>
                  </dl>

                </div>
              </details>
              </td>
              <td class="" data-sort-value="A1291QA"></td>
              <td class="" data-sort-value="11021"></td>
              <td class="" data-sort-value="Breakfast"></td>
              <td class="" data-sort-value="20230923"></td>
              </tr>

      <tr class="govuk-table__row">
        <td class="" data-sort-value="Harry">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation" name="RemoveOffenderName" type="checkbox" value=" Lewis Holme">
                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                  Harry Christmas
                </label>
              </div>
            </td>
            <td class="" data-sort-value="A88992P">MK8892P</td>
            <td class="" data-sort-value="12021">1-2-021</td>
            <td class="" data-sort-value="Brekafast P">Breakfast packs</td>
            <td class="" data-sort-value="20230703">3 July 2023</td>
            </tr>

    <tr>
      <td colspan="7"  class="govuk-table__cell" data-sort-value="Harry">
        <details class="hods-expandable-banner">
      <summary class="hods-expandable-banner__summary" style="color:#00008B">
        show more profile information
      </summary>
      <div class="hods-expandable-banner__text" style="background-color:#F2F1F0; padding:5px 0 0 15px;">
    <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            </dt>
            <dd class="govuk-summary-list__value">
            <strong>Prisoner details</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              <strong>Activity requirements</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              <strong>Mismatch</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Security category
            </dt>
            <dd class="govuk-summary-list__value">
              B
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Incentive level
            </dt>
            <dd class="govuk-summary-list__value">
              Enhanced
            </dd>
            <dd class="govuk-summary-list__value">
              Standard
            </dd>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--orange">M<span style="text-transform:lowercase;">ismatch</span> </strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Educational qualifications
            </dt>
            <dd class="govuk-summary-list__value">
              Maths level 1
            </dd>
            <dd class="govuk-summary-list__value">
              None set
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Technical qualifications
            </dt>
            <dd class="govuk-summary-list__value">
              Maintenance foundation skills
            </dd>
            <dd class="govuk-summary-list__value">
              None set
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Learning pathways
            </dt>
            <dd class="govuk-summary-list__value">
              Maintenance
            </dd>
            <dd class="govuk-summary-list__value">
              Maintenance
            </dd>
            <dd class="govuk-summary-list__value">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Alerts
            </dt>
            <dd class="govuk-summary-list__value">
              Violent
            </dd>
            <dd class="govuk-summary-list__value">
              None set
            </dd>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--orange">M<span style="text-transform:lowercase;">ismatch</span> </strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Learning difficulties, <br />disabilities and health
            </dt>
            <dd class="govuk-summary-list__value">
            Breathing difficulties
            </dd>
            <dd class="govuk-summary-list__value">
              None set
            </dd>
          </div>
        </dl>
      </div>
    </details>
    </td>
    <td class="" data-sort-value="A88992PP"></td>
    <td class="" data-sort-value="12021"></td>
    <td class="" data-sort-value="Brekafast P"></td>
    <td class="" data-sort-value="20230703"></td>
    </tr>
    </<tbody>
    </table>
  <button class="govuk-button" data-module="govuk-button">
  Remove from this activity
  </button>
  <input type="hidden" name="activityAllocateName" value="Wing cleaning 1" />
</form>
</div>











<!--allocate new people-->
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="allocate">
    <p>Your candidate list has been filtered to show people who match all the requirements for this activity.
      Use the filters to expand or reduce the list. You can also search for someone you want to allocate.</p>

<div class="govuk-grid-row" style="background-color:#f1f1f1; padding-top:20px;">
  <div class="govuk-grid-column-one-half" style="background-color:#f1f1f1;">
    <div class="govuk-form-group">
      <label class="govuk-label" for="sort">
        Showing people who are:
      </label>
      <select class="govuk-select" id="show" name="show-grouping">
        <option value="Unemployed" {% if data.allocateEmployed=="Unemployed" %}selected{% endif %}>Unemployed</option>
        <option value="Employed" {% if data.allocateEmployed=="Employed" %}selected{% endif %}>Employed</option>
        <option value="Employed and Unemployed" {% if data.allocateEmployed=="Employed and Unemployed" %}selected{% endif %}> Employed or Unemployed</option>
      </select>
    </div>
    <div class="govuk-form-group">
    <label class="govuk-label" for="sort">
      Showing people whose workplace assessment risk is:
    </label>
    <select class="govuk-select" id="show2" name="show-grouping"">
      <option value="Any" {% if data.allocateRisk=="Any" %}selected{% endif %}>Any risk level</option>
      <option value="Low"  {% if data.allocateRisk=="Low" %}selected{% endif %}>Low</option>
      <option value="Medium" {% if data.allocateRisk=="Medium" %}selected{% endif %}>Medium</option>
      <option value="High" {% if data.allocateRisk=="High" %}selected{% endif %}>High</option>
    </select>
    </div>
    <div class="govuk-form-group">
    <label class="govuk-label" for="sort">
      Showing people who have the following incentive level:
    </label>
    <select class="govuk-select" id="show3" name="show-grouping"">
      <option value="Any" {% if data.allocateIncentive=="Any" %}selected{% endif %}>Any incentive level</option>
      <option value="Basic"  {% if data.allocateIncentive=="Education" %}selected{% endif %}>Basic </option>
      <option value="Standard" {% if data.allocateIncentive=="Industries" %}selected{% endif %}>Standard</option>
      <option value="Enhanced" {% if data.allocateIncentive=="Prison" %}selected{% endif %}>Enhanced</option>
    </select>
    </div>
  </div>

  <div class="govuk-grid-column-one-half" >
    <div style="padding-left:150px;">
      <h2 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label" for="event-name">
          Search by name or prison number:
        </label>
      </h2>
      <input class="govuk-input govuk-!-width-two-thirds" id="event-name" name="event-name" type="text" >
      <button class="govuk-button" data-module="govuk-button" style="margin-left:-4px;">
      Search
      </button>
    </div>
  </div>
</div>


  <table class="govuk-table" data-module="moj-sortable-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
      <!--  <th scope="col" class="govuk-table__header" aria-sort="ascending">Candidate details</th>
        <th scope="col" class="govuk-table__header" aria-sort="none" style="width:28%">Non-associations on this activity</th>
        <th scope="col" class="govuk-table__header" aria-sort="none" >Security category</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Earliest release date</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Qualifications</th>-->

        <th scope="col" class="govuk-table__header">Candidate details</th>
        <th scope="col" class="govuk-table__header" style="width:28%">Non-associations on this activity</th>
        <th scope="col" class="govuk-table__header">Security category</th>
        <th scope="col" class="govuk-table__header">Earliest release date</th>
        <th scope="col" class="govuk-table__header">Qualifications</th>

      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">

        <td data-sort-value="Neil" class="govuk-table__cell">
          <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
              <label class="govuk-label govuk-radios__label" for="changed-name">
              <strong><a href="#">Neil Rudge</a></strong><br />
              AA4309K<br />
              1-3-003
              </label>
            </div>
          </div>
      </td>
      <td class="govuk-table__cell" data-sort-value="0">None</td>
      <td class="govuk-table__cell" data-sort-value="A" style="padding-left:20px;">A (Provisional)</td>
        <td class="govuk-table__cell" data-sort-value="20240709">9 July 2024</td>
        <td class="govuk-table__cell" data-sort-value="Maths level 2">Maths level 2</td>
      </tr>
      <tr class="govuk-table__row">
        <td data-sort-value="Ivor" class="govuk-table__cell">
          <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
              <label class="govuk-label govuk-radios__label" for="changed-name">
              <strong><a href="#">Ivor Norisk</a></strong><br />
              BA3219B<br />
              2-3-022
            </label>
          </div>
        </div>
      </td>
      <td class="govuk-table__cell" data-sort-value="1">Armit Singh, <span style="font-size:.85em;">FG9121R</span></td>
      <td class="govuk-table__cell" data-sort-value="B" style="padding-left:20px;">B</td>
        <td class="govuk-table__cell" data-sort-value="20230122">22 Jan 2023</td>
        <td class="govuk-table__cell" data-sort-value="Maths level 2">Maths level 2</td>
      </tr>
      <tr class="govuk-table__row">
        <td data-sort-value="Lee" class="govuk-table__cell">
          <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
              <label class="govuk-label govuk-radios__label" for="changed-name">
              <strong><a href="#">Lee Milson</a></strong><br />
              CV1291A<br />
              1-1-021
              </label>
            </div>
          </div>
      </td>
      <td class="govuk-table__cell" data-sort-value="3">Lance Arm, <span style="font-size:.85em;">AB4309H</span> <br />Lewis Holme, <span style="font-size:.85em;">LG1291A</span><br />Harry Christmas, <span style="font-size:.85em;">MK8892P</span></td>
      <td class="govuk-table__cell" data-sort-value="A" style="padding-left:20px;">A</td>
        <td class="govuk-table__cell" data-sort-value="20230202">2 Mar 2023</td>
        <td class="govuk-table__cell" data-sort-value="Maths level 2">English entry level 1<br />Maths level 2</td>
      </tr>
      <tr class="govuk-table__row">
        <td data-sort-value="Lionel" class="govuk-table__cell">
          <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
              <label class="govuk-label govuk-radios__label" for="changed-name">
              <strong><a href="#">Lionel Messer</a></strong><br />
              NH7239A<br />
              1-1-021
            </label>
          </div>
        </td>
        <td class="govuk-table__cell" data-sort-value="2">Armit Singh, <span style="font-size:.85em;">FG9121R</span><br />Lewis Holme, <span style="font-size:.85em;">LG1291A</span></td>
        <td class="govuk-table__cell" data-sort-value="Unsentenced" style="padding-left:20px;">Unsentenced</td>
        <td class="govuk-table__cell" data-sort-value="20250216">16 Feb 2025</td>
        <td class="govuk-table__cell" data-sort-value="Maths level 2">Maths level 2</td>
      </tr>
      <tr class="govuk-table__row">
        <td data-sort-value="Lionel" class="govuk-table__cell">
          <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
              <label class="govuk-label govuk-radios__label" for="changed-name">
              <strong><a href="#">Noff Rens</a></strong><br />
              BN7622L<br />
              2-1-021
            </label>
          </div>
        </td>
        <td class="govuk-table__cell" data-sort-value="2">More than 5<br /> <a href="#">See full list</a></td>
        <td class="govuk-table__cell" data-sort-value="Unsentenced" style="padding-left:20px;">Unsentenced</td>
        <td class="govuk-table__cell" data-sort-value="20250216">4 Dec 2026</td>
        <td class="govuk-table__cell" data-sort-value="Maths level 2">Maths level 2</td>
      </tr>
    </tbody>
  </table>


<!--Pagination-->
<nav class="moj-pagination" aria-label="Pagination navigation">

  <ul class="moj-pagination__list">
    <li class="moj-pagination__item  moj-pagination__item--prev">
      <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> page</span></a>
    </li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=1" aria--current"Page 1 of 30">1</a></li>

    <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 2 of 30" aria-label="page">2</li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=3" aria-label="Page 3 of 30">3</a></li>

    <li class="moj-pagination__item moj-pagination__item--dots">…</li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=5" aria-label="Page 5 of 30">5</a></li>

    <li class="moj-pagination__item  moj-pagination__item--next">
      <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> page</span></a>
    </li>
  </ul>
  <p class="moj-pagination__results">Showing <b>0</b> to <b>5</b> of <b>20</b> results</p>
</nav>
<br /><br />


  <button class="govuk-button" data-module="govuk-button">
  Select Candidate
  </button>
</div>
</div>
</div>
</div>
{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/jquery.modal.js"></script>
<script type="text/javascript" src="/public/javascripts/dropdown-checkboxes.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('a[data-modal]').on('click', function(event) {
			event.preventDefault();
			this.blur();
			$.get(this.href, function(html) {
				$(html).appendTo('body').modal({
					showClose: false,
					clickClose: false
				});
			});
		});

		$('#show').on('change', function() {
			window.location = 'activity-dashboard-new#allocate?allocateEmployed=' + $(this).val()
		})
    $('#show2').on('change', function() {
			window.location = 'activity-dashboard-new#allocate?allocateRisk=' + $(this).val()
		})
    $('#show3').on('change', function() {
			window.location = 'activity-dashboard-new#allocate?allocateIncentive=' + $(this).val()
		})
	})
</script>
{% endblock %}
{% endblock %}
