ga{% extends "layout.html" %}


{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      You're allocating to {{data.activityAllocateName or 'Wing cleaning 1'}}
    </h1>
  </div>
<div class="govuk-grid-column-three-third">
<div class="govuk-tabs" data-module="govuk-tabs">
<h2 class="govuk-tabs__title">
  Contents
</h2>
<ul class="govuk-tabs__list">
  <li class="govuk-tabs__list-item">
    <a class="govuk-tabs__tab" href="#allocated">
      Currently allocated
    </a>
  </li>
  <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
    <a class="govuk-tabs__tab" href="#allocate">
      Candidates
    </a>
  </li>
</ul>





<!--allocated-->
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="allocated">
  <h2 class="govuk-heading-m">People allocated now  <strong class="govuk-tag govuk-tag--yellow">
    <span style="text-transform:lowercase; ">4 people allocated out of a possible 5</span>
  </strong></h2><p>Review the list of people currently allocated to identify any non-associations or other risks. You can also remove someone from the activity by selecting their name.</p>



<form method="post" action="AllocateRemove">
<table class="govuk-table" data-module="moj-sortable-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">

        <th scope="col" class="govuk-table__header" style="width:30%;" aria-sort="ascending">Name</th>
        <th scope="col" class="govuk-table__header" style="width:15%;" aria-sort="none">Prison number</th>
        <th scope="col" class="govuk-table__header" style="width:15%;" aria-sort="none">Location</th>
        <th scope="col" class="govuk-table__header" style="width:20%;" aria-sort="none">Allocation</th>
        <th scope="col" class="govuk-table__header" style="width:35%;" aria-sort="none">Earliest release date</th>

      </tr>
    </thead>
    <tbody class="govuk-table__body">
{% if (data.LanceArm != 'NotAllocated')%}
      <tr class="govuk-table__row">
        <td data-sort-value="Lance">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="RemoveOffenderName" type="checkbox" value="Lance Arm">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
              Lance Arm
            </label>
          </div>
      </td>
      <td class="" data-sort-value="A4309JH">A4309JH</td>
      <td class="" data-sort-value="13003">1-3-003</td>
      <td class="" data-sort-value="Wing">Wing cleaning</td>
      <td class="" data-sort-value="20230923">23 Sept 2023</td>
    </tr>
    <tr>
    <td  colspan="7" class="govuk-table__cell" data-sort-value="Lance">
      <details class="hods-expandable-banner">
    <summary class="hods-expandable-banner__summary" style="color:#00008B">
      show more profile information
    </summary>
    <div class="hods-expandable-banner__text" style="background-color:#F2F1F0; padding:5px 0 0 15px;">


      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">

          </dt>
          <dd class="govuk-summary-list__value">
          <strong>Prisoner details</strong>
          </dd>
          <dd class="govuk-summary-list__value">
            <strong>Activity requirements</strong>
          </dd>
          <dd class="govuk-summary-list__value">
            <strong>Mismatch</strong>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Security category
          </dt>
          <dd class="govuk-summary-list__value">
            A
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Incentive level
          </dt>
          <dd class="govuk-summary-list__value">
            Basic
          </dd>
          <dd class="govuk-summary-list__value">
            Standard
          </dd>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--orange">M<span style="text-transform:lowercase;">ismatch</span> </strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Educational qualifications
          </dt>
          <dd class="govuk-summary-list__value">
            Maths level 1
          </dd>
          <dd class="govuk-summary-list__value">
            None set
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Technical qualifications
          </dt>
          <dd class="govuk-summary-list__value">
            Maintenance foundation skills
          </dd>
          <dd class="govuk-summary-list__value">
            None set
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Learning pathways
          </dt>
          <dd class="govuk-summary-list__value">
            Maintenance
          </dd>
          <dd class="govuk-summary-list__value">
            Cleaning
          </dd>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--orange">M<span style="text-transform:lowercase;">ismatch</span> </strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Alerts
          </dt>
          <dd class="govuk-summary-list__value">
            Racist,<br />
            Arsonist<br />
          </dd>
          <dd class="govuk-summary-list__value">
            None set
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Learning difficulties, <br />disabilities and health
          </dt>
          <dd class="govuk-summary-list__value">
            Asthma,<br />
            Dyslexia
          </dd>
          <dd class="govuk-summary-list__value">
            None set
          </dd>
        </div>
      </dl>
    </div>
  </details>
  </td>
  <td class="govuk-table__cell" data-sort-value="A4309JH"></td>
  <td class="govuk-table__cell" data-sort-value="13003"></td>
  <td class="govuk-table__cell" data-sort-value="Wing"></td>
  <td class="govuk-table__cell" data-sort-value="20230923"></td>



  </tr>
{% endif %}
      <tr class="govuk-table__row">
        <td data-sort-value="Armit">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation" name="RemoveOffenderName" type="checkbox" value=" Armit Singh">
                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                Armit Singh
                </label>
              </div>
            </td>
            <td class="" data-sort-value="A9121TR">A9121TR</td>
            <td class="" data-sort-value="23022">2-3-022</td>
            <td class="" data-sort-value="Maths level 2">Maths level 2<br />Wing cleaning</td>
            <td class="" data-sort-value="20230102">2 Jan 2023</td>
            </tr>
    <tr>
      <td colspan="7" class="govuk-table__cell" data-sort-value="Armit">
        <details class="hods-expandable-banner">
      <summary class="hods-expandable-banner__summary" style="color:#00008B">
        show more profile information
      </summary>
      <div class="hods-expandable-banner__text" style="background-color:#F2F1F0; padding:5px 0 0 15px;">
    <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            </dt>
            <dd class="govuk-summary-list__value">
            <strong>Prisoner details</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              <strong>Activity requirements</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              <strong>Mismatch</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Security category
            </dt>
            <dd class="govuk-summary-list__value">
              A
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Incentive level
            </dt>
            <dd class="govuk-summary-list__value">
              Basic
            </dd>
            <dd class="govuk-summary-list__value">
              Standard
            </dd>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--orange">M<span style="text-transform:lowercase;">ismatch</span> </strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Educational qualifications
            </dt>
            <dd class="govuk-summary-list__value">
              Maths level 1
            </dd>
            <dd class="govuk-summary-list__value">
              None set
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Technical qualifications
            </dt>
            <dd class="govuk-summary-list__value">
              Maintenance foundation skills
            </dd>
            <dd class="govuk-summary-list__value">
              None set
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Learning pathways
            </dt>
            <dd class="govuk-summary-list__value">
              Maintenance
            </dd>
            <dd class="govuk-summary-list__value">
              Maintenance
            </dd>
            <dd class="govuk-summary-list__value">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Alerts
            </dt>
            <dd class="govuk-summary-list__value">
              None set
            </dd>
            <dd class="govuk-summary-list__value">
              None set
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Learning difficulties, <br />disabilities and health
            </dt>
            <dd class="govuk-summary-list__value">
            None set
            </dd>
            <dd class="govuk-summary-list__value">
              None set
            </dd>
          </div>
        </dl>

      </div>
    </details>
    </td>
    <td class="" data-sort-value="A9121TR"></td>
    <td class="" data-sort-value="23022"></td>
    <td class="" data-sort-value="Maths level 2"></td>
    <td class="" data-sort-value="20230102"></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          </td>
            <tr class="govuk-table__row">
          <td class="" data-sort-value="Lewis">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="RemoveOffenderName" type="checkbox" value=" Lewis Holme">
              <label class="govuk-label govuk-checkboxes__label" for="organisation">
                Lewis Holme
              </label>
            </div>
          </td>
          <td class="" data-sort-value="A1291QA">A1291QA</td>
          <td class="" data-sort-value="11021">1-1-021</td>
          <td class="" data-sort-value="Breakfast">Breakfast packs<br />Wing cleaning</td>
          <td class="" data-sort-value="20230923">23 Sept 2023</td>
          </tr>
              <tr>
                <td colspan="7"  class="govuk-table__cell" data-sort-value="Lewis">
                  <details class="hods-expandable-banner">
                <summary class="hods-expandable-banner__summary" style="color:#00008B">
                  show more profile information
                </summary>
                <div class="hods-expandable-banner__text" style="background-color:#F2F1F0; padding:5px 0 0 15px;">
              <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                      </dt>
                      <dd class="govuk-summary-list__value">
                      <strong>Prisoner details</strong>
                      </dd>
                      <dd class="govuk-summary-list__value">
                        <strong>Activity requirements</strong>
                      </dd>
                      <dd class="govuk-summary-list__value">
                        <strong>Mismatch</strong>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Security category
                      </dt>
                      <dd class="govuk-summary-list__value">
                        A
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Incentive level
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Standard
                      </dd>
                      <dd class="govuk-summary-list__value">
                        Standard
                      </dd>
                      <dd class="govuk-summary-list__value">
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Educational qualifications
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Maths level 1
                      </dd>
                      <dd class="govuk-summary-list__value">
                        None set
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Technical qualifications
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Maintenance foundation skills
                      </dd>
                      <dd class="govuk-summary-list__value">
                        None set
                      </dd>

                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                      Learning pathways
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Maintenance
                      </dd>
                      <dd class="govuk-summary-list__value">
                        Maintenance
                      </dd>
                      <dd class="govuk-summary-list__value">
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Alerts
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Violent
                      </dd>
                      <dd class="govuk-summary-list__value">
                        None set
                      </dd>
                      <dd class="govuk-summary-list__value">
                        <strong class="govuk-tag govuk-tag--orange">M<span style="text-transform:lowercase;">ismatch</span> </strong>
                      </dd>

                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Learning difficulties, <br />disabilities and health
                      </dt>
                      <dd class="govuk-summary-list__value">
                      None set
                      </dd>
                      <dd class="govuk-summary-list__value">
                        None set
                      </dd>
                    </div>
                  </dl>

                </div>
              </details>
              </td>
              <td class="" data-sort-value="A1291QA"></td>
              <td class="" data-sort-value="11021"></td>
              <td class="" data-sort-value="Breakfast"></td>
              <td class="" data-sort-value="20230923"></td>
              </tr>

      <tr class="govuk-table__row">
        <td class="" data-sort-value="Harry">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation" name="RemoveOffenderName" type="checkbox" value=" Lewis Holme">
                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                  Harry Christmas
                </label>
              </div>
            </td>
            <td class="" data-sort-value="A88992PP">A88992PP</td>
            <td class="" data-sort-value="12021">1-2-021</td>
            <td class="" data-sort-value="Brekafast P">Breakfast packs</td>
            <td class="" data-sort-value="20230703">3 July 2023</td>
            </tr>

    <tr>
      <td colspan="7"  class="govuk-table__cell" data-sort-value="Harry">
        <details class="hods-expandable-banner">
      <summary class="hods-expandable-banner__summary" style="color:#00008B">
        show more profile information
      </summary>
      <div class="hods-expandable-banner__text" style="background-color:#F2F1F0; padding:5px 0 0 15px;">
    <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            </dt>
            <dd class="govuk-summary-list__value">
            <strong>Prisoner details</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              <strong>Activity requirements</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              <strong>Mismatch</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Security category
            </dt>
            <dd class="govuk-summary-list__value">
              B
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Incentive level
            </dt>
            <dd class="govuk-summary-list__value">
              Enhanced
            </dd>
            <dd class="govuk-summary-list__value">
              Standard
            </dd>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--orange">M<span style="text-transform:lowercase;">ismatch</span> </strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Educational qualifications
            </dt>
            <dd class="govuk-summary-list__value">
              Maths level 1
            </dd>
            <dd class="govuk-summary-list__value">
              None set
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Technical qualifications
            </dt>
            <dd class="govuk-summary-list__value">
              Maintenance foundation skills
            </dd>
            <dd class="govuk-summary-list__value">
              None set
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Learning pathways
            </dt>
            <dd class="govuk-summary-list__value">
              Maintenance
            </dd>
            <dd class="govuk-summary-list__value">
              Maintenance
            </dd>
            <dd class="govuk-summary-list__value">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Alerts
            </dt>
            <dd class="govuk-summary-list__value">
              Violent
            </dd>
            <dd class="govuk-summary-list__value">
              None set
            </dd>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--orange">M<span style="text-transform:lowercase;">ismatch</span> </strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Learning difficulties, <br />disabilities and health
            </dt>
            <dd class="govuk-summary-list__value">
            Breathing difficulties
            </dd>
            <dd class="govuk-summary-list__value">
              None set
            </dd>
          </div>
        </dl>
      </div>
    </details>
    </td>
    <td class="" data-sort-value="A88992PP"></td>
    <td class="" data-sort-value="12021"></td>
    <td class="" data-sort-value="Brekafast P"></td>
    <td class="" data-sort-value="20230703"></td>
    </tr>
    </<tbody>
    </table>
  <button class="govuk-button" data-module="govuk-button">
  Remove from this activity
  </button>
  <input type="hidden" name="activityAllocateName" value="Wing cleaning 1" />
</form>
</div>











<!--allocate new people-->
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="allocate">
    <p>Your candidate list has been filtered to show people who match all the requirments for this activity.
      Use the filters to expand or reduce the list. You can also search for someone you want to allocate.</p>

<div class="govuk-grid-row" style="background-color:#f1f1f1; padding-top:20px;">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-form-group">
      <label class="govuk-label" for="sort">
        Showing people who are:
      </label>
      <select class="govuk-select" id="show" name="show-grouping">
        <option value="Unemployed" {% if data.allocateEmployed=="Unemployed" %}selected{% endif %}>Unemployed</option>
        <option value="Employed" {% if data.allocateEmployed=="Employed" %}selected{% endif %}>Employed</option>
        <option value="Employed and Unemployed" {% if data.allocateEmployed=="Employed and Unemployed" %}selected{% endif %}>Either Employed or Unemployed</option>
      </select>
    </div>
    <div class="govuk-form-group">
    <label class="govuk-label" for="sort">
      Showing people whose workplace assessment risk is:
    </label>
    <select class="govuk-select" id="show2" name="show-grouping"">
      <option value="Any" {% if data.allocateRisk=="Any" %}selected{% endif %}>Any risk level</option>
      <option value="Low"  {% if data.allocateRisk=="Low" %}selected{% endif %}>Low</option>
      <option value="Medium" {% if data.allocateRisk=="Medium" %}selected{% endif %}>Medium</option>
      <option value="High" {% if data.allocateRisk=="High" %}selected{% endif %}>High</option>
    </select>
    </div>
    <div class="govuk-form-group">
    <label class="govuk-label" for="sort">
      Showing people who have the following incentive level:
    </label>
    <select class="govuk-select" id="show3" name="show-grouping"">
      <option value="Any" {% if data.allocateIncentive=="Any" %}selected{% endif %}>Any incentive level</option>
      <option value="Education"  {% if data.allocateIncentive=="Education" %}selected{% endif %}>Basic </option>
      <option value="Industries" {% if data.allocateIncentive=="Industries" %}selected{% endif %}>Standard</option>
      <option value="Prison" {% if data.allocateIncentive=="Prison" %}selected{% endif %}>Enhanced</option>
    </select>
    </div>
  </div>

  <div class="govuk-grid-column-one-half" >
    <div style="padding-left:150px;">
      <h2 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label" for="event-name">
          Search by name or prison number:
        </label>
      </h2>
      <input class="govuk-input govuk-!-width-two-thirds" id="event-name" name="event-name" type="text" >
      <button class="govuk-button" data-module="govuk-button" style="margin-left:-4px;">
      Search
      </button>
    </div>
  </div>
</div>


  <table class="govuk-table" data-module="moj-sortable-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" aria-sort="ascending">Prisoner details</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Earliest release date</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Security category</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Non-associations</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Qualifications</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row"">
        <td data-sort-value="Neil">
          <h3 style="margin-bottom:0;"><a href="activity-dashboard-5-1?activityAllocateName=Wing cleaning 1&offenderAllocate=Neil Rudge&returnDashboard=activity-dashboard-4-1&offenderIDAllocate=A9121FA">Neil Rudge</a></h3>
          A4309SK<br />
          1-3-003
        </td>
        <td class="" data-sort-value="20240709">9 July 2024</td>
        <td class="" data-sort-value="A">A</td>
        <td class="" data-sort-value="0">None</td>
        <td class="" data-sort-value="Maths Entry level 1">Maths Entry level 1</td>
      </tr>
      <tr class="govuk-table__row">
        <td data-sort-value="Ivor">
          <h3 style="margin-bottom:0;"><a href="activity-dashboard-5-1?activityAllocateName=Wing cleaning 1&offenderAllocate=Ivor Norisk&returnDashboard=activity-dashboard-4-1&offenderIDAllocate=A32198B">Ivor Norisk</a></h3>
          A32198B<br />
          2-3-022
        </td>
        <td class="" data-sort-value="20230122">22 Jan 2023</td>
        <td class="" data-sort-value="B">B</td>
        <td class="" data-sort-value="1">Armit Singh</td>
        <td class="" data-sort-value="Maths Entry level 1">Maths Entry level 1</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="" data-sort-value="Eric">
          <h3 style="margin-bottom:0;"><a href="activity-dashboard-5-1?activityAllocateName=Wing cleaning 1&offenderAllocate=Eric Sykes&returnDashboard=activity-dashboard-4-1&offenderIDAllocate=A1291AZ">Eric Sykes</a></h3>
            A1291AZ<br />
            1-1-021
        </td>
        <td class="" data-sort-value="20230202">2 Mar 2023</td>
        <td class="" data-sort-value="A">A</td>
        <td class="" data-sort-value="3">Lance Arm<br />Lewis Holme<br />Harry Christmas</td>
        <td class="" data-sort-value="Maths Entry level 1">English Entry level 1<br />Foundation Maths</td>
      </tr>
      <tr class="govuk-table__row">
        <td data-sort-value="Lionel">
          <h3 style="margin-bottom:0;"><a href="activity-dashboard-5-1?activityAllocateName=Wing cleaning 1&offenderAllocate=Lionel Messer&returnDashboard=activity-dashboard-4-1&offenderIDAllocate=A7716WS">Lionel Messer</a></h3>
          A7716WS<br />
          2-4-032
        </td>
        <td class="" data-sort-value="20250216">16 Feb 2025</td>
        <td class="" data-sort-value="B">B</td>
        <td class="" data-sort-value="2">Armit Singh<br />Lewis Holme</td>
        <td class="" data-sort-value="Maths Entry level 1">Maths Entry level 1</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
</div>
{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/jquery.modal.js"></script>
<script type="text/javascript" src="/public/javascripts/dropdown-checkboxes.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('a[data-modal]').on('click', function(event) {
			event.preventDefault();
			this.blur();
			$.get(this.href, function(html) {
				$(html).appendTo('body').modal({
					showClose: false,
					clickClose: false
				});
			});
		});

		$('#show').on('change', function() {
			window.location = 'activity-dashboard-new#allocate?allocateEmployed=' + $(this).val()
		})
    $('#show2').on('change', function() {
			window.location = 'activity-dashboard-new#allocate?allocateRisk=' + $(this).val()
		})
    $('#show3').on('change', function() {
			window.location = 'activity-dashboard-new#allocate?allocateIncentive=' + $(this).val()
		})
	})
</script>
{% endblock %}
{% endblock %}
