
{% extends "layout_hmpps-no-nav.html" %}
{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      <span class="govuk-caption-l">Schedule an appointment</span>
      Review schedules on [date]
    </h1> 
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form method="post" >


      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m"></caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Morning</th>
            <th scope="col" class="govuk-table__header">Afternoon</th>
            <th scope="col" class="govuk-table__header">Evening</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row"> 
            <td class="govuk-table__cell" data-sort-value="Maths level 1">
              <a href="#" class="govuk-link--no-visited-state"><b>Neil Rudge</b></a><br>
              <span class="govuk-hint govuk-!-font-size-16">G2044E</span>
                </div>
              </div>
           </td>
            <td class="govuk-table__cell">
              <ul class="appointment-event">
                <li>
                  <b>Kitchen</b>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 8:00 to 12:00
                    </li>
                   
                    <li class="nobox">
                      <b>Created by:</b> Tom Kerridge
                    </li>
                  </ul>
                </li>
              </ul>
            </td>
            <td class="govuk-table__cell">
              <ul class="appointment-event">
                <li>
                  <b>Drugs misuse programme</b>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 13:00 to 16:30
                    </li>
                  
                    <li class="nobox">
                      <b>Created by:</b> Bill Jones
                    </li> 
                  </ul>
                  </li>
              </ul>
            
            </td>
            <td class="govuk-table__cell">
              Nothing scheduled
            </td>
          </tr>
          <tr class="govuk-table__row"> 
            <td class="govuk-table__cell" data-sort-value="Maths level 1">
              <a href="#" class="govuk-link--no-visited-state"><b>Bert Hungerford</b></a><br>
              <span class="govuk-hint govuk-!-font-size-16">C2598E</span>
                </div>
              </div>
           </td>
            <td class="govuk-table__cell">
              <ul class="appointment-event">
                <li>
                  <b>Chaplaincy</b>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 9:00 to 10:00
                    </li>
                   
                    <li class="nobox">
                      <b>Created by:</b> James Mckechnie
                    </li>
                  </ul>
                </li>
              </ul>
            </td>
            <td class="govuk-table__cell">
              <ul class="appointment-event">
                <li>
                  <b>Workshop</b>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 12:00 to 16:00
                    </li>
                  
                    <li class="nobox">
                      <b>Created by:</b> Bill Jones
                    </li> 
                  </ul>
                  </li>
                  <li>
                  <b>Family visit</b>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">

                    <li class="nobox">
                      <b>Time:</b> 14:00 to 15:00
                    </li>
                   
                    <li class="nobox">
                      <b>Created by:</b> Nina Simone
                    </li> 
                  </ul>
                </li>
              </ul>
            
            </td>
            <td class="govuk-table__cell">
              Nothing scheduled
            </td>
          </tr>

          <tr class="govuk-table__row"> 
            <td class="govuk-table__cell" data-sort-value="Maths level 1">
              <a href="#" class="govuk-link--no-visited-state"><b>Matthew Doyle</b></a><br>
              <span class="govuk-hint govuk-!-font-size-16">E4911C</span>
                </div>
              </div>
           </td> 
              <td class="govuk-table__cell">
                <ul class="appointment-event">
                  <li>
                    <b>English Level 2</b>
                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                      <li class="nobox">
                        <b>Time:</b> 11:00 to 12:00
                      </li>
                     
                      <li class="nobox">
                        <b>Created by:</b> James Mckechnie
                      </li>
                    </ul>
              </td>
            </td>
            <td class="govuk-table__cell">
              <ul class="appointment-event">
                <li>
                  <b>Gym - Weights</b>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 14:00 to 15:00
                    </li>
                   
                    <li class="nobox">
                      <b>Created by:</b> James Mckechnie
                    </li>
                  </ul>
                </li><li>
                  <b>Case - Legal Aid</b>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 15:30 to 16:30
                    </li>
                    <li class="nobox">
                      <b>Created by:</b> James Mckechnie
                    </li>
                  </ul>
                </li>
              </ul>
            
            </td>
            <td class="govuk-table__cell">
              Nothing scheduled
            </td>
          </tr>
          <tr class="govuk-table__row"> 
            <td class="govuk-table__cell" data-sort-value="Maths level 1">
              <a href="#" class="govuk-link--no-visited-state"><b>Ryan Gee</b></a><br>
              <span class="govuk-hint govuk-!-font-size-16">F5132C</span>
                </div>
              </div>
           </td>
            <td class="govuk-table__cell">
              <ul class="appointment-event">
                <li>
                  <b>Chaplaincy</b>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 9:00 to 10:00
                    </li>
                   
                    <li class="nobox">
                      <b>Created by:</b> James Mckechnie
                    </li>
                  </ul>
                </li>
                <li>
                  <b>Maths Level 1</b>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 11:00 to 12:00
                    </li>
                   
                    <li class="nobox">
                      <b>Created by:</b> James Mckechnie
                    </li>
                  </ul>
            </td>
            <td class="govuk-table__cell"> 
              Nothing scheduled
            </td>
            <td class="govuk-table__cell">
              Nothing scheduled 
            </td>
          </tr>
        </tr>
        <tr class="govuk-table__row"> 
          <td class="govuk-table__cell" data-sort-value="Maths level 1">
            <a href="#" class="govuk-link--no-visited-state"><b>Robin Bab</b></a><br>
            <span class="govuk-hint govuk-!-font-size-16">F4933A</span>
              </div>
            </div>
         </td>
          <td class="govuk-table__cell">
            Nothing scheduled
          </td>
          <td class="govuk-table__cell">
            Nothing scheduled
          </td>
          <td class="govuk-table__cell">
            <ul class="appointment-event">
              <li>
                <b>Chaplaincy - Mass</b>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                  <li class="nobox">
                    <b>Time:</b> 18:00 to 19:00
                  </li>
                 
                  <li class="nobox">
                    <b>Created by:</b> James Mckechnie
                  </li>
                </ul>
              </li>
                </ul>
          </td>
        </tr>
      </tr>
        </tbody>
      </table>


<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue",
    attributes: {
      "formaction": "comments",
      "formmethod": "get"
      }
  }) }}
</div>

  </form>

</div>
</div>
</div>


{% endblock %}
