{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}

{% set prisonersNoun %}
{% if filteredPrisoners.length > 1 %}
{{filteredPrisoners.length or "3"}} prisoners
{% else %}
{{filteredPrisoners[0].name.firstname}} {{filteredPrisoners[0].name.surname}}
{% endif %}
{% endset %}

{% block pageTitle %}
Add attendance details for {{prisonersNoun}}
{% endblock %}

{% block primaryNavigation %}
{% endblock %}
{% block beforeContent %}
{{govukBackLink({
	text: "Back",
	"href": "javascript: window.history.go(-1)"
})}}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">
			{% if data['attendance-action'] == 'not-attended' %}
			Select a reason why {{prisonersNoun}} did not attend
			{% else %}
			Add pay details for {{prisonersNoun}}
			{% endif %}
		</h1>

		{% if filteredPrisoners|length > 3 %}
		<div class="app-search">
			<form action="/applications" method="get" novalidate="" class="govuk-!-margin-bottom-8">
				<div class="govuk-form-group">
					<label class="govuk-label app-search__label govuk-label--m" for="keywords">
						Search by prisoner name
					</label>
					<input class="govuk-input app-search__input " id="keywords" name="keywords" type="search">
				</div>
				<button class="govuk-button app-search__button" data-module="govuk-button">
					Search
				</button>
			</form>
		</div>
		{% endif %}

		<form method="post">
			{% for prisoner in filteredPrisoners %}
			<div class="prisoner">
				{% if filteredPrisoners.length > 1 %}
				<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
				<h2 class="govuk-heading-m">
					{{prisoner.name.surname}}, {{prisoner.name.firstname}}
					<span class="govuk-caption-m">{{prisoner.id}}</span>
				</h2>
				{% endif %}

				<input type="hidden" name="attendance-details[{{prisoner.id}}][attendance]" value="{{data['attendance-action']}}">

				{% if data['attendance-action'] == 'attended' %}

				{% set bonusHtml %}
				{{ govukTextarea({
					name: "attendance-details[" + prisoner.id + "][bonus-detail]",
					id: "bonus-detail-" + prisoner.id,
					label: {
						text: "Provide a short explanation for your decision, this will be added to their case notes."
					}
				}) }}
				{% endset %}

				{% set noPayHtml %}
				{{ govukTextarea({
					name: "attendance-details[" + prisoner.id + "][no-pay-detail]",
					id: "bonus-detail-" + prisoner.id,
					label: {
						text: "Provide a short explanation for your decision, this will be added to their case notes."
					}
				}) }}
				{% endset %}

				{{ govukRadios({
					id: "pay-details-" + prisoner.id,
					name: "attendance-details[" + prisoner.id + "][pay]",
					fieldset: {
						legend: {
							text: "What should " + prisoner.name.firstname + " " + prisoner.name.surname + " be paid?"
						}
					},
					items: [
					{
						value: "standard",
						text: "Standard pay"
					},
					{
						value: "bonus",
						text: "Bonus pay",
						conditional: {
							html: bonusHtml
						}
					},
					{
						divider: "or"
					},
					{
						value: "none",
						text: "No payment",
						conditional: {
							html: noPayHtml
						}
					}
					]
				}) }}

				{% else %}

				{% set warningTextHtml %}
				{{ govukTextarea({
					name: "attendance-details[" + prisoner.id + "][incentive-level-warning-detail]",
					id: "incentive-level-warning-detail-" + prisoner.id,
					label: {
						text: "Incentive level warning detail"
					}
				}) }}
				{% endset %}

				{% set caseNoteTextHtml %}
				{{ govukTextarea({
					name: "attendance-details[" + prisoner.id + "][incentive-level-warning-detail]",
					id: "incentive-level-warning-detail-" + prisoner.id,
					label: {
						text: "Add a case note"
					}
				}) }}
				{% endset %}

				{% set unacceptableAbsenceHtml %}
				{{ govukRadios({
					id: "incentive-level-warning-" + prisoner.id,
					name: "attendance-details[" + prisoner.id + "][incentive-level-warning]",
					classes: "govuk-radios--small",
					fieldset: {
						legend: {
							text: "Do you want give " + prisoner.name.firstname + " " + prisoner.name.surname + " an incentive level warning?"
						}
					},
					items: [
					{
						value: "yes",
						text: "Yes",
						conditional: {
							html: warningTextHtml
						}

					},
					{
						value: "no",
						text: "No",
						conditional: {
							html: caseNoteTextHtml
						}
					}
					]
				}) }}
				{% endset %}

				{% set notListedHtml %}
				{{ govukInput({
					name: "more-detail",
					classes: "govuk-input--width-30",
					id: "more-detail",
					label: {
						text: "Add an absence reason"
					}
				}) }}
				{{ govukRadios({
					id: "not-listed-absence-type",
					name: "not-listed-absence-type",
					classes: "govuk-radios--small govuk-radios--inline",
					fieldset: {
						legend: {
							text: "Was this an acceptable absence and should the prisoner be paid?"
						}
					},
					items: [
					{
						value: "yes",
						text: "Yes"

					},
					{
						value: "no",
						text: "No"
					}
					]
				}) }}
				{% endset %}

				{% set refusedHtml %}
				{{ govukWarningText({
					text: prisoner.name.firstname + " " + prisoner.name.surname + " won't be paid because this is an unacceptable absence.",
					iconFallbackText: "Warning"
				}) }}
				{{ govukTextarea({
					name: "more-detail",
					id: "more-detail",
					label: {
						text: "Add a case note"
					}
				}) }}
				{{ govukRadios({
					id: "not-listed-absence-type",
					name: "not-listed-absence-type",
					classes: "govuk-radios--small govuk-radios--inline",
					fieldset: {
						legend: {
							text: "Should this be recorded as an Incentive level warning?"
						}
					},
					items: [
					{
						value: "yes",
						text: "Yes"

					},
					{
						value: "no",
						text: "No"
					}
					]
				}) }}
				{% endset %}

				{% set sickHtml %}
				{{ govukRadios({
					id: "pay-prisoner--sick",
					name: "pay-prisoner--sick",
					classes: "govuk-radios--small govuk-radios--inline",
					fieldset: {
						legend: {
							text: "Should the prisoner be paid?"
						}
					},
					items: [
					{
						value: "yes",
						text: "Yes"

					},
					{
						value: "no",
						text: "No"
					}
					]
				}) }}
				<!-- {{ govukTextarea({
					name: "more-detail",
					id: "more-detail",
					label: {
						text: "Can you provide more detail?"
					}
				}) }} -->
				{% endset %}

				{% set notRequiredHtml %}
				<p>
					The prisoner will be paid and their attendance will be recorded as an acceptable absence.
				</p>
				<!-- {{ govukRadios({
					id: "acceptable-absence",
					name: "acceptable-absence",
					classes: "govuk-radios--small govuk-radios--inline",
					fieldset: {
						legend: {
							text: "Was this an acceptable absence and should the prisoner be paid?"
						}
					},
					items: [
					{
						value: "yes",
						text: "Yes"

					},
					{
						value: "no",
						text: "No"
					}
					]
				}) }} -->
				{% endset %}

				{% set restDayHtml %}
				{{ govukRadios({
					id: "acceptable-absence",
					name: "acceptable-absence",
					classes: "govuk-radios--small govuk-radios--inline",
					fieldset: {
						legend: {
							text: "Should the prisoner be paid?"
						}
					},
					items: [
					{
						value: "yes",
						text: "Yes"

					},
					{
						value: "no",
						text: "No"
					}
					]
				}) }}
				{% endset %}

				{% set elsewhereHtml %}
				{% set freeTextHtml %}
				{{ govukTextarea({
					name: "more-detail",
					id: "more-detail",
					label: {
						text: "Provide more detail"
					}
				}) }}
				{% endset %}
				<p>
					9:00&thinsp;&ndash;&thinsp;10:30 : Court video call
				</p>
				<!-- {{ govukWarningText({
					text: prisoner.name.firstname + " " + prisoner.name.surname + " won't be paid unless their attendance has been properly recorded.",
					iconFallbackText: "Warning"
				}) }} -->
				<p>
					The prisoner will be paid and their attendance will be recorded as an acceptable absence.
				</p>
				{% endset %}

				{% set unknownHtml %}
				{{ govukTextarea({
					name: "more-detail",
					id: "more-detail",
					label: {
						text: "Provide more detail (optional)"
					},
					rows: 3
				}) }}
				{{ govukWarningText({
					text: prisoner.name.firstname + " " + prisoner.name.surname + " won't be paid unless their attendance has been properly recorded.",
					iconFallbackText: "Warning"
				}) }}
				{% endset %}

				{{ govukRadios({
					id: "absence-reason-" + prisoner.id,
					name: "attendance-details[" + prisoner.id + "][absence-reason]",
					classes: "govuk-radios",
					fieldset: {
						legend: {
							text: "Why did " + prisoner.name.firstname + " " + prisoner.name.surname + " not attend?"
						}
					},
					items: [
					{
						value: "sick",
						text: "Sick",
						conditional: {
							html: sickHtml
						}
					},
					{
						value: "refused",
						text: "Refused to attend",
						conditional: {
							html: refusedHtml
						}
					},
					{
						value: "not-required",
						text: "Not required or excused",
						conditional: {
							html: notRequiredHtml
						}
					},
					{
						value: "rest-day",
						text: "Rest day",
						conditional: {
							html: restDayHtml
						}
					},
					{
						value: "clash",
						text: "Prisoner's schedule shows another activity",
						conditional: {
							html: elsewhereHtml
						}
					},
					{
						value: "other",
						text: "Other: absence reason not listed",
						conditional: {
							html: notListedHtml
						}
					}
					]
				}) }}
				{% endif %}
			</div>
			{% endfor %}

			<div class="govuk-button-group govuk-!-margin-top-5">
				{{govukButton({
					text: "Record attendance and finish"
				})}}
			</div>
		</form>
	</div>
</div>
{% endblock %}