{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}

{% block pageTitle %}
Attendance details for {{prisoner.name.firstname}} {{prisoner.name.surname}}
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block beforeContent %}
{{govukBackLink({
	text: "Back",
	"href": "javascript: window.history.go(-1)"
})}}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">
			Attendance record for {{prisoner.name.firstname}} {{prisoner.name.surname}}
		</h1>

		<div class="govuk-inset-text">
				<a href="../{{activity.id}}" class="govuk-link--no-visited-state">{{activity.name}}</a> on {{ date | convertShortDateToLongDate(date) }} ({{period}})
		</div>

		{% for record in attendanceData | reverse %}
		{% if loop.index == 1 %}
		<h2 class="govuk-heading-m">
			Recorded on {{record.timestamp.date|convertShortDateToLongDate(record.timestamp.date)}} at {{record.timestamp.time | truncate(5, true, "")}}
		</h2>
		{% else %}
		{% if loop.index == 2 %}
		<h1 class="govuk-heading-m govuk-!-margin-top-8">
			{{attendanceData|length - 1}} {{"changes have" if attendanceData|length > 2 else "change has"}} been made to this attendance record
		</h1>
		{% endif %}
		<h2 class="govuk-heading-s">
			Recorded on {{record.timestamp.date|convertShortDateToLongDate(record.timestamp.date)}} at {{record.timestamp.time | truncate(5, true, "")}}
		</h2>
		{% endif %}
		<dl class="govuk-summary-list">
			<!-- <div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Activity
				</dt>
				<dd class="govuk-summary-list__value">
					<p>
						<a href="../{{activity.id}}" class="govuk-link--no-visited-state">{{activity.name}}</a>
					</p>
					<p>
						{{ date | convertShortDateToLongDate(date) }} ({{period}})
					</p>
				</dd>
			</div> -->

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Attendance
				</dt>
				<dd class="govuk-summary-list__value">
					{% if record.attendance == "attended" %}
					Attended
					{% elif record.attendance == "not-attended" %}
					Absent - {{record.attendanceDetail}}
					{% endif %}
					<!-- <p class="govuk-hint">
						You can change the pay for this attendance record until 9 February 2023 at 11:36.
					</p> -->
				</dd>
				{% if loop.index == 1 %}
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link govuk-link--no-visited-state" href="{{prisoner.id}}/change-attendance">
						Change<span class="govuk-visually-hidden"> attendance</span>
					</a>
				</dd>
				{% endif %}
			</div>
			
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Pay
				</dt>
				<dd class="govuk-summary-list__value">
					{% if record.pay != null %}

					<p>
						{{ '£1.54' if record.pay == 'standard' else 'None' }}
					</p>

					{% if record.payReason != null %}
					<p>
						&ldquo;{{record.payReason}}&rdquo;
					</p>
					{% endif %}

					{% else %}

					{% if record.attendanceDetail == 'Sick' %}
					<p>
						£1.54
					</p>

					{% else %}

					<p>
						None
					</p>

					{% endif %}
					{% endif %}
				</dd>
				{% if loop.index == 1 %}
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link govuk-link--no-visited-state" href="{{prisoner.id}}/change-pay">
						Change<span class="govuk-visually-hidden"> pay</span>
					</a>
				</dd>
				{% endif %}
			</div>

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Recorded by
				</dt>
				<dd class="govuk-summary-list__value">
					Person Name
				</dd>
			</div>
		</dl>
		{% endfor %}

		<p>
			<a href="../../../../prisoner/{{prisoner.id}}">View the prisoner's profile</a>
		</p>
	</div>
</div>
{% endblock %}

{% block pageScripts %}
{% endblock %}