{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}
{% block pageTitle %}
Attendance dashboard
{% endblock %}
{% block primaryNavigation %}
{% endblock %}
{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{{ govukBreadcrumbs({
	classes: "govuk-!-display-none-print",
	items: [
	{
		text: "Digital Prison Services",
		href: "dps-home"
	},
	{
		text: "Manage prisoner unlock and attendance",
		href: "whereabouts"
	}
	]
}) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
			<span class="govuk-caption-l">
				{{date|today|convertShortDateToVeryLongDate}}
			</span>
			Attendance summary
		</h1>
	</div>
	<div class="govuk-grid-column-one-third">
		<p class="govuk-hint govuk-!-font-size-16" style="text-align: right;">
			Updated at {{time|timestamp}} on {{date|today|convertShortDateToLongDate}}
		</p>
	</div>
</div>

{% set dateHtml %}
{{ govukDateInput({
	id: "passport-issued",
	namePrefix: "passport-issued",
	fieldset: {
		legend: {
			text: "Date",
			isPageHeading: false,
			classes: "govuk-fieldset__legend--s"
		}
	},
	hint: {
		html: "For example, 27 1 2023.<br>The earliest date you can view is 27 January 2023."
	}
}) }}
{{govukButton({
	text: "Update results"
})}}
{% endset %}

{{ govukDetails({
	summaryText: "Choose a different date",
	html: dateHtml,
	classes: "govuk-!-margin-bottom-4"
}) }}


{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{{ mojSubNavigation({
	label: 'Sub navigation',
	items: [{
		text: 'Daily summary',
		href: '#',
		active: true
	}, {
		text: 'Morning',
		href: '#'
	}, {
		text: 'Afternoon',
		href: '#'
	}, {
		text: 'Evening',
		href: '#'
	}]
}) }}

{% macro dataCard(params) %}
<h3 class="govuk-body govuk-hint govuk-!-margin-bottom-0 {{params.titleClasses}}">{{ params.title }}</h3>
<span class="govuk-heading-xl govuk-!-margin-0 govuk-!-padding-0 {{params.countClasses}}">
	{{ params.count }}<span class="govuk-visually-hidden"> prisoners</span>
	{% if params.showPercentage == true %}<span class="govuk-visually-hidden">, which is </span> <span class="govuk-tag govuk-tag--grey govuk-!-display-inline-block" style="vertical-align: middle;">{{(params.count / 850 * 100) | round(1)}}%</span>
</span>
{% endif %}
{% if params.linkHref %}
<p class="govuk-!-margin-bottom-0">
	<a href="{{params.linkHref}}?page-title={{'All ' + (params.title | lower)}}&count={{params.count}}" class="govuk-!-font-weight-bold govuk-link--no-visited-state govuk-!-font-size-16">{{ params.linkText or "All " + (params.title | lower) }}</a>
</p>
{% endif %}
{% endmacro %}

{% set totalMorningAbsences =
data['attendance-data-1']['absences']['morning']["sick"] +
data['attendance-data-1']['absences']['morning']["refused"] +
data['attendance-data-1']['absences']['morning']["notRequired"] +
data['attendance-data-1']['absences']['morning']["restDay"] +
data['attendance-data-1']['absences']['morning']["elsewhere"] +
data['attendance-data-1']['absences']['morning']["other"] +
data['attendance-data-1']['absences']['morning']["unknown"]
%}

{% set totalAfternoonAbsences =
data['attendance-data-1']['absences']['afternoon']["sick"] +
data['attendance-data-1']['absences']['afternoon']["refused"] +
data['attendance-data-1']['absences']['afternoon']["notRequired"] +
data['attendance-data-1']['absences']['afternoon']["restDay"] +
data['attendance-data-1']['absences']['afternoon']["elsewhere"] +
data['attendance-data-1']['absences']['afternoon']["other"] +
data['attendance-data-1']['absences']['afternoon']["unknown"]
%}

{% set totalDailyAbsences = totalMorningAbsences + totalAfternoonAbsences %}
{% set period = "Daily" %}
{% set totalAbsences =
data['attendance-data-1'][period|lower]['absences']["sick"] +
data['attendance-data-1'][period|lower]['absences']["refused"] +
data['attendance-data-1'][period|lower]['absences']["notRequired"] +
data['attendance-data-1'][period|lower]['absences']["restDay"] +
data['attendance-data-1'][period|lower]['absences']["elsewhere"] +
data['attendance-data-1'][period|lower]['absences']["other"] +
data['attendance-data-1'][period|lower]['absences']["unknown"] %}

{% set filterHtml %}
{{ govukSelect({
	label: {
		text: "Category",
		classes: "govuk-label--s"
	},
	idPrefix: 'attendance',
	name: 'filters[attendance]',
	items: [{
		text: 'All categories',
		id: 'all',
		value: 'all'
	},
	{
		text: 'Education',
		id: 'all',
		value: 'all'
	},
	{
		text: 'Industries',
		id: 'all',
		value: 'all'
	},
	{
		text: 'Prison jobs',
		id: 'all',
		value: 'all'
	},
	{
		text: 'Gym, sport and fitness',
		id: 'all',
		value: 'all'
	},
	{
		text: 'Induction',
		id: 'all',
		value: 'all'
	},
	{
		text: 'Intervention programmes',
		id: 'all',
		value: 'all'
	},
	{
		text: 'Faith',
		id: 'all',
		value: 'all'
	},
	{
		text: 'Other',
		id: 'all',
		value: 'all'
	}]
}) }}
{{govukButton({
	text: "Update results"
})}}
{% endset %}

<h2 class="govuk-heading-l">
	{{period}} summary for all activities
</h2>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-body-l">
	850 prisoners allocated to <a href="#" class="govuk-link--no-visited-state">56 activities</a> on {{date|today|convertShortDateToVeryLongDate}}.
</p>

<div class="govuk-grid-row govuk-!-margin-bottom-8">
	<div class="govuk-grid-column-one-quarter">
		{{ dataCard({
			title: "Attended",
			count: 850 - totalAbsences,
			linkHref: "attendance-dashboard-3-list",
			linkText: "All absences",
			showPercentage: true
		}) }}
	</div>
	<div class="govuk-grid-column-one-quarter">
		{{ dataCard({
			title: "Missing data",
			count: data['attendance-data-1'][period|lower]["notRecorded"] + data['attendance-data-1'][period|lower]['absences']["unknown"],
			linkHref: "attendance-dashboard-3-attendance",
			showPercentage: true
		}) }}
	</div>
	<div class="govuk-grid-column-one-quarter">
		{{ dataCard({
			title: "Absences",
			count: totalAbsences,
			linkHref: "attendance-dashboard-3-list",
			linkText: "All absences",
			showPercentage: true
		}) }}
	</div>
	<!-- <div class="govuk-grid-column-one-quarter">
		{{ dataCard({
			title: "Attendance rate (percentage)",
			count: ((850 - totalAbsences) / 850 * 100) | round(1, "floor")
		}) }}
	</div> -->
</div>

{{ govukDetails({
	summaryText: "Show data for a single activity category",
	html: filterHtml
}) }}

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h2 class="govuk-heading-m">
	Absences
</h2>
<div class="govuk-grid-row govuk-!-margin-bottom-5">
	<div class="govuk-grid-column-one-quarter">
		{{ dataCard({
			title: "Paid",
			count: data['attendance-data-1'][period|lower]['absences']["sick"] +
			data['attendance-data-1'][period|lower]['absences']['notRequired'] +
			data['attendance-data-1'][period|lower]['absences']['restDay'] +
			data['attendance-data-1'][period|lower]['absences']['elsewhere']
		}) }}
	</div>
	<div class="govuk-grid-column-three-quarters">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-quarter">
				{{ dataCard({
					title: "Sick",
					count: data['attendance-data-1'][period|lower]['absences']["sick"],
					titleClasses: "govuk-!-font-size-16",
					countClasses: "govuk-!-font-size-36",
					linkHref: "#"
				}) }}
			</div>
			<div class="govuk-grid-column-one-quarter">
				{{ dataCard({
					title: "Not required or excused",
					count: data['attendance-data-1'][period|lower]['absences']['notRequired'],
					titleClasses: "govuk-!-font-size-16",
					countClasses: "govuk-!-font-size-36",
					linkHref: "#"
				}) }}
			</div>
			<div class="govuk-grid-column-one-quarter">
				{{ dataCard({
					title: "Rest day",
					count: data['attendance-data-1'][period|lower]['absences']['restDay'],
					titleClasses: "govuk-!-font-size-16",
					countClasses: "govuk-!-font-size-36",
					linkHref: "#"
				}) }}
			</div>
			<div class="govuk-grid-column-one-quarter">
				{{ dataCard({
					title: "Prisoner has a clash",
					count: data['attendance-data-1'][period|lower]['absences']['elsewhere'],
					titleClasses: "govuk-!-font-size-16",
					countClasses: "govuk-!-font-size-36",
					linkHref: "#"
				}) }}
			</div>
		</div>
		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-2">
	</div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-5">
	<div class="govuk-grid-column-one-quarter">
		{{ dataCard({
			title: "Not paid",
			count: data['attendance-data-1'][period|lower]['absences']["refused"] +
			data['attendance-data-1'][period|lower]['absences']['other'] +
			data['attendance-data-1'][period|lower]['absences']['unknown']
		}) }}
	</div>
	<div class="govuk-grid-column-three-quarters">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-quarter">
				{{ dataCard({
					title: "Refusals",
					count: data['attendance-data-1'][period|lower]['absences']["refused"],
					titleClasses: "govuk-!-font-size-16",
					countClasses: "govuk-!-font-size-36",
					linkHref: "#"
				}) }}
			</div>
			<div class="govuk-grid-column-one-quarter">
				{{ dataCard({
					title: "Other",
					count: data['attendance-data-1'][period|lower]['absences']['other'],
					titleClasses: "govuk-!-font-size-16",
					countClasses: "govuk-!-font-size-36",
					linkHref: "#"
				}) }}
			</div>
			<div class="govuk-grid-column-one-quarter">
				{{ dataCard({
					title: "Absence reason unknown",
					count: data['attendance-data-1'][period|lower]['absences']['unknown'],
					titleClasses: "govuk-!-font-size-16",
					countClasses: "govuk-!-font-size-36",
					linkHref: "#"
				}) }}
			</div>
		</div>
	</div>
</div>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h2 class="govuk-heading-m">
	Cancellations
</h2>
<div class="govuk-grid-row govuk-!-margin-bottom-5">
	<div class="govuk-grid-column-one-quarter">
		{{ dataCard({
			title: "Sessions cancelled",
			count: data['attendance-data-1'][period|lower]['cancellations']|length,
			linkHref: "#"
		}) }}
	</div>
	<div class="govuk-grid-column-three-quarters">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-quarter">
				{{ dataCard({
					title: "Staff unavailable",
					titleClasses: "govuk-!-font-size-16",
					count: 1,
					countClasses: "govuk-!-font-size-36"
				}) }}
			</div>
			<div class="govuk-grid-column-one-quarter">
				{{ dataCard({
					title: "Location unavailable",
					titleClasses: "govuk-!-font-size-16",
					count: 1,
					countClasses: "govuk-!-font-size-36"
				}) }}
			</div>
		</div>
	</div>
</div>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h2 class="govuk-heading-m">
	Prisoners suspended
</h2>
<div class="govuk-grid-row govuk-!-margin-bottom-8">
	<div class="govuk-grid-column-one-quarter">
		{{ dataCard({
			title: "Prisoners suspended",
			count: 11,
			linkHref: "#"
		}) }}
	</div>
</div>
{% endblock %}