
{% extends "layout_hmpps-no-nav.html" %}
{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block content %}
<form id="form" method="post" action="appointment-creation-method">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
	
 
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>
      <h1 class="govuk-heading-l">
		<span class="govuk-caption-l">Find and edit an appointment</span>
		Which appointments do you want to find?
       </h1>
	   <!-- <p class="govuk-body">
		Search by appointment date, category, group or individual
	   </p>  -->
	
	
			<!-- Individual or group GOVUK radio with hint component - HTML -->
			
		{{ govukRadios({ 
			idPrefix: "appointment-creation-method",
			name: "appointment-creation-method",
			items: [
				{
					value: "individual or group",
					text: "Individual and group appointments"
				},
				{
					value: "bulk",
					text: "Bulk appointment"
				}
			]
		}) }}

		{{ govukButton({
			text: "Continue"
		}) }}

	</div>
</div>
</div>
   
  </div>
</div>
</form>
{% endblock %}
