.app-whereabouts-table {
	@include govuk-font(16);
	margin-bottom: govuk-spacing(8);

	&.app-whereabouts-table--font-size-normal {
		@include govuk-font(19);
	}

	thead th.govuk-table__cell {
		vertical-align: middle;

		a {
			text-decoration: none;
		}

	}

	td.govuk-table__cell {
		padding-right: govuk-spacing(2) !important;
	}

	tr.govuk-table__row {
		&:nth-of-type(even) {
			td.govuk-table__cell {
				background: govuk-colour(light-grey);
			}

		}

		td.govuk-table__cell {
			vertical-align: middle;
			padding: govuk-spacing(3) 0
		}

	}

	&--double-row {
		tr.govuk-table__row {
			&:nth-of-type(3) {
				td.govuk-table__cell {
					background: inherit;
				}

			}

			.govuk-table__cell--no-border {
				border: none;
			}

			&:nth-of-type(even) {
				td.govuk-table__cell {
					background: inherit;
				}

			}

		}

	}

}

.app-whereabouts-table--sticky-head {
	.govuk-table__header,
	.govuk-table__head {
		position: sticky;
		z-index: 999;
		top: -1px;
	}
	.govuk-table__header {
		background: govuk-colour("white");
		box-shadow: inset 0 -2px 0 govuk-colour("mid-grey");
		vertical-align: middle;
	}

}

.app-filter-area {
	padding: govuk-spacing(4);
	margin-bottom: govuk-spacing(5);
	background: govuk-colour('light-grey');

	.govuk-form-group {
		margin-bottom: govuk-spacing(1);
		margin-top: govuk-spacing(3);
		margin-right: govuk-spacing(2);
	}

	.app-filter-tag-list {
		display: inline-block;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
		}

	}

	.govuk-tag--filter {
		$spacing: govuk-spacing(2);
		margin: 0;
		margin-left: govuk-spacing(1);
		background: govuk-colour("white");
		text-transform: none;
		letter-spacing: normal;
		font-weight: normal;
		color: govuk-colour("black");
		@include govuk-font(19, $line-height: 0.5);
		padding: 0;
		padding-right: $spacing;
		box-shadow: govuk-colour("mid-grey") 0px 2px 0px;
		text-align: left;

		button {
			&:before {
				content: "✕";
				font-size: initial;
				@include govuk-font(16, $line-height: 0.5);
				font-weight: bold;
			}
			color: govuk-colour("white");
			cursor: pointer;
			border: none;
			padding: 0;
			margin: 0;
			font-size: 0;
			height: 38px;
			width: 38px;
			display: inline-block;
			background: govuk-colour('blue');

			&:hover {
				background: darken(govuk-colour('blue'), 10%);
			}
			&:active {
				&:before {
					position: relative;
					top: 2px;
				}

				@include govuk-if-ie8 {
					border-bottom-width: 0;
				}

			}

			text-align: center;
			margin-right: $spacing;
			box-shadow: lighten(rgb(12, 45, 74), 7%) 0px 2px 0px;

			&:focus {
				border-color: govuk-colour("yellow");

				@include govuk-not-ie8 {
					outline: 4px solid transparent;
				}

				box-shadow: inset 0 0 0 3px govuk-colour("yellow");
			}

			&:focus:not(:active):not(:hover) {
				border-color: govuk-colour("yellow");
				color: govuk-colour("black");
				background-color: govuk-colour("yellow");
				box-shadow: 0 2px 0 govuk-colour("black");
			}

		}

	}

}