.app-whereabouts-table {
	font-size: 16px;
	margin-bottom: govuk-spacing(8);

	thead th.govuk-table__cell {
		vertical-align: bottom;

		a {
			text-decoration: none;
		}
	}

	td.govuk-table__cell {
		padding-right: govuk-spacing(2) !important;
	}

	tr.govuk-table__row {
		&:nth-of-type(even) {
			td.govuk-table__cell {
				background: govuk-colour(light-grey);
			}
		}

		td.govuk-table__cell {
			vertical-align: middle;
			padding: govuk-spacing(3) 0
		}
	}
}