
{% extends "layout_hmpps-no-nav.html" %}
{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block content %}


    <div class="back">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ govukPanel({
            titleText: "Appointment saved"
          }) }}
          <p class="govuk-body">We have sent you a confirmation email.</p>
          <h2 class="govuk-heading-m">What happens next</h2>
          <p class="govuk-body">
            You have successfully created a medical appointment for James Johnson at 11am to 12pm on Tuesday 13 December.
          </p>
         
          <p class="govuk-body">
            <a href="appointment-start" class="govuk-link">Create another appointment</a>
           <br><br>
              <a href="" >View appointment summary</a>
            
          </p>
        </div>
      </div>
  
{% endblock %}
