{% extends "layout_hmpps.html" %}
{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block primaryNavigation %} {% endblock %}

{% block beforeContent %}
{{govukBackLink({ text: "Back", "href": "javascript:
window.history.go(-1)" })}} {% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Activity request history for {{prisoner.name.firstname}} {{prisoner.name.surname}}
        </h1>

        <!-- <p>
            Use the history to decide if the request should be reviewed in full.
        </p> -->
        <form method="post">
            <input type="hidden" name="new-application['selected-prisoner']" value="{{prisoner.id}}">

            {% include "../includes/_previous-requests-table.html" %}

            {% set reasonHtml %}
            {{ govukTextarea({
            id: "reject-new-application-reason",
            name: "reject-new-application-reason",
            label: {
            text: "Reason for rejection"
            },
            hint: {
            text: "This will be sent to the requester"
            }
            }) }}
            {% endset %}

            <!-- {{ govukRadios({
                    idPrefix: "log-new-application",
                    name: "log-new-application",
                    fieldset: {
                    legend: {
                    text: "Is the request valid?",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--l"
                    }
                    },
                    items: [
                    {
                    value: "yes",
                    text: "Yes, it's a valid request and I want to review it"
                    },
                    {
                    value: "no",
                    text: "No, it's not a valid request. I will inform the person who made the request that it won't be reviewed and why.",
                    conditional: {
                    html: reasonHtml
                    }
                    }
                    ]
                    }) }} -->
            <p>
                If you decide not to record the activity request, tell the person who submitted it, including the reason why.
            </p>
            {{govukButton({
            text: "Continue",
            name: "log-new-application",
            value: "yes"
            })}}
    </div>
</div>
</form>
</div>
</div>

{% endblock %}