<div class="govuk-grid-row card-group govuk-!-margin-bottom-0">
	<div class="govuk-grid-column-full card-group__item">
		<div class="card govuk-!-margin-bottom-3" data-test="view-residential-location">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-one-third-from-desktop">
					<h2 class="govuk-heading-m card__heading govuk-!-margin-bottom-1">
						<span class="govuk-caption-m">Summary</span>
						12 October 2022
					</h2>
					<p class="govuk-hint govuk-!-font-size-16">Last updated at 11.38pm on 11 October 2022</p>
					<p class="govuk-!-margin-bottom-0 govuk-!-font-size-16"><a href="#" class="govuk-!-font-weight-bold">All people due to leave</a></p>
				</div>
				<div class="govuk-grid-column-two-thirds govuk-!-padding-top-2">
					<div class="govuk-grid-row">
						<div class="govuk-grid-column-one-third">
							<h3 class="govuk-body govuk-!-margin-bottom-0 govuk-!-font-size-16">
								Sessions happening now
							</h3>
							<p class="govuk-body govuk-!-font-size-24"><a href="#">12</a></p>
						</div>
						<div class="govuk-grid-column-one-third">
							<h3 class="govuk-body govuk-!-margin-bottom-0 govuk-!-font-size-16">
								Releases
							</h3>
							<p class="govuk-body govuk-!-font-size-24"><a href="#">1</a></p>
						</div>
						<div class="govuk-grid-column-one-third">
							<h3 class="govuk-body govuk-!-margin-bottom-0 govuk-!-font-size-16">
								Transfers
							</h3>
							<p class="govuk-body govuk-!-font-size-24">None</p>
						</div>
					</div>
					<div class="govuk-grid-row">
						<div class="govuk-grid-column-one-third">
							<h3 class="govuk-body govuk-!-margin-bottom-0 govuk-!-font-size-16">
								Prisoners unaccounted for
							</h3>
							<p class="govuk-body govuk-!-font-size-24"><a href="#">11</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>