<!-- 
{% extends "layout.html" %}
{% set serviceName = "" %}

{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Activity details and allocation
    </h1>
  </div><br />
<!--Link to go back to check your details - so only needs to appear once on the page on
parent as CYA page has all the sessions which can be editied-->
  <button class="govuk-button moj-search__button " data-module="govuk-button">
    Edit activity
  </button>
<ul>List activity details:
  <li>Activity Name</li>
  <li>Content</li>
  <li>Alerts</li>
  <li>Education</li>
  <li>etc</li>
</ul>

<ul>List activity dates and times and availability of all sessions
  <li>Monday AM</li>
  <li>Monday PM</li>
  <li>Tuesday AM</li>
  <li>Tuesday PM</li>

</ul>

<ul>Links to
  <li>Allocate prisoners to session
      <li>Onces below will be done via the edit link on CYA page
  <ul>
      <li>Edit activity</li>
      <li>Delete activity</li>
      <li>Clone activity</li>
    </li>
  </ul>

</ul>




  </tbody>
</table>
</div>
{% endblock %}
