{% extends "layout_unbranded.html" %}
{% set serviceName = "Activities Management" %}
{% block pageTitle %}
Activities Management prototype
{% endblock %}
{% block primaryNavigation %}
{% endblock %}
{% block beforeContent %}
{{govukBackLink({
text: "Back",
"href": "javascript: window.history.go(-1)"
})}}
{% endblock %}
{% block content %}
{{attendanceDetails | dump}}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Incentive Warning</h2>
    </div>

    <div class="govuk-grid-column-one-quarter">
        <p>
            Date and time:
        </p>
        <p class="govuk-!-font-weight-bold">
            1 June 2023, 9:32 am
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <p>
            Name:
        </p>
        <p class="govuk-!-font-weight-bold">
            Neil Young
        </p>
    </div>

    <div class="govuk-grid-column-one-quarter">
        <p>
            Number:
        </p>
        <p class="govuk-!-font-weight-bold">
            A0227DZ
        </p>
    </div>

    <div class="govuk-grid-column-one-quarter">
        <p>
            Location:
        </p>
        <p class="govuk-!-font-weight-bold">
            MDI-4-3-023
        </p>
    </div>

    <div class="govuk-grid-column-one-quarter">
        <p>
            Activity or area:
        </p>
        <p class="govuk-!-font-weight-bold">
            Classroom
        </p>
    </div>

    <div class="sc-gikAfH dDhFUk">
        <div class="sc-ezOQGI kkKlgZ">Name: <span class="sc-bYMpWt ezhXPX">Neil Young</span></div>
        <div class="sc-ezOQGI kkKlgZ">Number: <span class="sc-bYMpWt ezhXPX">A0227DZ</span></div>
        <div class="sc-ezOQGI kkKlgZ">Location: <span class="sc-bYMpWt ezhXPX">MDI-4-3-023</span></div>
        <div class="sc-ezOQGI kkKlgZ">Activity or area: <span class="sc-bYMpWt ezhXPX">Classroom</span></div>
    </div>
    <div class="sc-gikAfH dDhFUk">
        <div class="sc-ezOQGI kkKlgZ">Reason:<span class="sc-bYMpWt ezhXPX">Refused to attend - incentive level
                warning - Behaviour. asd asdasd </span></div>
    </div>
    <div class="sc-gikAfH hGyaNT">
        <div class="sc-ezOQGI kkKlgZ">Raised by: <span class="sc-bYMpWt bKVZDb">S. Wing</span></div>
        <div class="sc-ezOQGI kkKlgZ">Date: <span class="sc-bYMpWt bKVZDb">1 June 2023</span></div>
    </div>
    <div class="sc-gikAfH hGyaNT">
        <div class="sc-ezOQGI kkKlgZ">Issued by: <span class="sc-bYMpWt bKVZDb">S. Wing</span></div>
        <div class="sc-ezOQGI kkKlgZ">Date: <span class="sc-bYMpWt bKVZDb">1 June 2023</span></div>
    </div>
</div>
</div>
</div>

{% endblock %}