
{% extends "layout_hmpps-no-nav.html" %}
{% set serviceName = "Appointments" %}

{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}


{% block beforeContent %}
<nav class="govuk-!-display-none-print">
{{govukBackLink({
  text: "Back",
  "href": "javascript: window.history.go(-1)"
  })}} 
  <a href="../dps-home.html" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-3 float-right">
    Go to all appointments tasks
  </a>
</nav>
{% endblock %}

{% block content %} 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> 
        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Schedule an appointment</span>
          Review attendee alerts
        </h1>
    </div>
  </div>

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- <p class="govuk-body">Only attendees with alerts are displayed.</p> -->
		  <div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  <h2 class="govuk-summary-card__title">Neil Rudge, G2044E</h2>
			  <ul class="govuk-summary-card__actions"> 
				<li class="govuk-summary-card__action"> 
				  <a class="govuk-link" href="#">
					Remove attendee
				  </a>
				</li>
			  </ul>
			</div>
			<div class="govuk-summary-card__content"> 
         <div class="govuk-!-margin-bottom-3" style="font-family: GDS Transport, arial, sans-serif;">
          <li class="alert-status alert-status--escape-list">Escape List</li>
          <li class="alert-status alert-status--acct">ACCT</li> 
          <li class="alert-status alert-status--no-one-to-one">No 1 to 1s</li> 
          <li class="alert-status alert-status--visor">ViSOR Nominal</li>
          <li class="alert-status alert-status--assault">Staff Assaulter</li> 
          <li class="alert-status alert-status--risk-females">Risk to Females</li>
          <li class="alert-status alert-status--risk-lgbt">Risk to LGBT</li>
          <li class="alert-status alert-status--gang-member">Gang mamber</li> 
          <li class="alert-status alert-status--shielding-unit">Refusing to shield</li> 
          <li class="alert-status alert-status--hostage-taker">Hostage taker</li>  
          <li class="alert-status alert-status--racist">Racist</li>
          <li class="alert-status alert-status--arsonist">Arsonist</li>
         </div>
          <a href="" class="govuk-link--no-visited-state govuk-body">View all 18 alerts (opens in a new tab)</a> 
			</div>
		  </div> 


		  <div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  <h2 class="govuk-summary-card__title">Amby Abraham, G2044E</h2>
			  <ul class="govuk-summary-card__actions"> 
				<li class="govuk-summary-card__action"> 
				  <a class="govuk-link" href="#">
					Remove attendee
				  </a>
				</li>
			  </ul>
			</div>
		
			<div class="govuk-summary-card__content"> 
        <div class="govuk-!-margin-bottom-3" style="font-family: GDS Transport, arial, sans-serif;">
          <li class="alert-status alert-status--visor">ViSOR</li> 
        </div>
         <a href="" class="govuk-link--no-visited-state govuk-body">View all 9 alerts (opens in a new tab)</a> 
     </div>
		  </div> 


		  <div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  <h2 class="govuk-summary-card__title">Bert Hungerford, C2598E</h2>
			  <ul class="govuk-summary-card__actions"> 
				<li class="govuk-summary-card__action"> 
				  <a class="govuk-link" href="#">
					Remove attendee
				  </a>
				</li>
			  </ul>
			</div>
      <div class="govuk-summary-card__content"> 
         <a href="" class="govuk-link--no-visited-state govuk-body">View all 3 alerts (opens in a new tab)</a> 
     </div>
		  </div> 

		  <div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  <h2 class="govuk-summary-card__title">Matthew Doyle, E4911C</h2>
			  <ul class="govuk-summary-card__actions"> 
				<li class="govuk-summary-card__action"> 
				  <a class="govuk-link" href="#">
					Remove attendee
				  </a>
				</li>
			  </ul>
			</div>
      <div class="govuk-summary-card__content"> 
        <div class="govuk-!-margin-bottom-3" style="font-family: GDS Transport, arial, sans-serif;">
          <li class="alert-status alert-status--visor">Registered sex offender</li> 
          <li class="alert-status alert-status--acct">Violent</li>
          <li class="alert-status alert-status--risk-females">Risk to Females</li>
        </div>
         <a href="" class="govuk-link--no-visited-state govuk-body">View all 14 alerts (opens in a new tab)</a> 
     </div>
		  </div> 


		  <div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  <h2 class="govuk-summary-card__title">Ryan Gee, F5132C</h2>
			  <ul class="govuk-summary-card__actions"> 
				<li class="govuk-summary-card__action"> 
				  <a class="govuk-link" href="#">
					Remove attendee
				  </a>
				</li>
			  </ul>
			</div>
			<div class="govuk-summary-card__content"> 
        <div class="govuk-!-margin-bottom-3" style="font-family: GDS Transport, arial, sans-serif;">
          <li class="alert-status alert-status--visor">Registered sex offender</li>
          <li class="alert-status alert-status--visor">ViSOR</li> 
        </div>
         <a href="" class="govuk-link--no-visited-state govuk-body">View all 8 alerts (opens in a new tab)</a> 
     </div>
		  </div> 




		  <div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  <h2 class="govuk-summary-card__title">Robin Bab, F4933A</h2>
			  <ul class="govuk-summary-card__actions"> 
				<li class="govuk-summary-card__action"> 
				  <a class="govuk-link" href="#">
					Remove attendee
				  </a>
				</li>
			  </ul>
			</div>
			
			<div class="govuk-summary-card__content"> 
        <div class="govuk-!-margin-bottom-3" style="font-family: GDS Transport, arial, sans-serif;">
          <li class="alert-status alert-status--risk-lgbt">Risk to LGBT</li>
          <li class="alert-status alert-status--racist">Racist</li>
        </div>
         <a href="" class="govuk-link--no-visited-state govuk-body">View all 12 alerts (opens in a new tab)</a> 
     </div>
		  </div> 

      <form method="post"> 
  
        <div class="govuk-grid-row govuk-grid-column-full govuk-button-group">
          {{govukButton({
            text: "Continue",
            attributes: {
              "formaction": "appointment-name",
              "formmethod": "get"
              }
            })}}
            
        </div>
  
  
  
      </form>

      
       

   




  </div>
</div>
{% endblock %}
