
{% extends "layout_hmpps-no-nav.html" %}


{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block content %}
<form id="form" method="post" action="date-of-appointment">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        <b>Rudge</b>, Neil schedule
       <span class="govuk-caption-l">Monday 27 March to Sunday 2 April</span>
      </h1>
      <p class="govuk-body">
        <a href="#" class="govuk-link">Print this page</a>
      </p>
      <!--<p class="govuk-body">
        <a href="#" class="govuk-link">Change date and time of appointment</a>
      </p>-->
   
     
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Monday 27 March</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Morning</th>
            <th scope="col" class="govuk-table__header">Afternoon</th>
            <th scope="col" class="govuk-table__header">Evening</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <ul class="appointment-event">
                <li>
                  <b>Kitchen</b>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 08:00 to 12:00
                    </li>
                   
                    <li class="nobox">
                      <b>Created by:</b> Bill Jones
                    </li>
                  </ul>
                </li>
              </ul>
            </td>
            <td class="govuk-table__cell">
              <ul class="appointment-event">
                <li>
                  <b>Drugs misuse programme</b>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 13:00 to 16:30
                    </li>
                  
                    <li class="nobox">
                      <b>Created by:</b> Bill Jones
                    </li>
                    {{ govukTag({
                      text: "clash"
                    }) }}
                  </ul>
                  </li>
                  <li>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 13:00 to 16:30
                    </li>
                   
                    <li class="nobox">
                      <b>Created by:</b> Bill Jones
                    </li>
                    {{ govukTag({
                      text: "clash"
                    }) }}
                  </ul>
                </li>
              </ul>
            
            </td>
            <td class="govuk-table__cell">
              Nothing scheduled
            </td>
          </tr>
        </tbody>
      </table>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Tuesday  28 March</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Morning</th>
            <th scope="col" class="govuk-table__header">Afternoon</th>
            <th scope="col" class="govuk-table__header">Evening</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <ul class="appointment-event">
                <li>
                  <b>Kitchen</b>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 08:00 to 12:00
                    </li>
                    <li class="nobox">
                      <b>Created by:</b> Bill Jones
                    </li>
                  </ul>
                </li>
              </ul>
            </td>
            <td class="govuk-table__cell">
              <ul class="appointment-event">
                <li>
                  <b>Kitchen</b>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 13:00 to 16:30
                    </li>
                   
                    <li class="nobox">
                      <b>Created by:</b> Bill Jones
                    </li>
                  </ul>
                </li>
              </ul>
            </td>
            <td class="govuk-table__cell">
              Nothing scheduled
            </td>
          </tr>
        </tbody>
      </table>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Wednesday  29  March</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Morning</th>
            <th scope="col" class="govuk-table__header">Afternoon</th>
            <th scope="col" class="govuk-table__header">Evening</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <ul class="appointment-event">
                <li>
                  <b>Kitchen</b>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 08:00 to 12:00
                    </li>
                    <li class="nobox">
                      <b>Created by:</b> Bill Jones
                    </li>
                  </ul>
                </li>
              </ul>
            </td>
            <td class="govuk-table__cell">
              <ul class="appointment-event">
                <li>
                  <b>Kitchen</b>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 13:00 to 16:30
                    </li>
                   
                    <li class="nobox">
                      <b>Created by:</b> Bill Jones
                    </li>
                  </ul>
                </li>
              </ul>
            </td>
            <td class="govuk-table__cell">
              Nothing scheduled
            </td>
          </tr>
        </tbody>
      </table>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Thursday  30  March</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Morning</th>
            <th scope="col" class="govuk-table__header">Afternoon</th>
            <th scope="col" class="govuk-table__header">Evening</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <ul class="appointment-event">
                <li>
                  <b>Kitchen</b>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 08:00 to 12:00
                    </li>
                    <li class="nobox">
                      <b>Created by:</b> Bill Jones
                    </li>
                  </ul>
                </li>
              </ul>
            </td>
            <td class="govuk-table__cell">
              <ul class="appointment-event">
                <li>
                  <b>Kitchen</b>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 13:00 to 16:30
                    </li>
                    
                    <li class="nobox">
                      <b>Created by:</b> Bill Jones
                    </li>
                  </ul>
                </li>
              </ul>
            </td>
            <td class="govuk-table__cell">
              Nothing scheduled
            </td>
          </tr>
        </tbody>
      </table>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Friday  31 March</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Morning</th>
            <th scope="col" class="govuk-table__header">Afternoon</th>
            <th scope="col" class="govuk-table__header">Evening</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <ul class="appointment-event">
                <li>
                  <b>Kitchen</b>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 08:00 to 12:00
                    </li>
                    <li class="nobox">
                      <b>Created by:</b> Bill Jones
                    </li>
                  </ul>
                </li>
              </ul>
            </td>
            <td class="govuk-table__cell">
              <ul class="appointment-event">
                <li>
                  <b>Kitchen</b>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 13:00 to 16:30
                    </li>
                    
                    <li class="nobox">
                      <b>Created by:</b> Bill Jones
                    </li>
                  </ul>
                </li>
              </ul>
            </td>
            <td class="govuk-table__cell">
              Nothing scheduled
            </td>
          </tr>
        </tbody>
      </table>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Saturday  1 April</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Morning</th>
            <th scope="col" class="govuk-table__header">Afternoon</th>
            <th scope="col" class="govuk-table__header">Evening</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <ul class="appointment-event">
                <li>
                  <b>Kitchen</b>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 08:00 to 12:00
                    </li>
                    <li class="nobox">
                      <b>Created by:</b> Bill Jones
                    </li>
                  </ul>
                </li>
              </ul>
            </td>
            <td class="govuk-table__cell">
              <ul class="appointment-event">
                <li>
                  <b>Kitchen</b>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 13:00 to 16:30
                    </li>
                   
                    <li class="nobox">
                      <b>Created by:</b> Bill Jones
                    </li>
                  </ul>
                </li>
              </ul>
            </td>
            <td class="govuk-table__cell">
              Nothing scheduled
            </td>
          </tr>
        </tbody>
      </table>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Sunday  2  April</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Morning</th>
            <th scope="col" class="govuk-table__header">Afternoon</th>
            <th scope="col" class="govuk-table__header">Evening</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <ul class="appointment-event">
                <li>
                  <b>Kitchen</b>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 08:00 to 12:00
                    </li>
                    
                    <li class="nobox">
                      <b>Created by:</b> Bill Jones
                    </li>
                  </ul>
                </li>
              </ul>
      </td>
            <td class="govuk-table__cell">
              <ul class="appointment-event">
                <li>
                  <b>Drugs misuse programme</b>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 13:00 to 16:30
                    </li>
                   
                    <li class="nobox">
                      <b>Created by:</b> Bill Jones
                    </li>
                    {{ govukTag({
                      text: "clash"
                    }) }}
                  </ul>
                  </li>
                  <li>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 13:00 to 16:30
                    </li>
                   
                    <li class="nobox">
                      <b>Created by:</b> Bill Jones
                    </li>
                    {{ govukTag({
                      text: "clash"
                    }) }}
                  </ul>
                </li>
              </ul>
            
              
            </td>
            <td class="govuk-table__cell">
              Nothing scheduled
            </td>
          </tr>
        </tbody>
      </table>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}
      
        
      </div>
    <!--<p class="govuk-body">
      <a href="#" class="govuk-link">Change date and time of appointment</a>
    </p>-->
  </div>
</div>
</form>
{% endblock %}
