
{% extends "layout_hmpps-no-nav.html" %}
{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block content %}
<form action="confirmation" method="post" >
  <div class="back">
    <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
  </div>
    <div class="govuk-width-container">
    
      <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds-from-desktop">

            <h1 class="govuk-heading-l">
              <span class="govuk-caption-l">Manage appointments</span>
                Edit details of  
                {% if data['alt-appointment-name-bulk'] !='' %}

                {{ data['alt-appointment-name-bulk']}} ({{ data['apppointment-type-bulk']}})

                {% else %}
                
                {{ data['apppointment-type-bulk']}}
                {% endif %} - {{ data['date-of-appointment-day']}} July 2023
            </h1>
            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Set details</h2>
                <ul class="govuk-summary-card__actions">
                </ul>
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list"> 
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Created by
                    </dt>
                    <dd class="govuk-summary-list__value">
                      A. Bruce
                    </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Date created
                      </dt>
                      <dd class="govuk-summary-list__value">
                        28 June 2023
                      </dd>
                    </div>
               </dl>
              </div>
            </div> 

            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">12 appointments</h2>
                <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action"> <a class="govuk-link" href="movement-slip-example">
                      Print all movement slips
                    </a>
                  </li>
                  <li class="govuk-summary-card__action"> 
                    <a class="govuk-link" href="../../cancel/bulk/cancel-question">
                      Cancel all appointments
                    </a>
                  </li> 
                </ul>
              </div>
              <div class="govuk-summary-card__content">
                <table class="govuk-table">
                  <caption class="govuk-table__caption govuk-visually-hidden">Remaining appointments</caption>
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name of attendee</th>
                      <th scope="col" class="govuk-table__header govuk-table__header--numeric  width-one-eighth">Start time</th>
                      <th scope="col" class="govuk-table__header govuk-table__header--numeric  width-one-eighth">End time</th>
                      <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
                      <th scope="col" class="govuk-table__header"></th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a href="#" class="govuk-link"> Amby Abraham</a><br>G2044E <br>1-2-33 </td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">9:00</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">9:15</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="../individual/uploaded-in-bulk-amby" class="govuk-link">Manage details</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a href="#" class="govuk-link"> Bert Hungerford</a><br>C2598E<br>1-3-44 </td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">9:15</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">9:30</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="../individual/uploaded-in-bulk-bert" class="govuk-link">Manage details</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell  "><a href="#" class="govuk-link"> Matthew Doyle</a><br>E4911C<br>1-2-22 </td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">9:30</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">9:45</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Manage details</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell  "><a href="#" class="govuk-link"> Ryan Gee</a><br>F5132C<br>1-2-88 </td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">9:45</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">10:00</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Manage details</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell  "><a href="#" class="govuk-link">Tommy-Lee Knox</a><br>C8361E<br>1-3-66 </td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">10:00</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">10:15</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Manage details</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell  "><a href="#" class="govuk-link"> Robin Bab</a><br>F4933A<br>1-3-66</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">10:15</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">10:30</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Manage details</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell  "><a href="#" class="govuk-link">Fuentes Rasmussen</a><br>E2405E<br>1-3-2</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">10:30</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">10:45
                      </td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Manage details</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell  "><a href="#" class="govuk-link">Luther Drove</a><br>E2405E<br>2-2-2</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">10:45</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">11:00
                      </td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Manage details</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell  "><a href="#" class="govuk-link">Logan Looker</a><br>C7950C<br>1-1-1</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">11:00</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">11:15
                      </td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Manage details</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell  "><a href="#" class="govuk-link">Eric Sykes</a><br>B9295C<br>1-4-5</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">11:15</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">11:30
                      </td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="../individual/uploaded-in-bulk" class="govuk-link">Manage details</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell  "><a href="#" class="govuk-link">Grant Kittel</a><br>O9555U<br>2-4-5</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">11:30</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">11:45
                      </td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Manage details</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell  "><a href="#" class="govuk-link">Neil Rudge</a><br>E9543A<br>1-4-4</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">11:45</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">12:00
                      </td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Manage details</a></td>
                    </tr>
                    <!-- <tr class="govuk-table__row">
                      <td class="govuk-table__cell  "><a href="#" class="govuk-link">Wade Brumbie</a><br>B4942H<br>1-5-5</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">11:45</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">12:00
                      </td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Manage details</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell  "><a href="#" class="govuk-link">Torey Girling</a><br>X5323Z<br>1-8-5</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">12:00</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">12:15
                      </td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Manage details</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell  "><a href="#" class="govuk-link">Donalt Cormack</a><br>A3888V<br>5-4-5</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">12:15</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">12:30
                      </td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Manage details</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell  "><a href="#" class="govuk-link">Ignatius Haresnape</a><br>S5135F<br>6-4-1</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">12:30</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">12:45
                      </td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Manage details</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell  "><a href="#" class="govuk-link">Flemming Brandel</a><br>H0687K<br>1-4-1</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">12:45</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">13:00
                      </td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Manage details</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell  "><a href="#" class="govuk-link">Devlin Walas</a><br>H0078J<br>1-4-0</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">13:00</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">13:15
                      </td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Manage details</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell  "><a href="#" class="govuk-link">Keith Ambrois</a><br>L1214R<br>8-4-5</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">13:15</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">13:30
                      </td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Manage details</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell  "><a href="#" class="govuk-link">Laurens Heijnen</a><br>T9955W<br>1-2-5</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">13:30</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">13:45
                      </td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Manage details</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell  "><a href="#" class="govuk-link">Claudio Estcourt</a><br>V5379B<br>2-4-5</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">13:45</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">14:00
                      </td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Manage details</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell  "><a href="#" class="govuk-link">Hobard Wontner</a><br>Z5075E<br>2-4-5</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">14:00</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">14:15
                      </td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">Manage details</a></td>
                    </tr> -->
                     
                  </tbody>
                </table>
              </div>
            </div> 

            </form>
          </div>
        </div>
      </main>
    </div>
  
{% endblock %}
