
{% extends "layout_hmpps-no-nav.html" %}
{% set serviceName = "Appointments" %}

{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block content %}
<form id="form" method="post" action="comments">
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>
      <h1 class="govuk-heading-l"> 
        Add a heads up for Neil Rudge, G2044E
       </h1>
       <p class="govuk-body">Give the attendee a heads up about their appointment. This will be printed on their movement slip. </p>

  </div>
   </div>

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
    {{ govukTextarea({
      id: "comments",
      name: "comments", 
      hint: {
        text: "For example, 'You need to bring all your documents about your case to this meeting with your solicitor.'"
      }
    }) }}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
         
          
            {{ govukButton({
              text: 'Continue'
            }) }}
           
          </div>
      </div>
      </div>
      </div>
    </form>


      
       

   




  </div>
</div>
{% endblock %}
