
{% extends "layout.html" %}


{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column--thirds">
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Activities dashboard: {{ data.dashboardView or 'live' }} activities
    </h1>
  </div>
  </div>
  <div class="govuk-grid-row">
<div class="govuk-grid-column-three-thirds" >

  {% if data.dashboardView=="live" or data.dashboardView=="all" %}
  <p class="govuk-body">Select an activity to change details and add schedules.</p>
  <p class="govuk-body">You can also choose to see lists of live, suspended or archived activities, and change their state.</p>
  {% endif %}

  {% if data.dashboardView=="suspended" %}
  <p class="govuk-body">You're viewing the list of suspended activities for HMP Leeds. You can't change activity details or allocate people to schedules when an activity is suspended.</p>
  <p class="govuk-body">Select one or more activities to unsuspend or archive it.</p>
  {% endif %}


  {% if data.dashboardView=="archived" %}
  <p class="govuk-body">You're viewing the list of archived activities for HMP Leeds. You can select an activity to see its details, for example pay rates and risk levels.</p>
  {% endif %}

</div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <div class="govuk-form-group">
      <label class="govuk-label" for="sort">
        Show activities which are:
      </label>
      <select class="govuk-select" id="show" name="show-grouping">
        <option value="all" {% if data.dashboardView=="all" %}selected{% endif %}>All</option>
        <option value="live" {% if data.dashboardView=="live" %}selected{% endif %}>Live </option>
        <option value="suspended" {% if data.dashboardView=="suspended" %}selected{% endif %}>Suspended</option>
        <option value="archived" {% if data.dashboardView=="archived" %}selected{% endif %}>Archived</option>
      </select>
    </div>
    <div class="govuk-form-group">
    <label class="govuk-label" for="sort">
      Show activity category:
    </label>
    <select class="govuk-select" id="show2" name="show-grouping"">
      <option value="All" {% if data.dashboardCategory=="All" %}selected{% endif %}>All</option>
      <option value="Education"  {% if data.dashboardCategory=="Education" %}selected{% endif %}>Education </option>
      <option value="Industries" {% if data.dashboardCategory=="Industries" %}selected{% endif %}>Industries</option>
      <option value="Prison" {% if data.dashboardCategory=="Prison" %}selected{% endif %}>Prison jobs</option>
      <option value="Gym" {% if data.dashboardCategory=="Gym" %}selected{% endif %}>Gym, sports and fitness</option>
      <option value="Induction" {% if data.dashboardCategory=="Induction" %}selected{% endif %}>Induction</option>
      <option value="Intervention" {% if data.dashboardCategory=="Intervention" %}selected{% endif %}>Intervention programmes</option>
      <option value="Faith" {% if data.dashboardCategory=="Faith" %}selected{% endif %}>Faith</option>
      <option value="Other" {% if data.dashboardCategory=="Other" %}selected{% endif %}>Other</option>
    </select>
    </div>
  </div>
  <div class="govuk-grid-column-one-quarter">
      &nbsp;
  </div>
  <div class="govuk-grid-column-one-third" style="border:2px solid black; padding:10px; margin:20px 0 0 200px; padding-left:20px;">
      <p class="govuk-body"><strong>Related tasks</strong><br />
      <a href="activity-type-select-with-category">Create an activity</a><br />
      <a href="../allocate/activity-dashboard-1">See vacancies and allocate people</a></p>
  </div>
  </div>

  <table class="govuk-table" data-module="moj-sortable-table" style="margin:0 0 0 10px;">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" style="width:34%;"  aria-sort="ascending" >Activity name</th>
        <th scope="col" class="govuk-table__header" style="width:15%;"aria-sort="none">Date created</th>
        <th scope="col" class="govuk-table__header" style="width:21%;" aria-sort="none">Activity category</th>
        <th scope="col" class="govuk-table__header" style="width:13%;" aria-sort="none">State</th>
      </tr>
    </thead>









  {% if data.dashboardView=="live" %}

      <tbody class="govuk-table__body">
        {% if data.dashboardCategory=="Education" or data.dashboardCategory=="All" %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-sort-value="Maths level 1">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="activity-check-your-answers?numberOfSchedules=1&status=live&showSchedules=false&activityNameDashboard=Maths level 1&fromActivityDashboard=true&riskLevel=High&category=Education&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
                Maths level 1
              </a>
            </h3>
          </td>
          <td class="govuk-table__cell" data-sort-value="20220902">2 Sept 2022</td>
          <td class="govuk-table__cell" data-sort-value="Education">Education</td>
          <td class="govuk-table__cell" data-sort-value="Live"> <strong class="govuk-tag">Live</strong></td>
        </tr>
        {% endif %}
        {% if data.dashboardCategory=="Education" or data.dashboardCategory=="All" %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-sort-value="Entry level English, level 3">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="activity-check-your-answers?numberOfSchedules=1&status=live&showSchedules=true&activityNameDashboard=Entry level English, level 3&fromActivityDashboard=true&riskLevel=High&category=Education&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
                Entry level English, level 3
              </a>
            </h3>
          </td>
          <td class="govuk-table__cell" data-sort-value="20220918">18 Sept 2022</td>
          <td class="govuk-table__cell" data-sort-value="Education">Education</td>
          <td class="govuk-table__cell" data-sort-value="Live"> <strong class="govuk-tag">Live</strong></td>
        </tr>
        {% endif %}
        {% if data.dashboardCategory=="Education" or data.dashboardCategory=="All" %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-sort-value="Entry level Maths">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="activity-check-your-answers?numberOfSchedules=1&status=live&showSchedules=true&activityNameDashboard=Entry level maths, level 3&fromActivityDashboard=true&riskLevel=High&category=Education&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
                Entry level maths, level 3
              </a>
            </h3>
          </td>
          <td class="govuk-table__cell" data-sort-value="20221215">15 Dec 2022</td>
          <td class="govuk-table__cell" data-sort-value="Education">Education</td>
          <td class="govuk-table__cell" data-sort-value="Live"> <strong class="govuk-tag">Live</strong></td>
        </tr>
        {% endif %}
        {% if data.dashboardCategory=="Education" or data.dashboardCategory=="All" %}
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell" data-sort-value="Maths level 2">
            <div class="govuk-checkboxes govuk-checkboxes" data-module="govuk-checkboxes">
              <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                <a href="activity-check-your-answers?numberOfSchedules=3&status=live&showSchedules=true&activityNameDashboard=Maths level 2&fromActivityDashboard=true&riskLevel=High&category=Education&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
                  Maths level 2
                </a>
              </h3>
          </td>
          <td class="govuk-table__cell" data-sort-value="20220903">3 Sept 2022</td>
          <td class="govuk-table__cell" data-sort-value="Education">Education</td>
          <td class="govuk-table__cell" data-sort-value="Live"> <strong class="govuk-tag">Live</strong></td>
        </tr>
        {% endif %}
        {% if data.dashboardCategory=="Prison" or data.dashboardCategory=="All" %}
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell" data-sort-value="Wing cleaning">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="activity-check-your-answers?numberOfSchedules=8&status=live&showSchedules=true&activityNameDashboard=Wing cleaning&fromActivityDashboard=true&riskLevel=High&category=Education&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
                Wing cleaning
              </a>
            </h3>
          </td>
          <td class="govuk-table__cell" data-sort-value="20221028">28 Oct 2022</td>
          <td class="govuk-table__cell" data-sort-value="Prison jobs">Prison jobs</td>
          <td class="govuk-table__cell" data-sort-value="Live"> <strong class="govuk-tag">Live</strong></td>
        </tr>
        {% endif %}
        {% if data.dashboardCategory=="Prison" or data.dashboardCategory=="All" %}
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell" data-sort-value="Advanced cleaning">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="activity-check-your-answers?numberOfSchedules=2&status=live&showSchedules=true&activityNameDashboard=Advanced cleaning&fromActivityDashboard=true&riskLevel=High&category=Education&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
                Advanced cleaning
              </a>
            </h3>
          </td>
          <td class="govuk-table__cell" data-sort-value="20221104">4 Nov 2022</td>
          <td class="govuk-table__cell" data-sort-value="Prison jobs">Prison jobs</td>
          <td class="govuk-table__cell" data-sort-value="Live"> <strong class="govuk-tag">Live</strong></td>
        </tr>
          {% endif %}
          {% if data.dashboardCategory=="Prison" or data.dashboardCategory=="All" %}
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell" data-sort-value="Servery work">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="activity-check-your-answers?numberOfSchedules=0&status=live&showSchedules=false&activityNameDashboard=Servery work&fromActivityDashboard=true&riskLevel=High&category=Education&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
                Servery work
              </a>
            </h3>
          </td>
          <td class="govuk-table__cell" data-sort-value="20221128">28 Nov 2022</td>
          <td class="govuk-table__cell" data-sort-value="Prison jobs">Prison jobs</td>
          <td class="govuk-table__cell" data-sort-value="Live"> <strong class="govuk-tag">Live</strong></td>
        </tr>
        {% endif %}
        {% if data.dashboardCategory=="Prison" or data.dashboardCategory=="All" %}
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell" data-sort-value="Gardening">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="activity-check-your-answers?numberOfSchedules=2&status=live&showSchedules=true&activityNameDashboard=Gardening&fromActivityDashboard=true&riskLevel=High&category=Education&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
                Gardening
              </a>
            </h3>
          </td>
          <td class="govuk-table__cell" data-sort-value="20220809">9 Aug 2022</td>
          <td class="govuk-table__cell" data-sort-value="Prison jobs">Prison jobs</td>
          <td class="govuk-table__cell" data-sort-value="Live"> <strong class="govuk-tag">Live</strong></td>
        </tr>
        {% endif %}
      </tbody>
    </table>
    <br />

{% endif %}





{% if data.dashboardView=="suspended"%}

    <tbody class="govuk-table__body">
      {% if data.dashboardCategory=="Education" or data.dashboardCategory=="All" %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" data-sort-value="Maths level 1">
          <div class="govuk-checkboxes govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="RemoveOffenderName" type="checkbox" value="Maths Level 1">
              <label class="govuk-label govuk-checkboxes__label" for="organisation">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                  <a href="activity-check-your-answers?status=suspended&showSchedules=false&activityNameDashboard=Entry level maths, level 1&fromActivityDashboard=true&riskLevel=High&category=Education&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
                  </a>Entry level maths, level 1
                </h3>
              </label>
            </div>
          </div>
        </td>
        <td class="govuk-table__cell" data-sort-value="20220902">2 Sept 2022</td>
        <td class="govuk-table__cell" data-sort-value="Education">Education</td>
        <td class="govuk-table__cell" data-sort-value="Suspended"> <strong class="govuk-tag govuk-tag--grey">Suspended</strong></td>
      </tr>
        {% endif %}
        {% if data.dashboardCategory=="Education" or data.dashboardCategory=="All" %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" data-sort-value="Entry level English, level 3">
          <div class="govuk-checkboxes govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="RemoveOffenderName" type="checkbox" value="Entry level English, level 3">
              <label class="govuk-label govuk-checkboxes__label" for="organisation">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                  <a href="activity-check-your-answers?numberOfSchedules=1&status=suspended&showSchedules=true&activityNameDashboard=Entry level English, level 1&fromActivityDashboard=true&riskLevel=High&category=Education&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">

                  </a>  Entry level English, level 1
                </h3>
              </label>
            </div>
          </div>
        </td>
        <td class="govuk-table__cell" data-sort-value="20220918">18 Sept 2022</td>
        <td class="govuk-table__cell" data-sort-value="Education">Education</td>
        <td class="govuk-table__cell" data-sort-value="Suspended"> <strong class="govuk-tag govuk-tag--grey">Suspended</strong></td>
      </tr>
      {% endif %}
      {% if data.dashboardCategory=="Other" or data.dashboardCategory=="All" %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" data-sort-value="Wing cleaning">
          <div class="govuk-checkboxes govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="RemoveOffenderName" type="checkbox" value="Wing cleaning">
              <label class="govuk-label govuk-checkboxes__label" for="organisation">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                  <a href="activity-check-your-answers?numberOfSchedules=1&status=suspended&showSchedules=true&activityNameDashboard=Window cleaning&fromActivityDashboard=true&riskLevel=High&category=Other&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">

                  </a>Window cleaning
                </h3>
              </label>
            </div>
          </div>
        </td>
        <td class="govuk-table__cell" data-sort-value="20221215">15 Dec 2022</td>
        <td class="govuk-table__cell" data-sort-value="Education">Other</td>
        <td class="govuk-table__cell" data-sort-value="Suspended"> <strong class="govuk-tag govuk-tag--grey">Suspended</strong></td>
      </tr>
      {% endif %}

    </tbody>
    </table>
    <br />

    <button class="govuk-button" data-module="govuk-button" name="editDashboard" value="unsuspend">
    Unsuspend selected activities
    </button>
    <button class="govuk-button govuk-button--warning" data-module="govuk-button" name="editDashboard" value="archive" style="margin-left:30px;">
    Archive selected activities
    </button>

{% endif %}










{% if data.dashboardView=="archived"%}

    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        {% if data.dashboardCategory=="Other" or data.dashboardCategory=="All" %}
        <td class="govuk-table__cell" data-sort-value="Floristry">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="activity-check-your-answers?status=archived&showSchedules=false&activityNameDashboard=Floristry&fromActivityDashboard=true&riskLevel=High&category=Other&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
                Floristry
              </a>
            </h3>
        </td>
        <td class="govuk-table__cell" data-sort-value="20210321">21 Mar 2021</td>
        <td class="govuk-table__cell" data-sort-value="Other">Other</td>
        <td class="govuk-table__cell" data-sort-value="Archived"> <strong class="govuk-tag govuk-tag--grey">Archived</strong></td>
      </tr>
      {% endif %}
      {% if data.dashboardCategory=="Other" or data.dashboardCategory=="All" %}

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" data-sort-value="Entry level English, level 3">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
            <a href="activity-check-your-answers?numberOfSchedules=1&status=archived&showSchedules=true&activityNameDashboard=Car washing&fromActivityDashboard=true&riskLevel=High&category=Education&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
              Car washing
            </a>
          </h3>
        </td>
        <td class="govuk-table__cell" data-sort-value="20200903">3 Sept 2020</td>
        <td class="govuk-table__cell" data-sort-value="Other">Other</td>
        <td class="govuk-table__cell" data-sort-value="Archived"> <strong class="govuk-tag govuk-tag--grey">Archived</strong></td>
      </tr>
      {% endif %}
      {% if data.dashboardCategory=="Prison jobs" or data.dashboardCategory=="All" %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" data-sort-value="General cleaning">

                <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                  <a href="activity-check-your-answers?status=archived&showSchedules=true&numberOfSchedules=1&activityNameDashboard=General cleaning&fromActivityDashboard=true&riskLevel=High&category=Prison jobs&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
                    General cleaning
                  </a>
                </h3>
        </td>
        <td class="govuk-table__cell" data-sort-value="19900420">20 Apr 1990</td>
        <td class="govuk-table__cell" data-sort-value="Prison jobs">Prison jobs</td>
        <td class="govuk-table__cell" data-sort-value="Archived"> <strong class="govuk-tag govuk-tag--grey">Archived</strong></td>
      </tr>
      {% endif %}
      {% if data.dashboardCategory=="Education" or data.dashboardCategory=="All" %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" data-sort-value="Food prep, level 1">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="activity-check-your-answers?status=archived&showSchedules=true&numberOfSchedules=1&activityNameDashboard=Food prep, level 1fromActivityDashboard=true&riskLevel=High&category=Education&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
                Food prep, level 1
              </a>
            </h3>
        </td>
        <td class="govuk-table__cell" data-sort-value="20200509">9 May 2020</td>
        <td class="govuk-table__cell" data-sort-value="Education">Education</td>
        <td class="govuk-table__cell" data-sort-value="Archived"> <strong class="govuk-tag govuk-tag--grey">Archived</strong></td>
      </tr>
      {% endif %}

    </tbody>
    <br />
{% endif %}











{% if data.dashboardView=="all"%}
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        {% if data.dashboardCategory=="Education" or data.dashboardCategory=="All" %}
        <td class="govuk-table__cell" data-sort-value="Maths level 1">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
            <a href="activity-check-your-answers?numberOfSchedules=0&status=live&showSchedules=false&activityNameDashboard=Maths level 1&fromActivityDashboard=true&riskLevel=High&category=Education&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
              Maths level 1
            </a>
          </h3>
        </td>
        <td class="govuk-table__cell" data-sort-value="20220902">2 Sept 2022</td>
        <td class="govuk-table__cell" data-sort-value="Education">Education</td>
        <td class="govuk-table__cell" data-sort-value="Live"> <strong class="govuk-tag">Live</strong></td>
      </tr>
      {% endif %}
      {% if data.dashboardCategory=="Education" or data.dashboardCategory=="All" %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" data-sort-value="Entry level English, level 3">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
            <a href="activity-check-your-answers?numberOfSchedules=1&status=live&showSchedules=true&activityNameDashboard=Entry level English, level 3&fromActivityDashboard=true&riskLevel=High&category=Education&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
              Entry level English, level 3
            </a>
          </h3>
        </td>
        <td class="govuk-table__cell" data-sort-value="20220918">18 Sept 2022</td>
        <td class="govuk-table__cell" data-sort-value="Education">Education</td>
        <td class="govuk-table__cell" data-sort-value="Live"> <strong class="govuk-tag">Live</strong></td>
      </tr>
      {% endif %}
      {% if data.dashboardCategory=="Education" or data.dashboardCategory=="All" %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" data-sort-value="Entry level Maths">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
            <a href="activity-check-your-answers?numberOfSchedules=1&status=live&showSchedules=true&activityNameDashboard=Entry level maths, level 3&fromActivityDashboard=true&riskLevel=High&category=Education&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
              Entry level maths, level 3
            </a>
          </h3>
        </td>
        <td class="govuk-table__cell" data-sort-value="20221215">15 Dec 2022</td>
        <td class="govuk-table__cell" data-sort-value="Education">Education</td>
        <td class="govuk-table__cell" data-sort-value="Live"> <strong class="govuk-tag">Live</strong></td>
      </tr>
      {% endif %}
      {% if data.dashboardCategory=="Education" or data.dashboardCategory=="All" %}
      <tr class="govuk-table__row" >
        <td class="govuk-table__cell" data-sort-value="Maths level 2">
          <div class="govuk-checkboxes govuk-checkboxes" data-module="govuk-checkboxes">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="activity-check-your-answers?numberOfSchedules=3&status=live&showSchedules=true&activityNameDashboard=Maths level 2&fromActivityDashboard=true&riskLevel=High&category=Education&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
                Maths level 2
              </a>
            </h3>
        </td>
        <td class="govuk-table__cell" data-sort-value="20220903">3 Sept 2022</td>
        <td class="govuk-table__cell" data-sort-value="Education">Education</td>
        <td class="govuk-table__cell" data-sort-value="Live"> <strong class="govuk-tag">Live</strong></td>
      </tr>
      {% endif %}
      {% if data.dashboardCategory=="Prison" or data.dashboardCategory=="All" %}
      <tr class="govuk-table__row" >
        <td class="govuk-table__cell" data-sort-value="Wing cleaning">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
            <a href="activity-check-your-answers?numberOfSchedules=8&status=live&showSchedules=true&activityNameDashboard=Wing cleaning&fromActivityDashboard=true&riskLevel=High&category=Education&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
              Wing cleaning
            </a>
          </h3>
        </td>
        <td class="govuk-table__cell" data-sort-value="20221028">28 Oct 2022</td>
        <td class="govuk-table__cell" data-sort-value="Prison jobs">Prison jobs</td>
        <td class="govuk-table__cell" data-sort-value="Live"> <strong class="govuk-tag">Live</strong></td>
      </tr>
      {% endif %}
      {% if data.dashboardCategory=="Prison" or data.dashboardCategory=="All" %}
      <tr class="govuk-table__row" >
        <td class="govuk-table__cell" data-sort-value="Advanced cleaning">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
            <a href="activity-check-your-answers?numberOfSchedules=2&status=live&showSchedules=true&activityNameDashboard=Advanced cleaning&fromActivityDashboard=true&riskLevel=High&category=Education&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
              Advanced cleaning
            </a>
          </h3>
        </td>
        <td class="govuk-table__cell" data-sort-value="20221104">4 Nov 2022</td>
        <td class="govuk-table__cell" data-sort-value="Prison jobs">Prison jobs</td>
        <td class="govuk-table__cell" data-sort-value="Live"> <strong class="govuk-tag">Live</strong></td>
      </tr>
      {% endif %}
      {% if data.dashboardCategory=="Prison" or data.dashboardCategory=="All" %}
      <tr class="govuk-table__row" >
        <td class="govuk-table__cell" data-sort-value="Servery work">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
            <a href="activity-check-your-answers?status=live&showSchedules=false&activityNameDashboard=Servery work&fromActivityDashboard=true&riskLevel=High&category=Education&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
              Servery work
            </a>
          </h3>
        </td>
        <td class="govuk-table__cell" data-sort-value="20221128">28 Nov 2022</td>
        <td class="govuk-table__cell" data-sort-value="Prison jobs">Prison jobs</td>
        <td class="govuk-table__cell" data-sort-value="Live"> <strong class="govuk-tag">Live</strong></td>
      </tr>
      {% endif %}
      {% if data.dashboardCategory=="Prison" or data.dashboardCategory=="All" %}
      <tr class="govuk-table__row" >
        <td class="govuk-table__cell" data-sort-value="Gardening">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
            <a href="activity-check-your-answers?numberOfSchedules=2&status=live&showSchedules=true&activityNameDashboard=Gardening&fromActivityDashboard=true&riskLevel=High&category=Education&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
              Gardening
            </a>
          </h3>
        </td>
        <td class="govuk-table__cell" data-sort-value="20220809">9 Aug 2022</td>
            <td class="govuk-table__cell" data-sort-value="Prison jobs">Prison jobs</td>
            <td class="govuk-table__cell" data-sort-value="Live"> <strong class="govuk-tag">Live</strong></td>
      </tr>
      {% endif %}
      {% if data.dashboardCategory=="Education" or data.dashboardCategory=="All" %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" data-sort-value="Entry level Maths, level 1">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
            <a href="activity-check-your-answers?numberOfSchedules=0&status=suspended&showSchedules=false&activityNameDashboard=Entry level maths, level 1&fromActivityDashboard=true&riskLevel=High&category=Education&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
              Entry level maths, level 1
            </a>
          </h3>
        </td>
        <td class="govuk-table__cell" data-sort-value="20220902">2 Sept 2022</td>
        <td class="govuk-table__cell" data-sort-value="Education">Education</td>
        <td class="govuk-table__cell" data-sort-value="Suspended"> <strong class="govuk-tag govuk-tag--grey">Suspended</strong></td>
      </tr>
      {% endif %}
      {% if data.dashboardCategory=="Education" or data.dashboardCategory=="All" %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" data-sort-value="Entry level English, level 1">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="activity-check-your-answers?numberOfSchedules=1&status=suspended&showSchedules=true&activityNameDashboard=Entry level English, level 1&fromActivityDashboard=true&riskLevel=High&category=Education&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
                Entry level English, level 1
              </a>
            </h3>
        </td>
        <td class="govuk-table__cell" data-sort-value="20220918">18 Sept 2022</td>
        <td class="govuk-table__cell" data-sort-value="Education">Education</td>
        <td class="govuk-table__cell" data-sort-value="Suspended"> <strong class="govuk-tag govuk-tag--grey">Suspended</strong></td>
      </tr>
      {% endif %}
      {% if data.dashboardCategory=="Other" or data.dashboardCategory=="All" %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" data-sort-value="Wing cleaning">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
            <a href="activity-check-your-answers?numberOfSchedules=1&status=suspended&showSchedules=true&activityNameDashboard=Window cleaning&fromActivityDashboard=true&riskLevel=High&category=Other&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
              Window cleaning
            </a>
          </h3>
        </td>
        <td class="govuk-table__cell" data-sort-value="20221215">15 Dec 2022</td>
        <td class="govuk-table__cell" data-sort-value="Other">Other</td>
        <td class="govuk-table__cell" data-sort-value="Suspended"> <strong class="govuk-tag govuk-tag--grey">Suspended</strong></td>
      </tr>
      {% endif %}
      {% if data.dashboardCategory=="Other" or data.dashboardCategory=="All" %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" data-sort-value="Floristry">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
            <a href="activity-check-your-answers?status=archived&showSchedules=false&activityNameDashboard=Floristry&fromActivityDashboard=true&riskLevel=High&category=Other&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
              Floristry
            </a>
          </h3>
        </td>
        <td class="govuk-table__cell" data-sort-value="20210321">21 Mar 2021</td>
        <td class="govuk-table__cell" data-sort-value="Other">Other</td>
        <td class="govuk-table__cell" data-sort-value="Archived"> <strong class="govuk-tag govuk-tag--grey">Archived</strong></td>
      </tr>
      {% endif %}
      {% if data.dashboardCategory=="Other" or data.dashboardCategory=="All" %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" data-sort-value="Car washing">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="activity-check-your-answers?numberOfSchedules=1&status=archived&showSchedules=true&activityNameDashboard=Car washing&fromActivityDashboard=true&riskLevel=High&category=Education&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
                Car washing
              </a>
            </h3>
        </td>
        <td class="govuk-table__cell" data-sort-value="20200903">3 Sept 2020</td>
        <td class="govuk-table__cell" data-sort-value="Other">Other</td>
        <td class="govuk-table__cell" data-sort-value="Archived"> <strong class="govuk-tag govuk-tag--grey">Archived</strong></td>
      </tr>
      {% endif %}
      {% if data.dashboardCategory=="Prison jobs" or data.dashboardCategory=="All" %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" data-sort-value="General cleaning">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="activity-check-your-answers?numberOfSchedules=1&status=archived&showSchedules=true&activityNameDashboard=General cleaning&fromActivityDashboard=true&riskLevel=High&category=Prison jobs&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
                General cleaning
              </a>
            </h3>
          </div>
        </td>
        <td class="govuk-table__cell" data-sort-value="19900420">20 Apr 1990</td>
        <td class="govuk-table__cell" data-sort-value="Prison jobs">Prison jobs</td>
        <td class="govuk-table__cell" data-sort-value="Archived"> <strong class="govuk-tag govuk-tag--grey">Archived</strong></td>
      </tr>
      {% endif %}
      {% if data.dashboardCategory=="Education" or data.dashboardCategory=="All" %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" data-sort-value="Food prep, level 1">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
            <a href="activity-check-your-answers?status=numberOfSchedules=1&archived&showSchedules=true&activityNameDashboard=Food prep, level 1fromActivityDashboard=true&riskLevel=High&category=Education&incentiveLevel=Basic&changedCategory=false" class="govuk-link govuk-link--no-visited-state">
              Food prep, level 1
            </a>
          </h3>
        </td>
        <td class="govuk-table__cell" data-sort-value="20200509">9 May 2020</td>
        <td class="govuk-table__cell" data-sort-value="Education">Education</td>
        <td class="govuk-table__cell" data-sort-value="Archived"> <strong class="govuk-tag govuk-tag--grey">Archived</strong></td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  <br />
{% endif %}




{% endblock %}
{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/jquery.modal.js"></script>
<script type="text/javascript" src="/public/javascripts/dropdown-checkboxes.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('a[data-modal]').on('click', function(event) {
			event.preventDefault();
			this.blur();
			$.get(this.href, function(html) {
				$(html).appendTo('body').modal({
					showClose: false,
					clickClose: false
				});
			});
		});

		$('#show').on('change', function() {
			window.location = 'activity-dashboard?dashboardView=' + $(this).val()
		})
    $('#show2').on('change', function() {
			window.location = 'activity-dashboard?dashboardCategory=' + $(this).val()
		})
	})
</script>
{% endblock %}
