
{% extends "layout.html" %}


{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>

    <span class="govuk-caption-m">{{data.category or 'Education'}}</span>
    <h1 class="govuk-heading-m">{{data.activityName or 'Maths level 1'}}</h1>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
    Workplace risk assessment levels: which ones are suitable for this activity?
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form method="post">
        <div class="govuk-form-group">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              </legend>
              <p>The risk assessment levels you set on this page will be used to filter the list of people you'll see when allocating to this activity.</p>
              <div class="govuk-radios" data-module="govuk-radios">
                <form method="post">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="incentiveLevelAdvanced" name="riskLevel" type="radio" value="Only low" {% if data.riskLevel=='Only low' %}checked {% endif %} data-aria-controls="conditional-contact">
                    <label class="govuk-label govuk-radios__label" for="incentiveLevelAdvanced">
                      Only <strong>low workplace risk assessment </strong>is suitable
                    </label>
                  </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="incentiveLevelStandard" name="riskLevel" {% if data.riskLevel=='Either low or medium' %}checked {% endif %}type="radio" value="Either low or medium"  data-aria-controls="conditional-contact">
                  <label class="govuk-label govuk-radios__label" for="incentiveLevelStandard">
                    <strong>Either low or medium workplace risk assessment </strong>is suitable
                  </label>
                </div>
                <div class="govuk-radios__item">
                 <input class="govuk-radios__input" id="incentiveLevelBasic" name="riskLevel" type="radio" {% if data.riskLevel=='Any of low, medium or high' %}checked {% endif %} value="Any of low, medium or high" data-aria-controls="conditional-contact">
                  <label class="govuk-label govuk-radios__label" for="incentiveLevelBasic">
                    <strong>Any of low, medium or high workplace risk assessment </strong>is suitable
                  </label>
                </div>

                </form>
              </div>
            </fieldset>
          </div>
    <br /><br />
  <button class="govuk-button" data-module="govuk-button">Continue</button>
  </div>
</div>

{% endblock %}
