
{% extends "layout_hmpps-no-nav.html" %}
{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      <span class="govuk-caption-l">Schedule a group appointment</span>
      Review scheduled events to avoid clashes
    </h1> 
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form method="post">

		

		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
				  Attendees 
				</dt>
				<dd class="govuk-summary-list__value">
				  8
				</dd>
				<dd class="govuk-summary-list__actions">
				  <a class="govuk-link" href="person-add-another">
					Change<span class="govuk-visually-hidden"> change</span>
				  </a>
				</dd>
			  </div>
			  <div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
				  Location
				</dt>
				<dd class="govuk-summary-list__value">
					{{ data['apppointment-location']}}
				</dd>
				<dd class="govuk-summary-list__actions">
				  <a class="govuk-link" href="location">
					Change<span class="govuk-visually-hidden"> date</span>
				  </a>
				</dd>
			  </div>
			<div class="govuk-summary-list__row">
			  <dt class="govuk-summary-list__key">
				Date
			  </dt>
			  <dd class="govuk-summary-list__value">
				Monday, 23 July 2023
			  </dd>
			  <dd class="govuk-summary-list__actions">
				<a class="govuk-link" href="date-of-appointment">
				  Change<span class="govuk-visually-hidden"> date</span>
				</a>
			  </dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
				  Time
				</dt>
				<dd class="govuk-summary-list__value">
					{{ data['start-hours']}}:{{ data['start-minutes']}} to {{ data['end-hours']}}:{{ data['end-minutes']}} 
				</dd>
				<dd class="govuk-summary-list__actions">
				  <a class="govuk-link" href="date-of-appointment">
					Change<span class="govuk-visually-hidden"> time</span>
				  </a>
				</dd>
			  </div>
		  </dl>




		  <h2 class="govuk-heading-m">
			{{ data['apppointment-location']}} events on Monday, 23 July 2023
		  </h2> 
		  <p>No other events scheduled.</p>
		  

		  <h2 class="govuk-heading-m">
			Attendee events on Monday, 23 July 2023
		  </h2> 

		  <div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  <h2 class="govuk-summary-card__title">Neil Rudge, G2044E</h2>
			  <ul class="govuk-summary-card__actions"> 
				<li class="govuk-summary-card__action"> 
				  <a class="govuk-link" href="#">
					Remove attendee
				  </a>
				</li>
			  </ul>
			</div>
			<div class="govuk-summary-card__content">
			<p>No other events scheduled</p>
			</div>
		  </div> 


		  <div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  <h2 class="govuk-summary-card__title">Amby Abraham, G2044E</h2>
			  <ul class="govuk-summary-card__actions"> 
				<li class="govuk-summary-card__action"> 
				  <a class="govuk-link" href="#">
					Remove attendee
				  </a>
				</li>
			  </ul>
			</div>
			<div class="govuk-summary-card__content">
				
				<p>No other events scheduled</p>
			</div>
		  </div> 


		  <div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  <h2 class="govuk-summary-card__title">Bert Hungerford, C2598E</h2>
			  <ul class="govuk-summary-card__actions"> 
				<li class="govuk-summary-card__action"> 
				  <a class="govuk-link" href="#">
					Remove attendee
				  </a>
				</li>
			  </ul>
			</div>
			<div class="govuk-summary-card__content">
			
				<p>No other events scheduled</p>
			</div>
		  </div> 

		  <div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  <h2 class="govuk-summary-card__title">Matthew Doyle, E4911C</h2>
			  <ul class="govuk-summary-card__actions"> 
				<li class="govuk-summary-card__action"> 
				  <a class="govuk-link" href="#">
					Remove attendee
				  </a>
				</li>
			  </ul>
			</div>
			<div class="govuk-summary-card__content">
		
				<p>No other events scheduled</p>
			</div>
		  </div> 


		  <div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  <h2 class="govuk-summary-card__title">Ryan Gee, F5132C</h2>
			  <ul class="govuk-summary-card__actions"> 
				<li class="govuk-summary-card__action"> 
				  <a class="govuk-link" href="#">
					Remove attendee
				  </a>
				</li>
			  </ul>
			</div>
			<div class="govuk-summary-card__content">
				
				<p>No other events scheduled</p>
			</div>
		  </div> 




		  <div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  <h2 class="govuk-summary-card__title">Robin Bab, F4933A</h2>
			  <ul class="govuk-summary-card__actions"> 
				<li class="govuk-summary-card__action"> 
				  <a class="govuk-link" href="#">
					Remove attendee
				  </a>
				</li>
			  </ul>
			</div>
			<div class="govuk-summary-card__content">
				
				<p>No other events scheduled</p>
			</div>
		  </div> 




		  <div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  <h2 class="govuk-summary-card__title">Tommy-Lee Knox, C8361E</h2>
			  <ul class="govuk-summary-card__actions"> 
				<li class="govuk-summary-card__action"> 
				  <a class="govuk-link" href="#">
					Remove attendee
				  </a>
				</li>
			  </ul>
			</div>
			<div class="govuk-summary-card__content">
			
				<p>No other events scheduled</p>
			</div>
		  </div> 

		  <div class="govuk-summary-card">
			<div class="govuk-summary-card__title-wrapper">
			  <h2 class="govuk-summary-card__title">Fuentes Rasmussen, E2405E</h2>
			  <ul class="govuk-summary-card__actions"> 
				<li class="govuk-summary-card__action"> 
				  <a class="govuk-link" href="#">
					Remove attendee
				  </a>
				</li>
			  </ul>
			</div>
			<div class="govuk-summary-card__content">
				
				<p>No other events scheduled</p>
			</div>
		  </div> 


	
		  

		  {{ govukButton({
			text: "Continue",
			attributes: {
			  "formaction": "comments",
			  "formmethod": "post"
			  }
		  }) }}

 			</form>

		</div>	
	</div>
</div>


{% endblock %}
