{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}

{% block pageTitle %}
Changes in circumstances - {{serviceName}}
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{{ govukBackLink({
text: "Select a different date",
href: '/' + data['prototype-versions']['create-and-allocate']['url'] ~ "/change-of-circumstance/select-date"
})}}
{% endblock %}

{% block content %}
<!-- "Release (end of sentence or release from remand)"
Transfer-out
Transfer-in (return)
Arrival
Cell move
Incentive level increased
Incentive level decreased
New alert
New non-association in same prison
New non-association in same activity
Adjudication outcome
Temporary release
Release to hospital -->

<span class="govuk-caption govuk-caption-l">29 June 2023</span>
<h1 class="govuk-heading-xl">Changes in circumstances</h1>

{{govukButton({
text: "Show filter",
classes: "govuk-button--secondary"
})}}

{% for type, changes in changesByType %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">{{ type | capitalize }}</h2>
        <p class="govuk-inset-text">
            We might consider showing some useful guidance about specific actions the user may need to take for changes
            of this type.
        </p>
    </div>
</div>

<table class="govuk-table govuk-!-margin-bottom-8">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Cell</th>
            <th scope="col" class="govuk-table__header">Current allocations</th>
            <th scope="col" class="govuk-table__header">Details</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        {% for change in changes | sort(attribute='prisoner.location.cell') %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#"><b>{{ change.prisoner.name.surname }}</b>, {{
                    change.prisoner.name.firstname }}</a><br>
                <span class="govuk-hint govuk-!-font-size-16">{{ change.prisoner.id }}</span>
            </td>
            <td class="govuk-table__cell">{{ change.prisoner.location.cell }}</td>
            <td class="govuk-table__cell">
                <ul class="govuk-list">
                    {% for allocation in change.prisoner.activity %}
                    {% set activity = allocation | getActivityDetails %}
                    <li><a href="../manage-allocations/{{ activity.id }}"
                            class="govuk-link govuk-link--no-visited-state">{{ activity.name }}</a></li>
                    {% endfor %}
                </ul>
            </td>
            <td class="govuk-table__cell">{{ change.changeType.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}

{% set dayBefore = "2023-06-29" | dayBefore %}
{% set dayAfter = "2023-06-29" | dayAfter %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{{ govukPagination({
previous: {
text: "Previous day",
labelText: dayBefore | convertShortDateToVeryLongDate,
href: dayBefore
},
next: {
text: "Next day",
labelText: dayAfter | convertShortDateToVeryLongDate,
href: dayAfter
}
}) }}
{% endblock %}