{% extends "layout_hmpps-new-nav.html" %}
{% set serviceName = "Appointments" %}

{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-l">Gardens</span>
        <h1 class="govuk-heading-l">
            Confirm and check this allocation
        </h1>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Prisoner details
                </dt>
                <dd class="govuk-summary-list__value">
                    David Jones<br>G7006VF
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Activity
                </dt>
                <dd class="govuk-summary-list__value">
                    Maths level 2
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Location
                </dt>
                <dd class="govuk-summary-list__value">
                    Classroom 4
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Start of allocation
                </dt>
                <dd class="govuk-summary-list__value">
                    4 October 2024
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> start of allocation</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    End of allocation
                </dt>
                <dd class="govuk-summary-list__value">
                    None set
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> end of allocation</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Pay rate
                </dt>
                <dd class="govuk-summary-list__value">
                    Low incentive level:<br>Pay band 3 - £1.50
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> end of allocation</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Schedule
                </dt>
                <dd class="govuk-summary-list__value">
                    <dl class="govuk-summary-list govuk-summary-list--no-border govuk-summary-list--equal-widths">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key govuk-summary-list__key--normal-key-weight">
                                <span>Monday</span>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="govuk-summary-list__key--normal-key-weight">
                                    AM  (08:30 to 11:45)
                                </div>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key govuk-summary-list__key--normal-key-weight">
                                <span>Tuesday</span>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="govuk-summary-list__key--normal-key-weight">
                                    AM  (08:30 to 11:45)
                                </div>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key govuk-summary-list__key--normal-key-weight">
                                <span>Wednesday</span>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="govuk-summary-list__key--normal-key-weight">
                                    AM  (08:30 to 11:45)
                                </div>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key govuk-summary-list__key--normal-key-weight">
                                <span>Thursday</span>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="govuk-summary-list__key--normal-key-weight">
                                    AM  (08:30 to 11:45)
                                </div>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key govuk-summary-list__key--normal-key-weight">
                                <span>Friday</span>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="govuk-summary-list__key--normal-key-weight">
                                    AM  (08:30 to 11:45)
                                </div>
                            </dd>
                        </div>
                    </dl>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> end of allocation</span></a>
                </dd>
            </div>
        </dl>
        <form action="confirmed" method="post">
            {% from "govuk/components/button/macro.njk" import govukButton %}
            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Confirm this allocation"
                }) }}
                <a class="govuk-link" href="../summary-2.html">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}