{% extends "layout_hmpps-new-nav.html" %}
{% set serviceName = "Appointments" %}

{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <form action="set-end-date" method="post"> 
            <div class="govuk-form-group"> 
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Maths level 2</span>
                        <h1 class="govuk-fieldset__heading">
                            When do you want David Jones to start attending this activity?
                        </h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="startDate" name="startDate" type="radio" value="england">
                            <label class="govuk-label govuk-radios__label" for="startDate">
                                The next session - AM session on Monday, 23 September 2024
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="startDate-2" name="startDate" type="radio" value="scotland">
                            <label class="govuk-label govuk-radios__label" for="startDate-2">
                                A different date
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            {% from "govuk/components/button/macro.njk" import govukButton %}
            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Continue"
                }) }}
                <a class="govuk-link" href="summary-2.html">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}