{% extends "layout.html" %}
{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% set bodyClasses = "unlock-table-1" %}

{% block header %}{% endblock %}

{% block content %}
<main>
<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">
                <div>Location <img src="/images/Triangle_asc.png" alt="Up arrow" width="15" height="8"></div>
            </th>
            <th scope="col" class="govuk-table__header">Prison number</th>
            <th scope="col" class="govuk-table__header">Relevant alerts</th>
            <th scope="col" class="govuk-table__header">Activities</th>
            <th scope="col" class="govuk-table__header">Other activities</th>
            <th scope="col" class="govuk-table__header">
                <div>Unlocked</div>
            </th>
            <th scope="col" class="govuk-table__header">
                <div>Gone</div>
            </th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G0006VP" target="_blank" rel="noopener noreferrer">Tufnell, Aguinaldo</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G0006VP" target="_blank" rel="noopener noreferrer">Tufnell, A</a></td>
            <td class="govuk-table__cell">1-1-004</td>
            <td class="govuk-table__cell">G0006VP</td>
            <td class="govuk-table__cell">***06VP</td>
            <td class="govuk-table__cell">08:30 - Unemployed FT</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_0">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_0">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G1975UN" target="_blank" rel="noopener noreferrer">Fordyce, Aharon</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G1975UN" target="_blank" rel="noopener noreferrer">Fordyce, A</a></td>
            <td class="govuk-table__cell">1-1-006</td>
            <td class="govuk-table__cell">G1975UN</td>
            <td class="govuk-table__cell">***75UN</td>
            <td class="govuk-table__cell">08:30 - Barbering R1 AM</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_1">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_1">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G4761VK" target="_blank" rel="noopener noreferrer">Cimato, Benson</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G4761VK" target="_blank" rel="noopener noreferrer">Cimato, B</a></td>
            <td class="govuk-table__cell">1-1-007</td>
            <td class="govuk-table__cell">G4761VK</td>
            <td class="govuk-table__cell">***61VK</td>
            <td class="govuk-table__cell">08:15 - Kitchen Worker AM</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_2">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_2">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G0101UU" target="_blank" rel="noopener noreferrer">Voskuhl, Al</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G0101UU" target="_blank" rel="noopener noreferrer">Voskuhl, A</a></td>
            <td class="govuk-table__cell">1-1-009</td>
            <td class="govuk-table__cell">G0101UU</td>
            <td class="govuk-table__cell">***01UU</td>
            <td class="govuk-table__cell">08:30 - Yard Party AM</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_3">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_3">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G4417UC" target="_blank" rel="noopener noreferrer">Suplee, Alan</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G4417UC" target="_blank" rel="noopener noreferrer">Suplee, A</a></td>
            <td class="govuk-table__cell">1-1-012</td>
            <td class="govuk-table__cell">G4417UC</td>
            <td class="govuk-table__cell">***17UC</td>
            <td class="govuk-table__cell">08:30 - VT Catering AM !! CLOSED until 3rd jan !</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_4">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_4">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G2017UN" target="_blank" rel="noopener noreferrer">Morros, Allan</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G2017UN" target="_blank" rel="noopener noreferrer">Morros, A</a></td>
            <td class="govuk-table__cell">1-2-001</td>
            <td class="govuk-table__cell">G2017UN</td>
            <td class="govuk-table__cell">***17UN</td>
            <td class="govuk-table__cell">08:30 - Unemployed AM</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_5">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_5">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G9289UV" target="_blank" rel="noopener noreferrer">Kichline, Alley</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G9289UV" target="_blank" rel="noopener noreferrer">Kichline, A</a></td>
            <td class="govuk-table__cell">1-2-002</td>
            <td class="govuk-table__cell">G9289UV</td>
            <td class="govuk-table__cell">***89UV</td>
            <td class="govuk-table__cell">08:30 - Unemployed AM</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_6">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_6">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G6628UE" target="_blank" rel="noopener noreferrer">Cosner, Allie</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G6628UE" target="_blank" rel="noopener noreferrer">Cosner, A</a></td>
            <td class="govuk-table__cell">1-2-003</td>
            <td class="govuk-table__cell">G6628UE</td>
            <td class="govuk-table__cell">***28UE</td>
            <td class="govuk-table__cell">08:30 - ED1-Rm4 L1/Lit AM</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_7">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_7">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G1137VF" target="_blank" rel="noopener noreferrer">Wohlmuth, Allin</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G1137VF" target="_blank" rel="noopener noreferrer">Wohlmuth, A</a></td>
            <td class="govuk-table__cell">1-2-004</td>
            <td class="govuk-table__cell">G1137VF</td>
            <td class="govuk-table__cell">***37VF</td>
            <td class="govuk-table__cell">08:30 - PE Introductory AM</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_8">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_8">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G8061UD" target="_blank" rel="noopener noreferrer">Briddick, Allyn</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G8061UD" target="_blank" rel="noopener noreferrer">Briddick, A</a></td>
            <td class="govuk-table__cell">1-2-005</td>
            <td class="govuk-table__cell">G8061UD</td>
            <td class="govuk-table__cell">***61UD</td>
            <td class="govuk-table__cell">08:30 - Plastics Injection Moulding AM</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_9">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_9">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G4103UW" target="_blank" rel="noopener noreferrer">Longhitano, Alonso</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G4103UW" target="_blank" rel="noopener noreferrer">Longhitano, A</a></td>
            <td class="govuk-table__cell">1-2-005</td>
            <td class="govuk-table__cell">G4103UW</td>
            <td class="govuk-table__cell">***03UW</td>
            <td class="govuk-table__cell">08:30 - Unemployed FT</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_10">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_10">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G8008VD" target="_blank" rel="noopener noreferrer">Galanter, Aloysius</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G8008VD" target="_blank" rel="noopener noreferrer">Galanter, A</a></td>
            <td class="govuk-table__cell">1-2-006</td>
            <td class="govuk-table__cell">G8008VD</td>
            <td class="govuk-table__cell">***08VD</td>
            <td class="govuk-table__cell">08:30 - Unemployed FT</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_11">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_11">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G4216VA" target="_blank" rel="noopener noreferrer">Crowe, Alphonse</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G4216VA" target="_blank" rel="noopener noreferrer">Crowe, A</a></td>
            <td class="govuk-table__cell">1-2-007</td>
            <td class="govuk-table__cell">G4216VA</td>
            <td class="govuk-table__cell">***16VA</td>
            <td class="govuk-table__cell">08:30 - Servery HB1 AM</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_12">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_12">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G4089UC" target="_blank" rel="noopener noreferrer">Stala, Alphonso</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G4089UC" target="_blank" rel="noopener noreferrer">Stala, A</a></td>
            <td class="govuk-table__cell">1-2-007</td>
            <td class="govuk-table__cell">G4089UC</td>
            <td class="govuk-table__cell">***89UC</td>
            <td class="govuk-table__cell">08:30 - VT Catering AM !! CLOSED until 3rd jan !</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_13">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_13">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G1618UD" target="_blank" rel="noopener noreferrer">Monez, Alvin</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G1618UD" target="_blank" rel="noopener noreferrer">Monez, A</a></td>
            <td class="govuk-table__cell">1-2-009</td>
            <td class="govuk-table__cell">G1618UD</td>
            <td class="govuk-table__cell">***18UD</td>
            <td class="govuk-table__cell">08:30 - Barbering R1 AM</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_14">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_14">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G2433VI" target="_blank" rel="noopener noreferrer">Vernia, Alwin</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G2433VI" target="_blank" rel="noopener noreferrer">Vernia, A</a></td>
            <td class="govuk-table__cell">1-2-011</td>
            <td class="govuk-table__cell">G2433VI</td>
            <td class="govuk-table__cell">***33VI</td>
            <td class="govuk-table__cell">08:30 - Equalities Redband AM</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_15">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_15">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G1575VD" target="_blank" rel="noopener noreferrer">Dohlman, Ambros</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G1575VD" target="_blank" rel="noopener noreferrer">Dohlman, A</a></td>
            <td class="govuk-table__cell">1-2-012</td>
            <td class="govuk-table__cell">G1575VD</td>
            <td class="govuk-table__cell">***75VD</td>
            <td class="govuk-table__cell">08:30 - Unemployed FT</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_16">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_16">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G8802UT" target="_blank" rel="noopener noreferrer">Shifler, Anson</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G8802UT" target="_blank" rel="noopener noreferrer">Shifler, A</a></td>
            <td class="govuk-table__cell">1-3-001</td>
            <td class="govuk-table__cell">G8802UT</td>
            <td class="govuk-table__cell">***02UT</td>
            <td class="govuk-table__cell">08:30 - Unemployed FT</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_17">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_17">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G2582UC" target="_blank" rel="noopener noreferrer">Willen, Anselm</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G2582UC" target="_blank" rel="noopener noreferrer">Willen, A</a></td>
            <td class="govuk-table__cell">1-3-001</td>
            <td class="govuk-table__cell">G2582UC</td>
            <td class="govuk-table__cell">***82UC</td>
            <td class="govuk-table__cell">08:30 - Waste Management AM</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_18">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_18">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G9349UD" target="_blank" rel="noopener noreferrer">Caramella, Anthony</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G9349UD" target="_blank" rel="noopener noreferrer">Caramella, A</a></td>
            <td class="govuk-table__cell">1-3-002</td>
            <td class="govuk-table__cell">G9349UD</td>
            <td class="govuk-table__cell">***49UD</td>
            <td class="govuk-table__cell">08:30 - Servery HB1 AM</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_19">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_19">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G5155VP" target="_blank" rel="noopener noreferrer">Herkimer, Gideon</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G5155VP" target="_blank" rel="noopener noreferrer">Herkimer, G</a></td>
            <td class="govuk-table__cell">1-3-004</td>
            <td class="govuk-table__cell">G5155VP</td>
            <td class="govuk-table__cell">***55VP</td>
            <td class="govuk-table__cell">08:30 - Unemployed AM</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_20">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_20">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G4630UT" target="_blank" rel="noopener noreferrer">Keeling, Cris</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G4630UT" target="_blank" rel="noopener noreferrer">Keeling, C</a></td>
            <td class="govuk-table__cell">1-3-004</td>
            <td class="govuk-table__cell">G4630UT</td>
            <td class="govuk-table__cell">***30UT</td>
            <td class="govuk-table__cell">08:30 - Unemployed FT</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_21">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_21">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G9256UX" target="_blank" rel="noopener noreferrer">Satake, Brewer</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G9256UX" target="_blank" rel="noopener noreferrer">Satake, B</a></td>
            <td class="govuk-table__cell">1-3-004</td>
            <td class="govuk-table__cell">G9256UX</td>
            <td class="govuk-table__cell">***56UX</td>
            <td class="govuk-table__cell">08:30 - Cleaner HB3 AM</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_22">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_22">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G1306VX" target="_blank" rel="noopener noreferrer">Mcfadzen, Emory</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G1306VX" target="_blank" rel="noopener noreferrer">Mcfadzen, E</a></td>
            <td class="govuk-table__cell">1-3-005</td>
            <td class="govuk-table__cell">G1306VX</td>
            <td class="govuk-table__cell">***06VX</td>
            <td class="govuk-table__cell">08:30 - Unemployed FT</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_23">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_23">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G8403UH" target="_blank" rel="noopener noreferrer">Matczak, Antone</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G8403UH" target="_blank" rel="noopener noreferrer">Matczak, A</a></td>
            <td class="govuk-table__cell">1-3-006</td>
            <td class="govuk-table__cell">G8403UH</td>
            <td class="govuk-table__cell">***03UH</td>
            <td class="govuk-table__cell">08:30 - Tailors AM</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_24">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_24">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G9582UC" target="_blank" rel="noopener noreferrer">Oeur, Anton</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G9582UC" target="_blank" rel="noopener noreferrer">Oeur, A</a></td>
            <td class="govuk-table__cell">1-3-006</td>
            <td class="govuk-table__cell">G9582UC</td>
            <td class="govuk-table__cell">***82UC</td>
            <td class="govuk-table__cell">08:30 - Waste Management AM</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_25">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_25">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G2954GE" target="_blank" rel="noopener noreferrer">Skalberg, Antoni</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G2954GE" target="_blank" rel="noopener noreferrer">Skalberg, A</a></td>
            <td class="govuk-table__cell">1-3-007</td>
            <td class="govuk-table__cell">G2954GE</td>
            <td class="govuk-table__cell">***54GE</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox">ACCT</div>
            </td>
            <td class="govuk-table__cell">08:30 - PICTA AM</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_26">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_26">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G6208UE" target="_blank" rel="noopener noreferrer">Cappetta, Antonio</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G6208UE" target="_blank" rel="noopener noreferrer">Cappetta, A</a></td>
            <td class="govuk-table__cell">1-3-008</td>
            <td class="govuk-table__cell">G6208UE</td>
            <td class="govuk-table__cell">***08UE</td>
            <td class="govuk-table__cell">08:30 - PE Introductory AM</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_27">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_27">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/prisoner/G4463UO" target="_blank" rel="noopener noreferrer">Dohr, Apollo</a></td>
            <td class="govuk-table__cell"><a href="/prisoner/G4463UO" target="_blank" rel="noopener noreferrer">Dohr, A</a></td>
            <td class="govuk-table__cell">1-3-012</td>
            <td class="govuk-table__cell">G4463UO</td>
            <td class="govuk-table__cell">***63UO</td>
            <td class="govuk-table__cell">08:30 - Plastics Injection Moulding AM</td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col1_28">Unlocked</label><input name="ch1" type="checkbox"></div>
            </td>
            <td class="govuk-table__cell">
                <div class="printable-checkbox"><label for="col2_28">Gone</label><input name="ch2" type="checkbox"></div>
            </td>
            
        </tr>
    </tbody>
</table>
</main>
{% endblock %}