{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}
{% block pageTitle %}
Activities Management prototype
{% endblock %}
{% block primaryNavigation %}
{% endblock %}
{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{{ govukBreadcrumbs({
	classes: "govuk-!-display-none-print",
	items: [
	{
		text: "Digital Prison Services",
		href: "#"
	},
	{
		text: "Manage prisoner whereabouts",
		href: "whereabouts-concept-2"
	}
	]
}) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-three-quarters">
		<h1 class="govuk-heading-xl">
			Houseblock A - All
			<span class="govuk-caption-l">Monday 31st October - AM</span>
		</h1>
	</div>
	<div class="govuk-grid-column-one-quarter">
		<p class="govuk-body" style="text-align: right;">
			⎙ <a href="#">Print this page</a>
		</p>
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-quarter">
		<div class="app-c-option-select" data-closed-on-load="true" data-module="option-select">
			<h2 class="app-c-option-select__heading js-container-heading">
				<span class="app-c-option-select__title js-container-button" id="option-select-title-activity">Activity</span>
				<svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--up" aria-hidden="true" focusable="false">
					<path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z" />
				</svg>
				<svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--down" aria-hidden="true" focusable="false">
					<path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z" />
				</svg>
			</h2>

			<div role="group" aria-labelledby="option-select-title-activity" class="app-c-option-select__container js-options-container" id="list_of_activities" tabindex="-1">
				<div class="app-c-option-select__container-inner js-auto-height-inner">
					<div id="checkboxes-c3aeaed2" class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small" data-module="gem-checkboxes govuk-checkboxes">
						<fieldset class="govuk-fieldset">
							<legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Activity</legend>
							<ul class="govuk-checkboxes gem-c-checkboxes__list">
								<li class="govuk-checkboxes__item">
									<input type="checkbox" name="market_sector[]" id="aerospace" value="aerospace" class="govuk-checkboxes__input" /><label for="aerospace" class="govuk-label govuk-checkboxes__label">08:15 - D WING PID FT</label>
								</li>
								<li class="govuk-checkboxes__item">
									<input type="checkbox" name="market_sector[]" id="agriculture-environment-and-natural-resources" value="agriculture-environment-and-natural-resources" class="govuk-checkboxes__input" /><label for="agriculture-environment-and-natural-resources" class="govuk-label govuk-checkboxes__label">08:15 - AM AWAITING ALLOCATION</label>
								</li>
								<li class="govuk-checkboxes__item">
									<input type="checkbox" name="market_sector[]" id="building-and-construction" value="building-and-construction" class="govuk-checkboxes__input" /><label for="building-and-construction" class="govuk-label govuk-checkboxes__label">08:15 - A WING AM CLEANER</label>
								</li>
							</ul>
						</fieldset>
					</div>
				</div>
			</div>
		</div>

		<div class="app-c-option-select" data-closed-on-load="true" data-module="option-select">
			<h2 class="app-c-option-select__heading js-container-heading">
				<span class="app-c-option-select__title js-container-button" id="option-select-title-activity">Sub-location</span>
				<svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--up" aria-hidden="true" focusable="false">
					<path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z" />
				</svg>
				<svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--down" aria-hidden="true" focusable="false">
					<path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z" />
				</svg>
			</h2>

			<div role="group" aria-labelledby="option-select-title-activity" class="app-c-option-select__container js-options-container" id="list_of_sublocations" tabindex="-1">
				<div class="app-c-option-select__container-inner js-auto-height-inner">
					<div id="checkboxes-c3aeaed2" class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small" data-module="gem-checkboxes govuk-checkboxes">
						<fieldset class="govuk-fieldset">
							<legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Sub-location</legend>
							<ul class="govuk-checkboxes gem-c-checkboxes__list">
								<li class="govuk-checkboxes__item">
									<input type="checkbox" name="market_sector[]" id="aerospace" value="aerospace" class="govuk-checkboxes__input" /><label for="aerospace" class="govuk-label govuk-checkboxes__label">
										Landing 1
									</label>
								</li>
								<li class="govuk-checkboxes__item">
									<input type="checkbox" name="market_sector[]" id="agriculture-environment-and-natural-resources" value="agriculture-environment-and-natural-resources" class="govuk-checkboxes__input" /><label for="agriculture-environment-and-natural-resources" class="govuk-label govuk-checkboxes__label">
										Landing 2
									</label>
								</li>
								<li class="govuk-checkboxes__item">
									<input type="checkbox" name="market_sector[]" id="building-and-construction" value="building-and-construction" class="govuk-checkboxes__input" /><label for="building-and-construction" class="govuk-label govuk-checkboxes__label">
										Landing 3
									</label>
								</li>
							</ul>
						</fieldset>
					</div>
				</div>
			</div>
		</div>

		<div class="app-c-option-select" data-closed-on-load="true" data-module="option-select">
			<h2 class="app-c-option-select__heading js-container-heading">
				<span class="app-c-option-select__title js-container-button" id="option-select-title-activity">Attendance</span>
				<svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--up" aria-hidden="true" focusable="false">
					<path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z" />
				</svg>
				<svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--down" aria-hidden="true" focusable="false">
					<path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z" />
				</svg>
			</h2>

			<div role="group" aria-labelledby="option-select-title-activity" class="app-c-option-select__container js-options-container" id="list_of_attendance" tabindex="-1">
				<div class="app-c-option-select__container-inner js-auto-height-inner">
					<div id="checkboxes-c3aeaed2" class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small" data-module="gem-checkboxes govuk-checkboxes">
						<fieldset class="govuk-fieldset">
							<legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Attendance</legend>
							<ul class="govuk-checkboxes gem-c-checkboxes__list">
								<li class="govuk-checkboxes__item">
									<input type="checkbox" name="market_sector[]" id="aerospace" value="aerospace" class="govuk-checkboxes__input" /><label for="aerospace" class="govuk-label govuk-checkboxes__label">
										Attended
									</label>
								</li>
								<li class="govuk-checkboxes__item">
									<input type="checkbox" name="market_sector[]" id="agriculture-environment-and-natural-resources" value="agriculture-environment-and-natural-resources" class="govuk-checkboxes__input" /><label for="agriculture-environment-and-natural-resources" class="govuk-label govuk-checkboxes__label">
										Not attended
									</label>
								</li>
								<li class="govuk-checkboxes__item">
									<input type="checkbox" name="market_sector[]" id="building-and-construction" value="building-and-construction" class="govuk-checkboxes__input" /><label for="building-and-construction" class="govuk-label govuk-checkboxes__label">
										Unaccounted for
									</label>
								</li>
							</ul>
						</fieldset>
					</div>
				</div>
			</div>
		</div>

		<div class="app-c-option-select" data-closed-on-load="true" data-module="option-select">
			<h2 class="app-c-option-select__heading js-container-heading">
				<span class="app-c-option-select__title js-container-button" id="option-select-title-activity">Staying or leaving wing</span>
				<svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--up" aria-hidden="true" focusable="false">
					<path d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z" />
				</svg>
				<svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="app-c-option-select__icon app-c-option-select__icon--down" aria-hidden="true" focusable="false">
					<path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z" />
				</svg>
			</h2>

			<div role="group" aria-labelledby="option-select-title-activity" class="app-c-option-select__container js-options-container" id="list_of_staying-leaving" tabindex="-1">
				<div class="app-c-option-select__container-inner js-auto-height-inner">
					<div id="checkboxes-c3aeaed2" class="gem-c-checkboxes govuk-form-group govuk-checkboxes--small" data-module="gem-checkboxes govuk-checkboxes">
						<fieldset class="govuk-fieldset">
							<legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden">Staying or leaving wing</legend>
							<ul class="govuk-checkboxes gem-c-checkboxes__list">
								<li class="govuk-checkboxes__item">
									<input type="checkbox" name="market_sector[]" id="aerospace" value="aerospace" class="govuk-checkboxes__input" /><label for="aerospace" class="govuk-label govuk-checkboxes__label">
										Staying
									</label>
								</li>
								<li class="govuk-checkboxes__item">
									<input type="checkbox" name="market_sector[]" id="agriculture-environment-and-natural-resources" value="agriculture-environment-and-natural-resources" class="govuk-checkboxes__input" /><label for="agriculture-environment-and-natural-resources" class="govuk-label govuk-checkboxes__label">
										Leaving
									</label>
								</li>
							</ul>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="govuk-grid-column-three-quarters">
		<div class="govuk-grid-row" style="vertical-align: bottom;">
			<div class="govuk-grid-column-one-half" style="vertical-align: bottom;">
				<p class="govuk-body-l govuk-!-font-weight-bold" style="vertical-align: bottom;">23 prisoners</p>
			</div>
			<div class="govuk-grid-column-one-half" style="vertical-align: bottom;">
				<div class="govuk-form-group" style="vertical-align: bottom;">
					<label class="govuk-label" name="sort-select">
						Order the list
					</label>
					<select id="sort-select" class="govuk-select">
						<option value="lastName_ASC">Name (A-Z)</option>
						<option value="lastName_DESC">Name (Z-A)</option>
						<option value="cellLocation_ASC">Location (ascending)</option>
						<option value="cellLocation_DESC">Location (descending)</option>
						<option value="activity_ASC">Activity name (A-Z)</option>
						<option value="activity_DESC">Activity name (Z-A)</option>
					</select>
				</div>
			</div>
		</div>

		<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

		<table class="govuk-table app-whereabouts-table">
			<thead class="govuk-table__head">
				<tr>
					<th class="govuk-table__cell">
						<a href="#">Name</a>
					</th>
					<th class="govuk-table__cell">
						<a href="#">Location</a>
					</th>
					<th class="govuk-table__cell">
						Prison number
					</th>
					<th class="govuk-table__cell">
						Relevant alerts
					</th>
					<th class="govuk-table__cell">
						<a href="#">Activities</a>
					</th>
					<th class="govuk-table__cell">
						<a href="#">Other activities</a>
					</th>
					<th class="govuk-table__cell">
						<a href="#">Attendance</a>
					</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for row in range(0, 16) %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell" width="180">
						<b>Surname</b>, Forename
					</td>
					<td class="govuk-table__cell">
						2-3-014
					</td>
					<td class="govuk-table__cell">
						G9545GV
					</td>
					<td class="govuk-table__cell">
						<div class="alerts"></div>
					</td>
					<td class="govuk-table__cell">
						{% if loop.index == 4 or loop.index == 5 or loop.index == 12 %}
						08:15 - D WING PID FT
						{% elif loop.index == 7 or loop.index == 9 %}
						08:15 - AM AWAITING ALLOCATION
						{% else %}
						08:15 - A WING AM CLEANER
						{% endif %}
					</td>
					<td class="govuk-table__cell">
						<ul></ul>
					</td>
					<td class="govuk-table__cell">
						<a href="#">Record attendance</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="padding-top">
			<div id="buttons" class="pure-u-md-12-12 padding-bottom">
				<div id="buttons" class="buttons pull-right"><a id="printButton" data-test="print-button" class="sc-bcXHqe sc-ipEyDJ cVsHYs cQzbjF">Print this page</a></div>
			</div>
		</div>
	</div>

	{% endblock %}
	{% block pageScripts %}
	<script type="text/javascript">
		window.GOVUK = window.GOVUK || {};
		window.GOVUK.Modules = window.GOVUK.Modules || {};

		(function(Modules) {
        /* This JavaScript provides two functional enhancements to option-select components:
          1) A count that shows how many results have been checked in the option-container
          2) Open/closing of the list of checkboxes
          */
          function OptionSelect($module) {
          	this.$optionSelect = $module;
          	this.$options = this.$optionSelect.querySelectorAll(
          		"input[type='checkbox']"
          		);
          	this.$optionsContainer = this.$optionSelect.querySelector(
          		".js-options-container"
          		);
          	this.$optionList = this.$optionsContainer.querySelector(
          		".js-auto-height-inner"
          		);
          	this.$allCheckboxes = this.$optionsContainer.querySelectorAll(
          		".govuk-checkboxes__item"
          		);

          	this.checkedCheckboxes = [];
          }

          OptionSelect.prototype.init = function() {
            // Replace div.container-head with a button
            this.replaceHeadingSpanWithButton();

            // Add js-collapsible class to parent for CSS
            this.$optionSelect.classList.add("js-collapsible");

            // Add open/close listeners
            var button = this.$optionSelect.querySelector(".js-container-button");
            button.addEventListener("click", this.toggleOptionSelect.bind(this));

            var closedOnLoad = this.$optionSelect.getAttribute("data-closed-on-load");
            if (closedOnLoad === "true") {
            	this.close();
            }
        };

        OptionSelect.prototype.cleanString = function cleanString(text) {
        	text = text.replace(/&/g, "and");
            text = text.replace(/[’',:–-]/g, ""); // remove punctuation characters
            text = text.replace(/[.*+?^${}()|[\]\\]/g, "\\$&"); // escape special characters
            return text.trim().replace(/\s\s+/g, " ").toLowerCase(); // replace multiple spaces with one
        };

        OptionSelect.prototype.getAllCheckedCheckboxes =
        function getAllCheckedCheckboxes() {
        	this.checkedCheckboxes = [];

        	for (var i = 0; i < this.$options.length; i++) {
        		if (this.$options[i].checked) {
        			this.checkedCheckboxes.push(i);
        		}
        	}
        };

        OptionSelect.prototype.replaceHeadingSpanWithButton =
        function replaceHeadingSpanWithButton() {
                /* Replace the span within the heading with a button element. This is based on feedback from Léonie Watson.
                 * The button has all of the accessibility hooks that are used by screen readers and etc.
                 * We do this in the JavaScript because if the JavaScript is not active then the button shouldn't
                 * be there as there is no JS to handle the click event.
                 */
                 var containerHead = this.$optionSelect.querySelector(
                 	".js-container-button"
                 	);
                 var jsContainerHeadHTML = containerHead.innerHTML;

                // Create button and replace the preexisting html with the button.
                var button = document.createElement("button");
                button.setAttribute(
                	"class",
                	"js-container-button app-c-option-select__title app-c-option-select__button"
                	);
                // Add type button to override default type submit when this component is used within a form
                button.setAttribute("type", "button");
                button.setAttribute("aria-expanded", true);
                button.setAttribute("id", containerHead.getAttribute("id"));
                button.setAttribute(
                	"aria-controls",
                	this.$optionsContainer.getAttribute("id")
                	);
                button.innerHTML = jsContainerHeadHTML;
                containerHead.parentNode.replaceChild(button, containerHead);
            };

            OptionSelect.prototype.toggleOptionSelect = function toggleOptionSelect(e) {
            	if (this.isClosed()) {
            		this.open();
            	} else {
            		this.close();
            	}
            	e.preventDefault();
            };

            OptionSelect.prototype.open = function open() {
            	if (this.isClosed()) {
            		this.$optionSelect
            		.querySelector(".js-container-button")
            		.setAttribute("aria-expanded", true);
            		this.$optionSelect.classList.remove("js-closed");
            		this.$optionSelect.classList.add("js-opened");
            	}
            };

            OptionSelect.prototype.close = function close() {
            	this.$optionSelect.classList.remove("js-opened");
            	this.$optionSelect.classList.add("js-closed");
            	this.$optionSelect
            	.querySelector(".js-container-button")
            	.setAttribute("aria-expanded", false);
            };

            OptionSelect.prototype.isClosed = function isClosed() {
            	return this.$optionSelect.classList.contains("js-closed");
            };

            OptionSelect.prototype.setContainerHeight = function setContainerHeight(
            	height
            	) {
            	this.$optionsContainer.style.height = height + "px";
            };

            OptionSelect.prototype.isCheckboxVisible = function isCheckboxVisible(
            	option
            	) {
            	var initialOptionContainerHeight = this.$optionsContainer.clientHeight;
            	var optionListOffsetTop = this.$optionList.getBoundingClientRect().top;
            	var distanceFromTopOfContainer =
            	option.getBoundingClientRect().top - optionListOffsetTop;
            	return distanceFromTopOfContainer < initialOptionContainerHeight;
            };

            OptionSelect.prototype.getVisibleCheckboxes =
            function getVisibleCheckboxes() {
            	var visibleCheckboxes = [];
            	for (var i = 0; i < this.$options.length; i++) {
            		if (this.isCheckboxVisible(this.$options[i])) {
            			visibleCheckboxes.push(this.$options[i]);
            		}
            	}

                // add an extra checkbox, if the label of the first is too long it collapses onto itself
                if (this.$options[visibleCheckboxes.length]) {
                	visibleCheckboxes.push(this.$options[visibleCheckboxes.length]);
                }
                return visibleCheckboxes;
            };

            Modules.OptionSelect = OptionSelect;
        })(window.GOVUK.Modules);

        var $optionsSelect = document.querySelectorAll('[data-module="option-select"]');
        if ($optionsSelect) {
        	$optionsSelect.forEach((el) =>
        		new window.GOVUK.Modules.OptionSelect(el).init()
        		);
        }
    </script>
    {% endblock%}