{% extends "layout_hmpps.html" %}
{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block primaryNavigation %} {% endblock %}

{% block beforeContent %}
{{govukBackLink({ text: "Back", "href": "javascript:
window.history.go(-1)" })}} {% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">
      Create an activity
    </span>
    <form method="post">
      {{govukInput({
      id: "allocation-count",
      name: "new-activity[capacity]",
      value: data['new-activity']['capacity'] or '',
      classes: "govuk-input--width-5",
      label: {
      text: "How many people can be allocated to this activity?",
      classes: "govuk-label--l"
      },
      hint: {
      html: "Enter the maximum number (known as capacity) of people who can be allocated.<br>You'll be able to
      overallocate to ensure the activity is not short-handed."
      }
      })}}

      {{govukButton({
      text: "Continue"
      })}}
    </form>
  </div>
</div>

{% endblock %}