.app-masthead {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  background-color: $govuk-brand-colour;
  margin-top: -(govuk-spacing(2));
}
@media (min-width: 40.0625em) {
  .app-masthead {
    padding-top: 40px;
  }
}
.app-masthead__title, .app-masthead__subtitle, .app-masthead p {
  color:#ffffff !important;
}
.app-masthead__subtitle {
  font-weight: normal !important;
}