.app-attendance-sticky-bar {
	margin: 0;
	display: block;
	position: sticky;
	top: -1px;
	width: 100%;
	height: 90px;
	z-index: 999;

	&.pinned {
		border-bottom: 1px solid $govuk-border-colour;
		background: govuk-colour('white');
		box-shadow: 0 0 8px rgba(0,0,0,0.2);
	}
}

.app-actions-toolbar,
.app-attendance-sticky-bar--bottom {
	width: 100%;
	z-index: 999;
	background: govuk-colour('white');

	// hide the bar by default
	display: none;

	.govuk-width-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		width: 100%;
		height: 80px;
	}

	#app-attendance-count {
		display: flex;
	}

	.govuk-button-group {
		display: flex;
	}

	&.is-pinned {
		box-shadow: 0 -4px 0 0px rgba(0,0,0,0.1);
		border-top: $govuk-border-colour 1px solid;
	}

	&.active {
		display: flex;
		background: govuk-colour('blue');
		position: sticky;
		bottom: -1px;
		
		.is-pinned {
			border-top-color: govuk-colour('blue');
		}

		p#app-selected-count {
			@include govuk-font($size: 19, $weight: bold);
		}

		p {
			color: white;
		}
	}
}

.app-actions-toolbar.active {
	display: flex;
	background: govuk-colour('dark-blue');
	position: sticky;
	bottom: -1px;
	box-shadow: 0 -4px 0 rgba(0,0,0,0.15);
	
	.is-pinned {
		border-top-color: govuk-colour('blue');
	}

	p#app-selected-count {
		@include govuk-font($size: 19, $weight: bold);
	}

	p,
	a {
		color: govuk-colour('white');
	}
}