{% extends "layout_hmpps-no-nav.html" %}
{% set serviceName = "Appointments" %}

{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block content %}
<form id="form" method="post" action="group-info-1">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Multiple appointment list</span>
        Search and add prisoners to the appointment list
       </h1>
          {%- from "govuk/components/button/macro.njk" import govukButton -%}
          {%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
          {%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
          {%- from "govuk/components/input/macro.njk" import govukInput -%}
          {%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}

          <div data-module="moj-add-another">

              {% call govukFieldset({
                classes: 'moj-add-another__item',
                legend: {
                  text: '',
                  classes: 'moj-add-another__title govuk-fieldset__legend--m',
                  isPageHeading: false
                }
              }) %}
          <br>
              {{ govukInput({
                id: 'person-1',
                name: 'person-1',
                label: {
                  html: 'Search by prison number',
                  classes: 'govuk-!-font-weight-bold'
                },
                attributes: {
                  'data-name': 'person[%index%][first_name]',
                  'data-id': 'person[%index%][first_name]'
                }
              }) }}


              {% endcall %}

              <div class="moj-button-action">
                {{ govukButton({
                  text: 'Add another person',
                  classes: 'govuk-button--secondary  govuk-!-margin-bottom-4'
                }) }}
              </div>
              <br><br>
              <div class="moj-button-action">
                {{ govukButton({
                  text: 'Continue'
                }) }}
              </div>

          </div>
        </form>
      
      </div>
    
    
  </div>
</div>
</form>
{% endblock %}
