
{% extends "layout_hmpps-no-nav.html" %}
{% set serviceName = "Appointments" %}

{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="back">
        <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
        </div>
        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Chaplaincy</span>
          There are no new attendees for this appointment
        </h1>

      <p class="govuk-body">Add more people or <span><a class="govuk-link" href="">return to the appointment details</a></span>.</p>

    <form method="post">
     
      <div class="govuk-!-margin-bottom-3 govuk-button-group">
        {{ govukButton({
          text: "Add another person",
          attributes: {
          "formaction": "upload-or-per-person",
          "formmethod": "get"
          }
          }) }} 
      </div>

    </form>

  </div>
</div>
{% endblock %}
