{% extends "layout_hmpps.html" %}
{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}




{% block main %}

<form method="post" action="apply-to">
<div class="govuk-width-container">   
  {% block beforeContent %}
    <nav class="govuk-!-display-none-print">
    {{govukBackLink({
      text: "Back",
      "href": "javascript: window.history.go(-1)"
      })}} 
      <a href="../dps-home.html" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-3 float-right">
        Go to all appointments tasks
      </a>
    </nav>
  {% endblock %}


  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main"> 

            <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds"> 
				    <h1 class="govuk-heading-l"> 
					    <span class="govuk-caption-l">Record attendance</span>
					    Who attended this appointment?
				    </h1>
 
				   <table
				   class="govuk-table app-toolbar-table app-whereabouts-table--sticky-head "
				   data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="col" id="select-all"></th>
                      <th class="govuk-table__header" aria-sort="none">
                        <button type="button" data-index="0">
                          Name
                        </button>
                      </th> 
                      <th class="govuk-table__header">
                        Attendance
                      </th>  
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">


                    <tr class="govuk-table__row govuk-table__row--selected">
                      <td class="govuk-table__cell">
                        <div
                          class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" checked
                            id="prisoner-david_francis-2">
                          <label class="govuk-label govuk-checkboxes__label"
                            for="prisoner-david_francis-2">
                            <span class="govuk-visually-hidden">Select Abraham Arby, E2405E</span>
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>Abraham, </b>Amby</a><br>
                        <span class="govuk-hint govuk-!-font-size-16">E2405E </span>
                      </td> 
                      
                      <td class="govuk-table__cell" data-sort-value="" scope="col">
                          
                        <span class="app-tag app-tag--attended">
                          Attended
                        </span>
                      </td>
                    </tr>


                    <tr class="govuk-table__row govuk-table__row--selected" >
                      <td class="govuk-table__cell">
                        <div
                          class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" checked
                            id="prisoner-david_francis-2">
                          <label class="govuk-label govuk-checkboxes__label"
                            for="prisoner-david_francis-2">
                            <span class="govuk-visually-hidden">Select Bert Hungerford, A3123DF</span>
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>Hungerford, </b>Bert</a><br>
                        <span class="govuk-hint govuk-!-font-size-16">C2598E </span>
                      </td> 
                      
                      <td class="govuk-table__cell" data-sort-value="" scope="col">
                          
                        <span class="app-tag app-tag--attended">
                          Attended
                        </span>
                      </td>
                       
                    </tr>

                    <tr class="govuk-table__row govuk-table__row--selected">
                      <td class="govuk-table__cell">
                        <div
                          class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" checked
                            id="prisoner-david_francis-2">
                          <label class="govuk-label govuk-checkboxes__label"
                            for="prisoner-david_francis-2">
                            <span class="govuk-visually-hidden">Select Matthew Doyle, E4911C</span>
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>Doyle, </b>Matthew</a><br>
                        <span class="govuk-hint govuk-!-font-size-16">E4911C</span>
                      </td> 
                      
                      <td class="govuk-table__cell" data-sort-value="" scope="col">
                          
                        <span class="app-tag app-tag--attended">
                          Attended
                        </span>
                      </td>
                    </tr>

                    <tr class="govuk-table__row govuk-table__row--selected">
                      <td class="govuk-table__cell">
                        <div
                          class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" checked
                            id="prisoner-david_francis-2">
                          <label class="govuk-label govuk-checkboxes__label"
                            for="prisoner-david_francis-2">
                            <span class="govuk-visually-hidden">Select Ryan Gee, E4911C</span>
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>Gee, </b>Ryan</a><br>
                        <span class="govuk-hint govuk-!-font-size-16">F5132C</span>
                      </td> 
                    
                      <td class="govuk-table__cell" data-sort-value="" scope="col">
                          
                        <span class="app-tag app-tag--attended">
                          Attended
                        </span>
                      </td>
                    </tr>

                    <tr class="govuk-table__row govuk-table__row--selected">
                      <td class="govuk-table__cell">
                        <div
                          class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input"
                            id="prisoner-david_francis-2">
                          <label class="govuk-label govuk-checkboxes__label"
                            for="prisoner-david_francis-2">
                            <span class="govuk-visually-hidden">Select Robin Bab, F4933A</span>
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>Bab, </b>Robin</a><br>
                        <span class="govuk-hint govuk-!-font-size-16">F4933A</span>
                      </td> 
                    
                      
                      <td class="govuk-table__cell" data-sort-value="" scope="col"> 
                        
                        <span class="app-tag app-tag--not-attended">
                          Not attended
                        </span> 
                    </td>
                    </tr>

                    <tr class="govuk-table__row govuk-table__row--selected">
                      <td class="govuk-table__cell">
                        <div
                          class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" checked
                            id="prisoner-david_francis-2">
                          <label class="govuk-label govuk-checkboxes__label"
                            for="prisoner-david_francis-2">
                            <span class="govuk-visually-hidden">Select Tommy-Lee Knox, C8361E</span>
                          </label>
                        </div>
                      </td>
                      <td class="govuk-table__cell" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>Knox, </b>Tommy-Lee</a><br>
                        <span class="govuk-hint govuk-!-font-size-16">C8361E</span>
                      </td> 
                      
                      <td class="govuk-table__cell" data-sort-value="" scope="col">
                          
                        <span class="app-tag app-tag--attended">
                          Attended
                        </span>
                      </td>
                    </tr>

                    
                  </tbody>
                </table>


        <div class="govuk-grid-row govuk-grid-column-full govuk-button-group">
          {{govukButton({
            text: "Update attendance record",
            attributes: {
              "formaction": "#",
              "formmethod": "get"
              }
            })}}
            
        </div>

			 


            </div>
          </div> 

  
  </main>


</div>


	{% include '../_includes/attendance-toolbar-3.html' %}

</form>
{% endblock %}
 

{% block pageScripts %}
<script type="text/javascript">
	$(document).ready(function () {
		function toggleToolbar(btn) {
			let checkbox = $('.app-toolbar-table input[type="checkbox"]')
			let count = checkbox.filter(':checked').length - $('th .moj-multi-select__checkbox input:checkbox:checked').length

			if (!btn.data('html')) {
				$.each(btn, function () {
					$(this).attr('data-html', $(this).html())
				})

				$('#app-selected-count').attr('data-html', $('#app-selected-count').html())
			}

			if (checkbox.is(':checked')) {
				let countText = (count > 1) ? "attendees" : "attendee"

				$('#app-selected-count').html(count + " " + countText + " selected")

				$.each(btn, function () {
					$(this).attr("disabled", false).html($(this).data('html'))
				})

				$('.app-attendance-sticky-bar--bottom').addClass('active').attr("aria-disabled", false).find('.govuk-button-group').show()
			} else {
				$.each(btn, function () {
					$(this).attr("disabled", true).html($(this).data('html'))
				})

				$('.app-attendance-sticky-bar--bottom').removeClass('active').attr("aria-disabled", true).find('.govuk-button-group').hide()
				$('#app-selected-count').html($('#app-selected-count').data('html'))
			}
		}
		$(window).load(function () {
			toggleToolbar($('.app-attendance-btn'))
		})
		$('.app-toolbar-table input[type="checkbox"]').on('change', function () {
			toggleToolbar($('.app-attendance-btn'))
		})

		const el = document.querySelector(".app-attendance-sticky-bar--bottom")
		const observer = new IntersectionObserver(
			([e]) => e.target.classList.toggle("is-pinned", e.intersectionRatio < 1),
			{ threshold: [1] }
		);

		observer.observe(el);
	})
</script>
 
{% endblock %}
