
{% extends "layout_hmpps-no-nav.html" %}
{% set serviceName = "Appointments" %}

{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block content %}
<form id="form" method="post" action="upload-or-per-person">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Group appointment</span>
        Append to current list or remove all and upload a new list of people
       </h1>
       
      {{ govukRadios({
        idPrefix: "append-or-add",
        name: "append-or-add",
        items: [
          {
            value: "Append to current list",
            text: "Append to current list"
          },
          {
            value: "Remove all and add new",
            text: "Remove all and add new"
          }
        ]
       }) }}
     

    {{ govukButton({
      text: "Continue"
    }) }}
  </div>
</div>
</form>
{% endblock %}
