{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}
{% set activitiesCount = activitiesForDate.morning|length + activitiesForDate.afternoon|length %}

{% block pageTitle %}
Find an activity to record or edit attendance
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
classes: "govuk-!-display-none-print",
items: [
{
text: "Digital Prison Services",
href: "/dps-home"
},
{
text: "Manage activities",
href: "../../manage-activities"
},
{
text: "Edit activity details",
href: "../edit-activity"
}
]
}) }}
{% endblock %}

{% block content %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% if data['confirmation-dialog'].display == true %}
{% set prisoner = data['confirmation-dialog'].prisoner | getPrisonerDetails %}
{% if data['confirmation-dialog'].type == 'deallocate' %}
{% set bannerHtml %}
<h2 class="govuk-notification-banner__heading">
    {{prisoner.name.firstname}} {{prisoner.name.surname}} is no longer allocated to {{activity.name}}.
</h2>
{% endset %}
{{ govukNotificationBanner({
html: bannerHtml,
titleText: "Success",
type: "success"
}) }}
{% endif %}
{% endif %}

<div class="govuk-grid-row govuk-!-margin-bottom-">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">
            Edit activity details
        </span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
            {{activity.name}} <span class="govuk-tag govuk-tag--green">Live</span>
        </h1>
        <p class="govuk-!-margin-bottom-7">
            <a href="manage-allocations" class="govuk-link govuk-link--no-visited-state">
                Manage allocations for this activity
            </a>
        </p>
        <div class="govuk-list govuk-button-group">
            <!-- <a href="edit-activity" class="govuk-link govuk-link--no-visited-state">
                Manage allocations for this activity
            </a> -->
            <a href="../end-activity/{{activity.id}}" class="govuk-button govuk-button--warning">
                End this activity
            </a>
        </div>

        <!-- {{govukDetails({
        summaryText: "Activity requirements",
        html: activityInfoHtml
        })}} -->

        <!-- <ul class="govuk-list">
            <li>
                Vacancies: {{vacanciesCount}}
            </li>
            <li>
                Currently allocated: {{currentlyAllocatedCount}}
            </li>
            <li>
                Capacity: {{activity.capacity}}
            </li>
        </ul> -->
    </div>

    <!-- <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Related actions
        </h2>
        <ul class="govuk-list govuk-list--spaced">
            <li>
                <a href="#" class="govuk-link govuk-link--no-visited-state">
                    Manage allocations for this activity
                </a>
            </li>
            <li>
                <a href="#" class="govuk-link govuk-link--no-visited-state">
                    Create an activity
                </a>
            </li>
        </ul>
    </div> -->
</div>

{% include './_sub-navigation.html' %}

{% block tableArea %}{% endblock %}

{% endblock %}


{% block pageScripts %}
{% endblock %}