{% extends "layout_hmpps.html" %}

{% set serviceName = "Activities Management" %}
{% set activitiesCount = activitiesForDate.morning|length + activitiesForDate.afternoon|length %}

{% block pageTitle %}
Find an activity to record or edit attendance
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block main %}
<form method="post">
    <div class="govuk-width-container">
        {% block beforeContent %}
        {% include "./_activity-breadcrumbs.html" %}
        {% endblock %}

        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
            {% block content %}
            {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
            {% if data['confirmation-dialog'].display == true %}

            {% set prisoner = data['confirmation-dialog'].prisoner | getPrisonerDetails %}

            {% if data['confirmation-dialog'].type == 'deallocate' %}
            {% set bannerHtml %}
            <h2 class="govuk-notification-banner__heading">
                {{prisoner.name.firstname}} {{prisoner.name.surname}} is no longer allocated to {{activity.name}}.
            </h2>
            {% endset %}
            {{ govukNotificationBanner({
            html: bannerHtml,
            titleText: "Success",
            type: "success"
            }) }}
            {% endif %}
            {% endif %}

            {% include "./_activity-header.html" %}

            <h2 class="govuk-heading-m govuk-!-margin-bottom-5">
                {{currentlyAllocated.length}} people currently allocated
            </h2>
            
            <p>
                <a href="#" class="govuk-link" style="color: #be0e0e;">
                Remove people from this activity
                </a>
            </p>

            <table class="govuk-table govuk-!-margin-bottom-5" data-module="moj-multi-select"
                data-multi-select-checkbox="#select-all">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <!-- <th class="govuk-table__header govuk-!-padding-right-2 govuk-!-padding-left-1" scope="col"
                            id="select-all"></th> -->
                        <th scope="col" class="govuk-table__header">Prisoner details</th>
                        <th scope="col" class="govuk-table__header">Non-associations in this prison</th>
                        <th scope="col" class="govuk-table__header">Allocation start and end</th>
                        <th scope="col" class="govuk-table__header">Other allocations</th>
                        <th scope="col" class="govuk-table__header">Earliest release date</th>
                        <th scope="col" class="govuk-table__header"></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for prisoner in currentlyAllocated | sort(false,true,'name.surname') %}
                    <tr class="govuk-table__row">
                        <!-- <td class="govuk-table__cell">
                            <div
                                class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox govuk-!-margin-right-2 govuk-!-margin-left-1">
                                <input type="checkbox" class="govuk-checkboxes__input" id="prisoner-{{loop.index}}"
                                    name="selected-prisoners" value="{{prisoner.id}}">
                                <label class="govuk-label govuk-checkboxes__label" for="prisoner-{{loop.index}}">
                                    <span class="govuk-visually-hidden">Select {{prisoner.name.surname}},
                                        {{prisoner.name.firstname}}</span>
                                </label>
                            </div>
                        </td> -->
                        <td class="govuk-table__cell">
                            <b>
                                <a href="#" class="govuk-link--no-visited-state">
                                    {{prisoner.name.surname}}, {{prisoner.name.firstname}}
                                </a>
                            </b>
                            <br>
                            {{prisoner.id}}
                            <br>
                            {{prisoner.location.cell}}
                        </td>
                        <td class="govuk-table__cell">
                            {% if loop.index == 3 %}
                            <ul class="govuk-list">
                                <li><a href="#" class="govuk-link--no-visited-state">Jordan Johnson-Jones</a>
                                </li>
                            </ul>
                            <!-- <details class="govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        3 non associations
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    <ul class="govuk-list">
                                        <li><a href="#" class="govuk-link--no-visited-state">Jordan Johnson-Jones</a>
                                        </li>
                                    </ul>
                                </div>
                            </details> -->
                            {% else %}
                            None
                            {% endif %}
                        </td>
                        <td class="govuk-table__cell">
                            {{prisoner.allocations[prisoner.activityIndex].startDate|convertShortDateToMediumDate}}
                            {% if prisoner.allocations[prisoner.activityIndex].endDate %}
                            <br>
                            to {{prisoner.allocations[prisoner.activityIndex].endDate|convertShortDateToMediumDate}}
                            {% endif %}
                        </td>
                        <td class="govuk-table__cell">
                            {% if prisoner.activity == activity.id or prisoner.activity|length == 0 %}
                            <span class="govuk-hint">None</span>
                            {% else %}
                            <ul class="govuk-list">
                                {% for allocation in prisoner.activity %}
                                <!-- don't show the allocation if it's the same as the current activity -->
                                {% if allocation != activity.id %}
                                {% set activity = allocation|getActivityDetails %}
                                <li><a href="../{{activity.id}}"
                                        class="govuk-link--no-visited-state">{{activity.name}}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </td>
                        <td class="govuk-table__cell">
                            {{prisoner.releaseDate|convertShortDateToMediumDate}}
                        </td>
                        <td class="govuk-table__cell">
                            <a href="edit-allocation/{{prisoner.id}}" class="govuk-link--no-visited-state">Change</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- {{govukButton({
            text: "Remove from activity",
            classes: "govuk-button--warning"
            })}} -->

            {% endblock %}
        </main>
    </div>

    {% include '../includes/allocation-toolbar.html' %}
</form>
{% endblock %}


{% block pageScripts %}
<script type="text/javascript">
    // toggle .app-attendance-sticky-bar--bottom toolbar to display when any table checkboxes are checked
    // ... and hide when no checkboxes are checked
    const toolbar = $('#allocation-toolbar');
    const checkbox = $('table').find('input[type="checkbox"]');
    const selectedCount = $('#app-selected-count');
    const clearButton = $('#clear-selection');

    // store the original count string
    selectedCount.attr('data-html', $('#app-selected-count').html());
    
    const generateCountString = (count) => {
        let noun = count == 1 ? ' person' : ' people'; // if count is 1, use 'person', otherwise use 'people'
        return count + noun + ' selected'; // return the count and noun
    }

    function updateToolbar() {
        // if any checkboxes are checked, show the toolbar
        if (checkbox.is(':checked')) {
            toolbar.addClass('active').attr("aria-disabled", false); // enable the toolbar
            selectedCount.html(generateCountString(checkbox.filter(':checked').length)); // update the count
        } else {
            toolbar.removeClass('active').attr("aria-disabled", true); // disable the toolbar
            selectedCount.html(selectedCount.attr('data-html')); // reset the count
        }

        // if more than one checkbox is checked, hide the "Edit allocation" button
        if (checkbox.filter(':checked').length > 1) {
            $('#edit-allocation').hide(); // hide the button
        } else {
            $('#edit-allocation').show(); // show the button
        }
    };

    $('body').on('change', 'table input[type="checkbox"]', updateToolbar);

    // run the function on window load to check if any checkboxes are already checked
    $(window).on('load', updateToolbar);

    // clear all checkboxes when the "Clear selection" button is clicked
    clearButton.on('click', function (event) {
        event.preventDefault(); // prevent the page from jumping to the top

        // get the first checkbox in the table
        let selectAllCheckbox = $('body').find('table input[type="checkbox"]').first();
        
        // if the first checkbox in the table is checked, uncheck it
        if (selectAllCheckbox.is(':checked')) {
            selectAllCheckbox.click();
        } else {
            // otherwise, uncheck all other checkboxes
            checkbox.prop('checked', false);
        }

        // disable the toolbar and reset the count
        toolbar.removeClass('active').attr("aria-disabled", true);

        // reset the count
        selectedCount.html(selectedCount.attr('data-html'));
    });

</script>
{% endblock %}