
{% extends "layout.html" %}


{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
    Select how much you want to pay {{ data.offenderAllocate }}, <strong>A430914</strong>.</h2><br />

    </h1>
    <p class="govuk-body">{{ data.offenderAllocate }}'s current incentive rate is Basic. His pay has been previously set for this activity at £1.21.</p>
    <p class="govuk-body">If the rate you need is not listed you can <a href="#">add or change rates for this activity.</a></p>
  </div>
  <div id="event-name-hint" class="govuk-hint">

  </div>
    <form method="post">
      <div class="govuk-form-group">

        {% if data.setupPayments == "three" %}
      <!--3 payments-->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">

              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live" name="AllocatePayment" type="radio" value="1.21">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  Basic rate: &pound;1.21
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="AllocatePayment" type="radio" value="1.51">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  Standard rate: &pound;1.51
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-3" name="AllocatePayment" type="radio" value="1.81">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                Advanced rate: &pound;1.81
                </label>
              </div>
            </div>

          </fieldset>
        </div>




    <!--9 payments-->
    {% elseif data.setupPayments == "ten" %}
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">

          </h1>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live" name="AllocatePayment" type="radio" value="1.21">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
              Rate A: &pound;1.21
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="AllocatePayment" type="radio" value="1.51">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
              Wing 1 rate: &pound;1.51
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-3" name="AllocatePayment" type="radio" value="1.81">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
            Weekend pay: &pound;1.81
            </label>
          </div><br />
        </div>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live" name="AllocatePayment" type="radio" value="1.21">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
              Night pay: &pound;1.31
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="AllocatePayment" type="radio" value="1.51">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
              Bonus pay: &pound;1.61
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-3" name="AllocatePayment" type="radio" value="1.81">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
            Standard rate: &pound;1.91
            </label>
          </div><br />
        </div>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live" name="AllocatePayment" type="radio" value="1.21">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
              Wing 2: &pound;1.41
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="AllocatePayment" type="radio" value="1.51">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
              level 2: &pound;1.71
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-3" name="AllocatePayment" type="radio" value="1.81">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
            level 3: &pound;2.01
            </label>
          </div>
        </div>

      </fieldset>
    </div>

          {% else %}
          <!--10 payments-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">

                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live" name="AllocatePayment" type="radio" value="1.21">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                    Basic rate: &pound;1.21
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-2" name="AllocatePayment" type="radio" value="1.51">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                    Standard rate: &pound;1.51
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-3" name="AllocatePayment" type="radio" value="1.81">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                  Advanced rate: &pound;1.81
                  </label>
                </div>
              </div>

            </fieldset>
          </div>




  {% endif %}


        </fieldset>
      </div>
      <br />
    <button class="govuk-button" data-module="govuk-button">Confirm pay and continue</button>
</div>

{% endblock %}
