
{% extends "layout_hmpps-no-nav.html" %}
{% set serviceName = "Appointments" %}

{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block content %}
<head>
  <style>
* {
box-sizing: border-box;
}

body {
font: 16px Arial;
}

/*the container must be positioned relative:*/
.autocomplete {
position: relative;
display: inline-block;
}

input {
border: 2px solid black;
background-color: #fff;
padding: 10px;
font-size: 16px;
}

input[type=text] {
background-color: #fff;
width: 100%;
}

input[type=submit] {
background-color: DodgerBlue;
color: #fff;
cursor: pointer;
}

.autocomplete-items {
position: absolute;
border: 1px solid #d4d4d4;
border-bottom: none;
border-top: none;
z-index: 99;
/*position the autocomplete items to be the same width as the container:*/
top: 100%;
left: 0;
right: 0;
}

.autocomplete-items div {
padding: 10px;
cursor: pointer;
background-color: #fff;
border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
background-color: DodgerBlue !important;
color: #ffffff;
}
</style>
</head>
<form id="form" method="post" action="location">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <div class="back">
        <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
        </div>
     
     <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Bulk appointments</span>
      What is the appointment category for each appointment?
     </h1>
       
     
     <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <div id="event-name-hint" class="govuk-hint">
            Start typing a category and select from the list of options
          </div>
         
      </div>
     </div>
  <br><br>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header ">Name</th>
        <th scope="col" class="govuk-table__header ">Category</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell "><b>All prisoners</b></td>
        <td class="govuk-table__cell ">
          <div class="autocomplete" style="width:300px;">
            <input id="categoryChoice" type="text" name="categoryChoice" placeholder="" >
          </div>
        </td>
        </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell ">
          <a href="#" class="govuk-link--no-visited-state"><b>Rudge, </b> Neil</a><br>
              <span class="govuk-hint govuk-!-font-size-16">G2044E</span>
        </td>
        <td class="govuk-table__cell ">
          <div class="autocomplete" style="width:300px;">
            <input id="categoryChoice1" type="text" name="categoryChoice1" placeholder="" >
          </div>
        </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell ">
            <a href="#" class="govuk-link--no-visited-state"><b>Hungerford, </b>Bert</a><br>
              <span class="govuk-hint govuk-!-font-size-16">C2598E</span>
          </td>
          <td class="govuk-table__cell ">
            <div class="autocomplete" style="width:300px;">
              <input id="categoryChoice2" type="text" name="categoryChoice2" placeholder="" >
            </div>
          </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell ">
              <a href="#" class="govuk-link--no-visited-state"><b>Doyle</b>, Matthew</a><br>
              <span class="govuk-hint govuk-!-font-size-16">E4911C</span>
            </td>
            <td class="govuk-table__cell ">
              <div class="autocomplete" style="width:300px;">
                <input id="categoryChoice3" type="text" name="categoryChoice3" placeholder="" >
              </div>
            </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell ">
                <a href="#" class="govuk-link--no-visited-state"><b>Gee</b>, Ryan</a><br>
              <span class="govuk-hint govuk-!-font-size-16">F5132C</span>
              </td>
              <td class="govuk-table__cell ">
                <div class="autocomplete" style="width:300px;">
                  <input id="categoryChoice4" type="text" name="categoryChoice4" placeholder="" >
                </div>
              </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell ">
                  <a href="#" class="govuk-link--no-visited-state"><b>Bab</b>, Robin</a><br>
              <span class="govuk-hint govuk-!-font-size-16">F4933A</span>

                </td>
                <td class="govuk-table__cell ">
                  <div class="autocomplete" style="width:300px;">
                    <input id="categoryChoice5" type="text" name="categoryChoice5" placeholder="" >
                  </div>
                </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell ">
                    <a href="#" class="govuk-link--no-visited-state"><b>Knox</b>, Tommy-Lee</a><br>
              <span class="govuk-hint govuk-!-font-size-16">C8361E</span>
                  </td>
                  <td class="govuk-table__cell ">
                    <div class="autocomplete" style="width:300px;">
                      <input id="categoryChoice6" type="text" name="categoryChoice6" placeholder="" >
                    </div>
                  </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell "> <a href="#" class="govuk-link--no-visited-state"><b>Rasmussen</b>, Fuentes</a><br>
                      <span class="govuk-hint govuk-!-font-size-16">E2405E</span>
                    </td>
                    <td class="govuk-table__cell ">
                      <div class="autocomplete" style="width:300px;">
                        <input id="categoryChoice7" type="text" name="categoryChoice7" placeholder="" >
                      </div>
                    </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell ">
                        <a href="#" class="govuk-link--no-visited-state"><b>Drove</b>, Luther</a><br>
              <span class="govuk-hint govuk-!-font-size-16">C7950C</span>
                      </td>
                      <td class="govuk-table__cell ">
                        <div class="autocomplete" style="width:300px;">
                          <input id="categoryChoice8" type="text" name="categoryChoice8" placeholder="" >
                        </div>
                      </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell ">
                          <a href="#" class="govuk-link--no-visited-state"><b>Looker</b>, Logan</a><br>
              <span class="govuk-hint govuk-!-font-size-16">B9295C</span>
                        </td>
                        <td class="govuk-table__cell ">
                          <div class="autocomplete" style="width:300px;">
                            <input id="categoryChoice9" type="text" name="categoryChoice9" placeholder="" >
                          </div>
                        </td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell "><a href="#" class="govuk-link--no-visited-state"><b>Sykes</b>, Eric</a><br>
                            <span class="govuk-hint govuk-!-font-size-16">F6726E</span></td>
                          <td class="govuk-table__cell ">
                            <div class="autocomplete" style="width:300px;">
                              <input id="categoryChoice10" type="text" name="categoryChoice10" placeholder="" >
                            </div>
                          </td>
                          </tr>

    </tbody>
  </table>


  


  
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
  </form>

<script>
  function autocomplete(inp, arr) {
    /*the autocomplete function takes two arguments,
    the text field element and an array of possible autocompleted values:*/
    var currentFocus;
    /*execute a function when someone writes in the text field:*/
    inp.addEventListener("input", function(e) {
        var a, b, i, val = this.value;
        /*close any already open lists of autocompleted values*/
        closeAllLists();
        if (!val) { return false;}
        currentFocus = -1;
        /*create a DIV element that will contain the items (values):*/
        a = document.createElement("DIV");
        a.setAttribute("id", this.id + "autocomplete-list");
        a.setAttribute("class", "autocomplete-items");
        /*append the DIV element as a child of the autocomplete container:*/
        this.parentNode.appendChild(a);
        /*for each item in the array...*/
        for (i = 0; i < arr.length; i++) {
          /*check if the item starts with the same letters as the text field value:*/
          if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
            /*create a DIV element for each matching element:*/
            b = document.createElement("DIV");
            /*make the matching letters bold:*/
            b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
            b.innerHTML += arr[i].substr(val.length);
            /*insert a input field that will hold the current array item's value:*/
            b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
            /*execute a function when someone clicks on the item value (DIV element):*/
            b.addEventListener("click", function(e) {
                /*insert the value for the autocomplete text field:*/
                inp.value = this.getElementsByTagName("input")[0].value;
                /*close the list of autocompleted values,
                (or any other open lists of autocompleted values:*/
                closeAllLists();
            });
            a.appendChild(b);
          }
        }
    });
    /*execute a function presses a key on the keyboard:*/
    inp.addEventListener("keydown", function(e) {
        var x = document.getElementById(this.id + "autocomplete-list");
        if (x) x = x.getElementsByTagName("div");
        if (e.keyCode == 40) {
          /*If the arrow DOWN key is pressed,
          increase the currentFocus variable:*/
          currentFocus++;
          /*and and make the current item more visible:*/
          addActive(x);
        } else if (e.keyCode == 38) { //up
          /*If the arrow UP key is pressed,
          decrease the currentFocus variable:*/
          currentFocus--;
          /*and and make the current item more visible:*/
          addActive(x);
        } else if (e.keyCode == 13) {
          /*If the ENTER key is pressed, prevent the form from being submitted,*/
          e.preventDefault();
          if (currentFocus > -1) {
            /*and simulate a click on the "active" item:*/
            if (x) x[currentFocus].click();
          }
        }
    });
    function addActive(x) {
      /*a function to classify an item as "active":*/
      if (!x) return false;
      /*start by removing the "active" class on all items:*/
      removeActive(x);
      if (currentFocus >= x.length) currentFocus = 0;
      if (currentFocus < 0) currentFocus = (x.length - 1);
      /*add class "autocomplete-active":*/
      x[currentFocus].classList.add("autocomplete-active");
    }
    function removeActive(x) {
      /*a function to remove the "active" class from all autocomplete items:*/
      for (var i = 0; i < x.length; i++) {
        x[i].classList.remove("autocomplete-active");
      }
    }
    function closeAllLists(elmnt) {
      /*close all autocomplete lists in the document,
      except the one passed as an argument:*/
      var x = document.getElementsByClassName("autocomplete-items");
      for (var i = 0; i < x.length; i++) {
        if (elmnt != x[i] && elmnt != inp) {
          x[i].parentNode.removeChild(x[i]);
        }
      }
    }
    /*execute a function when someone clicks in the document:*/
    document.addEventListener("click", function (e) {
        closeAllLists(e.target);
    });
  }
  
  /*An array containing all the categories*/
  var categoryChoice = [
  'Activities',
  'Adjudication review',
  'Canteen',
  'Careers Adviser Appointment',
  'Case - Baile Apps',
  'Case - Benefits',
  'Case - Housing',
  'Case - Legal aid',
  'Case - Other',
  'Case - Probation',
  'Case - RAPT',
  'Case - Substance misuse services',
  'Chaplaincy',
  'Children and families',
  'Counselling session',
  'Education',
  'Governor',
  'Gym - Football',
  'Gym - PE Course',
  'Gym - Sports hall activity',
  'Gym - Weights',
  'Gym - Remedial physiotherapy',
  'Gym - Walking to health',
  'IMB',
  'Immigration appointment',
  'Induction meeting',
  'Interventions',
  'Job Centre Plus',
  'Labour control',
  'Library',
  'Medical - Dentist',
  'Medical - Doctor',
  'Medical - Other',
  'Medical - Psy',
  'Medical - X-Ray',
  'OMU Appointment',
  'Other',
  'Pre-release meeting',
  'Programme appointment',
  'ROTL Board',
  'Rec - MPU photo',
  'Rec - Other',
  'Rec - Prop',
  'Reset appointment',
  'Resolve',
  'SOTP Assessment',
  'Storybook Dads appointment',
  'TSP Appointment',
  'Toe by Toe appointment',
  'Trailblazers Appointment',
  'User Voice Session',
  'Video Link Booking'
  ];
  
  /*initiate the autocomplete function on the "education" element, and pass along the countries array as possible autocomplete values:*/
  autocomplete(document.getElementById("categoryChoice"), categoryChoice);
  autocomplete(document.getElementById("categoryChoice1"), categoryChoice);
  autocomplete(document.getElementById("categoryChoice2"), categoryChoice);
  autocomplete(document.getElementById("categoryChoice3"), categoryChoice);
  autocomplete(document.getElementById("categoryChoice4"), categoryChoice);
  autocomplete(document.getElementById("categoryChoice5"), categoryChoice);
  autocomplete(document.getElementById("categoryChoice6"), categoryChoice);
  autocomplete(document.getElementById("categoryChoice7"), categoryChoice);
  autocomplete(document.getElementById("categoryChoice8"), categoryChoice);
  autocomplete(document.getElementById("categoryChoice9"), categoryChoice);
  autocomplete(document.getElementById("categoryChoice10"), categoryChoice);
  </script>
{% endblock %}
