
{% extends "layout_hmpps-no-nav.html" %}
{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>

      

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      <span class="govuk-caption-l">Bulk appointments</span>
      Check for appointment clashes
    </h1>
    <p class="govuk-body">
      Select and remove prisoners with conflicting events.
    </p>
  </div>

</div>




  






<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" >



  <table class="govuk-table" data-module="moj-sortable-table" style="margin:30px 0 0 10px;">
    
  
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"   aria-sort="ascending" >Prisoner name and number</th>
        <th scope="col" class="govuk-table__header"  ></th>
      </tr>
    </thead>
  
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" >
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                <a href="#" class="govuk-link"><b>Hungerford</b>, Bert</a><br>
                C2598E
              </label>
            </div>
          </div>
          <br>

          <!--details component-->
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Clash details
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="appointment-event">
                <li>
                  <b>Drugs misuse programme</b><br>
                  
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 13:00 to 16:30
                    </li>
                   
                 
                    
                    <li class="nobox">
                      <b>Created by:</b> John Smith
                    </li>
                  </ul>
                  
                  
                 
                </li>
                <li>
                  <b>Kitchen</b>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 13:00 to 16:30
                    </li>
                   
                 
                    <li class="nobox">
                      <b>Created by:</b> Bill Jones
                    </li>
                    
                  </ul>


                  
                </li>
              </ul>
            </div>
          </details>
         <!--details component-->
            
       </td>
        <td class="govuk-table__cell" data-sort-value="0">
          {{ govukTag({
            text: "Clash",
            classes: "govuk-!-margin-right-3"
          }) }}
          <a href="#" class="govuk-link" >View schedule (opens in a new tab)</a>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" >
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                <a href="#" class="govuk-link"><b>Gee</b>, Ryan</a><br>
                F5132C
              </label>
            </div>
          </div>
          <br>

          <!--details component-->
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Clash details
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="appointment-event">
               
                <li>
                  <b>Kitchen</b>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 13:00 to 16:30
                    </li>
                   
                   
                    
                    <li class="nobox">
                      <b>Created by:</b> Bill Jones
                    </li>
                    
                  </ul>


                  
                </li>
              </ul>
            </div>
          </details>
         <!--details component-->
            
       </td>
        <td class="govuk-table__cell" data-sort-value="0">
          {{ govukTag({
            text: "Clash",
            classes: "govuk-!-margin-right-3"
          }) }}
          <a href="#" class="govuk-link" >View schedule (opens in a new tab)</a>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" >
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                <a href="#" class="govuk-link"><b>Knox</b>, Tommy-Lee</a><br>
                C8361E
              </label>
            </div>
          </div>
          <br>

          <!--details component-->
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Clash details
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="appointment-event">
               
                <li>
                  <b>Kitchen</b>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
                    <li class="nobox">
                      <b>Time:</b> 13:00 to 16:30
                    </li>
                   
                  
                    
                    <li class="nobox">
                      <b>Created by:</b> Bill Jones
                    </li>
                    
                  </ul>


                  
                </li>
              </ul>
            </div>
          </details>
         <!--details component-->
            
       </td>
        <td class="govuk-table__cell" data-sort-value="0">
          {{ govukTag({
            text: "Clash",
            classes: "govuk-!-margin-right-3"
          }) }}
          <a href="#" class="govuk-link" >View schedule (opens in a new tab)</a>
        </td>
      </tr>
    </tbody>
  </table>
  
  



<br />
<button class="govuk-button govuk-button--warning" data-module="govuk-button" name="editDashboard" value="archive">
Remove selected prisoners
</button>

{{ govukButton({
  text: "Continue",
  href: "comments"
}) }}

  </form>

</div>
</div>
</div>


{% endblock %}
