{% extends "layout_hmpps.html" %}
{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block primaryNavigation %} {% endblock %}

{% block beforeContent %}
{{govukBackLink({
text: "Back",
"href": "javascript: window.history.go(-1)"
})}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <span class="govuk-caption-l">
                {{activity.name}}
            </span>
            {{ govukRadios({
            idPrefix: "bank-holiday-check",
            name: "bank-holidays",
            fieldset: {
            legend: {
            text: "Does this activity run on bank holidays?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
            }
            },
            items: [
            {
            value: "yes",
            text: "Yes",
            checked: true if activity.bankHolidays == 'yes'
            },
            {
            value: "no",
            text: "No",
            checked: true if activity.bankHolidays == 'no'
            }
            ]})}}

            {{ govukButton({
            text: "Update bank holiday information"
            }) }}
            <p>
                <a href="../details" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </p>
        </form>
    </div>
</div>

{% endblock %}