<div class="app-attendance-sticky-bar--bottom" aria-live="polite" aria-disabled="true" role="toolbar" aria-label="Attendance actions">
	<div class="govuk-width-container">
		<p class="govuk-!-margin-bottom-0" id="app-selected-count">
			No attendees selected. Select attendees to begin marking attendance.
		</p>
		<div class="govuk-button-group govuk-!-margin-bottom-0">
			{% if dateTense != 'future' %}
			{{ govukButton({
				text: "Mark as attended",
				classes: "govuk-!-margin-bottom-0 govuk-button--white app-attendance-btn",
				value: "attended",
				name: "attendance-action",
				attributes: {
					formAction: activityId+"/attend-and-pay",
					formMethod: "post"
				}
			}) }}
			{% endif %}
			{{ govukButton({
				text: "Mark as not attended",
				classes: "govuk-!-margin-bottom-0 govuk-button--white app-attendance-btn",
				value: "not-attended",
				name: "attendance-action",
				attributes: {
					formAction: activityId+"/add-attendance-details"
				}
			}) }}
			<input type="hidden" name="activity-id" value="{{activityId}}">
			<input type="hidden" name="attendance-url" value="activity">
		</div>
	</div>
</div>