{% extends "layout_hmpps-new-nav.html" %}

{% set serviceName = "Appointments" %}
{% set prisonerName = "Matt Bellamy" %}
{% set activityTitle = "Thinking Skills Programme" %}

{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block beforeContent %}
<nav class="govuk-!-display-none-print">
    {{govukBackLink({
      text: "Back",
      "href": "javascript: window.history.go(-1)"
      })}} 
</nav>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="check-and-confirm" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">{{ activityTitle }}</span>
                        <h1 class="govuk-fieldset__heading">
                            Why are you taking {{ prisonerName }} off this activity?
                        </h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="remove-reason" name="remove-reason" type="radio" value="Completed course or task" data-aria-controls="conditional-contact">
                            <label class="govuk-label govuk-radios__label" for="remove-reason">
                                Completed course or task
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="remove-reason-2" name="remove-reason" type="radio" value="Transferred to another activity" data-aria-controls="conditional-remove-reason-2">
                            <label class="govuk-label govuk-radios__label" for="remove-reason-2">
                                Transferred to another activity
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="remove-reason-3" name="remove-reason" type="radio" value="Withdrawn by staff" data-aria-controls="conditional-remove-reason-3">
                            <label class="govuk-label govuk-radios__label" for="remove-reason-3">
                                Withdrawn by staff
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="remove-reason-4" name="remove-reason" type="radio" value="Withdrawn at own request" data-aria-controls="conditional-contact">
                            <label class="govuk-label govuk-radios__label" for="remove-reason-4">
                                Withdrawn at own request
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="remove-reason-5" name="remove-reason" type="radio" value="Dismissed" data-aria-controls="conditional-remove-reason-2">
                            <label class="govuk-label govuk-radios__label" for="remove-reason-5">
                                Dismissed
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="remove-reason-6" name="remove-reason" type="radio" value="Health" data-aria-controls="conditional-remove-reason-3">
                            <label class="govuk-label govuk-radios__label" for="remove-reason-6">
                                Health
                            </label>
                        </div>           
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="remove-reason-7" name="remove-reason" type="radio" value="Security" data-aria-controls="conditional-contact">
                            <label class="govuk-label govuk-radios__label" for="remove-reason-7">
                                Security
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="remove-reason-8" name="remove-reason" type="radio" value="Other" data-aria-controls="conditional-remove-reason-2">
                            <label class="govuk-label govuk-radios__label" for="remove-reason-8">
                                Other
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            {% from "govuk/components/button/macro.njk" import govukButton %}
            
            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Continue"
                }) }}
    
                <a class="govuk-link" href="summary-2.html">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}