{% extends "layout_hmpps.html" %}
{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block primaryNavigation %} {% endblock %}

{% block beforeContent %}
{{govukBackLink({ text: "Back", "href": "javascript:
window.history.go(-1)" })}} {% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Check details for {{data['new-activity']['activity-name']}}
        </h1>
        <h2 class="govuk-heading-m">
            Activity details            
        </h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Activity category
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data['new-activity']['category']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> activity category</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Activity name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data['new-activity']['name']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> activity name</span>
                    </a>
                </dd>
            </div>
        </dl>

        <h2 class="govuk-heading-m">
            Requirements and pay
        </h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Risk assessment level
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data['new-activity']['risk-assessment-level']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> risk assessment level</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Education requirements
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data['new-activity']['education']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> education requirements</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Pay rates
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data['new-activity']['pay-rates']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> pay rates</span>
                    </a>
                </dd>
            </div>
        </dl>

        <h2 class="govuk-heading-m">
            Dates and schedule
        </h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Start date
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data['new-activity']['start-date']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> start date</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    End date
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data['new-activity']['end-date']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> end date</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Days and times
                </dt>
                <dd class="govuk-summary-list__value">
                    {% for day in data['new-activity']['schedule'] %}
                        {{day.day|capitalize}}:
                        {% if day.am %}
                            AM
                        {% endif %}
                        {% if day.pm %}
                            PM
                        {% endif %}
                        <br>
                    {% endfor %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> days and times</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Runs on bank holidays
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data['new-activity']['bank-holidays']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> runs on bank holidays</span>
                    </a>
                </dd>
            </div>
        </dl>

        <h2 class="govuk-heading-m">
            Location and capacity
        </h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Location
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data['new-activity']['activity-location']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> location</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Capacity
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data['new-activity']['max-allocations']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> capacity</span>
                    </a>
                </dd>
            </div>
        </dl>

        <form method="post">
            <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
    </div>
</div>

{% endblock %}