
{% extends "layout.html" %}


{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>
    <span class="govuk-caption-m">Education | Risk level: {{data.riskLevel or 'High'}} </span>
    <h1 class="govuk-heading-m">{{data.activityName or 'Maths level 1'}}</h1>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
    Enter pay for {{data.activityName or 'Maths level 1'}}
    </h1>
  </div>
  <div id="event-name-hint" class="govuk-hint">
  </div>
  <p> When you allocate someone to this activity, you'll be asked to select their pay rate, based on their incentive level.<br />
    Use this page to enter the relevant rates (up to 10 for each incentive level).</p>
  <p>If the pay is the same for people on all incentive levels, select 'All incentive levels'.</p>
  <div class="govuk-inset-text">
    Do not enter a rate for an incentive level if people on that incentive level cannot be allocated to this activity.
</div>
    <form method="post">
      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Sort by
        </label>
        <select class="govuk-select" id="sort" name="PayIncentiveLevel">
          <option value="All" selected>All incentive levels</option>
          <option value="Basic">Basic</option>
          <option value="Standard" >Standard</option>
          <option value="Enhanced">Enhanced</option>
        </select>
      </div>
      <div class="moj-button-action">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>
    </div>

{% endblock %}
