
{% extends "layout.html" %}


{% block pageTitle %}
Activities Management prototype
{% endblock %}
{% block back %}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-three-thirds">
        <div class="back">
          <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
          </div>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4" style="margin-left:10px;">
          Edit details for {{data.activityCreateScheduleName or 'Maths level 3'}}
        </h1><br />
      </div>
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Activity details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Category
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.category or 'Education'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-type-select-with-category">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.activityName or 'Maths level 1'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-name">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Risk level
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.riskLevel or 'Low'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-risk-assessment">
                Change<span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Minimum incentive level
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.incentiveLevel or 'Basic'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-incentive-level">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Education level
            </dt>
            <dd class="govuk-summary-list__value">
              Maths level 2<br />English level 1
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-add-education">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Pay rates
            </dt>
            <dd class="govuk-summary-list__value">
              Rate A: &pound;1.21<br />
              Rate B: &pound;1.51<br />
              Rate C: &pound;1.81
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-payment-details">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Unsuitable for
            </dt>
            <dd class="govuk-summary-list__value">
              Sight impairment<br/ >Little English spoken

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-add-alerts">
                Change<span class="govuk-visually-hidden"> home address</span>
              </a>
            </dd>
          </div>

        </dl>
        <form method="post">
          <button class="govuk-button" data-module="govuk-button">
            Confirm changes
          </button>
        </form>
      </div>
</div>
{% endblock %}
