{% extends "layout.html" %}

{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">

  </div>
  <div id="event-name-hint" class="govuk-hint">
  </div>
    <form method="post">
      <div class="govuk-form-group">
        <div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">

              {% if data['edit']=='true' %}
                changes completed for
                {% else %}
                  You've created a new activity:<br />
              {% endif %}
              {{data.activityName or 'Maths level 1'}}

          </h1>
        <!--  <div class="govuk-panel__body">
            Your reference number<br><strong>HDJ2123F</strong>
          </div>-->
        </div>

        <h2 class="govuk-heading-l">What you can do next</h2>
        <p class="govuk-body">
          {% if data['edit']=='true' %}
          Your activity has been changed
          {% else %}
          Your activity has been created.
          {% endif %}
          </p>

          <p class="govuk-body">You need to <a href="schedule-name?edit=false">build a schedule</a> so you can start allocating people.</p>
          <p class="govuk-body">You can also:<br />
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="activity-type-select-with-category">create new activities</a></li>
            <li><a href="activity-dashboard?dashboardCategory=All&dashboardView=live">change of details of existing activities</a></li>
          </ul>
        {% if data['edit']=='true' %}
        <p class="govuk-body">You can <a href="schedule-check-your-answers">return to the schedule</a> you were building.
        </p>
        {% endif %}
      </div>
    </div>
  </main>
</div>
      </div>
      <form method="post" >
        {% if data['edit']=='true' %}
            <button class="govuk-button" data-module="govuk-button" style="margin-right:15px;">Return to schedule creation</button>
          {% else %}
      <!--    <button class="govuk-button" data-module="govuk-button">Build a schedule for   {{data.activityName or 'Maths level 1'}}</button>-->
        {% endif %}
  </form>
</div>
{% endblock %}
