
{% extends "layout.html" %}


{% block pageTitle %}
Activities Management prototype
{% endblock %}
{% block back %}
{% endblock %}
{% block content %}


{% if data['fromActivityDashboard']=='true' %}
<!--Show content linked form flat activity fromActivityDashboard-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      View or change details for {{data.activityNameDashboard or 'Maths level 1'}}
    </h1>
  </div>
  <div class="govuk-grid-column-one-third">
  <p class="govuk-body"><strong>Related tasks</strong><br />
  <a href="activity-type-select-with-category">Create an activity</a><br />
  <a href="../allocate/activity-dashboard-1">See vacancies and allocate people</a>
    </p>
  </div>


      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Activity details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Category
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.category or 'Education'}}
            </dd>
            <dd class="govuk-summary-list__value"> {% if (data.changedCategory=='changed')%}
              <strong class="govuk-tag govuk-tag--blue">
                C<span style="text-transform:lowercase;">hanged</span>
              </strong>
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-type-select-with-category?temp={{data.category}}">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.activityNameDashboard or 'Maths level 1'}}
            </dd>
            <dd class="govuk-summary-list__value">
              {{data.temp2}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-name">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Risk level
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.riskLevel or 'Low'}}
            </dd>
            <dd class="govuk-summary-list__value">
              {{data.temp2}}
            </dd>
            <dd class="govuk-summary-list__actions">
            <!--  <a class="govuk-link" href="check/activity-risk-assessment?riskLevel={{data.riskLevel or 'High'}}">-->
                  <a class="govuk-link" href="check/activity-risk-assessment">
                Change<span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Minimum incentive level
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.incentiveLevel or 'Basic'}}
            </dd>
            <dd class="govuk-summary-list__value">
              {{data.temp2}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-incentive-level">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Education level
            </dt>
            <dd class="govuk-summary-list__value">
                {%if (data.activityNameDashboard=='Maths level 2')%}

                Maths level 1<br />English level 1

                {% else %}
                {{data.activityNameDashboard}}
                Entry level English, level 3<br />Entry level maths, level 3

              {% endif %}
            </dd>
            <dd class="govuk-summary-list__value">
              {{data.temp2}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-add-education">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Pay rates
            </dt>
            <dd class="govuk-summary-list__value">
              Rate A: &pound;1.21<br />
              Rate B: &pound;1.51<br />
              Rate C: &pound;1.81
            </dd>
            <dd class="govuk-summary-list__value">
              {{data.temp2}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-payment-details">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Unsuitable for
            </dt>
            <dd class="govuk-summary-list__value">
              Sight impairment<br/ >Little English spoken
            </dd>
            <dd class="govuk-summary-list__value">
              {{data.temp2}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-add-alerts">
                Change<span class="govuk-visually-hidden"> home address</span>
              </a>
            </dd>
          </div>

        </dl>
        {% if data.showSchedules!=='true' %}

            {% if data['fromActivityDashboard']=='true' %}
              {% if (data.changedCategory=='changed')%}
              <form method="post">
                <input type="hidden" name="returnToDashboard" value="false" />
                <button class="govuk-button" data-module="govuk-button" value="return">
                Confirm changes
                {%endif%}
              {% if (data.changedCategory!=='changed')%}
              <form method="post">
                <input type="hidden" name="returnToDashboard" value="true" />
                <button class="govuk-button" data-module="govuk-button" value="return">
                Return to dashboard
                {%endif%}
            {% else %}
              {% if data['edit']=='true' %}
                Confirm changes to activity
                {% else %}
                  Create activity
              {% endif %}
            {% endif %}

          </button>
        </form>
        {% endif %}
      </div>




      {% if data.showSchedules=='true' %}
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Schedule details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Schedule name
            </dt>
            <dd class="govuk-summary-list__value">
            Schedule A
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-start-date">
                Change<span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
            {{data.startDate or '1 December 2022'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-start-date">
                Change<span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              End date
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.endDate or '10 January 2023'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-start-time">
                <span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Schedule
            </dt>
            <dd class="govuk-summary-list__value">
              <!--Check days entered on time enter page-->
              {% if data.timeMonday =='timeMonday' %}
                {% if data.timeAMMonday =='timeAMMonday'%} Monday am <br /> {% endif %}
                {% if data.timePMMonday =='timePMMonday' %}Monday pm <br />{% endif %}
                {% if data.timeEDMonday =='timeEDMonday' %}Monday ed <br />{% endif %}
              {% endif %}

            {% if data.timeTuesday =='timeTuesday' %}
              {% if data.timeAMTuesday =='timeAMTuesday' %}Tuesday am <br />{% endif %}
              {% if data.timePMTuesday =='timePMTuesday' %}Tuesday pm <br />{% endif %}
              {% if data.timeEDTuesday =='timeEDTuesday' %}Tuesday ed <br />{% endif %}
            {% endif %}

            {% if data.timeWednesday =='timeWednesday' %}
              {% if data.timeAMWednesday =='timeAMWednesday'  %}Wednesday am <br />{% endif %}
              {% if data.timePMWednesday =='timePMWednesday' %}Wednesday pm <br />{% endif %}
              {% if data.timeEDWednesday =='timeEDWednesday' %}Wednesday ed <br />{% endif %}
            {% endif %}

            {% if data.timeThursday =='timeThursday' %}
              {% if data.timeAMThursday =='timeAMThursday' %}Thursday am <br />{% endif %}
              {% if data.timePMThursday =='timePMThursday' %}Thursday pm <br />{% endif %}
              {% if data.timeEDThursday =='timeEDThursday' %}Thursday ed <br />{% endif %}
            {% endif %}

            {% if data.timeFriday =='timeFriday' %}
              {% if data.timeAMFriday =='timeAMFriday' %}Friday am <br />{% endif %}
              {% if data.timePMFriday =='timePMFriday' %}Friday pm <br />{% endif %}
              {% if data.timeEDFriday =='timeEDFriday' %}Friday ed <br />{% endif %}
            {% endif %}

            {% if data.timeSaturday =='timeSaturday' %}
              {% if data.timeAMSaturday =='timeAMSaturday' %}Saturday am <br />{% endif %}
              {% if data.timePMSaturday =='timePMSaturday' %}Saturday pm <br />{% endif %}
              {% if data.timeEDSaturday =='timeEDSaturday' %}Saturday ed <br />{% endif %}
            {% endif %}

            {% if data.timeSunday =='timeSunday' %}
              {% if data.timeAMSunday =='timeAMSunday' %}Sunday am <br />{% endif %}
              {% if data.timePMSunday =='timePMSunday' %}Sunday pm <br />{% endif %}
              {% if data.timeEDSunday =='timeEDSunday' %}Sunday ed <br />{% endif %}
            {% endif %}

            <!--IF nothing has been entered show a default value-->
              {% if data.timeSunday !='timeSunday'
              and data.timeMonday !='timeMonday'
              and data.timeTuesday !='timeTuesday'
              and data.timeWednesday !='timeWednesday'
              and data.timeThursday !='timeThursday'
              and data.timeFriday !='timeFriday'
              and data.timeSaturday !='timeSaturday'
              and data.timeSunday !='timeSunday' %}
                Monday am<br /> Tuesday am
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-start-time">
                Change<span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Location
            </dt>
            <dd class="govuk-summary-list__value">
              Room 2
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-location-dropdown">
                Change<span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Capacity
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.ActivityCapacity or '15'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-capacity">
                Change<span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>
          </dl>

              {% if data['fromActivityDashboard']=='true' %}
                {% if (data.changedCategory=='changed')%}
                <form method="post">
                  <input type="hidden" name="returnToDashboard" value="false" />
                  <button class="govuk-button" data-module="govuk-button" value="return">
                  Confirm changes
                  {%endif%}
                {% if (data.changedCategory!=='changed')%}
                <form method="post">
                  <input type="hidden" name="returnToDashboard" value="true" />
                  <button class="govuk-button" data-module="govuk-button" value="return">
                  Return to dashboard
                  {%endif%}
              {% else %}
                {% if data['edit']=='true' %}
                  Confirm changes to activity
                  {% else %}
                    Create activity
                {% endif %}
              {% endif %}

            </button>
          </form>
          {% endif %}
          </div>






  {% else %}
§<!--Create journey-->






<div class="govuk-grid-row">
      <div class="govuk-grid-column-three-thirds">
        <div class="back">
          <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
          </div>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4" style="margin-left:10px;">

          {% if data['edit']=='true' %}
            Change
            {% else %}
              Check
          {% endif %}
           details for {{data.activityName or 'Maths level 1'}}
        </h1><br />
      </div>
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Activity details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Category
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.category or 'Education'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-type-select-with-category">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.activityName or 'Maths level 1'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-name">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Risk level
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.riskLevel or 'Low'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-risk-assessment">
                Change<span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Minimum incentive level
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.incentiveLevel or 'Basic'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-incentive-level">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Education level
            </dt>
            <dd class="govuk-summary-list__value">
              Entry level English, level 3<br />Entry level maths, level 3
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-add-education">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Pay rates
            </dt>
            <dd class="govuk-summary-list__value">
              Rate A: &pound;1.21<br />
              Rate B: &pound;1.51<br />
              Rate C: &pound;1.81
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-payment-details">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Unsuitable for
            </dt>
            <dd class="govuk-summary-list__value">
              Sight impairment<br/ >Little English spoken

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-add-alerts">
                Change<span class="govuk-visually-hidden"> home address</span>
              </a>
            </dd>
          </div>

        </dl>
        <form method="post">
          <button class="govuk-button" data-module="govuk-button">
            {% if data['edit']=='true' %}
              Confirm changes to activity
              {% else %}
                Create activity
            {% endif %}

          </button>
        </form>
      </div>
</div>
{% endif %}
{% endblock %}
