
{% extends "layout.html" %}


{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">

  </div>
  <div id="event-name-hint" class="govuk-hint">
  </div>
    <form method="post">
      <div class="govuk-form-group">
        <div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
              You've built a new schedule for {{data.activityCreateScheduleName or 'Maths level 1'}} - schedule A
          </h1>
        <!--  <div class="govuk-panel__body">
            Your reference number<br><strong>HDJ2123F</strong>
          </div>-->
        </div>

        <h2 class="govuk-heading-m">If you want to build more schedules</h2>
        <p class="govuk-body"><a href="activity-start-date">Build another schedule</a> for {{data.activityCreateScheduleName or 'Maths level 1'}}  or search for a <a href="../create/activity-name"> different activity</a>. </p>
        <p class="govuk-body">
          <a href="#" class="govuk-link">What did you think of this service?</a>
        </p>
      </div>
    </div>
  </main>
</div>
</div>
</div>
{% endblock %}
