
{% extends "layout.html" %}

{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block header %}
{% set homepageUrl %}
{% if data['prototype'] == 'create' %}
/?prototype=create
{% elseif data['prototype'] == 'unlock' %}
/unlock?prototype=unklock
{% elseif data['prototype'] == 'appointments' %}
/appointments?prototype=appointments
{% endif %}
{% endset %}

{{ govukHeader({
  homepageUrl: homepageUrl,
  serviceName: serviceName,
  serviceUrl: homepageUrl,
  containerClasses: "govuk-width-container",
  navigation: [
  {
    text: "Create and allocate",
    href: "/?prototype=create"
  },
  {
    text: "Unlock and attend",
    href: "/unlock/?prototype=unlock"
  },
  {
    text: "Appointments",
    href: "/appointments/?prototype=appointments",
    active: true
  }]
}) }}

<div class="app-masthead">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-3">
          Appointments
        </h1>
        <h3 class="app-masthead__subtitle govuk-heading-l">Design history</h3>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <h2 class="govuk-heading-m">
          <a href="/appointments/design-history/schedules" class="govuk-link">Single appointments - Schedules, clashes and prioritisation</a><br>
          <span class="govuk-caption-m">Sprint 0-1 December 2022</span></h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              Design thinking of initial flows
            </li>
            <li>
              User research - What we learnt
            </li>
            <li>
              How we used our findings to iterate the design
            </li>
          </ul>
      </li>
      <br>
      <li>
        <h2 class="govuk-heading-m">
          <a href="/appointments/design-history/group-appointments" class="govuk-link">Multiple appointments - Schedules, clashes and manual prisoner entry</a><br>
          <span class="govuk-caption-m">Sprint 1 December 2022 and January 2023</span></h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              Design thinking of initial flows
            </li>
            <li>
              User research - What we learnt
            </li>
            <li>
              How we used our findings to iterate the design
            </li>
          </ul>
      </li>
      <br>
      <li>
        <h2 class="govuk-heading-m">
          <a href="/appointments/design-history/editing-appointments" class="govuk-link">Editing appointments - TBC</a><br>
          <span class="govuk-caption-m">Sprint 2 December 2022 and January 2023</span></h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              Design thinking of initial flows
            </li>
            <li>
              User research - What we learnt
            </li>
            <li>
              How we used our findings to iterate the design
            </li>
          </ul>
      </li>
    </ul>

    {% from "govuk/components/pagination/macro.njk" import govukPagination %}
    {{ govukPagination({
      previous: {
        labelText: "Appointments prototype links",
        href: "/appointments?prototype=appointments"
      }
    }) }}
  </div>
</div>

{% endblock %}
