
{% extends "layout.html" %}

{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block header %}
{% set homepageUrl %}
{% if data['prototype'] == 'create' %}
/?prototype=create
{% elseif data['prototype'] == 'unlock' %}
/unlock?prototype=unklock
{% elseif data['prototype'] == 'appointments' %}
/appointments?prototype=appointments
{% endif %}
{% endset %}

{{ govukHeader({
  homepageUrl: homepageUrl,
  serviceName: serviceName,
  serviceUrl: homepageUrl,
  containerClasses: "govuk-width-container",
  navigation: [
  {
    text: "Create and allocate",
    href: "/?prototype=create"
  },
  {
    text: "Unlock and attend",
    href: "/unlock/?prototype=unlock"
  },
  {
    text: "Appointments",
    href: "/appointments/?prototype=appointments",
    active: true
  }]
}) }}

<div class="app-masthead">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-3">
          Schedules
        </h1>
        <h3 class="app-masthead__subtitle govuk-heading-l">Appointments - Design history</h3>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-m">
  Discovery opportunities and assumptions
</h2>
      <p class="govuk-body">
        Based on the analysis of the pain points, needs, and problems at Discovery, we’ve identified four core opportunity areas across the journey, Prioritisation & control being one of them:
      </p>

      <p class="govuk-body">
        <b>To enable more requesters in prison to become creators by ensuring that the prioritisation of events reflects the operational goals of the prison and prisoner choice. 
        </b>
      </p>
<p class="govuk-body">
  A number of key possibilities were also highlighted to explore:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    Provide an approval mechanism for the activity hub to enable further delegation of the ‘creator’ status across the prison service without jeopardising their management of prisoner time, decreasing the burden on activity staffs that create the majority of appointments and easing bottlenecks

  </li>
  <li>
    Create event ‘bands’ that allow prisoner choice within a given band but allows greater prison control over prioritisation
  </li>
  <li>
    Enable prisons to set the prioritisation of different events against one another to minimise scheduling conflicts (a more technically complex intervention).
  </li>
</ul>

<h2 class="govuk-heading-m">
  Design iterations
</h2>
<p class="govuk-body">
  Three variants were created, each based upon a schedule approach over a calendar approach.
</p>
<p class="govuk-body">
  There were a number of reasons for taking this approach:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    Accessibility - A calendar would prove challenging from an accessibility point of view
  </li>
  <li>
    Scanability - It was assumed that schedules would be easy to scan, as long as dates and information was clear to the user
  </li>
  <li>
    Scalablity - A scannable schedule would be easy to scale and utilising vertical scroll, would be easy to present a lot of information useful to each userbase.
  </li>
</ul>
<h3 class="govuk-heading-s govuk-!-margin-top-9">
  Version 1 - Including who created the appointment and visualising clash information
</h3>
<img src="/public/images/appointments-dh/schedule-ver-1.png" alt="Schedule - Version1 - Information only" style="width:75%;margin-bottom:30px;">

<p class="govuk-body">
  For this version, we introduced:
</p> 
<ul class="govuk-list govuk-list--bullet">
  <li>
    the creator of the appointment
  </li>
  <li>
    Highlighted where clashes occurred
  </li>
</ul>
<p class="govuk-body">
  At this stage, no design thinking was placed around showing priority of appointments for this version, instead focussing on minimal additional information to see gains.
</p>

<h3 class="govuk-heading-s govuk-!-margin-top-9">
  Version 2 - Further iterated, introducing banded priorities
</h3>
<img src="/public/images/appointments-dh/schedule-ver-2.png" alt="Schedule - Version1 - Information only" style="width:75%;margin-bottom:30px;">

<p class="govuk-body">
  For this version, we introduced:
</p> 
<ul class="govuk-list govuk-list--bullet">
  <li>
    the creator of the appointment
  </li>
  <li>
    Highlighted where clashes occurred
  </li>
</ul>
<p class="govuk-body">
  At this stage, no design thinking was placed around showing priority of appointments for this version, instead focussing on minimal additional information to see gains.
</p>


<!--CONTENT END-->

    {% from "govuk/components/pagination/macro.njk" import govukPagination %}
    {{ govukPagination({
      previous: {
        labelText: "Back to article list",
        href: "../design-history?prototype=appointments"
      }
    }) }}
  </div>
</div>

{% endblock %}
