
{% extends "layout.html" %}

{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block header %}
{% set homepageUrl %}
{% if data['prototype'] == 'create' %}
/?prototype=create
{% elseif data['prototype'] == 'unlock' %}
/unlock?prototype=unklock
{% elseif data['prototype'] == 'appointments' %}
/appointments?prototype=appointments
{% endif %}
{% endset %}

{{ govukHeader({
  homepageUrl: homepageUrl,
  serviceName: serviceName,
  serviceUrl: homepageUrl,
  containerClasses: "govuk-width-container",
  navigation: [
  {
    text: "Create and allocate",
    href: "/?prototype=create"
  },
  {
    text: "Unlock and attend",
    href: "/unlock/?prototype=unlock"
  },
  {
    text: "Appointments",
    href: "/appointments/?prototype=appointments",
    active: true
  }]
}) }}

<div class="app-masthead">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-3">
          Schedules
        </h1>
        <h3 class="app-masthead__subtitle govuk-heading-l">Appointments - Design history</h3>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-m">
  Discovery opportunities and assumptions
</h2>
      <p class="govuk-body">
        Based on the analysis of the pain points, needs, and problems at Discovery, we’ve identified four core opportunity areas across the journey, Prioritisation & control being one of them:
      </p>

      <p class="govuk-body">
        <b>To enable more requesters in prison to become creators by ensuring that the prioritisation of events reflects the operational goals of the prison and prisoner choice. 
        </b>
      </p>
<p class="govuk-body">
  A number of key possibilities were also highlighted to explore:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    Provide an approval mechanism for the activity hub to enable further delegation of the ‘creator’ status across the prison service without jeopardising their management of prisoner time, decreasing the burden on activity staffs that create the majority of appointments and easing bottlenecks

  </li>
  <li>
    Create event ‘bands’ that allow prisoner choice within a given band but allows greater prison control over prioritisation
  </li>
  <li>
    Enable prisons to set the prioritisation of different events against one another to minimise scheduling conflicts (a more technically complex intervention).
  </li>
</ul>

<h2 class="govuk-heading-m">
  Design thinking of initial flows
</h2>
<p class="govuk-body">
  Three variants were created, each based upon a schedule approach over a calendar approach.
</p>
<p class="govuk-body">
  There were a number of reasons for taking this approach:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    Accessibility - A calendar would prove challenging from an accessibility point of view
  </li>
  <li>
    Scanability - It was assumed that schedules would be easy to scan, as long as dates and information was clear to the user
  </li>
  <li>
    Scalablity - A scannable schedule would be easy to scale and utilising vertical scroll, would be easy to present a lot of information useful to each userbase.
  </li>
</ul>
<h3 class="govuk-heading-s govuk-!-margin-top-9">
  Version 1 - Including who created the appointment and visualising clash information
</h3>
<img src="/public/images/appointments-dh/schedule-ver-1.png" alt="Schedule - Version1 - Information only" style="width:75%;margin-bottom:30px;">

<p class="govuk-body">
  For this version, we introduced:
</p> 
<ul class="govuk-list govuk-list--bullet">
  <li>
    The creator of the appointment
  </li>
  <li>
    Highlighted where clashes occurred
  </li>
</ul>
<p class="govuk-body">
  At this stage, no design thinking was placed around showing priority of appointments for this version, instead focussing on minimal additional information to see gains.
</p>

<h3 class="govuk-heading-s govuk-!-margin-top-9">
  Version 2 - Further iterated, introducing banded priorities
</h3>
<img src="/public/images/appointments-dh/schedule-ver-2.png" alt="Schedule - Version1 - Information only" style="width:75%;margin-bottom:30px;">

<p class="govuk-body">
  For this version, we introduced:
</p> 
<ul class="govuk-list govuk-list--bullet">
  <li>
    The concept of placing a priority around the type of appointment being created and wether the appointment being created was of a higher or lower priority
  </li>
  
</ul>
<p class="govuk-body">
Our assumption here was that users would understand and find the idea of priorities useful when compared to the session they are creating themselves, allowing the user to decide whether to set an appointment at the same time if a higher or lower priority appointment exists for that time already.
</p>
<h3 class="govuk-heading-s govuk-!-margin-top-9">
  Version 3 - Inclusion of numeric priorities
</h3>
<img src="/public/images/appointments-dh/schedule-ver-3.png" alt="Schedule - Version1 - Information only" style="width:75%;margin-bottom:30px;">

<p class="govuk-body">
  For this version, we introduced:
</p> 
<ul class="govuk-list govuk-list--bullet">
  <li>
    Swapping the idea of a 'Higher' 'Lower' priority set for a numeric one.
  </li>
  
</ul>

<h2 class="govuk-heading-m">
  User research - What we learnt
</h2>
<p class="govuk-body">
  Insights around the current process of creating or requesting an appointment
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    Appointment clashes are not a universal issue across prisons but can have significant impact when they are
  </li>
  <li>
    Users already have a clear understanding of event priority but this can change with the context of an event
  </li>
  <li>
    Visibility and awareness of the schedule is the key ingredients for avoiding appointment clashes
  </li>
  <li>
    Most users want to view a schedule further into the future than the current two-week view
  </li>
</ul>

<h3 class="govuk-heading-s">
  Prototype feedback
</h3>
<p class="govuk-body govuk-!-font-weight-bold">
  Version 1 - Clash and created by information
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    Each participant saw a benefit in displaying where clashes occurred and this was immediately obvious to all participants. Each participant used the information around clashes and decided that they would not create an appointment around that date and time
  </li>
  <li>
    Displaying the name of the creator of an appointment was also seen as a benefit, although, some participants stated that they would rather see the appointment host as well as the creator
  </li>
  <br>
    {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{{ govukWarningText({
  text: "Watchpoints around version 1",
  iconFallbackText: "Warning"
}) }}
  <li>While overall the feedback supported the use of version 1, it was noted that this version does not lend itself to users who are new to the sector or role that they are covering and instead relies on internal 'knowledge' surrounding the various levels of priority.</li>
  <li>
    One participant did flag a potential security risk with displaying any name, especially if they were to appear on the unlock list
  </li>
</ul>
<h3 class="govuk-heading-s">
  User research recommendations for version 1
</h3>
<p class="govuk-body">
  We should consider including the name of the appointment host within this view but hiding any names when it comes to printing lists which could be viewed by prisoners.
</p>
<br><br>
<p class="govuk-body govuk-!-font-weight-bold">
  Version 2 - Schedule with priority tags
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    The use of these were immediately obvious to users and clearly implied a priority in proportion to the appointment being set up.
  </li><br>
  {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{{ govukWarningText({
  text: "Watchpoints around version 2",
  iconFallbackText: "Warning"
}) }}
<li>
  The priority of events ‘will be ignored’ unless it accounts for the nuance that exists within prisons related to the context of an event - e.g. a chaplain appointment to discuss a bereavement would often be deemed higher priority over most other scheduled events
</li>
</ul>
<h3 class="govuk-heading-s">
  User research recommendations for version 2
</h3>
<p class="govuk-body">
  We need to carefully consider how nuanced the priority tags would need to be and whether there would be unintended consequences as a result
</p>
<br><br>
<p class="govuk-body govuk-!-font-weight-bold">
  Version 3 - Schedule with numeric priority
</p>

    {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{{ govukWarningText({
  text: "When this design was shown before the priority tag design, no participant understood the purpose of the numbers. All were confused and thought they related to other elements such as session length or the number of occurrences within a week",
  iconFallbackText: "Warning"
}) }}
    
<h2 class="govuk-heading-m">
  User research - recommendations and considerations for future iteration
</h2> 

<p class="govuk-body">
  The schedule with clashes and names is the suggested option based on its effectiveness and relative ease to implement
</p>

<h3 class="govuk-heading-s">
  Design iteration considerations
</h3>


<!--CONTENT END-->

    {% from "govuk/components/pagination/macro.njk" import govukPagination %}
    {{ govukPagination({
      previous: {
        labelText: "Back to article list",
        href: "../design-history?prototype=appointments"
      }
    }) }}
  </div>
</div>

{% endblock %}
