
{% extends "layout_hmpps-no-nav.html" %}
{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block content %}
<form action="confirmation" method="post" >
    <div class="govuk-width-container">
      
      <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds-from-desktop">
            <h1 class="govuk-heading-l">View and edit appointment details</h1>
            <h2 class="govuk-heading-m">Appointment details</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Prisoner
                </dt>
                <dd class="govuk-summary-list__value">
                  <a href="#" class="govuk-link">John Taylor</a><br>A65455Y<br>1-3-1 
                </dd>
                <dd class="govuk-summary-list__actions">
                 
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Category
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data.categoryChoicesingle or 'Medical - Other'}} 
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="change-answers/appointment-type">
                    Change<span class="govuk-visually-hidden">  type</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Location
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data.locationChoicesingle or 'HB1 Doctors'}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="change-answers/location">
                    Change<span class="govuk-visually-hidden">  location</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['date-of-appointment-day'] or '13'}} {{ data['date-of-appointment-month']  or '2'}}  {{ data['date-of-appointment-year'] or '2023'}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="change-answers/prisoner-schedule">
                    Change<span class="govuk-visually-hidden"> date</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Start time
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['start-hours'] or '11'}}:{{ data['start-minutes'] or '00'}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="change-answers/prisoner-schedule">
                    Change<span class="govuk-visually-hidden"> start time</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  End time
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['end-hours'] or '16'}}:{{ data['end-minutes'] or '00'}} 
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="change-answers/prisoner-schedule">
                    Change<span class="govuk-visually-hidden"> end ime</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Repeat
                </dt>
                <dd class="govuk-summary-list__value">
                   {{ data['appointment-repeat'] or 'No'}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="change-answers/appointment-repeat">
                    Change<span class="govuk-visually-hidden"> Repeat</span>
                  </a>
                </dd>
              </div>
              {% if data['appointment-repeat'] === 'Yes' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Frequency
                </dt>
                <dd class="govuk-summary-list__value">
                   {{ data['appointment-frequency']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="change-answers/appointment-frequency">
                    Change<span class="govuk-visually-hidden"> Repeat</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Occurences
                </dt>
                <dd class="govuk-summary-list__value">
                   {{ data['number-of-appointments']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="change-answers/appointment-frequency">
                    Change<span class="govuk-visually-hidden"> Repeat</span>
                  </a>
                </dd>
              </div>
              {% endif %}
             </dl>
             
            
             <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-!-margin-top-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Created by
                </dt>
                <dd class="govuk-summary-list__value">
                  J. Smith
                </dd>
                </div>
                  
            </dl>
              <div class="govuk-button-group">
             {{ govukButton({
              text: "Print movement slip"
             }) }}
                {{ govukButton({
                  text: "Cancel appointment",
                  href: "cancel/cancel-question",
                  classes: "govuk-button--secondary"
                }) }}
             
            </div>
             <p class="govuk-body">
              <a href="appointment-view#Bulk" class="govuk-link">Back to list of appointments</a>
             </p>
            </form>
          </div>
        </div>
      </main>
    </div>
  
{% endblock %}
