{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}
{% set activitiesCount = activitiesForDate.morning|length + activitiesForDate.afternoon|length %}

{% block pageTitle %}
Find an activity to record or edit attendance
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block beforeContent %}
{% include "./_activity-breadcrumbs.html" %}
{% endblock %}

{% block content %}

{% include "./_activity-header.html" %}
<h2 class="govuk-heading-l">
    Applications
</h2>
<p>
    All applications shown below are pending. They have not been approved or rejected yet.
</p>
{{govukButton({
text: "Add a new application for this activity",
href: "../../log-an-application-version-2?new-application[use-activity]=" + activity.id
})}}
<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">
        {{activityApplications|length}} application{{'s' if activityApplications|length > 1 }}
    </caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Prisoner</th>
            <th scope="col" class="govuk-table__header">Application date</th>
            <th scope="col" class="govuk-table__header">Other allocations</th>
            <th scope="col" class="govuk-table__header">Non-associations in this prison</th>
            <th scope="col" class="govuk-table__header"></th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        {% for application in activityApplications %}
        {% set prisoner = application["selected-prisoner"]|getPrisonerDetails %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                <b><a href="#" class="govuk-link--no-visited-state">{{prisoner.name.firstname}}
                        {{prisoner.name.surname}}</a></b><br>
                {{prisoner.id}}<br>
                {{prisoner.location.cell}}
            </td>
            <td class="govuk-table__cell govuk-!-padding-top-4">
                {{application.date|convertShortDateToMediumDate}}
            </td>
            <td class="govuk-table__cell govuk-!-padding-top-4">
                <ul class="govuk-list">
                    {% for allocation in prisoner.activity %}
                    {% set activity = allocation|getActivityDetails %}
                    <li><a href="../{{activity.id}}" class="govuk-link--no-visited-state">{{activity.name}}</a></li>
                    {% endfor %}
                </ul>
            </td>
            <td class="govuk-table__cell govuk-!-padding-top-4">
                None
            </td>
            <td class="govuk-table__cell govuk-!-padding-top-4">
                <a href="applications/{{prisoner.id}}" class="govuk-link--no-visited-state">View application</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block pageScripts %}
{% endblock %}