{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}
{% set activitiesCount = activitiesForDate.morning|length + activitiesForDate.afternoon|length %}

{% block pageTitle %}
Find an activity to record or edit attendance
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block beforeContent %}
{% include "./_activity-breadcrumbs.html" %}
{% endblock %}

{% block content %}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% if data['confirmation-dialog'].display == true %}
{% set p = data['confirmation-dialog'].prisoner | getPrisonerDetails %}
{% if data['confirmation-dialog'].type == 'removed' %}
{% set bannerHtml %}
<h2 class="govuk-notification-banner__heading">
    We've removed {{p.name.firstname}} {{p.name.surname}} from the waitlist for
    {{activity.name}}.
</h2>
{% endset %}
{{ govukNotificationBanner({
html: bannerHtml,
titleText: "Success",
type: "success"
}) }}
{% endif %}

{% if data['confirmation-dialog'].type == 'eligible' %}
{% set bannerHtml %}
<h2 class="govuk-notification-banner__heading">
    We've changed {{p.name.firstname}} {{p.name.surname}}'s suitability to 'checks passed'.
</h2>
{% endset %}
{{ govukNotificationBanner({
html: bannerHtml,
titleText: "Success",
type: "success"
}) }}
{% endif %}

{% if data['confirmation-dialog'].type == 'pending' %}
{% set bannerHtml %}
<h2 class="govuk-notification-banner__heading">
    We've changed {{p.name.firstname}} {{p.name.surname}}'s suitability to 'checks needed'.
</h2>
{% endset %}
{{ govukNotificationBanner({
html: bannerHtml,
titleText: "Success",
type: "success"
}) }}
{% endif %}
{% endif %}

{% include "./_activity-header.html" %}

<h2 class="govuk-heading-l govuk-visually-hidden">
    Waitlist
</h2>

<p>
    Select the person you want to allocate or update suitability for.
</p>

<p>
    You can also <a href="../../log-an-application-version-2">add a new activity request</a>.
</p>

{% include './_filters.html' %}

<table class="govuk-table moj-sortable-table" data-module="moj-sortable-table">
    <caption class="govuk-table__caption govuk-table__caption--m">
        {{activityApplications|length}} {{'people' if activityApplications|length != 1 else 'person' }} on the waitlist
    </caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" aria-sort="none">Prisoner</th>
            <th scope="col" class="govuk-table__header" aria-sort="ascending">Request date</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Requester</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Current allocations</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Suitability</th>
            <th scope="col" class="govuk-table__header"></th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        {% for application in activityApplications | sort(false, true, 'date') %}
        {% set prisoner = application["selected-prisoner"]|getPrisonerDetails %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                <b><a href="#" class="govuk-link--no-visited-state">{{prisoner.name.firstname}}
                        {{prisoner.name.surname}}</a></b><br>
                {{prisoner.id}}<br>
                {{prisoner.location.cell}}
            </td>
            <td class="govuk-table__cell govuk-!-padding-top-4" data-sort-value="{{application.date}}">
                {{application.date|convertShortDateToMediumDate}}
            </td>
            <td class="govuk-table__cell govuk-!-padding-top-4">
                {% if application.applicant == "prisoner" %}
                Self-requested
                {% else %}
                {{application.applicant|capitalize}}
                {% endif %}
            </td>
            <td class="govuk-table__cell govuk-!-padding-top-4">
                <ul class="govuk-list">
                    {% if prisoner.activity|length == 0 %}
                    <span class="govuk-hint">None</span>
                    {% endif %}
                    {% for allocation in prisoner.activity %}
                    {% set activity = allocation|getActivityDetails %}
                    <li><a href="../{{activity.id}}" class="govuk-link--no-visited-state">{{activity.name}}</a></li>
                    {% endfor %}
                </ul>
            </td>
            <td class="govuk-table__cell govuk-!-padding-top-4">
                {% if application.eligible == "yes" %}
                <span class="govuk-tag govuk-tag--green">Checks passed</span>
                {% elif application.eligible == "no" %}
                <span class="govuk-tag govuk-tag--red">Not eligible</span>
                {% else %}
                <span class="govuk-tag govuk-tag--yellow">Checks needed</span>
                {% endif %}
            </td>
            <td class="govuk-table__cell govuk-!-padding-top-4">
                <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="applications/{{application.id}}/update">
                            Update suitability<span class="govuk-visually-hidden"> {{prisoner.name.firstname}}
                                {{prisoner.name.surname}}'s request</span>
                        </a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link govuk-link--no-visited-state" href="allocate/{{prisoner.id}}">
                            Allocate<span class="govuk-visually-hidden"> {{prisoner.name.firstname}}
                                {{prisoner.name.surname}}</span></a>
                    </li>
                </ul>
                <!-- <a class="govuk-link govuk-link--no-visited-state" href="applications/{{application.id}}/update">
                    Update or allocate<span class="govuk-visually-hidden"> {{prisoner.name.firstname}}
                        {{prisoner.name.surname}}</span></a> -->
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block pageScripts %}
{% endblock %}