{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}
{% set activitiesCount = activitiesForDate.morning|length + activitiesForDate.afternoon|length %}

{% block pageTitle %}
Find an activity to record or edit attendance
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block beforeContent %}
{% include "./_activity-breadcrumbs.html" %}
{% endblock %}

{% block content %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% if data['confirmation-dialog'].display == true %}

{% set prisoner = data['confirmation-dialog'].prisoner | getPrisonerDetails %}

{% if data['confirmation-dialog'].type == 'deallocate' %}
{% set bannerHtml %}
<h2 class="govuk-notification-banner__heading">
    {{prisoner.name.firstname}} {{prisoner.name.surname}} is no longer allocated to {{activity.name}}.
</h2>
{% endset %}
{{ govukNotificationBanner({
html: bannerHtml,
titleText: "Success",
type: "success"
}) }}
{% endif %}
{% endif %}

{% include "./_activity-header.html" %}

<!-- <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
        <p>
            Select people if you want to remove them from this activity.
        </p>
        <div class="govuk-inset-text">
            <p>
                You should <a href="../../log-an-application-version-2" class="govuk-link--no-visited-state">log an application</a> before allocating a prisoner to an activity.
            </p>
            <p>
                If you need to, you can <a href="#">allocate a prisoner to this activity</a> without logging an
                application.
            </p>
        </div>
    </div>
</div> -->
<form method="post">
    <!-- toolbar with actions for selected prisoners -->
    <style>
        .moj-multi-select__toolbar {
            position: sticky;
            top: 0;
            z-index: 1;
            background-color: #fff;
            padding: 1rem 0;
            border-bottom: 1px solid #bfc1c3;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            flex-grow: 1;
        }

        .moj-multi-select__toolbar .moj-multi-select__actions {
            display: inline-flex;
            flex-wrap: wrap;
            align-items: center;
        }

        .moj-multi-select__toolbar .moj-multi-select__action {
            margin-right: 1rem;
        }

        .moj-multi-select__toolbar .moj-multi-select__count {
            display: flex;
            flex-grow: 1;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: center;
            margin: 0;
        }
    </style>
    <div class="moj-multi-select__toolbar govuk-!-margin-bottom-6" data-module="moj-multi-select-toolbar"
        data-multi-select-checkbox="#select-all">
        <div class="moj-multi-select__actions">
            <!-- <div class="moj-multi-select__action">
                <button class="govuk-button govuk-button--secondary govuk-!-margin-0" type="button"
                    data-multi-select-action="select-all">
                    Select all
                </button>
            </div>
            <div class="moj-multi-select__action">
                <button class="govuk-button govuk-button--secondary govuk-!-margin-0" type="button"
                    data-multi-select-action="unselect-all">
                    Unselect all
                </button>
            </div>
            <div class="moj-multi-select__action">
                <button class="govuk-button govuk-button--secondary govuk-!-margin-0" type="button"
                    data-multi-select-action="select-deselect-all">
                    Select/deselect all
                </button>
            </div> -->
            <div class="moj-multi-select__action">
                <button class="govuk-button govuk-button--secondary govuk-!-margin-0" type="button"
                    data-multi-select-action="deallocate-selected">
                    Remove
                </button>
            </div>
            <div class="moj-multi-select__action">
                <button class="govuk-button govuk-button--secondary govuk-!-margin-0" type="button"
                    data-multi-select-action="deallocate-selected">
                    Suspend
                </button>
            </div>
        </div>
        <div class="moj-multi-select__count govuk-body">
            Nobody selected
        </div>
    </div>

    <!--
    inline CSS until we have a component we can use
    uses position sticky to stick to top of screen when scrolling
    buttons should be disabled until a prisoner is selected
    buttons should be inline -->

    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
            {{currentlyAllocated|length}} {{'people' if currentlyAllocated|length != 1 else 'person' }} currently
            allocated
        </caption>
        <thead class="govuk-table__head" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
            <tr class="govuk-table__row">
                <th class="govuk-table__header govuk-!-padding-right-2 govuk-!-padding-left-1" scope="col"
                    id="select-all"></th>
                <th scope="col" class="govuk-table__header">Prisoner details</th>
                <th scope="col" class="govuk-table__header">Non-associations in this prison</th>
                <th scope="col" class="govuk-table__header">Date allocated</th>
                <th scope="col" class="govuk-table__header">Other allocations</th>
                <th scope="col" class="govuk-table__header">Earliest release date</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for prisoner in currentlyAllocated | sort(false,true,'name.surname') %}
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <div
                        class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox govuk-!-margin-right-2 govuk-!-margin-left-1">
                        <input type="checkbox" class="govuk-checkboxes__input" id="prisoner-{{loop.index}}"
                            name="selected-prisoners" value="{{prisoner.id}}">
                        <label class="govuk-label govuk-checkboxes__label" for="prisoner-{{loop.index}}">
                            <span class="govuk-visually-hidden">Select {{prisoner.name.surname}},
                                {{prisoner.name.firstname}}</span>
                        </label>
                    </div>
                </td>
                <td class="govuk-table__cell">
                    <b><a href="#" class="govuk-link--no-visited-state">{{prisoner.name.firstname}}
                            {{prisoner.name.surname}}</a></b><br>
                    {{prisoner.id}}<br>
                    {{prisoner.location.cell}}
                </td>
                <td class="govuk-table__cell govuk-!-padding-top-4">
                    {% if loop.index == 3 %}
                    <ul class="govuk-list">
                        <li><a href="#" class="govuk-link--no-visited-state">Jordan Johnson-Jones</a></li>
                    </ul>
                    {% else %}
                    None
                    {% endif %}
                </td>
                <td class="govuk-table__cell govuk-!-padding-top-4">
                    {{'2023-03-02'|convertShortDateToMediumDate}}
                </td>
                <td class="govuk-table__cell govuk-!-padding-top-4">
                    {% if prisoner.activity == activity.id or prisoner.activity|length == 0 %}
                    <span class="govuk-hint">None</span>
                    {% else %}
                    <ul class="govuk-list">
                        {% for allocation in prisoner.activity %}
                        <!-- don't show the allocation if it's the same as the current activity -->
                        {% if allocation != activity.id %}
                        {% set activity = allocation|getActivityDetails %}
                        <li><a href="../{{activity.id}}" class="govuk-link--no-visited-state">{{activity.name}}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </td>
                <td class="govuk-table__cell govuk-!-padding-top-4">
                    {{prisoner.releaseDate|convertShortDateToMediumDate}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {{govukButton({
    text: "Remove from activity",
    classes: "govuk-button--warning"
    })}}
</form>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
    $(document).ready(function () {
        // function for multi-select toolbar functionality
        function multiSelectToolbar( { toolbar, checkboxes, count } ) {
            // set initial count
            count.text(checkboxes.filter(':checked').length + ' selected');

            // set initial button states
            toolbar.find('[data-multi-select-action]').prop('disabled', true);

            // update count and button states when checkbox is clicked
            checkboxes.on('click', function () {
                count.text(checkboxes.filter(':checked').length + ' selected');
                toolbar.find('[data-multi-select-action]').prop('disabled', checkboxes.filter(':checked').length === 0);
            });

            // select all
            toolbar.find('[data-multi-select-action="select-all"]').on('click', function () {
                checkboxes.prop('checked', true);
                count.text(checkboxes.filter(':checked').length + ' selected');
                toolbar.find('[data-multi-select-action]').prop('disabled', checkboxes.filter(':checked').length === 0);
            });

            // unselect all
            toolbar.find('[data-multi-select-action="unselect-all"]').on('click', function () {
                checkboxes.prop('checked', false);
                count.text(checkboxes.filter(':checked').length + ' selected');
                toolbar.find('[data-multi-select-action]').prop('disabled', checkboxes.filter(':checked').length === 0);
            });

            // select/deselect all
            toolbar.find('[data-multi-select-action="select-deselect-all"]').on('click', function () {
                checkboxes.prop('checked', function (i, val) {
                    return !val;
                });
                count.text(checkboxes.filter(':checked').length + ' selected');
                toolbar.find('[data-multi-select-action]').prop('disabled', checkboxes.filter(':checked').length === 0);
            });

            // deallocate selected
            toolbar.find('[data-multi-select-action="deallocate-selected"]').on('click', function () {
                checkboxes.filter(':checked').each(function () {
                    // do something with the selected checkboxes
                    console.log($(this).val());
                });
            });
        }

        // initialise multi-select toolbar
        multiSelectToolbar({
            toolbar: $('.moj-multi-select__toolbar'),
            checkboxes: $('.moj-multi-select__checkbox input[type="checkbox"]'),
            count: $('.moj-multi-select__count')
        });
    })
</script>
{% endblock %}