
{% extends "layout_hmpps-no-nav.html" %}
{% set serviceName = "Appointments" %}

{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block content %}
<form id="form" method="post" action="group-or-bulk-route">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Schedule an appointment for a group of people</span>
        Will people attend the appointment together or have separate one-to-ones?
       </h1>
       
{{ govukRadios({
        idPrefix: "group-or-bulk",
        name: "group-or-bulk",
        items: [
          {
            value: "group",
            text: "Together - this can be a one-off or recurring appointment"
            
          },
          {
            value: "bulk",
            text: "Separately - this is suitable for a set of one-to-one appointments which happen in the same place on the same day"
          }
        ]
       }) }}
     

    {{ govukButton({
      text: "Continue"
    }) }}
  </div>
</div>
</form>
{% endblock %}
