{% extends "layout.html" %}
{% set serviceName = "" %}

{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Confirm candidate allocation for Wing cleaning 1
    </h1>
  </div><br />





<div class="govuk-grid-column-three-third">
<h2 class="govuk-heading-m govuk-!-margin-bottom-4">
  Wing cleaning 1 <span style="margin-left:30px;">
    <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-3">
      <span>1 space available</span>
    </strong>
  </span>
</h2>
<p class="govuk-body">You've identified 2 candidates for Wing cleaning 1 which has 1 vacancy.</p>
<p class="govuk-body">Use the table to check and compare their eligibility. Then select and confirm who you want to allocate to the Wing cleaning 1</p>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">

        <th scope="col" class="govuk-table__header" style="width:15%;">Prisoner name</th>
        <th scope="col" class="govuk-table__header" style="width:15%;">Prison number</th>
        <th scope="col" class="govuk-table__header" style="width:70%;">Reasons selected person could be unsuitable</th>


      </tr>
    </thead>
    <tbody class="govuk-table__body">

      <tr class="govuk-table__row">
        <td>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                Lance Arm
                </label>
              </div>
            </td>
        <td class="">A430914</td>
        <td class=""><br />Self Harm<br />Chemical attacker<br />Basic incentive level </td>


        </tr>
<tr>
  <td colspan="6"  class="govuk-table__cell">
    <details class="hods-expandable-banner">
  <summary class="hods-expandable-banner__summary" style="color:#00008B">
    Show more information
  </summary>
  <div class="hods-expandable-banner__text" style="background-color:#F2F1F0; padding:5px 0 0 15px;">
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">

        </dt>
        <dd class="govuk-summary-list__value">
        <strong>Offender details</strong>
        </dd>
        <dd class="govuk-summary-list__value">
          <strong>Activity requirements</strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Incentive level
        </dt>
        <dd class="govuk-summary-list__value">
          Basic
        </dd>
        <dd class="govuk-summary-list__value">
          Standard
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Educational qualifications
        </dt>
        <dd class="govuk-summary-list__value">
          Maths Level 1
        </dd>
        <dd class="govuk-summary-list__value">
          None
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Technical qualifications
        </dt>
        <dd class="govuk-summary-list__value">
          Maintenance foundation skills
        </dd>
        <dd class="govuk-summary-list__value">
          None
        </dd>

      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Learning pathways
        </dt>
        <dd class="govuk-summary-list__value">
          Maintenance
        </dd>
        <dd class="govuk-summary-list__value">
          Cleaning
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Alerts
        </dt>
        <dd class="govuk-summary-list__value">
          Racist,<br />
          Arsonist<br />
        </dd>
        <dd class="govuk-summary-list__value">
          None
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Learning difficulties, <br />disabilities and health
        </dt>
        <dd class="govuk-summary-list__value">
          Asthma,<br />
          Dislexia
        </dd>
        <dd class="govuk-summary-list__value">
          None
        </dd>
      </div>
    </dl>
  </div>
</details>
</td>
</tr>

      <tr class="govuk-table__row">
        <td>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                Armit Singh
                </label>
              </div>
            </td>
            <td class="">A912196</td>
              <td class=""><br />Sex offender<br />No cleaning certificate<br /></td>


            </tr>
    <tr>
      <td colspan="6"  class="govuk-table__cell">
        <details class="hods-expandable-banner">
      <summary class="hods-expandable-banner__summary" style="color:#00008B">
        Show more information
      </summary>
      <div class="hods-expandable-banner__text" style="background-color:#F2F1F0; padding:5px 0 0 15px;">
        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">

            </dt>
            <dd class="govuk-summary-list__value">
            <strong>Offender details</strong>
            </dd>
            <dd class="govuk-summary-list__value">
              <strong>Activity requirements</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Incentive level
            </dt>
            <dd class="govuk-summary-list__value">
              Basic
            </dd>
            <dd class="govuk-summary-list__value">
              Standard
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Educational qualifications
            </dt>
            <dd class="govuk-summary-list__value">
              Maths Level 1
            </dd>
            <dd class="govuk-summary-list__value">
              None
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Technical qualifications
            </dt>
            <dd class="govuk-summary-list__value">
              Maintenance foundation skills
            </dd>
            <dd class="govuk-summary-list__value">
              None
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Learning pathways
            </dt>
            <dd class="govuk-summary-list__value">
              Maintenance
            </dd>
            <dd class="govuk-summary-list__value">
              Cleaning
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Alerts
            </dt>
            <dd class="govuk-summary-list__value">
              Racist,<br />
              Arsonist<br />
            </dd>
            <dd class="govuk-summary-list__value">
              None
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Learning difficulties, <br />disabilities and health
            </dt>
            <dd class="govuk-summary-list__value">
              Asthma,<br />
              Dislexia
            </dd>
            <dd class="govuk-summary-list__value">
              None
            </dd>
          </div>
        </dl>

      </div>
    </details>
    </td>
    </tr>


    </<tbody>

    </table>
</div>
<a href="allocate-confirmation">
<button class="govuk-button" data-module="govuk-button">
Allocate selected candidates
</button></a>
</div>






</div>
{% endblock %}
