
{% extends "layout_hmpps-no-nav.html" %}
{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block content %}


    <div class="back">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ govukPanel({
            titleText: "Appointment edited"
          }) }}

        
       
        <p class="govuk-body">
          You have successfully edited the appointment.
    
         </p>
       

          <h2 class="govuk-heading-m">What you can do next</h2>
         
            <p class="govuk-body">
              <a href="../single-appointment-no-recurrence" class="govuk-link">View and edit appointment details</a>
            </p>
        </div>
      </div>
  
{% endblock %}
