{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}

{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block main %}
{% block beforeContent %}
<div class="govuk-width-container">
	<a href="/" class="govuk-back-link">Digital Prison Services</a>
	<h1 class="govuk-heading-l govuk-!-margin-top-7">Manage prisoner whereabouts</h1>
</div>
{% endblock %}
<div class="homepage-content">
	<div class="govuk-width-container">
		<div class="govuk-grid-row card-group govuk-!-margin-bottom-0">
			<div class="govuk-grid-column-full card-group__item">
				<div class="card govuk-!-margin-bottom-3" data-test="view-residential-location">
					<div class="govuk-grid-row">
						<div class="govuk-grid-column-one-third-from-desktop">
							<h2 class="govuk-heading-m card__heading govuk-!-margin-bottom-1">
								<span class="govuk-caption-m">Daily summary</span>
								12 October 2022
							</h2>
							<p class="govuk-hint govuk-!-font-size-16">Last updated at 11.38pm on 11 October 2022</p>
							<p class="govuk-!-margin-bottom-0 govuk-!-font-size-16"><a href="#" class="govuk-!-font-weight-bold">All people due to leave</a></p>
						</div>
						<div class="govuk-grid-column-two-thirds govuk-!-padding-top-2">
							<div class="govuk-grid-row">
								<div class="govuk-grid-column-one-third">
									<h3 class="govuk-body govuk-!-margin-bottom-0 govuk-!-font-size-16">
										Court appearances
									</h3>
									<p class="govuk-body govuk-!-font-size-24"><a href="#">2</a></p>
								</div>
								<div class="govuk-grid-column-one-third">
									<h3 class="govuk-body govuk-!-margin-bottom-0 govuk-!-font-size-16">
										Releases
									</h3>
									<p class="govuk-body govuk-!-font-size-24"><a href="#">1</a></p>
								</div>
								<div class="govuk-grid-column-one-third">
									<h3 class="govuk-body govuk-!-margin-bottom-0 govuk-!-font-size-16">
										Transfers
									</h3>
									<p class="govuk-body govuk-!-font-size-24">None</p>
								</div>
							</div>
							<div class="govuk-grid-row">
								<div class="govuk-grid-column-one-third">
									<h3 class="govuk-body govuk-!-margin-bottom-0 govuk-!-font-size-16">
										Prisoners unaccounted for
									</h3>
									<p class="govuk-body govuk-!-font-size-24"><a href="#">11</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr class="govuk-section-break govuk-section-break--visible" style="border-color: #ccc;">

		<ul class="govuk-grid-row card-group">
			<li class="govuk-grid-column-one-third card-group__item">
				<div class="card card--clickable" data-test="view-bulk-appointments">
					<h2 class="govuk-heading-m card__heading">
						<a class="govuk-link card__link" href="select-residential-locations">Unlock lists</a>
					</h2>
					<p class="govuk-body card__description">View or print a list of prisoners to unlock.</p>
				</div>
			</li>
			<li class="govuk-grid-column-one-third card-group__item">
				<div class="card card--clickable" data-test="view-bulk-appointments">
					<h2 class="govuk-heading-m card__heading">
						<a class="govuk-link card__link" href="select-activity-locations">Activity attendance</a>
					</h2>
					<p class="govuk-body card__description">View, print or record attendance for activities.</p>
				</div>
			</li>
			<li class="govuk-grid-column-one-third card-group__item">
				<div class="card card--clickable" data-test="view-residential-location">
					<h2 class="govuk-heading-m card__heading">
						<a class="govuk-link card__link" href="/manage-prisoner-whereabouts/select-residential-location">View by residential location</a>
					</h2>
					<p class="govuk-body card__description">View all activities for people living in a residential location.</p>
				</div>
			</li>
			<li class="govuk-grid-column-one-third card-group__item">
				<div class="card card--clickable" data-test="view-activity-location">
					<h2 class="govuk-heading-m card__heading">
						<a class="govuk-link card__link" href="/manage-prisoner-whereabouts/select-location">View by activity or appointment location</a>
					</h2>
					<p class="govuk-body card__description">View all activities in an activity or appointment location.</p>
				</div>
			</li>
			<li class="govuk-grid-column-one-third card-group__item">
				<div class="card card--clickable" data-test="view-all-appointments">
					<h2 class="govuk-heading-m card__heading">
						<a class="govuk-link card__link" href="/view-all-appointments">View all appointments</a>
					</h2>
					<p class="govuk-body card__description">View all appointments in your establishment.</p>
				</div>
			</li>
			<li class="govuk-grid-column-one-third card-group__item">
				<div class="card card--clickable" data-test="view-unaccounted-for">
					<h2 class="govuk-heading-m card__heading">
						<a class="govuk-link card__link" href="/manage-prisoner-whereabouts/prisoners-unaccounted-for">View prisoners unaccounted for</a>
					</h2>
					<p class="govuk-body card__description">View all prisoners not marked as attended or not attended.</p>
				</div>
			</li>
			<li class="govuk-grid-column-one-third card-group__item">
				<div class="card card--clickable" data-test="view-attendance-statistics">
					<h2 class="govuk-heading-m card__heading">
						<a class="govuk-link card__link" href="/manage-prisoner-whereabouts/attendance-reason-statistics">View attendance reason statistics</a>
					</h2>
					<p class="govuk-body card__description">View a breakdown of attendance statistics.</p>
				</div>
			</li>
			<li class="govuk-grid-column-one-third card-group__item">
				<div class="card card--clickable" data-test="view-people-due-to-leave">
					<h2 class="govuk-heading-m card__heading">
						<a class="govuk-link card__link" href="/manage-prisoner-whereabouts/scheduled-moves">People due to leave</a>
					</h2>
					<p class="govuk-body card__description">View people due to leave this establishment for court appearances, transfers or being released.</p>
				</div>
			</li>
			<li class="govuk-grid-column-one-third card-group__item">
				<div class="card card--clickable" data-test="view-covid-units">
					<h2 class="govuk-heading-m card__heading">
						<a class="govuk-link card__link" href="/current-covid-units">View COVID units</a>
					</h2>
					<p class="govuk-body card__description">View who is in each COVID unit in your establishment.</p>
				</div>
			</li>
			<li class="govuk-grid-column-one-third card-group__item">
				<div class="card card--clickable" data-test="view-bulk-appointments">
					<h2 class="govuk-heading-m card__heading">
						<a class="govuk-link card__link" href="/bulk-appointments/need-to-upload-file">Add bulk appointments</a>
					</h2>
					<p class="govuk-body card__description">Upload a spreadsheet to add appointments for multiple people.</p>
				</div>
			</li>
		</ul>
	</div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/cards.js"></script>
{% endblock %}