{% extends "layout.html" %}


{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      View, create, edit and allocate activities
    </h1>
  </div><br />
<!--  <form method="post">
  <button class="govuk-button" data-module="govuk-button">Create new activity</button>
</form>-->

<!--
  <nav class="moj-sub-navigation" aria-label="Sub navigation" style="margin-top:20px;">
    <ul class="moj-sub-navigation__list" >
      <li class="moj-sub-navigation__item" style="float:left; list-style-type:none; margin-left:-40px; margin-top:15px;">
        <a class="moj-sub-navigation__link" aria-current="page" href="#1" style=" text-decoration:none; color:black; border-bottom: 4px solid #1d70b8; padding-bottom:12px;">Show all activities (5)</a>
      </li>

      <li class="moj-sub-navigation__item" style="float:left; margin-left:20px; list-style-type:none;  margin-top:15px;">
        <a class="moj-sub-navigation__link" href="activity-list-dashboard-filtered" style=" text-decoration:none;">Show only activities with space (3)</a>
      </li>
    </ul>

<ul class="moj-sub-navigation__list" style="margin-bottom:0px;">
  <li class="moj-sub-navigation__item" style=" float:right; list-style-type:none; margin-left:10px;" >
  <button class="govuk-button" data-module="govuk-button">Search</button>
  </li>
 <li class="moj-sub-navigation__item" style=" float:right; list-style-type:none;" >
   <input class="govuk-input moj-search__input;" style="font-size:.8em;" size="51" id="search" name="search" type="search" aria-describedby="search-hint"
    placeholder="Search by activity, location, wing or facilitator" >
</li>

</ul>
</nav>-->

<div class="moj-primary-navigation">
  <div class="moj-primary-navigation__container">
    <div class="moj-primary-navigation__nav">
      <nav class="moj-primary-navigation" aria-label="Primary navigation">
        <ul class="moj-primary-navigation__list">
          <ul class="moj-sub-navigation__list" >
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="activity-list-dashboard">All activities (5)</a>
            </li>
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" aria-current="page" href="activity-list-dashboard-filtered">Activities with space (3)</a>
            </li>

          <li class="moj-primary-navigation__item">
            <form method="post">
            <button class="govuk-button" data-module="govuk-button" style="margin:-8px 0 0 200px;">Create new activity</button>
          </form>
        </li>
        </ul>
      </nav>
    </div>
    <div class="moj-primary-navigation__search">
      <div class="moj-search-toggle" data-module="moj-search-toggle" data-moj-search-toggle-text="Search for activity">
        <div class="moj-search-toggle__toggle"></div>
        <div class="moj-search-toggle__search">
          <div class="moj-search moj-search--ondark moj-search--toggle moj-js-hidden">
            <form action="searchAllocationDashboard" method="post">
              <div class="govuk-form-group">
                <label class="govuk-label moj-search__label govuk-visually-hidden" for="search2">
                  Search
                </label>
                <div id="search2-hint" class="govuk-hint moj-search__hint ">
                    Enter activity, location or facilitator<br />Or try  <a href="allocate-offender-dashboard-search-view">Advanced search</a>
                </div>
                <input class="govuk-input moj-search__input " id="search2" name="search2" type="search" aria-describedby="search2-hint">
              </div>
              <form method="post" action="">
              <button class="govuk-button moj-search__button " data-module="govuk-button">
                Search
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br /><br />

<table class="govuk-table" data-module="moj-sortable-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Days</th>
      <th scope="col" class="govuk-table__header">Monday</th>
      <th scope="col" class="govuk-table__header app-custom-class">Tuesday</th>
      <th scope="col" class="govuk-table__header app-custom-class">Wednesday</th>
      <th scope="col" class="govuk-table__header app-custom-class">Thursday</th>
      <th scope="col" class="govuk-table__header app-custom-class">Friday</th>
      <th scope="col" class="govuk-table__header app-custom-class">Saturday</th>
      <th scope="col" class="govuk-table__header app-custom-class">Sunday</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-s govuk-!-margin-bottom-3">
        AM
        </h3>
      </th>
      <td class="govuk-table__cell">Full</td>
      <td class="govuk-table__cell">Full</td>
      <td class="govuk-table__cell">Full</td>
      <td class="govuk-table__cell"><strong class="govuk-tag">
  1 space
</strong></td>
      <td class="govuk-table__cell">Full</td>
      <td class="govuk-table__cell">X
      </td>
      <td class="govuk-table__cell">X
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-s govuk-!-margin-bottom-3">
        PM
        </h3>
      </th>
      <td class="govuk-table__cell">Full</td>
      <td class="govuk-table__cell">Full</td>
      <td class="govuk-table__cell"><strong class="govuk-tag">
  1 space
</strong></td>
        <td class="govuk-table__cell">X</td>
      <td class="govuk-table__cell">Full</td>
      <td class="govuk-table__cell">X
      </td>
      <td class="govuk-table__cell">X
      </td>
    </tr>
  </tbody>
</table>









<table class="govuk-table" data-module="moj-sortable-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Days</th>
      <th scope="col" class="govuk-table__header">Monday</th>
      <th scope="col" class="govuk-table__header app-custom-class">Tuesday</th>
      <th scope="col" class="govuk-table__header app-custom-class">Wednesday</th>
      <th scope="col" class="govuk-table__header app-custom-class">Thursday</th>
      <th scope="col" class="govuk-table__header app-custom-class">Friday</th>
      <th scope="col" class="govuk-table__header app-custom-class">Saturday</th>
      <th scope="col" class="govuk-table__header app-custom-class">Sunday</th>
      <th scope="col" class="govuk-table__header app-custom-class">Allocated</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-s govuk-!-margin-bottom-3">
        AM
        </h3>
      </th>
      <td class="govuk-table__cell">Full</td>
      <td class="govuk-table__cell">Full</td>
      <td class="govuk-table__cell">Full</td>
      <td class="govuk-table__cell"><strong class="govuk-tag">
  1 space
</strong></td>
      <td class="govuk-table__cell">Full</td>
      <td class="govuk-table__cell">X
      </td>
      <td class="govuk-table__cell">X
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-s govuk-!-margin-bottom-3">
        PM
        </h3>
      </th>
      <td class="govuk-table__cell">Full</td>
      <td class="govuk-table__cell">Full</td>
      <td class="govuk-table__cell"><strong class="govuk-tag">
  1 space
</strong></td>
        <td class="govuk-table__cell">X</td>
      <td class="govuk-table__cell">Full</td>
      <td class="govuk-table__cell">X
      </td>
      <td class="govuk-table__cell">X
      </td>
    </tr>
  </tbody>
</table>
</div>
{% endblock %}
