{% extends "layout_hmpps.html" %}
{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block primaryNavigation %} {% endblock %}

{% block beforeContent %}
{{govukBackLink({
text: "Back",
"href": "javascript: window.history.go(-1)"
})}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            {% set applicantHtml %}
            {% set applicantOptions = [
            "Education staff",
            "Workshop staff",
            "Neurodiversity staff",
            "Mental health staff",
            "Offender Management Unit",
            "Workshop staff",
            "Mental health staff",
            "Wing staff",
            "Keyworker/POM",
            "Reception staff",
            "Orderly or Red Band",
            "Activity leader"
            ]
            %}
            <div class="govuk-form-group">
                <label class="govuk-label govuk-visually-hidden" for="other-applicant">Who made the application?</label>
                <select class="govuk-select" name="other-applicant" id="other-applicant">
                    <option value="" disabled selected>Select an option</option>
                    {% for option in applicantOptions %}
                    <option value="{{option}}">{{option}}</option>
                    {% endfor %}
                </select>
            </div>
            {% endset %}

            <span class="govuk-caption-xl">{{journeyName}}</span>

            {{govukRadios({
            idPrefix: "applicant",
            name: "applicant",
            fieldset: {
            legend: {
            text: "Who made the application?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
            }
            },
            items: [
            {
            value: "prisoner",
            text: prisoner.name.firstname + " " + prisoner.name.surname
            },
            {
            value: "iag",
            text: "IAG or CXK careers information, advice and guidance staff"
            },
            {
            value: "other",
            text: "Someone else, for example a member of staff, an activity leader or an orderly",
            conditional: {
            html: applicantHtml
            }
            }
            ]
            })}}

            <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
    </div>
</div>

{% endblock %}