{% extends "layout_hmpps-new-nav.html" %}

{% set serviceName = "Activities" %}

{% set prisonerName = "Marek Carlsen" %}
{% set prisonerNameAlt = "Carlsen, Marek" %}
{% set prisonerNumber = "G2444ZD" %}
{% set prisonerLocation = "A-4-02E" %}
{% set prisonerCategory = "C" %}
{% set prisonerCSRA = "Standard" %}
{% set prisonerIncentiveLevel = "Standard" %}
{% set prisonerEarliestReleaseDate = "27 June 2026" %}
{% set prisonerImage = "/public/images/test-image-1.jpeg" %}
{% set prisonerProfileURL = "prisoner-profile-3.html" %}

{% set activityTitle = "Plastering workshop" %}

{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block primaryNavigation %}

{% endblock %}

{% block beforeContent %}
<nav class="govuk-!-display-none-print">
    {{govukBackLink({
      text: "Back",
      "href": "javascript: window.history.go(-1)"
      })}} 
</nav>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-l">{{ activityTitle }}</span>
        <h1 class="govuk-heading-l">
            Change when {{ prisonerName }} should attend Wing cleaning
        </h1>
        <p class="govuk-body">Unselect a session to exclude {{ prisonerName }}. They will not be scheduled to attend that session.</p>
        <form action="check-and-confirm" method="post">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">      
                    <div>
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    Monday
                                </legend>
                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="exclude-monday" name="exclude-monday" type="checkbox" value="AM" checked="">
                                        <label class="govuk-label govuk-checkboxes__label" for="exclude-monday">
                                            AM (08:30 to 11:45)
                                        </label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="exclude-monday-2" name="exclude-monday" type="checkbox" value="PM" checked="">
                                        <label class="govuk-label govuk-checkboxes__label" for="exclude-monday-2">
                                            PM (13:45 to 16:45)
                                        </label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="exclude-monday-3" name="exclude-monday" type="checkbox" value="ED" checked="">
                                        <label class="govuk-label govuk-checkboxes__label" for="exclude-monday-3">
                                            ED (17:30 to 19:15)
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>              
                    </div>            
                    <div>
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    Tuesday
                                </legend>
                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="exclude-tuesday" name="exclude-tuesday" type="checkbox" value="AM" checked="">
                                        <label class="govuk-label govuk-checkboxes__label" for="exclude-tuesday">
                                            AM (08:30 to 11:45)
                                        </label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="exclude-tuesday-2" name="exclude-tuesday" type="checkbox" value="PM" checked="">
                                        <label class="govuk-label govuk-checkboxes__label" for="exclude-tuesday-2">
                                            PM (13:45 to 16:45)
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>                 
                    </div>        
                    <div>
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    Wednesday
                                </legend>
                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="exclude-wednesday" name="exclude-wednesday" type="checkbox" value="AM" checked="">
                                        <label class="govuk-label govuk-checkboxes__label" for="exclude-wednesday">
                                            AM (08:30 to 11:45)
                                        </label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="exclude-wednesday-2" name="exclude-wednesday" type="checkbox" value="PM" checked="">
                                        <label class="govuk-label govuk-checkboxes__label" for="exclude-wednesday-2">
                                            PM (13:45 to 16:45)
                                        </label>  
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="exclude-wednesday-3" name="exclude-wednesday" type="checkbox" value="ED" checked="">
                                        <label class="govuk-label govuk-checkboxes__label" for="exclude-wednesday-3">
                                            ED (17:30 to 19:15)
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>                     
                    </div>               
                    <div>
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    Thursday
                                </legend>
                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="exclude-thursday" name="exclude-thursday" type="checkbox" value="PM" checked="">
                                        <label class="govuk-label govuk-checkboxes__label" for="exclude-thursday">
                                            PM (13:45 to 16:45)
                                        </label> 
                                    </div>
                                </div>
                            </fieldset>
                        </div>                       
                    </div>               
                    <div>
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    Friday
                                </legend>
                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="exclude-friday" name="exclude-friday" type="checkbox" value="AM" checked="">
                                        <label class="govuk-label govuk-checkboxes__label" for="exclude-friday">
                                            AM (08:30 to 11:45)
                                        </label>  
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="exclude-friday-2" name="exclude-friday" type="checkbox" value="PM" checked="">
                                        <label class="govuk-label govuk-checkboxes__label" for="exclude-friday-2">
                                            PM (13:45 to 16:45)
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>                   
                    </div>           
                    <div>
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    Saturday
                                </legend>
                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="exclude-saturday" name="exclude-saturday" type="checkbox" value="AM" checked="">
                                        <label class="govuk-label govuk-checkboxes__label" for="exclude-saturday">
                                            AM (08:30 to 11:45)
                                        </label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="exclude-saturday-2" name="exclude-saturday" type="checkbox" value="PM" checked="">
                                        <label class="govuk-label govuk-checkboxes__label" for="exclude-saturday-2">
                                            PM (13:45 to 16:45)
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>                     
                    </div>
                    <div>
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    Sunday
                                </legend>
                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="exclude-sunday" name="exclude-sunday" type="checkbox" value="AM" checked="">
                                        <label class="govuk-label govuk-checkboxes__label" for="exclude-sunday">
                                            AM (08:30 to 11:45)
                                        </label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="exclude-sunday-2" name="exclude-sunday" type="checkbox" value="PM" checked="">
                                        <label class="govuk-label govuk-checkboxes__label" for="exclude-sunday-2">
                                            PM (13:45 to 16:45)
                                        </label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="exclude-sunday-3" name="exclude-sunday" type="checkbox" value="ED" checked="">
                                        <label class="govuk-label govuk-checkboxes__label" for="exclude-sunday-3">
                                            ED (17:30 to 19:15)
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div> 
                    </div>
                </div>
            </div>
            {% from "govuk/components/button/macro.njk" import govukButton %}
            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Continue"
                }) }}
                <a class="govuk-link" href="">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}