{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}
{% block pageTitle %}
Activities Management prototype
{% endblock %}
{% block primaryNavigation %}
{% endblock %}
{% block main %}
{% block beforeContent %}
<div class="govuk-width-container">
	<a href="/dps-home" class="govuk-back-link">Digital Prison Services</a>
	<h1 class="govuk-heading-l govuk-!-margin-top-7">Record and check attendance</h1>
</div>
{% endblock %}
<div class="homepage-content">
	<div class="govuk-width-container">
		<ul class="govuk-grid-row card-group" id="sortable">
			<li class="govuk-grid-column-one-third card-group__item" id="tile_001">
				<div class="card card--clickable" data-test="change-someones-cell">
					<h2 class="govuk-heading-m card__heading">
						<a class="govuk-link card__link govuk-link--no-visited-state" href="/unlock/{{data['prototype-versions']['unlock-and-attend']['latest-version']}}/record-attendance/select-date">Record attendance</a>
					</h2>
					<p class="govuk-body card__description">Record, view and change activity attendance.</p>
				</div>
			</li>			
			
			<li class="govuk-grid-column-one-third card-group__item" id="tile_001">
				<div class="card card--clickable" data-test="change-someones-cell">
					<h2 class="govuk-heading-m card__heading">
						<a class="govuk-link card__link govuk-link--no-visited-state" href="/unlock/{{data['prototype-versions']['unlock-and-attend']['latest-version']}}/attendance-dashboard">View daily attendance summary</a>
					</h2>
					<p class="govuk-body card__description">See daily attendance figures, including prisoners not yet attended, absences, activity cancellations and suspended prisoners.</p>
				</div>
			</li>

			<li class="govuk-grid-column-one-third card-group__item" id="tile_001">
				<div class="card card--clickable" data-test="change-someones-cell">
					<h2 class="govuk-heading-m card__heading">
						<a class="govuk-link card__link govuk-link--no-visited-state" href="/unlock/{{data['prototype-versions']['unlock-and-attend']['latest-version']}}/attendance-dashboard/select-date-and-period">View and update not attended prisoners</a>
					</h2>
					<p class="govuk-body card__description">Find today’s prisoners with no recorded attendance information.</p>
				</div>
			</li>
		</ul>
	</div>
</div>
{% endblock %}
{% block pageScripts %}
<script src="/public/javascripts/cards.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
	// $(document).ready( function() {
	// 	var $list = "ul#sortable"
	// 	$($list).sortable({
	// 		update: function(event, ui) {
	// 			var order = [];
	// 			var data = $(this).sortable('serialize');

	// 			$($list + ' li').each( function(e) {
	// 				order.push( $(this).find('a').html() );
	// 			});

	// 			console.log( order , data );
	// 		}
	// 	});
	// 	$($list).disableSelection();
	// } );
</script>
{% endblock %}
