{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}
{% block pageTitle %}
Activities Management prototype
{% endblock %}
{% block primaryNavigation %}
{% endblock %}

{% block beforeContent %}

	<a href="/dps-home" class="govuk-back-link">Digital Prison Services</a>

{% endblock %}

{% block content %}

<div class="govuk-width-container">

    <div class="moj-search">

        <form action="./search-for-a-prisoner-results" method="post">
      
          <div class="govuk-form-group">
            <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                <h1 class="govuk-heading-l govuk-!-margin-top-7">    
                    <span class="govuk-caption-l">Exclusions</span>
                    Search for a prisoner
                </h1>
            </label>
      
            <div id="search-hint" class="govuk-hint moj-search__hint ">
              You can search by prisoner name or number
            </div>
      
            <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
      
          </div>
      
          <button class="govuk-button moj-search__button " data-module="govuk-button">
            Search
          </button>
      
        </form>
      </div>
      

</div>

{% endblock %}