
{% extends "layout_hmpps-no-nav.html" %}
{% block pageTitle %}
Appointments prototype
{% endblock %}


{% block beforeContent %}
<nav class="govuk-!-display-none-print"> 
  <a href="../dps-home.html" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-3 float-right">
    Go to all appointments tasks
  </a>
</nav>
{% endblock %}

{% block content %}
<form action="confirmation" method="post" > 
    <div class="govuk-width-container">
      
      <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds-from-desktop">
            <h1 class="govuk-heading-l">
              <span class="govuk-caption-l">Manage appointments</span>
              
              {% if data['alt-appointment-name-bulk'] !='' %}

              {{ data['alt-appointment-name-bulk']}} ({{ data['apppointment-type-bulk']}})

              {% else %}
              
              {{ data['apppointment-type-bulk']}}
              {% endif %}
              <span class="govuk-caption-m govuk-!-margin-top-2">Tuesday, {{ data['date-of-appointment-day']}} August 2023</span>
             </h1>
 

            <div class="govuk-inset-text">
              This appointment was scheduled in a <b>set of 7</b>. You can <a href="../uploaded-in-bulk/overview-medical7">view the set</a> to print all movement slips at once.
            </div>

             <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Appointment details</h2>
                <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action"> <a class="govuk-link" href="../../cancel/bulk/cancel-question">
                      Cancel appointment
                    </a>
                  </li>
                </ul>
              </div>
              <div class="govuk-summary-card__content"> 
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Appointment name
                    </dt>
                    <dd class="govuk-summary-list__value">
                       
                  {% if data['alt-appointment-name-bulk'] !='' %}

                  {{ data['alt-appointment-name-bulk']}} ({{ data['apppointment-type-bulk']}})
  
                  {% else %}
                  
                  {{ data['apppointment-type-bulk']}}
                  {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <!-- <a class="govuk-link" href="change-answers/appointment-type">
                        Change<span class="govuk-visually-hidden">  type</span>
                      </a> -->
                    </dd>
                  </div> 

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Location
                    </dt>
                    <dd class="govuk-summary-list__value">
                      
                  {{ data['apppointment-location-bulk']}} 
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="../../edit/llocation-indv/location">
                        Change <span class="govuk-visually-hidden">  location</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['date-of-appointment-day']}} July 2023
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="../../edit/date-time-indv/date-of-appointment">
                        Change <span class="govuk-visually-hidden"> date</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Start time
                    </dt>
                    <dd class="govuk-summary-list__value">
                      9:00
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="../../edit/date-time-indv/date-of-appointment">
                        Change <span class="govuk-visually-hidden"> start time</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      End time
                    </dt>
                    <dd class="govuk-summary-list__value">
                      9:15
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="../../edit/date-time-indv/date-of-appointment">
                        Change <span class="govuk-visually-hidden"> end time</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Extra information
                    </dt>
                    <dd class="govuk-summary-list__value">
                      
                      {{ data['more-detail']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="../../edit/extra-information/comments">
                        Change <span class="govuk-visually-hidden"> extra information</span>
                      </a>
                    </dd>
                  </div>
                 </dl>
              </div>
            </div> 

            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">1 attendee</h2>
                <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                      Print movement slip
                    </a>
                  </li>
                </ul>
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Name of attendee
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Archer Alebeter</a><br>A4962H<br>1-3-5
                      </dd> 
                    </div>
                    </dl>
              </div>
            </div> 


            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Appointment history</h2> 
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
             
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Created by
                    </dt>
                    <dd class="govuk-summary-list__value">
                      A. Bruce
                    </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Date created
                      </dt>
                      <dd class="govuk-summary-list__value">
                        10 April 2023
                      </dd>
                    </div>
                     <!-- <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Last edited by
                      </dt>
                      <dd class="govuk-summary-list__value">
                        James Mckechnie
                      </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Date last edited
                        </dt>
                        <dd class="govuk-summary-list__value">
                          22 June 2023
                        </dd>
                        </div>  -->
                 </dl>
              </div>
           
            </form>
          </div>
        </div>
      </main>
    </div>
  
{% endblock %}
