
{% extends "layout_hmpps-no-nav.html" %}
{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block content %}
<form action="confirmation" method="post" >
  <div class="back">
    <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
  </div>
    <div class="govuk-width-container">
    
      <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds-from-desktop">

            {% if data['which-occurrence-alt'] === 'All occurrences' %}

              {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

              {% set html %}
                <h3 class="govuk-notification-banner__heading">
                  Appointment location for all occurrences changed successfully 
                </h3>
                
              {% endset %}

              {{ govukNotificationBanner({
                html: html,
                type: 'success'
              }) }}

            {% elseif data['which-occurrence-alt'] === 'This and the following occurrences' %}

              {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

              {% set html %}
                <h3 class="govuk-notification-banner__heading">
                  Appointment location for some occurrences changed successfully 
                </h3>
              
                
              {% endset %}

              {{ govukNotificationBanner({
                html: html,
                type: 'success'
              }) }}

            {% else %}
  
            {% endif %}
            <h1 class="govuk-heading-l">View and edit appointment details</h1>
            <h2 class="govuk-heading-m">Group appointment details</h2>

            
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
             
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Created by
                </dt>
                <dd class="govuk-summary-list__value">
                  J. Smith
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date created
                  </dt>
                  <dd class="govuk-summary-list__value">
                    13 Feb 2023
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <!--<a class="govuk-link" href="change-answers/date-of-appointment">
                      Change <span class="govuk-visually-hidden"> date</span>
                    </a>-->
                  </dd>
                </div>
                {% if data['which-occurrence-alt'] === 'This and the following occurrences' or data['which-occurrence-alt'] === 'All occurrences' or data['which-occurrence-alt'] === 'This occurrence' %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Last edited by
                  </dt>
                  <dd class="govuk-summary-list__value">
                    B. Milman
                  </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Last edited date
                    </dt>
                    <dd class="govuk-summary-list__value">
                      22 April 2023
                    </dd>
                    </div>
                {% endif %}
             </dl>
            
             <h2 class="govuk-heading-m">Next occurrence</h2>
             <dl class="govuk-summary-list govuk-!-margin-bottom-3">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Type
                </dt>
                <dd class="govuk-summary-list__value">
                  Case - Substance misuse services
                </dd>
                <dd class="govuk-summary-list__actions">
                  <!--<a class="govuk-link" href="change-answers/appointment-type">
                    Change <span class="govuk-visually-hidden">  type</span>
                  </a>-->
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Location
                </dt>
                {% if data['which-occurrence-alt'] === 'This and the following occurrences' or data['which-occurrence-alt'] === 'All occurrences' %}
                <dd class="govuk-summary-list__value">
                  Classroom 1 
                </dd>
                {% else %}
                <dd class="govuk-summary-list__value">
                  Medical room
                </dd>
                {% endif %}
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="change-answers-group-alt/location">
                    Change <span class="govuk-visually-hidden">  location</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date
                </dt>
                <dd class="govuk-summary-list__value">
                  1 May 2023
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="change-answers-group-alt/date-of-appointment">
                    Change <span class="govuk-visually-hidden"> date</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Start time
                </dt>
                <dd class="govuk-summary-list__value">
                  9:00
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="change-answers-group-alt/date-of-appointment#start-time">
                    Change <span class="govuk-visually-hidden"> start time</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  End time
                </dt>
                <dd class="govuk-summary-list__value">
                  12:00
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="change-answers-group-alt/date-of-appointment#end-time">
                    Change <span class="govuk-visually-hidden"> end ime</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Prisoners
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if data['which-occurrence-alt-prisoners'] and data['check-all'] %}
                  10
                  {% else %}
                  6
                  {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="change-answers-group-alt/person-add-another">
                    Change<span class="govuk-visually-hidden"> Repeat</span>
                  </a>
                </dd>
              </div>
             </dl>
             {{ govukButton({
              text: "Print movement slip"
             }) }}
             {{ govukButton({
              text: "Cancel occurrence",
              href: "cancel-group-alt/cancel-question",
              classes: "govuk-button--secondary"
            }) }}
                <table class="govuk-table govuk-!-margin-top-9">
                  <caption class="govuk-table__caption govuk-table__caption--m">Remaining occurrences</caption>
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header govuk-table__header--numeric width-one-eighth">Occurrence</th>
                      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
                      <th scope="col" class="govuk-table__header"></th>
                      <th scope="col" class="govuk-table__header width-one-eighth"></th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-table__cell--numeric width-one-eighth">2</td>
                      <td class="govuk-table__cell">8 May 2023</td>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell"><a href="#" class="govuk-link">View and edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-table__cell--numeric width-one-eighth">3</td>
                      <td class="govuk-table__cell">15 May 2023</td>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell"><a href="group-appointment-single-occurrence-alt" class="govuk-link">View and edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-table__cell--numeric width-one-eighth">4</td>
                      <td class="govuk-table__cell">22 May 2023</td>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell"><a href="#" class="govuk-link">View and edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-table__cell--numeric width-one-eighth">5</td>
                      <td class="govuk-table__cell">29 May 2023</td>
                      <td class="govuk-table__cell"></td>
                      <td class="govuk-table__cell"><a href="#" class="govuk-link">View and edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-table__cell--numeric width-one-eighth">6</td>
                      <td class="govuk-table__cell">5 June 2023</td>
                      <td class="govuk-table__cell">
                      </td>
                      <td class="govuk-table__cell"><a href="#" class="govuk-link">View and edit</a></td>
                    </tr>
                     
                  </tbody>
                </table>
              <div class="govuk-button-group">
             {{ govukButton({
              text: "Print all movement slips"
             }) }}
                {{ govukButton({
                  text: "Cancel all appointments",
                  href: "cancel/cancel-question",
                  classes: "govuk-button--secondary"
                }) }}
            </div>
             <p class="govuk-body">
              <a href="search-results" class="govuk-link">Back to list of appointments</a>
             </p>
            </form>
          </div>
        </div>
      </main>
    </div>
  
{% endblock %}
