
{% extends "layout.html" %}

{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block header %}
{% set homepageUrl %}
{% if data['prototype'] == 'create' %}
/?prototype=create
{% elseif data['prototype'] == 'unlock' %}
/unlock?prototype=unklock
{% elseif data['prototype'] == 'appointments' %}
/appointments?prototype=appointments
{% endif %}
{% endset %}

{{ govukHeader({
  homepageUrl: homepageUrl,
  serviceName: serviceName,
  serviceUrl: homepageUrl,
  containerClasses: "govuk-width-container",
  navigation: [
  {
    text: "Create and allocate",
    href: "/?prototype=create"
  },
  {
    text: "Unlock and attend",
    href: "/unlock/?prototype=unlock"
  },
  {
    text: "Appointments",
    href: "/appointments/?prototype=appointments",
    active: true
  }]
}) }}

<div class="app-masthead">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-3">
          Appointments
        </h1>
        <h3 class="app-masthead__subtitle govuk-heading-l">Designs ready for development</h3>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
   


    <table class="govuk-table">
      <thead class="govuk-table__head" >
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" width="35%">Journey</th>
          <th scope="col" class="govuk-table__header" width="15%">Included in which sprint</th>
          <th scope="col" class="govuk-table__header">Links and information</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <p class="govuk-!-font-weight-bold">Recurring single appointment and frequency</p>
          </td>

          <td class="govuk-table__cell" >
            <p class="govuk-body">
              Sprint X
            </p>
          </td>
          <td class="govuk-table__cell" >
            <p class="govuk-body">
             View and edit summary - inclduing parent and child view
            </p>
           
            <li>
              <a href="designs/view-recurring-appointment/view-and-edit-appointment-parent" class="govuk-link">Recurring appointment view - PARENT (leading through to child)</a>
            </li>
            <li>
              <a href="designs/view-recurring-appointment/view-and-edit-appointment-child" class="govuk-link">Recurring appointment view - CHILD</a>
            </li>
            <li>
              <a href="https://miro.com/app/board/uXjVPr57naE=/?moveToWidget=3458764547806929575&cot=14" class="govuk-link" target="_blank">Designs on Miro board (opens in a new tab)</a>
            </li>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <p class="govuk-!-font-weight-bold">Recurring single appointment and frequency</p>
          </td>

          <td class="govuk-table__cell" >
            <p class="govuk-body">
              Sprint 4
            </p>
          </td>
          <td class="govuk-table__cell" >
            <p class="govuk-body">
             Repeat question and frequency information pages, based on developed flow.
            </p>
            <li>
              <a href="designs/recurring-single-appointment/select-prisoner" class="govuk-link">Prototype design - Appointment repeat</a>
            </li>
            <li>
              <a href="https://miro.com/app/board/uXjVPr57naE=/?moveToWidget=3458764547365691515&cot=14" target="_blank" class="govuk-link">Designs on Miro board</a>
            </li>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <p class="govuk-!-font-weight-bold">Appointment view & Movement slip</p>
          </td>
         
          <td class="govuk-table__cell" >
            <p class="govuk-body">
              Sprint 3
            </p>
          </td>
          <td class="govuk-table__cell" >
            <p class="govuk-body">
              Single page, showing the high level appointment created view. also an HTML version of movement slip, utilising current 'as-is' design.
            </p>
            <li>
              <a href="designs/appointment-management/edit-appointment-option-4" class="govuk-link">Appointment summary</a>
            </li>
            <li>
              <a href="designs/appointment-management/edit-appointment-alt-option" class="govuk-link">Appointment summary - Alternative option showing created by</a>
            </li>
            <li>
              <a href="designs/appointment-management/confirmation" class="govuk-link">Single appointment creation confirmation</a>
            </li>
            <li>
              <a href="designs/appointment-management/movement-slip" class="govuk-link">HTML Movement slip (Comments were not included within the ticket)</a>
            </li>
            <li>
              <a href="https://dsdmoj.atlassian.net/wiki/spaces/APT/pages/4298146005/Appointment+view+-+Base+design" class="govuk-link">Confluence article</a>
            </li>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <p class="govuk-!-font-weight-bold">Single appointment (Happy path)</p>
          </td>

          <td class="govuk-table__cell" >
            <p class="govuk-body">
              Sprint 2
            </p>
          </td>
          <td class="govuk-table__cell" >
            <p class="govuk-body">
              This flow is purely 'Happy path' and will require iteration through Beta.
            </p>
            <li>
              <a href="../version-4/schedule-scenarios/scenario-1/select-prisoner" class="govuk-link">Prototype design</a>
            </li>
            <li>
              <a href="https://dsdmoj.atlassian.net/browse/SAA-348" class="govuk-link">Jira ticket (SAA-348)</a>
            </li>
          </td>
        </tr>

        
      </tbody>
    </table>

    
  </div>
</div>

{% endblock %}
