
{% extends "layout_hmpps-no-nav.html" %}
{% set serviceName = "Appointments" %}

{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block content %}
<form id="form" method="post" action="../single-appointment-no-recurrence-edited">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="back">
        <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
        </div>
     <h1 class="govuk-heading-l">
      When is the appointment?
     </h1>
     <p class="govuk-body">
      Select a date and time
     </p>
     {% from "govuk/components/date-input/macro.njk" import govukDateInput %}
  
     {{ govukDateInput({
      id: "date-of-appointment",
      namePrefix: "date-of-appointment",
      value: data['date-of-appointment'],
      hint: {
        text: "For example, 31 3 2023"
      },
      items: [
        {
          name: "day",
          label: "Day",
          
          classes: "govuk-input--width-2"
        },
        {
          name: "month",
          label: "Month",
          
          classes: "govuk-input--width-2"
        },
        {
          name: "year",
          label: "Year",
         
          classes: "govuk-input--width-4"
        }
      ]
    }) }}
  
  
    
      <div class="govuk-grid-row" id="time">
        <div class="govuk-grid-column-one-third">
          <div class="govuk-button-group">
            <h3 class="govuk-heading-m" id="start-time">
              Start time
            </h3>
            <ul class="time-input">
              <li>
                <select class="govuk-select" id="start-hours" name="start-hours-single">
                  <option selected>{{ data['start-hours-single'] or '11'}}</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                </select>
               
              </li>
              <li>
                <select class="govuk-select minutes" id="start-minutes" name="start-minutes">
                  <option selected>{{ data['start-minutes-single'] or '00'}}</option>
                  <option value="00">00</option>
                  <option value="15">15</option>
                  <option value="30">30</option>
                  <option value="45">45</option>
                </select>
              </li>
            </ul>
        </div>
      </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <div class="govuk-button-group">
            <h3 class="govuk-heading-m">
              End time
            </h3>
            <ul class="time-input" id="end-time">
              <li>
                <select class="govuk-select" id="end-hours" name="end-hours">
                  <option selected>{{ data['end-hours-single'] or '16'}}</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                </select>
               
              </li>
              <li>
                <select class="govuk-select minutes" id="end-minutes" name="end-minutes">
                  <option selected>{{ data['end-minutes-single'] or '00'}}</option>
                  <option value="00">00</option>
                  <option value="15">15</option>
                  <option value="30">30</option>
                  <option value="45">45</option>
                </select>
              </li>
            </ul>
  
             
           
      </div>
      </div>
    </div>
    <br>
    {{ govukButton({
      text: "Continue"
    }) }}




  </div>
</div>
</form>
{% endblock %}
