
{% extends "layout_hmpps-no-nav.html" %}
{% set serviceName = "Appointments" %}

{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}


{% block beforeContent %}
<nav class="govuk-!-display-none-print">
{{govukBackLink({
  text: "Back",
  "href": "javascript: window.history.go(-1)"
  })}} 
  <a href="../dps-home.html" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-3 float-right">
    Go to all appointments tasks
  </a>
</nav>
{% endblock %}

{% block content %}
<form id="form" method="post" action="../../appointment-summary/non-repeating/summary-cancelled">
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> 
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"> 
          {% if data['alt-appointment-name-bulk'] !='' %}

                {{ data['alt-appointment-name-bulk']}} ({{ data['apppointment-type-bulk']}})

                {% else %}
                
                {{ data['apppointment-type-bulk']}}
                {% endif %}
        </span>
        Are you sure you want to cancel this appointment – Tuesday, 25 July 2023?
       </h1>
   
      {{ govukRadios({
        idPrefix: "appointment-cancel",
        name: "appointment-cancel",
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

    
    {{ govukButton({
      text: "Cancel appointment"
    }) }}




  </div>
</div>
</form>
{% endblock %}
