
{% extends "layout.html" %}

{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block header %}
{% set page = "appointments" %}

{% include "../includes/proto-header.html" %}

<div class="app-masthead">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="app-masthead__title govuk-heading-l govuk-!-margin-bottom-3">
          Appointments
        </h1>
        <h3 class="app-masthead__subtitle govuk-heading-m">A service within Digital Prison Services for prison staff to manage appointments.
        </h3>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}




<div class="govuk-!-margin-bottom-6">
  <h2 class="govuk-heading-m">
    Supporting documentation
  </h2> 

  <ul class="govuk-list govuk-list--bullet">
    <li><a href="https://miro.com/app/board/uXjVPPwl3Rk=/" target="_blank" class="govuk-link govuk-link--no-visited-state">Miro for Discovery and Alpha</a></li>
    <li><a href=" https://miro.com/app/board/uXjVPr57naE=/" target="_blank" class="govuk-link govuk-link--no-visited-state">Miro for Alpha and Beta</a></li>
    <li><a href="https://miro.com/app/board/uXjVM4GI880=/" target="_blank" class="govuk-link govuk-link--no-visited-state">Miro for Appointments Story Map</a></li>
    <li><a href=" https://docs.google.com/spreadsheets/d/1RL6wqjs0Heq6cvZV-s4noRCJ_UGprpnpsZl5mwjf7Fk/edit#gid=966162658" target="_blank" class="govuk-link govuk-link--no-visited-state">Design and content decision log (google sheets)</a></li>
    <li><a href=" https://docs.google.com/spreadsheets/d/1Y8i7ZV5lEdRZJ-QoNVH1xz_9RwMGwZ9Z-gO9iQnKDbc/edit#gid=1204818438" target="_blank" class="govuk-link govuk-link--no-visited-state">Content docs for appointments (google sheets)</a></li>
  </ul> 
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full"> 
       
    {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: 'Post-MVP designs',
        href: '.',
        active: true
      }, {
        text: 'MVP designs',
        href: '../appointments/mvp'
      }, {
        text: 'Pre-MVP designs',
        href: '../appointments/pre-mvp'
      }]
    }) }}


    <h2 class="govuk-heading-l">
      Prototype versions
    </h2> 

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Version 13
              <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-1">
                In Design
              </strong>
            </span>
          </h2>
        </div> 
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

  
          <form method="post">
            {{govukButton({
              text: "Launch prototype",
              attributes: {
                "formaction": "/appointments/version-13/dps-home-main",
                "formmethod": "get"
                },
                isStartButton: true
              })}}
            </form>
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-caption-l govuk-visually-hidden" style="color: #0b0c0c;">Prototype versions</caption>
            <thead class="govuk-table__head" >
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" width="15%">Journey</th>
                <th scope="col" class="govuk-table__header">Description of changes</th>
                <th scope="col" class="govuk-table__header">Supporting documents</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
             
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" >
                  <b>User research</b>
                </td>
      
                <td class="govuk-table__cell"> 
      
                  
                  <h4 id="UR-scenario-1" class="govuk-heading-m">Scenario 1 - Create an appointment</h4>

                  <p>In the first scenario, we are testing Alerts and Non-assocations within the 'Schedule an appointment' journey.</p>

                  <form method="post">
                  {{govukButton({
                    text: "Start scenario 1",
                    attributes: {
                      "formaction": "/appointments/version-13/dps-home",
                      "formmethod": "get"
                      },
                      isStartButton: true
                    })}} 
                    </form>

                  <h4 id="" class="govuk-heading-s">Other key pages</h4>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a href="/appointments/version-13/create-appointment/alerts">Alerts</a>
                      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">new</strong>
                    </li>
                    <li>
                      <a href="/appointments/version-13/create-appointment/non-associations-4">Non-associations</a>
                      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">new</strong>
                    </li> 
                    <li>
                      <a href="/appointments/version-13/create-appointment/non-associations-resolved">Non-associations (resolved)</a>
                      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">new</strong>
                    </li> 
                  </ul> 

    
                  <h4 id="" class="govuk-heading-m">Scenario 2 - Add attendees to an existing appointment</h4>

                  <p>In the first scenario, we are testing Alerts and Non-assocations within the 'View and manage an existing appointment' journey.</p>


                  <form method="post">
                  {{govukButton({
                    text: "Start scenario 2",
                    attributes: {
                      "formaction": "/appointments/version-13/dps-home",
                      "formmethod": "get"
                      },
                      isStartButton: true
                    })}}
                    </form>
                    
                  <h4 id="" class="govuk-heading-s">Other key pages</h4>
                    <ul class="govuk-list govuk-list--bullet"> 
                      <li>
                        <a href="/appointments/version-13/appointment-management/appointment-summary/repeating/summary">Appointment summary (repeating)</a>
                        <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">No change</strong>
                      </li>
                      <li>
                        <a href="/appointments/version-13/appointment-management/edit/appointment-list/add/upload-or-per-person">Add attendees</a>
                        <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">No change</strong>
                      </li>
                      <li>
                        <a href="/appointments/version-13/appointment-management/edit/appointment-list/add/alerts">Alerts</a>
                        <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">New</strong>
                      </li>
                      <li>
                        <a href="/appointments/version-13/appointment-management/edit/appointment-list/add/alerts-resolved">Alerts (all resolved)</a>
                        <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">New</strong>
                      </li>
                      <li>
                        <a href="/appointments/version-13/appointment-management/edit/appointment-list/add/non-associations-4">Non-associations</a>
                        <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">New</strong>
                      </li>
                      <li>
                        <a href="/appointments/version-13/appointment-management/edit/appointment-list/add/non-associations-resolved">Non-assocations (all resolved)</a>
                        <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">New</strong>
                      </li>
                    </ul> 
              
     
                </td>
                <td class="govuk-table__cell" >
               ...
               </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" >
                  <b>Appointment creation</b>
                </td>
      
                <td class="govuk-table__cell"> 

                  <h4 id="FDR-create" class="govuk-heading-m">Capturing Future Regime Design (FRD) purposeful activity
                    <strong class="govuk-tag govuk-tag--blue govuk-!-margin-left-1">MVP</strong>
                  </h4>
   
                  <p>FRD have requested that we capture imforation on purposeful activity in our service. Previously some of this information was captured on NOMIS when creating activities, but it is new for appointments.</p>
                  <p>There are three options an appointment can fit into: Tier 1, Tier 2 and foundational tier (non-purposeful activity, including not in work).</p>
                  <p>For Tier 2 appointments, we must also capture who is providing/running this appointment.</p>

                  <h4 class="govuk-heading-s">Schedule an appointment</h4>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a href="/appointments/version-13/create-appointment/tier">What is the appointment tier?</a>
                      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">new</strong>
                    </li>
                    <li>
                      <a href="/appointments/version-13/create-appointment/provider">Who is providing this appointment?</a>
                      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">new</strong>
                    </li>
                    <li>
                      <a href="/appointments/version-13/create-appointment/check-answers">Check your answers</a>
                      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">updated</strong>
                    </li> 
                  </ul> 

                  <h4 class="govuk-heading-s">Schedule a set of back-to-back appointments</h4>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a href="/appointments/version-13/create-b2b-appointment/tier">What is the appointment tier?</a>
                      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">new</strong>
                    </li>
                    <li>
                      <a href="/appointments/version-13/create-b2b-appointment/provider">Who is providing these appointments?</a>
                      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">new</strong>
                    </li>
                    <li>
                      <a href="/appointments/version-13/create-b2b-appointment/check-answers">Check your answers</a>
                      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">updated</strong>
                    </li> 
                  </ul> 
            
                
                  <h4 class="govuk-heading-m">Alerts
                    <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-1">MVP+</strong>
                  </h4>
                  
                   <p>From out options and risks analysis, we agreed an <a href="https://miro.com/app/board/uXjVPr57naE=/?moveToWidget=3458764562074771546&cot=14" target="_blank" class="govuk-link govuk-link--no-visited-state">initial approach</a> for surfacing alerts in appointments. This is as follows:</p>

                  <ul class="govuk-list govuk-list--bullet"> 
                    <li> 
                      We will surface all alerts (by alert name) on a dedicated page
                    </li> 
                    <li> 
                      Only users who have alerts would be shown
                    </li>  
                    <li> 
                      Alerts which have a corresponding flag on the prisoner profile will be displayed as flags to remain consistent across DPS
                    </li>  
                    <li> 
                      All alerts (including ones with flags) are surfaced in a progressive disclosure
                    </li>  
                  </ul>
                  <h4 class="govuk-heading-s">Schedule an appointment</h4>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a href="/appointments/version-13/create-appointment/alerts">alerts page - multiple people in the list</a>

                      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">new</strong>
                    </li>
                    <!-- <li>
                      <a href="/appointments/version-13/create-appointment/alerts-one">alerts page - one person on the list</a>
                      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">new</strong>
                    </li> -->
                    <li>
                      <a href="/appointments/version-13/create-appointment/alerts-resolved">all people with alerts removed - some attendees remain</a>
                      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">new</strong>
                    </li>
                    <li>
                      <a href="/appointments/version-13/create-appointment/person-add-another-warning">all people with alerts removed - no attendees remain</a>
                      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">no change</strong>
                    </li>
                  </ul> 
                
                  <h4 class="govuk-heading-s">Schedule a set of back-to-backs</h4>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a href="/appointments/version-13/create-b2b-appointment/alerts">alerts page - multiple people in the list</a>
                      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">new</strong>
                    </li>
                    <li>
                      <a href="/appointments/version-13/create-b2b-appointment/alerts-resolved-one-remaining">all people with alerts removed - one person on the list</a>
                      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">new</strong>
                    </li>
                    <li>
                      <a href="/appointments/version-13/create-b2b-appointment/alerts-resolved">all people with alerts removed - some attendees remain</a>
                      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">new</strong>
                    </li>
                    <li>
                      <a href="/appointments/version-13/create-b2b-appointment/person-add-another-warning">all people with alerts removed - no attendees remain</a>
                      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">no change</strong>
                    </li> 
                  </ul> 
               

                </td>
                <td class="govuk-table__cell" >

                <h4 class="govuk-heading-s">Design</h4>
                <ul class="govuk-list govuk-list--spaced"> 
                  <li><a href="https://miro.com/app/board/uXjVPr57naE=/?moveToWidget=3458764562074771546&cot=14" target="_blank" class="govuk-link govuk-link--no-visited-state">Alerts handover (miro)</a></li>      
                </ul>

                <h4 class="govuk-heading-s">UR</h4>
                <ul class="govuk-list govuk-list--spaced"> 
                  <!-- <li><a href="https://miro.com/app/board/uXjVPr57naE=/?moveToWidget=3458764560136590423&cot=14" target="_blank" class="govuk-link govuk-link--no-visited-state">Alerts and attendance survey results (miro)</a></li>  -->
                </ul>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" >
                  <b>Appointment management</b>
                </td>
      
                <td class="govuk-table__cell"> 


                  <h4 id="FDR-edit" class="govuk-heading-m">Editing Future Regime Design (FRD) purposeful activity
                    <strong class="govuk-tag govuk-tag--blue govuk-!-margin-left-1">MVP</strong>
                  </h4>
                  <ul class="govuk-list govuk-list--bullet"> 
                    <li>
                      <a href="/appointments/version-13/appointment-management/appointment-summary/repeating/summary">Appointment summary (repeating)</a>
                      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">updated</strong>
                    </li>
                    <li>
                      <a href="/appointments/version-13/appointment-management/edit/tier-repeating/tier">Edit repeating appointment</a>
                      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">updated</strong>
                    </li>
                    <li>
                      <a href="/appointments/version-13/appointment-management/appointment-summary/uploaded-in-bulk/bert">Appointment summary (B2B - non-repeating)</a>
                      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">updated</strong>
                    </li>
                    <li>
                      <a href="/appointments/version-13/appointment-management/edit/tier/tier">Edit non-repeating appointment</a>
                      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">updated</strong>
                    </li>
                  </ul> 
            
   
                
                  <h4 class="govuk-heading-m">Alerts
                    <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-1">MVP+</strong>
                  </h4>
                   
                  <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a href="/appointments/version-13/appointment-management/edit/appointment-list/add/upload-or-per-person">Adding new attendees</a>
                      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">updated</strong>
                    </li>
                    <li>
                      <a href="/appointments/version-13/appointment-management/edit/appointment-list/add/alerts-resolved">Adding new person - all new people with alerts removed - some new attendees remain</a>
                      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">new</strong>
                    </li> 
                    <li>
                      <a href="/appointments/version-13/appointment-management/edit/appointment-list/add/person-add-another-warning">Adding new person - all new people with alerts removed - no new attendees remain</a>
                      <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">no change</strong>
                    </li> 
                  </ul> 



               </td>
               
                <td class="govuk-table__cell" >
                  <ul class="govuk-list govuk-list--spaced">   
                  </ul>
                </td>
              </tr>
           
            </tbody>
          </table>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Version 12
              <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">
                Closed
              </strong>
            </span>
          </h2>
        </div> 
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

  
          <form method="post">
            {{govukButton({
              text: "Launch prototype",
              attributes: {
                "formaction": "/appointments/version-12/dps-home-main",
                "formmethod": "get"
                },
                isStartButton: true
              })}}
            </form>
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-caption-l govuk-visually-hidden" style="color: #0b0c0c;">Prototype versions</caption>
            <thead class="govuk-table__head" >
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" width="15%">Journey</th>
                <th scope="col" class="govuk-table__header">Description of changes</th>
                <th scope="col" class="govuk-table__header">Supporting documents</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
             
              <!-- <tr class="govuk-table__row">
                <td class="govuk-table__cell" >
                  <b>Content changes</b>
                </td>
      
                <td class="govuk-table__cell"> 
      
                 ...
    
                </td>
                <td class="govuk-table__cell" >
               ...
               </td>
              </tr> -->
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" >
                  <b>Appointment creation</b>
                </td>
      
                <td class="govuk-table__cell"> 

                  <h4 class="govuk-heading-m">Enhanced appointment repeat function  
                    <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-1">MVP+</strong>
                  </h4>
                 

                  <p>User needs emerging that require user more customisation when setting up repeat apptointments e.g. repeats every 3 days, repeats on the last thursday of the month.</p>
                  <ul class="govuk-list govuk-list--bullet"> 
      
                  <li><a href="/appointments/version-12/create-appointment/appointment-frequency-2">Version 1 - nested radios</a></li> 

                  <li><a href="/appointments/version-12/create-appointment/appointment-frequency-3">Version 2 - nested radios with text input sufix</a></li> 
         
                  <li><a href="/appointments/version-12/create-appointment/appointment-frequency-4">Version 3 - nested radios with stepper</a></li> 

                  <li><a href="/appointments/version-13/create-appointment/appointment-frequency-5">Version 4 - Split into sepetate pages</a></li> 
                  </ul>
                   <h4 class="govuk-heading-m">Alerts
                    <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-1">MVP+</strong></h4>
                  
                   <p>Users need to be able to review alerts before scheduling appointments: </p>
                   <ul class="govuk-list govuk-list--bullet"> 
                     <li> 
                       <a href="/appointments/version-12/create-appointment/alerts">v1 - showing all alerts as priority tags</a>
                     </li> 
                     <li> 
                       <a href="/appointments/version-12/create-appointment/alerts-2">v2 - showing only priority tags, linking to profile for all alerts - summary list</a>
                     </li> 
                     <li> 
                       <a href="/appointments/version-12/create-appointment/alerts-3">v3 - showing priority tags and all alerts - accordion</a>
                     </li> 
                     <li> 
                       <a href="/appointments/version-12/create-appointment/alerts-4">v4 - showing only priority tags, linking to profile for all alerts - cards</a>
                     </li> 
                     <li> 
                       <a href="/appointments/version-12/create-appointment/alerts-5">v5 - showing priority tags and all alerts - cards</a>
                     </li> 
                     <li> 
                       <a href="/appointments/version-12/create-appointment/alerts-6">v6 - showing all alerts - accordion</a>
                     </li>
                     <li> 
                       <a href="/appointments/version-12/create-appointment/alerts-7">v7 - showing all alerts - cards</a>
                     </li>
                     <li> 
                        <a href="/appointments/version-12/create-appointment/alerts-7-2">v7.2 - showing all alerts, refined table - cards</a>
                     </li>

                     <li> 
                      <a href="/appointments/version-12/create-appointment/alerts-8">v8 - showing all alerts - cards</a>
                    </li>
                   </ul>


                  <h4 class="govuk-heading-m">Non-associations
                    <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-1">MVP+</strong></h4>
                   
                  <p>Users need to be able to review non-associations before scheduling appointments: </p>
                  <ul class="govuk-list govuk-list--spaced"> 
                    <li> 
                      <a href="/appointments/version-12/create-appointment/non-associations">v1 - lean approach using tags</a>
                    </li> 
                    <li> 
                      <a href="/appointments/version-12/create-appointment/non-associations-2">v2 - showing everything</a>
                    </li>  
                    <li> 
                      <a href="/appointments/version-13/create-appointment/non-associations-4">v3 - lean approach using cards</a>
                    </li> 
                  </ul>



                  <h4 class="govuk-heading-m">Extra information
                    <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-1">MVP+</strong> </h4>
                  <p>Ability to add the same comment in one go for a whole set of appointments (during bulk appointment creation). Currently it is only possible to add comments individually for each appointment in the upload. This is experimental, still need to uncover the exact user needs here.</p>
                  <p><a class="govuk-link" href="/appointments/version-12/create-b2b-appointment/comments/comments-including-all">Using a secondary CTA</a></p>

                  <h4 class="govuk-heading-m">Tasklist 
                    <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">Experimental</strong></h4>
                  <p>With each new MVP+ feature (alerts, non-associations, irregular schedules, schedule view for appointment series), the create journey becomes longer and more complex. Tasklist is an experiemental solution which aims to break these steps into individual transactions. </p>
         
                  <ul class="govuk-list govuk-list--spaced"> 
                    <li> 
                      <a href="/appointments/version-12/create-appointment/tasklist">Using tasklist to break up longer forms</a>
                    </li> 
                  </ul>

                </td>
                <td class="govuk-table__cell" >

                <h4 class="govuk-heading-s">Design</h4>
                <ul class="govuk-list govuk-list--spaced"> 
                  <li><a href="https://miro.com/app/board/uXjVPr57naE=/?moveToWidget=3458764559057863556&cot=14" target="_blank" class="govuk-link govuk-link--no-visited-state">Alerts ideation (miro)</a></li> 
                  <li><a href="https://docs.google.com/presentation/d/1yeB3IHRtArKS9TDkHxHf0Ut43QUXian1LDKnLk0GU20/edit?usp=sharing" target="_blank" class="govuk-link govuk-link--no-visited-state">Alerts on unlock list - activites management (google slides)</a></li>
                  <li><a href="https://docs.google.com/presentation/d/1urM2QFLwaztD8X-rOhgz70xqRzZDrK0iU0AOtsx9iy0/edit?usp=sharing" target="_blank" class="govuk-link govuk-link--no-visited-state">Non-associations and alerts insights (google slides)</a></li>
                  <li><a href="https://miro.com/app/board/uXjVPr57naE=/?moveToWidget=3458764560240621057&cot=14" target="_blank" class="govuk-link govuk-link--no-visited-state">Non-associations ideation (miro)</a></li>
                  <li><a href="https://www.figma.com/file/4PhWCEDcVW3oypg55NnvZp/NON-79---Non-associations%3A-Add-%26-View---Response-to-UR-findings?type=design&node-id=212%3A47325&mode=design&t=tkVuNCSWKoQzjF1X-1" target="_blank" class="govuk-link govuk-link--no-visited-state">Non-associations team - prototype (Figma)</a></li>
                  <li><a href="https://miro.com/app/board/uXjVPr57naE=/?moveToWidget=3458764560640798858&cot=14" target="_blank" class="govuk-link govuk-link--no-visited-state">Tasklist ideation (miro)</a></li>
                </ul>

                <h4 class="govuk-heading-s">UR</h4>
                <ul class="govuk-list govuk-list--spaced"> 
                  <li><a href="https://miro.com/app/board/uXjVPr57naE=/?moveToWidget=3458764560136590423&cot=14" target="_blank" class="govuk-link govuk-link--no-visited-state">Alerts and attendance survey results (miro)</a></li> 
                </ul>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" >
                  <b>Appointment management</b>
                </td>
      
                <td class="govuk-table__cell"> 
                
                  <h4 class="govuk-heading-m">Imrpovements to appointments dashboard
                    <strong class="govuk-tag govuk-tag--blue govuk-!-margin-left-1">MVP</strong> </h4>
                  <p>During a recent dev review we spotted an oppotuntiy to improve filters on the appointments dashboard:</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a class="govuk-link" href="/appointments/version-12/appointment-management/search-results-03102023">AM, PM & ED filter change from radios to checkboxes</a>
                    </li>
                  </ul>

                <h4 class="govuk-heading-m">Non-associations
                  <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">Experimental</strong></h4>
                <p>Idea of being able to see when new non-associations are added to existing appointments.</p>
         
                <p><a href="/appointments/version-12/appointment-management/appointment-summary/non-repeating/summary-non-association">v1 - MOJ warning banner</a></p>
         
                <p><a href="/appointments/version-12/appointment-management/appointment-summary/non-repeating/summary-non-association-2">v2 - GOV.UK notification-banner banner</a></p>
                

                <h4 class="govuk-heading-m">Surfacing past appointments in series overview 
                  <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">Experimental</strong></h4>
                <p>Surfacing past appointments in a series overview was previously something had but we de-scoped for MVP as we did not see a clear need. We can see where this could be more useful when considering how attendance-marking and viewing attendance records might work.</p>
                <p><a href="/appointments/version-12/appointment-management/appointment-summary/repeating/overview-past-appointments">Series overview - past appointments</a></p>
                </td>
                <td class="govuk-table__cell" >
                  <ul class="govuk-list govuk-list--spaced">   
                  </ul>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" >
                  <b>Marking attendance</b>
                </td>
      
                <td class="govuk-table__cell"> 

                <h4 class="govuk-heading-m" id="marking-attendance">Marking attendance
                  <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-1">MVP+</strong></h4>
                <p>Needs from users and the business emerging that attendance could play a large role in appointment management. Marking attendance in appointments could be as lean or as feature-filled as needed (detailed in miro).</p>
         
      
                <p><a href="/appointments/version-12/attendance/summary-past">v1 - from appointment details page - no attendance reasons</a></p>
                
                <p><a href="/appointments/version-12/attendance/summary">v1.1 - from appointment details page - marking attendance before an appointment has started</a></p>

                <p><a href="/appointments/version-12/attendance/attendee-list-add">v1.2 - appointment list - adding attendees not originally on the appointment</a></p>

                </td>
                <td class="govuk-table__cell" >
                  <ul class="govuk-list govuk-list--spaced">  
                    <li><a href="https://miro.com/app/board/uXjVPr57naE=/?moveToWidget=3458764558498648798&cot=14" target="_blank" class="govuk-link govuk-link--no-visited-state">Attendance ideation (miro)</a></li>
                    <li><a href="https://miro.com/app/board/uXjVPr57naE=/?moveToWidget=3458764560136590423&cot=14" target="_blank" class="govuk-link govuk-link--no-visited-state">Alerts and attendance survey results (miro)</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1cQeaYYQc6fmipHBc0rMQPdmJ0Th6RlVHPfRoRi8XrKY/edit?usp=sharing" target="_blank" class="govuk-link govuk-link--no-visited-state">Attendance insights (google slides)</a></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

   
  </div>
</div>

{% endblock %}
