
{% extends "layout.html" %}

{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block header %}
{% set page = "appointments" %}

{% include "../includes/proto-header.html" %}

<div class="app-masthead">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="app-masthead__title govuk-heading-l govuk-!-margin-bottom-3">
          Appointments
        </h1>
        <h3 class="app-masthead__subtitle govuk-heading-m">A service within Digital Prison Services for prison staff to manage appointments.
        </h3>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-4">
      Designs ready for development
    </h2>
    <p class="govuk-body">
      Designs that have been approved for development by Product Manager
    </p>
    <p class="govuk-body">
      <a href="/appointments/tickets-for-dev/" class="govuk-link">Designs for dev</a>
    </p>
    <!--<br><br><hr><br><br>
    
    <h2 class="govuk-heading-l govuk-!-margin-bottom-4">
      Design history
    </h2>
    <p class="govuk-body">
      Articles around design choices made during the Alpha stage of the Appointments project.
    </p>
    
   <p class="govuk-body">
    <a href="/appointments/design-history/" class="govuk-link">Design history articles</a>
   
   </p>-->
<br><br><hr><br><br>
   <h2 class="govuk-heading-l govuk-!-margin-bottom-4">
      Prototype versions
    </h2>
    
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          User research, content docs and flow diagrams
        </span>
      </summary>
      <div class="govuk-details__text">

       
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://miro.com/app/board/uXjVPPwl3Rk=/" target="_blank" class="govuk-link govuk-link--no-visited-state">Miro for Discovery and Alpha</a></li>
          <li><a href=" https://miro.com/app/board/uXjVPr57naE=/" target="_blank" class="govuk-link govuk-link--no-visited-state">Miro for Alpha and Beta</a></li>
         
        </ul>

      </div>
    </details>
    <table class="govuk-table">
      <!-- <caption class="govuk-table__caption govuk-caption-l">Prototype versions</caption> -->
      <thead class="govuk-table__head" >
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" width="15%">Version</th>
          <th scope="col" class="govuk-table__header" width="15%">Status</th>
          <th scope="col" class="govuk-table__header">Description</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <p class="govuk-!-font-weight-bold"><a href="/appointments/version-7/dps-home-main" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 7</a></p>

            
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag govuk-tag--green">
              In design
            </strong>
          </td>

          <td class="govuk-table__cell" >
            <h3 class="govuk-heading-s">
              End to end designs including appointment creation and management
            </h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <h2 class="govuk-heading-s">
                Appointment creation
              </h2>
            </li>
            <ul class="govuk-list govuk-list--bullet">
              <li>    
                <a href="/appointments/version-7/bulk-appointments/date-of-appointment" class="govuk-link">Revised Bulk creation flow</a>
              </li>
              
              <li>
                <strong class="govuk-tag govuk-tag--blue">
                Single page design
              </strong>  
                <a href="/appointments/version-7/individual-appointment/search-person-v2" class="govuk-link">Revised 'confirm a prisoner details' page - individual appointment</a>
                <br>Hint: 'Dan' for multiple results, 'Neil Rudge' for single result.
              </li> 

              <li>  
                <a href="/appointments/version-7/individual-appointment/search-person" class="govuk-link">Revised 'confirm a prisoner details' page - individual appointment</a>
                <br>Hint: 'Dan' for multiple results, 'Neil Rudge' or 'EN2245U' for single result.
              </li> 

              <li>  
                <a href="/appointments/version-7/group-appointments/search-person" class="govuk-link">Revised 'confirm a prisoner details' page - group appointment</a>
                <br>Hint: 'Dan' for multiple results, 'Neil Rudge' or 'EN2245U' for single result.
              </li>
             
            </ul>
            

            <li>
            <h2 class="govuk-heading-s">
              Appointment management
              </h2>
            </li>
            
            <ul class="govuk-list govuk-list--bullet">

            <li>    
              <a href="/appointments/version-7/appointment-management/group-appointment-single-occurrence" class="govuk-link">Removing people from an existing group - version 1 - remove one at a time</a>
            
            </li>

            <li>    
              <a href="/appointments/version-7/appointment-management/group-appointment-single-occurrence-alt" class="govuk-link">Removing people from an existing group - version 2 - remove multiple</a>
            
            </li>

            <li>    
              <a href="/appointments/version-7/appointment-management/find-an-appointment" class="govuk-link">'find an appointment' flow - version 1 - pre-filtering</a>
            
            </li>

            <li>    
              <a href="/appointments/version-7/appointment-management/search-results-default" class="govuk-link">'find an appointment' flow - version 2 - filtering on page</a>
            
            </li>
            </ul> 
            
              <li>
                <h2 class="govuk-heading-s">
                Research senarios
              </h2>
            </li>
            <ul class="govuk-list govuk-list--bullet">
              <li>    
                <a href="/appointments/version-7/dps-home" class="govuk-link">Find an appointment series and find a bulk appointment</a>
              </li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <p class="govuk-!-font-weight-bold"><a href="/appointments/version-6/dps-home-main" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 6</a></p>

            {{ govukButton({
              text: "Variant A",
              href: "/appointments/version-6/appointment-management/group-appointment-multiple-occurrences",
              isStartButton: true
            }) }}

            {{ govukButton({
              text: "Variant B",
              href: "/appointments/version-6/appointment-management/group-appointment-multiple-occurrences-alt",
              isStartButton: true
            }) }}
          </td>
          <td class="govuk-table__cell" >
            <strong class="govuk-tag govuk-tag--grey">
              Closed
            </strong>
          </td>

          <td class="govuk-table__cell" >
            <h3 class="govuk-heading-s">
              End to end designs including appointment creation and managemnet
            </h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <h2 class="govuk-heading-s">
                Appointment creation
              </h2>
            </li>
            <ul class="govuk-list govuk-list--bullet">
              <li>    
                <a href="/appointments/version-6/individual-appointment/search-person" class="govuk-link">Manual category and comments help text update (As part of the individual appointment journey)</a>
              </li>
              </ul>
              <li>
                <h2 class="govuk-heading-s">
                Appointment management
                </h2>
              </li>
              <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="/appointments/version-6/appointment-management/single-appointment-no-recurrence" class="govuk-link">Single person - no repeat (including cancel)</a>
              </li>
              <li>
                <a href="/appointments/version-6/appointment-management/single-appointment-multiple-occurrences" class="govuk-link">Single person - multiple occurences</a>
              </li>
              <li>
                <a href="/appointments/version-6/appointment-management/group-appointment-multiple-occurrences" class="govuk-link">Group appointments - multiple occurences - Parent view</a>
              </li>
              <li>
                <a href="/appointments/version-6/appointment-management/group-appointment-multiple-occurrences-alt" class="govuk-link">Group appointments - multiple occurences - Alternative parent view</a>
              </li>
              <li>
                <a href="/appointments/version-6/appointment-management/group-appointment-single-occurrence" class="govuk-link">Group appointments - multiple occurences - Child view</a>
              </li>
             </ul>
            </ul>
           
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            
            <p class="govuk-!-font-weight-bold"><a href="/appointments/version-5/dps-home-main" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 5</a></p>
          </td>

          


          <td class="govuk-table__cell" >
            <strong class="govuk-tag govuk-tag--grey">
              Closed
            </strong>
          </td>

          <td class="govuk-table__cell" >
            <h3 class="govuk-heading-s">
              Group appointments - Post user research iteration
            </h3>
            
           
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <p class="govuk-!-font-weight-bold">Version 4</p>
          </td>

          <td class="govuk-table__cell" >
            <strong class="govuk-tag govuk-tag--grey">
              Closed
            </strong>
          </td>

          <td class="govuk-table__cell" >
            <h3 class="govuk-heading-s">
              Appointment management
            </h3>
            <b>User research links</b><br>

            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="/appointments/version-4/appointment-management/version-2/start" class="govuk-link">Start of appointment management (Filter page)</a>
              </li>
              <li>
                <a href="/appointments/version-4/appointment-management/version-2/appointment-view" class="govuk-link">View appointments page</a>
              </li>
             <li>
              <a href="/appointments/version-4/appointment-management/version-2/edit-appointment-option-1" class="govuk-link">Edit page (Option 1)</a>
            </li>
            <li>
              <a href="/appointments/version-4/appointment-management/version-2/edit-appointment-option-2" class="govuk-link">Edit page (Option 2)</a>
            </li>
            <li>
              <a href="/appointments/version-4/appointment-management/version-2/edit-appointment-option-3" class="govuk-link">Edit page (Option 3)</a>
            </li>
            <li>
              <a href="/appointments/version-4/appointment-management/version-2/edit-appointment-option-4" class="govuk-link">Edit page (Option 4)</a>
              </li>
              <li>
                <a href="/appointments/version-4/appointment-management/version-2/edit-appointment-option-4-child" class="govuk-link">Child edit page (Option 4)</a>
                </li>
            </ul> 
            <b>other links</b><br>
            <a href="/appointments/version-4/appointment-management/version-1/start" class="govuk-link">Version 1 (superseded)</a><br>
            
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <p><a href="/appointments/version-3/group-appointments/appointment-start" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 3</a></p>
            <p><a href="/appointments/version-3/group-appointments/appointment-start-alt" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Alternative front door</a></p>
            <p><a href="/appointments/version-3/group-appointments/appointment-start-alt-three-entries" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Alternative front door - 3 tiles</a></p>

          </td>

          <td class="govuk-table__cell" >
            <strong class="govuk-tag govuk-tag--grey">
              Closed
            </strong>
          </td>

          <td class="govuk-table__cell" >
            Group appointments 
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <p><a href="/appointments/version-2/group-appointments/appointment-start" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 2</a></p>

          </td>

          <td class="govuk-table__cell" >
            <strong class="govuk-tag govuk-tag--red">
              Superceded by Version 3
            </strong>
          </td>

          <td class="govuk-table__cell" >
            Group appointments 
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <p><a href="/appointments/version-1/scenario-1/appointment-start" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 1</a></p>

          </td>

          <td class="govuk-table__cell" >
            <strong class="govuk-tag govuk-tag--grey">
             Closed
            </strong>
          </td>

          <td class="govuk-table__cell" >
            Scheduling - including appointment host details as well as information around priority
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <h2 class="govuk-heading-s">
              Schedule scenarios
            </h2>
            <p><a href="/appointments/version-1/scenario-1/prisoner-schedule" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Scenario 1</a></p>
            <p><a href="/appointments/version-1/scenario-2/prisoner-schedule" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Scenario 2a</a></p>
            <p><a href="/appointments/version-1/scenario-2b/prisoner-schedule" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Scenario 2b</a></p>
            <p><a href="/appointments/version-1/scenario-3/prisoner-schedule" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Scenario 3</a></p>
          </td>

          <td class="govuk-table__cell" >
            <strong class="govuk-tag govuk-tag--grey">
              Closed
            </strong>
          </td>
          <td class="govuk-table__cell" >
           Various versions and scenarios of the schedule page<br><br><br>
           <a href="/appointments/version-4/schedule-scenarios/scenario-1/select-prisoner" class="govuk-link">For dev sizing - Appointment creation - Single journey</a>
          </td>
         
        </tr>

        
      </tbody>
    </table>


  </div>
</div>

{% endblock %}
