
{% extends "layout.html" %}

{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block header %}
{% set page = "appointments" %}

{% include "../includes/proto-header.html" %}

<div class="app-masthead">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="app-masthead__title govuk-heading-l govuk-!-margin-bottom-3">
          Appointments
        </h1>
        <h3 class="app-masthead__subtitle govuk-heading-m">A service within Digital Prison Services for prison staff to manage appointments.
        </h3>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}


<div class="govuk-!-margin-bottom-6">
  <h2 class="govuk-heading-m">
    Supporting documentation
  </h2> 

  <ul class="govuk-list govuk-list--bullet">
    <li><a href="https://miro.com/app/board/uXjVPPwl3Rk=/" target="_blank" class="govuk-link govuk-link--no-visited-state">Miro for Discovery and Alpha</a></li>
    <li><a href="https://miro.com/app/board/uXjVPr57naE=/" target="_blank" class="govuk-link govuk-link--no-visited-state">Miro for Alpha and Beta</a></li>
    <li><a href="https://miro.com/app/board/uXjVM4GI880=/" target="_blank" class="govuk-link govuk-link--no-visited-state">Miro for Appointments Story Map</a></li>
    <li><a href="https://docs.google.com/spreadsheets/d/1RL6wqjs0Heq6cvZV-s4noRCJ_UGprpnpsZl5mwjf7Fk/edit#gid=966162658" target="_blank" class="govuk-link govuk-link--no-visited-state">Design and content decision log (google sheets)</a></li>
    <li><a href="https://docs.google.com/spreadsheets/d/1Y8i7ZV5lEdRZJ-QoNVH1xz_9RwMGwZ9Z-gO9iQnKDbc/edit#gid=1204818438" target="_blank" class="govuk-link govuk-link--no-visited-state">Content docs for appointments (google sheets)</a></li>
  </ul> 
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full"> 
       
    {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: 'Post-MVP designs',
        href: '.'
      }, {
        text: 'MVP designs',
        href: '../appointments/mvp',
        active: true
      }, {
        text: 'Pre-MVP designs',
        href: '../appointments/pre-mvp'
      }]
    }) }}

    <h2 class="govuk-heading-l">
      MVP page examples
    </h2> 

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Schedule an appointment
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <ul class="govuk-list govuk-list--spaced"> 
            <li> 
              <span class="govuk-hint">DPS Appointments homepage</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/dps-home">Schedule and edit appointments</a>
            </li> 
            <li> 
              <span class="govuk-hint">Task: chose whether to search one at a time or upload a csv</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/create-appointment/upload-or-per-person">How do you want to select attendees?</a>
            </li> 
            <li> 
              <span class="govuk-hint">(if chose csv) Task: upload csv</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/create-appointment/upload-file-info">Upload your list of prison numbers</a>
            </li>  
            <li> 
              <ul class="govuk-list">
                <span class="govuk-hint">(if chose search) Task: search by name or prison number</span>
                <li>
                  <a class="govuk-link" href="/appointments/version-11/create-appointment/search-person">Who is the appointment for? (default)</a>
                 </li>
                <li> 
                  <a class="govuk-link" href="/appointments/version-11/create-appointment/search-person-results?prisoner-search-query=neil">Who is the appointment for? (1 result)</a>
                </li>
                <li>
                  <a class="govuk-link" href="/appointments/version-11/create-appointment/search-person-results?prisoner-search-query=dan">Who is the appointment for? (more than 1 result)</a>
                </li>
                <li>
                  <a class="govuk-link" href="/appointments/version-11/create-appointment/search-person-results?prisoner-search-query=none">Who is the appointment for? (no results)</a>
                </li>
              </ul>
            </li>   
            <li> 
              <ul class="govuk-list">
              <span class="govuk-hint">Task: review list and add or remove attendees</span>
                <li>
                  <a class="govuk-link" href="/appointments/version-11/create-appointment/person-add-another">Review who’s attending the appointment (default)</a>
                 </li>
                <li> 
                  <a class="govuk-link" href="/appointments/version-11/create-appointment/person-add-another-warning">There are no attendees for this appointment (all attendees removed from list)</a>
                </li> 
              </ul>
            </li> 
            <li>  
              <span class="govuk-hint">Task: add an appointment name and optional custom name</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/create-appointment/appointment-name">What's the appointment?</a>
            </li> 
            <li>  
              <span class="govuk-hint">Task: add an appointment location</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/create-appointment/location">Where will the appointment take place?</a>
            </li> 
            <li>  
              <span class="govuk-hint">Task: add an appointment date and time</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/create-appointment/date-of-appointment">When is the appointment?</a>
            </li>
            <li>  
              <span class="govuk-hint">Task: chose whether the appointment repeats or not</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/create-appointment/appointment-repeat">Will the appointment repeat?</a>
            </li>
            <li>  
              <span class="govuk-hint">(if appointment repeats) Task: chose how often it repeats and how many appointments in the series</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/create-appointment/appointment-repeat">How often will the appointment repeat?</a>
            </li>
            <li> 
              <ul class="govuk-list">
              <span class="govuk-hint">Task: review existing events and change appointment details to avoid clashes</span>
                <li>
                  <a class="govuk-link" href="/appointments/version-11/create-appointment/clashes">Review scheduled events to avoid clashes (multiple attendees)</a>
                 </li>
                <li> 
                  <a class="govuk-link" href="/appointments/version-11/create-appointment/clashes-one-attendee">Review scheduled events to avoid clashes (one attendee)</a>
                </li> 
                <li> 
                  <a class="govuk-link" href="/appointments/version-11/create-appointment/clashes-no-events">Review scheduled events to avoid clashes (no scheduled events)</a>
                </li> 
              </ul>
            </li> 
            <li>  
              <span class="govuk-hint">Task: add extra information for the attendees</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/create-appointment/comments">Add extra information (optional)</a>
            </li>
            <li>  
              <span class="govuk-hint">Task: check your answers and submit</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/create-appointment/check-answers">Check and confirm the appointment details</a>
            </li>
            <li>  
              <span class="govuk-hint">Task: appointment created confirmation</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/create-appointment/confirmation">Appointment created</a>
            </li>
          </ul> 
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Schedule a set of back-to-back appointments
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <ul class="govuk-list govuk-list--spaced">  
            <li> 
              <span class="govuk-hint">DPS Appointments homepage</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/dps-home">Schedule and edit appointments</a>
            </li> 
            <li> 
              <span class="govuk-hint">Task: upload csv</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/create-b2b-appointment/upload-file-info-bulk">Upload your list of prison numbers</a>
            </li>     
            <li> 
              <ul class="govuk-list">
                <span class="govuk-hint">Task: review list, remove attendees or upload a new list</span>
                <li>
                  <a class="govuk-link" href="/appointments/version-11/create-b2b-appointment/person-add-another">Review who’s attending the appointment (default)</a>
                 </li>
                <li> 
                  <a class="govuk-link" href="/appointments/version-11/create-b2b-appointment/person-add-another-warning">There are no attendees for this set (all attendees removed from list)</a>
                </li> 
              </ul>
            </li> 
            <li>  
              <span class="govuk-hint">Task: add an appointment name and optional custom name</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/create-b2b-appointment/appointment-name">What are the appointments?</a>
            </li> 
            <li>  
              <span class="govuk-hint">Task: add an appointment location</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/create-b2b-appointment/location">Where will the appointments take place?</a>
            </li> 
            <li>  
              <span class="govuk-hint">Task: add an appointment date</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/create-b2b-appointment/date-of-appointment">When are the appointments?</a>
            </li>
            <li>  
              <span class="govuk-hint">Task: review, edit or add appointment times</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/create-b2b-appointment/appointment-time">Review appointment start and end times</a>
            </li>
            <li> 
              <span class="govuk-hint">Task: review existing events and change appointment details to avoid clashes</span> 
              <br>
              <a class="govuk-link" href="/appointments/version-11/create-b2b-appointment/clashes">Review scheduled events to avoid clashes (multiple attendees)</a>
            </li> 
            <li> 
              <ul class="govuk-list">
                <span class="govuk-hint">Task: add extra information for the attendees</span>
                <li>
                  <a class="govuk-link" href="/appointments/version-11/create-b2b-appointment/comments/comments">Add extra information (optional)</a>
                 </li>
                <li> 
                  <a class="govuk-link" href="/appointments/version-11/create-b2b-appointment/comments/prisoner-comments">Add extra information for Neil Rudge, G2044E (optional)</a>
                </li>  
              </ul>
            </li>  
            <li>  
              <span class="govuk-hint">Task: check your answers and submit</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/create-b2b-appointment/check-answers">Check and confirm the appointment details</a>
            </li>
            <li>  
              <span class="govuk-hint">Task: appointment created confirmation</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/create-b2b-appointment/confirmation">Set of back-to-backs scheduled</a>
            </li>
          </ul> 
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              Find an appointment
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <ul class="govuk-list govuk-list--spaced">  
            <li> 
              <span class="govuk-hint">DPS Appointments homepage</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/dps-home">Schedule and edit appointments</a>
            </li> 
            <li>  
              <span class="govuk-hint">Task: choose which date to view appointments for</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/appointment-management/find-appointment-by-date">What date do you want to view appointments for?</a>
            </li> 
            <li>  
              <span class="govuk-hint">Task: fiter and sort search results to find an appointment</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/appointment-management/search-results-03072023">Appointments dashboard</a>
            </li>
          </ul> 
          <h3 class="govuk-heading-m">Appointment summary page examples</h3>

          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              <a href="/appointments/version-11/dps-home">Create some appointments</a> first to correctly display these pages.
            </strong>
          </div>
          <ul class="govuk-list govuk-list--bullet">  
            <li>  
              <a class="govuk-link" href="/appointments/version-11/appointment-management/appointment-summary/group/non-repeating">Non-repeating</a>
            </li> 
            <li>  
              <a class="govuk-link" href="/appointments/version-11/appointment-management/appointment-summary/group/non-repeating-cancelled">Non-repeating (cancelled)</a>
            </li>
            <li>   
              <a class="govuk-link" href="/appointments/version-11/appointment-management/appointment-summary/group/repeating">Repeating</a>
            </li>
            <li>   
              <a class="govuk-link" href="/appointments/version-11/appointment-management/appointment-summary/group/repeating-cancelled">Repeating (cancelled)</a>
            </li>
            <li>  
              <a class="govuk-link" href="/appointments/version-11/appointment-management/appointment-summary/series/overview">Series overview</a>
            </li> 
            <li>
              <a class="govuk-link" href="/appointments/version-11/appointment-management/appointment-summary/series/overview-edited">Series overview (edited)</a>
            </li>
            <li>   
              <a class="govuk-link" href="/appointments/version-11/appointment-management/appointment-summary/individual/uploaded-in-bulk">Part of a set</a>
            </li> 
            <li>   
              <a class="govuk-link" href="/appointments/version-11/appointment-management/appointment-summary/individual/uploaded-in-bulk-cancelled">Part of a set (cancelled)</a>
            </li>  
            <li>  
              <a class="govuk-link" href="/appointments/version-11/appointment-management/appointment-summary/uploaded-in-bulk/overview">Set overview</a>
            </li>
          </ul> 
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              Cancel/delete an appointment
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4"> 
          

          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              <a href="/appointments/version-11/dps-home">Create some appointments</a> first to correctly display these pages.
            </strong>
          </div>

          <ul class="govuk-list govuk-list--spaced">  
            <li> 
              <!-- <span class="govuk-hint">Appointment summary</span>
              <br> -->
              <a class="govuk-link" href="/appointments/version-11/appointment-management/appointment-summary/group/repeating">Appointment summary</a>
            </li> 
            <li>  
              <span class="govuk-hint">Task: choose whether to cancel or delete appointment</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/appointment-management/cancel/repeat/cancel-question">Do you want to show the cancelled appointment on the unlock list?</a>
            </li> 

            <li>  
              <span class="govuk-hint">(If appointment repeats) Task: chose which appointments to apply changes to</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/appointment-management/cancel/repeat/apply-to">Which appointments do you want to cancel?</a>
            </li>
            <li>  
              <span class="govuk-hint">If user chose cancel:</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/appointment-management/appointment-summary/group/repeating-cancelled">Appointment summary (cancelled)</a>
            </li>
            <li> 
              <span class="govuk-hint">If user chose delete:</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/dps-home">DPS Home</a>
            </li>
          </ul> 
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
              Print movement slips
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">


          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              <a href="/appointments/version-11/dps-home">Create some appointments</a> first to correctly display these pages.
            </strong>
          </div>

          <h4 class="govuk-heading-s">From an appointment summary </h4>
          <ul class="govuk-list govuk-list--number">  
            <li> 
              <!-- <span class="govuk-hint">Appointment summary</span>
              <br> -->
              <a class="govuk-link" href="/appointments/version-11/appointment-management/appointment-summary/group/repeating">Appointment summary</a>
            </li> 
            <li>  
              <!-- <span class="govuk-hint">Task: choose whether to cancel or delete appointment</span>
              <br> -->
              <a class="govuk-link" href="/appointments/version-11/appointment-management/cancel/repeat/cancel-question">Movement slip example</a>
            </li>  
          </ul> 
          
          <h4 class="govuk-heading-s">From a set overview</h4>
          <ul class="govuk-list govuk-list--number">  
            <li> 
              <!-- <span class="govuk-hint">Appointment summary</span>
              <br> -->
              <a class="govuk-link" href="/appointments/version-11/appointment-management/appointment-summary/uploaded-in-bulk/overview">Set overview</a>
            </li> 
            <li>  
              <!-- <span class="govuk-hint">Task: choose whether to cancel or delete appointment</span>
              <br> -->
              <a class="govuk-link" href="/appointments/version-11/appointment-management/appointment-summary/uploaded-in-bulk/movement-slip-example">Movement slip example</a>
            </li>  
          </ul> 

        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-6">
              Add attendees
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-6">


          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              <a href="/appointments/version-11/dps-home">Create some appointments</a> first to correctly display these pages.
            </strong>
          </div>
 
          <ul class="govuk-list govuk-list--spaced">  
            <li> 
              <!-- <span class="govuk-hint">Appointment summary</span>
              <br> -->
              <a class="govuk-link" href="/appointments/version-11/appointment-management/appointment-summary/group/repeating?edit-appt=none">Appointment summary</a>
            </li> 
            <li> 
              <span class="govuk-hint">Task: chose whether to search one at a time or upload a csv</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/appointment-management/edit/appointment-list/add/upload-or-per-person">How do you want to select additional attendees?</a>
            </li> 
            <li> 
              <span class="govuk-hint">(if chose csv) Task: upload csv</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/appointment-management/edit/appointment-list/add/upload-file-info">Upload your list of prison numbers</a>
            </li>  
            <li> 
              <ul class="govuk-list">
                <span class="govuk-hint">(if chose search) Task: search by name or prison number</span>
                <li>
                  <a class="govuk-link" href="/appointments/version-11/appointment-management/edit/appointment-list/add/search-person">Who do you want to add? (default)</a>
                 </li>
                <li> 
                  <a class="govuk-link" href="/appointments/version-11/appointment-management/edit/appointment-list/add/search-person-results?prisoner-search-query=neil">Who do you want to add? (1 result)</a>
                </li>
                <li>
                  <a class="govuk-link" href="/appointments/version-11/appointment-management/edit/appointment-list/add/search-person-results?prisoner-search-query=dan">Who do you want to add? (more than 1 result)</a>
                </li>
                <li>
                  <a class="govuk-link" href="/appointments/version-11/appointment-management/edit/appointment-list/add/search-person-results?prisoner-search-query=none">Who do you want to add? (no results)</a>
                </li>
              </ul>
            </li>   
            <li> 
              <ul class="govuk-list">
              <span class="govuk-hint">Task: review list and add or remove attendees</span>
                <li>
                  <a class="govuk-link" href="/appointments/version-11/appointment-management/edit/appointment-list/add/person-add-another">Review the additional attendees (default)</a>
                 </li>
                <li> 
                  <a class="govuk-link" href="/appointments/version-11/appointment-management/edit/appointment-list/add/person-add-another-warning">There are no attendees to add (all attendees removed from list)</a>
                </li> 
              </ul>
            </li> 
            <li> 
              <span class="govuk-hint">Task: review existing events and change appointment details to avoid clashes</span> 
              <br>
              <a class="govuk-link" href="/appointments/version-11/appointment-management/edit/appointment-list/add/clashes">Review scheduled events to avoid clashes</a>
            </li> 

            <li> 
              <span class="govuk-hint">(if appointment repeats) : chose which appointments to apply changes to</span> 
              <br>
              <a class="govuk-link" href="/appointments/version-11/appointment-management/edit/appointment-list/add/apply-to">Which appointments do you want to add these people to?</a>
            </li> 
            <li> 
              <!-- <span class="govuk-hint">Appointment summary</span>
              <br> -->
              <a class="govuk-link" href="/appointments/version-11/appointment-management/appointment-summary/group/repeating?edit-appt=add-person">Appointment summary (success)</a>
            </li> 
          </ul> 
         
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-7">
              Remove attendees
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-7" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-7">

          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              <a href="/appointments/version-11/dps-home">Create some appointments</a> first to correctly display these pages.
            </strong>
          </div>
          
          <ul class="govuk-list govuk-list--spaced">  
            <li> 
              <!-- <span class="govuk-hint">Appointment summary</span>
              <br> -->
              <a class="govuk-link" href="/appointments/version-11/appointment-management/appointment-summary/group/repeating?edit-appt=none">Appointment summary</a>
            </li> 
            <li> 
              <span class="govuk-hint">(if appointment repeats) Task: chose which appointments to apply changes to</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/appointment-management/edit/appointment-list/remove/apply-to">Which appointments do you want to remove [attednee name] from?</a>
            </li> 
            <li> 
              <!-- <span class="govuk-hint">Appointment summary</span>
              <br> -->
              <a class="govuk-link" href="/appointments/version-11/appointment-management/appointment-summary/group/repeating?edit-appt=remove-person">Appointment summary (success)</a>
            </li> 
          </ul> 
         
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-8">
              Edit location
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-8" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-8">

          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              <a href="/appointments/version-11/dps-home">Create some appointments</a> first to correctly display these pages.
            </strong>
          </div>
          
          
          <ul class="govuk-list govuk-list--spaced">  
            <li> 
              <!-- <span class="govuk-hint">Appointment summary</span>
              <br> -->
              <a class="govuk-link" href="/appointments/version-11/appointment-management/appointment-summary/group/repeating?edit-appt=none">Appointment summary</a>
            </li> 
            <li> 
              <span class="govuk-hint">Task: chose new location</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/appointment-management/edit/location-repeating/location">Enter the new location</a>
            </li> 
            <li> 
              <span class="govuk-hint">(if appointment repeats) Task: chose which appointments to apply changes to</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/appointment-management/edit/location-repeating/apply-to">Which appointments do you want to change the location for?</a>
            </li> 
            <li> 
              <!-- <span class="govuk-hint">Appointment summary</span>
              <br> -->
              <a class="govuk-link" href="/appointments/version-11/appointment-management/appointment-summary/group/repeating?edit-appt=location">Appointment summary (success)</a>
            </li> 
          </ul> 
         
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-9">
              Edit date and time
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-9" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-9">

          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              <a href="/appointments/version-11/dps-home">Create some appointments</a> first to correctly display these pages.
            </strong>
          </div>
            
          <ul class="govuk-list govuk-list--spaced">  
            <li> 
              <!-- <span class="govuk-hint">Appointment summary</span>
              <br> -->
              <a class="govuk-link" href="/appointments/version-11/appointment-management/appointment-summary/group/repeating?edit-appt=none">Appointment summary</a>
            </li> 
            <li> 
              <span class="govuk-hint">Task: chose new date and/or time</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/appointment-management/edit/date-time-repeating/date-of-appointment">Enter the new date and time</a>
            </li> 
            <li> 
              <span class="govuk-hint">Task: review and edit appointment to avoid clashes</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/appointment-management/edit/date-time-repeating/clashes">Review scheduled events to avoid clashes</a>
            </li> 
            <li> 
              <ul class="govuk-list">
                <span class="govuk-hint">(if appointment repeats) Task: chose which appointments to apply changes to</span>
                <li>
                  <a class="govuk-link" href="/appointments/version-11/appointment-management/edit/date-time-repeating/apply-to-date">Which appointments do you want to change the date for?</a>
                </li>
                <li> 
                 <a class="govuk-link" href="/appointments/version-11/appointment-management/edit/date-time-repeating/apply-to-time">Which appointments do you want to change the time for?</a>
                </li>
                <li>
                  <a class="govuk-link" href="/appointments/version-11/appointment-management/edit/date-time-repeating/apply-to-date-time">Which appointments do you want to change the date and time for?</a>
                </li> 
              </ul>
            </li> 
            <li>  
              <a class="govuk-link" href="/appointments/version-11/appointment-management/appointment-summary/group/repeating?edit-appt=date-time">Appointment summary (success)</a>
            </li> 
          </ul> 
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-10">
              Edit extra information
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-10" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-10">

          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              <a href="/appointments/version-11/dps-home">Create some appointments</a> first to correctly display these pages.
            </strong>
          </div>
          
          <ul class="govuk-list govuk-list--spaced">  
            <li> 
              <!-- <span class="govuk-hint">Appointment summary</span>
              <br> -->
              <a class="govuk-link" href="/appointments/version-11/appointment-management/appointment-summary/group/repeating?edit-appt=none">Appointment summary</a>
            </li> 
            <li> 
              <span class="govuk-hint">Task: chose new extra-information</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/appointment-management/edit/extra-information-repeating/comments">Change the extra information (optional)</a>
            </li> 
            <li> 
              <span class="govuk-hint">(if appointment repeats) Task: chose which appointments to apply changes to</span>
              <br>
              <a class="govuk-link" href="/appointments/version-11/appointment-management/edit/extra-information-repeating/apply-to">Which appointments do you want to change the extra information for?</a>
            </li> 
            <li> 
              <!-- <span class="govuk-hint">Appointment summary</span>
              <br> -->
              <a class="govuk-link" href="/appointments/version-11/appointment-management/appointment-summary/group/repeating?edit-appt=extra-information">Appointment summary (success)</a>
            </li> 
          </ul> 
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}
