
{% extends "layout_hmpps-no-nav.html" %}
{% block pageTitle %}
Appointments prototype
{% endblock %}


{% block beforeContent %}
<nav class="govuk-!-display-none-print">
{{govukBackLink({
  text: "Back to all appointment tasks",
  "href": "javascript: window.history.go(-1)"
  })}} 
  <a href="../dps-home.html" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-3 float-right">
    Go to all appointments tasks
  </a>
</nav>
{% endblock %}

{% block content %}
<form id="form" method="post">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
	 
		<span class="govuk-caption-l">Record attendance</span>  
	  

	{% set dateHtml %}
	{{ govukDateInput({
		id: "other-date",
		namePrefix: "other-date",
		fieldset: {
			legend: {
				text: "Date"
			}
		},
		hint: {
			text: "For example, 27 3 2022"
		}
	}) }}
	{% endset %}

	{% set today = '_'|today() %}
	{{ govukRadios({
		name: "date",
		fieldset: {
			legend: {
				text: "What date do you want to record attendance for?",
				isPageHeading: true,
				classes: "govuk-fieldset__legend--l"
			}
		},
		items: [
		{
			value: today,
			text: "Today – " + today|convertShortDateToLongDate
		},
		{
			value: today|dayBefore(today),
			text: "Yesterday – " + today|dayBefore(today)|convertShortDateToLongDate
		},
		{
			value: "other-date",
			text: "A different date",
			conditional: {
				html: dateHtml
			}
		}
		]
	}) }}

		{{ govukButton({
			text: "Continue"
		}) }}

	</div>
</div>
   
</form>
{% endblock %}
