{% extends "layout_hmpps-new-nav.html" %}
{% set serviceName = "Appointments" %}

{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Allocation complete
            </h1>
            <div class="govuk-panel__body">
              Tom Lafferty is scheduled to be allocated to Kitchens on 19 September 2024
            </div>
          </div>
          <h2 class="govuk-heading-m">
            What you can do next
          </h2>
          <p>You can either:</p>
          <ul class="govuk-list govuk-list--bullet">
                <li>
                    <a href="../summary-2" class="govuk-link">Review Tom Lafferty's allocations</a>
                </li>
                <li>
                  <a href="" class="govuk-link">Review the allocations for Kitchens and continue allocating</a>
                </li>
                <li>
                  <a href="" class="govuk-link">Find other activities with vacancies</a>
                </li>
                <li>
                  <a href="" class="govuk-link">Find another prisoner</a>
                </li>
          </ul>
    </div>
</div>
{% endblock %}