
{% extends "layout_hmpps-no-nav.html" %}
{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block content %}
<form method="post" >

    <div class="back">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ govukPanel({
            titleText: "Appointment edited"
          }) }}

        
       
        <p class="govuk-body">
          You have successfully edited the appointment.
    
         </p>
       

          <h2 class="govuk-heading-m">What you can do next</h2>
         
            <p class="govuk-body">
              <a href="../single-appointment-no-recurrence-edited" class="govuk-link">View and edit appointment details</a>
            </p>
        </div>
        <span class="govuk-visually-hidden1">
          {{ govukRadios({
            idPrefix: "edit-confirmed",
            name: "edit-confirmed",
            items: [
              {
                value: "True",
                text: "True",
                checked: true
              }
            ]
           }) }}
        </span>
      </div>
  </div>
  </form>
{% endblock %}
