{% extends "layout_hmpps.html" %}
{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block primaryNavigation %} {% endblock %}

{% block beforeContent %}
{{govukBackLink({
text: "Back",
"href": "javascript:window.history.go(-1)"
})}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">
            {{prisoner.name.firstname}} {{prisoner.name.surname}}
        </span>

        <h1 class="govuk-heading-xl">
            Select how much you want to pay {{prisoner.name.firstname}} {{prisoner.name.surname}} {{prisoner.id}}
        </h1>
        <p class="govuk-inset-text">
            {{prisoner.name.firstname}} {{prisoner.name.surname}}'s incentive level is
            {{prisoner.incentiveLevel|capitalize}} and they are currently paid
            {{prisoner.payRate}}.
        </p>
        <form method="post">
            <div class="govuk-form-group">
                <div class="govuk-radios" data-module="govuk-radios">
                    {% for payrate in payRatesForIncentiveLevel %}
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="pay-rate-{{loop.index}}" name="payrate" type="radio"
                            value="{{payrate.payRate_id}}" {{"checked" if payrate.payRate_id == prisoner.payrate.payRate_id}}>
                        <label class="govuk-label govuk-radios__label" for="pay-rate-{{loop.index}}">
                            {{payrate.payBand|capitalize}} – £{{payrate.amount|decimalPlaces(2)}} ({{'flat rate' if payrate.incentiveLevel == 'flatRate' else payrate.incentiveLevel + ' incentive level'}})
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>

            {{ govukButton({
            text: "Update pay rate"
            }) }}

            <p>
                <a href="javascript:window.history.go(-1)" class="govuk-link">Cancel</a>
            </p>
        </form>
    </div>
</div>

{% endblock %}