
{% extends "layout.html" %}


{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
    Select a pay rate for {{ data.offenderAllocate }}, <strong>{{ data.offenderIDAllocate }}</strong></h2><br />

    </h1>
    <p class="govuk-body">{{ data.offenderAllocate }}'s current incentive level is <strong>Basic</strong>. </p>
    <p class="govuk-body">If the rate you need is not listed you can <a href="#">add or change rates for this activity.</a></p>
  </div>



<!--START NEW -->

  <div class="govuk-form-group">
    <form method="post">
      <div id="contact-hint" class="govuk-hint">
      Select the correct basic incentive level pay
  </div>


      <!--3 payments-->
      <div class="govuk-form-group">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="AllocatePaymentCurrent" name="AllocatePayment" type="radio" value="1.21" {% if data.AllocatePayment=="1.21" %} checked="checked" {% endif %}>
              <label class="govuk-label govuk-radios__label" for="AllocatePaymentCurrent">
              Pay rate A : &pound;1.21

              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-2" name="AllocatePayment" type="radio" value="1.51" {% if data.AllocatePayment=="1.51" %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
              Pay rate B : &pound;1.51
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-3" name="AllocatePayment" type="radio" value="1.81" {% if data.AllocatePayment=="1.81" %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
               Pay rate C: <col span="2">&pound;1.81
              </label>
            </div>
          </div>
      </div>



      <br /><br />
    <button class="govuk-button" data-module="govuk-button">Confirm pay and continue</button>
</div>

{% endblock %}
