{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}
{% block pageTitle %}
Activities Management prototype
{% endblock %}
{% block primaryNavigation %}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			<h1 class="govuk-heading-xl">
				Prototype settings
			</h1>
			{{ govukInput({
				classes: "govuk-input--width-20",
				label: {
					text: "Prison name"
				},
				value: data['prison-name'],
				id: "prison-name",
				name: "prison-name"
			}) }}
			{% set whereaboutsHtml %}
			{{ govukInput({
				id: "contact-by-email",
				name: "contact-by-email",
				type: "email",
				autocomplete: "email",
				spellcheck: false,
				classes: "govuk-!-width-one-third",
				label: {
					text: "Email address"
				}
			}) }}
			{% endset -%}
			{% set phoneHtml %}
			{{ govukInput({
				id: "contact-by-phone",
				name: "contact-by-phone",
				type: "tel",
				autocomplete: "tel",
				classes: "govuk-!-width-one-third",
				label: {
					text: "Phone number"
				}
			}) }}
			{% endset -%}

			<div data-module="moj-add-another" class="govuk-!-margin-bottom-8">
				<h2 class="govuk-heading-m moj-add-another__heading" tabindex="-1">DPS navigation tiles</h2>
				{% for tile in data['config']['navigation-tiles'] %}
				<fieldset class="govuk-fieldset moj-add-another__item">
					<legend class="govuk-fieldset__legend moj-add-another__title govuk-fieldset__legend--s">
						Tile details
					</legend>
					<div class="govuk-form-group">
						<label class="govuk-label" for="navigation-tiles[{{loop.index0}}][linkText]">
							Link text
						</label>
						<input class="govuk-input" id="navigation-tiles[{{loop.index0}}][linkText]" name="config[navigation-tiles][{{loop.index0}}][linkText]" type="text" data-name="config[navigation-tiles][%index%][linkText]" data-id="navigation-tiles[%index%][linkText]" value="{{tile.linkText}}">
					</div>
					<div class="govuk-form-group">
						<label class="govuk-label" for="navigation-tiles[{{loop.index0}}][descriptionText]">
							Description
						</label>
						<textarea class="govuk-textarea" id="navigation-tiles[{{loop.index0}}][descriptionText]" name="config[navigation-tiles][{{loop.index0}}][descriptionText]" data-name="config[navigation-tiles][%index%][descriptionText]" data-id="navigation-tiles[%index%][descriptionText]" rows="3">{{tile.descriptionText}}</textarea>
					</div>
					<div class="govuk-form-group">
						<label class="govuk-label" for="navigation-tiles[{{loop.index0}}][linkURL]">
							Link URL
						</label>
						<input class="govuk-input" id="navigation-tiles[{{loop.index0}}][linkURL]" name="config[navigation-tiles][{{loop.index0}}][linkURL]" type="text" data-name="config[navigation-tiles][%index%][linkURL]" data-id="navigation-tiles[%index%][linkURL]" value="{{tile.linkURL}}">
					</div>
					{% if loop.index > 1 %}
					<button type="button" class="govuk-button govuk-button--secondary moj-add-another__remove-button">Remove</button>
					{% endif %}
				</fieldset>
				{% endfor %}

				<div class="moj-button-action">
					<button class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4" data-module="govuk-button">
						Add another tile
					</button>
				</div>
			</div>

			<div class="moj-button-action">
				<button class="govuk-button" data-module="govuk-button">
					Save configuration
				</button>
			</div>

			{{govukButton({
				text: "Reset to defaults",
				classes: "govuk-button--secondary",
				attributes: {
					formAction: "reset-config"
				}
			})}}
		</form>
	</div>
</div>
{% endblock %}