
{% extends "layout_hmpps-no-nav.html" %}
{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block content %}


    <div class="back">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ govukPanel({
            titleText: "Appointment created"
          }) }}
          <p class="govuk-body">
            You have successfully created an appointment for James Johnson on Tuesday 13 December.
          </p>
          <h2 class="govuk-heading-m">What you can do next</h2>
         
        
          <p class="govuk-body">
            <a href="appointment-start" class="govuk-link">Create another appointment</a>
          </p>
          <p class="govuk-body">
            <a href="#" class="govuk-link">View and edi appointment details</a>
          </p>
        </div>
      </div>
  
{% endblock %}
