
{% extends "layout.html" %}

{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigation: [
    {
      text: "Create and allocate",
      href: "/",
      active: true
    },
    {
      text: "Unlock and attend",
      href: "/unlock/"
    }]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Prototypes for Activities Management
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          User research, content docs and flow diagrams
        </span>
      </summary>
      <div class="govuk-details__text">

        <p class="govuk-body govuk-!-margin-bottom-2">User research:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="#" target="_blank" class="govuk-link govuk-link--no-visited-state">UR</a></li>

        </ul>

        <p class="govuk-body govuk-!-margin-bottom-2">Copydecks:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="" target="_blank" class="govuk-link govuk-link--no-visited-state">View the content docs </a></li>
        </ul>

        <p class="govuk-body govuk-!-margin-bottom-2">Flow diagrams:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://miro.com/app/board/uXjVPeHahD4=/?moveToWidget=3458764536702384454&cot=14" target="_blank">View the flow diagrams</a></li>
        </ul>

      </div>
    </details>
    <table class="govuk-table">
      <thead class="govuk-table__head" >
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" width="15%">Version</th>
          <th scope="col" class="govuk-table__header" width="15%">Status</th>
          <th scope="col" class="govuk-table__header">What changed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/v6/setup"" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 6</a> </td>
            <td class="govuk-table__cell" >
              <strong class="govuk-tag govuk-tag--blue">
                I<span style="text-transform:lowercase;">n design </span>
              </strong>
            </td>
            <td class="govuk-table__cell" >

            </td>
          </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/v5/setup"" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 5</a> </td>
            <td class="govuk-table__cell" >
              <strong class="govuk-tag govuk-tag--blue">
                R<span style="text-transform:lowercase;">eady for </span>UR
              </strong>
            </td>
            <td class="govuk-table__cell" >
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="https://trello.com/c/AQx4q0C1/245-content-design-changes-allocate-v5-wip">Trello 245</a></li>
                <li><a href="https://trello.com/c/SyIQxQ2w/253-allocate-journey-completion">Trello 253</a></li>
                <li>Made dashboard 4 to confirmation dynamic, carrying through selected persona and activity</li>
                <li>Adding coloured tags on activity schedule tab on dashboard 4</li>
                <li>Iterated dashboard 4 tabbed view to allow only single selection for allocation</li>
                <li>Created remove offender journeyfor de-allocation (already allocated) journey</li>
                <li><a href="https://trello.com/c/NCQpk8s7/236-confirm-who-you-want-to-allocate">Trello 236 </a> containing the below items</li>
                <li>Created dashboard 5 compare selected person against criteria screen highlighting differences</li>
                <li>Created confirmation page</li>
                <li>Created remove offender journeyfor allocation journey</li>
                <li>Iterated allocation compare screen just to highlight differences not CYA style and link text to cancel</li>
                <li>Created allocate payment choose screen with day rate and piece rate</li>


              </ul>
            </td>
          </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="/v4/setup" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 4</a> </td>
            <td class="govuk-table__cell" >
              <strong class="govuk-tag govuk-tag--green">
                R<span style="text-transform:lowercase;">eady for </span>UR
              </strong>
            </td>
            <td class="govuk-table__cell" >
              <ul class="govuk-list govuk-list--bullet">

                <li>Iteration of allocation journey, Trello 221, 232</li>
                <li>Restored 'allocated amount' back into L1 and L2 dashboard</li>
                <li>Descriptive signpost text in 'session' tabs</li>
                <li>CTA on allocate tab changed to 'Review selected candidates'</li>
                <li>Renaming of categories to 'Industries' and 'Services' for allocate and create journeys</li>
                <li>Added filter/search to allocate tab</li>
                <li>Amended data shown in activity tab</li>
                <li>Amended allocate prisoner listing to show accordian under name</li>
                <li>Amended currently allocated prisoner listing to show accordian under name</li>
                <li>Amended all the tab names and orders</li>
                <li>Added confirm allocation screen after person allocate selection</li>
                <li>Added confirmation screen after person confirm allocation </li>
              </ul>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" >
              <a href="/v3/setup" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 3</a>          </td>
              <td class="govuk-table__cell" >
                <strong class="govuk-tag govuk-tag--grey">
                  C<span style="text-transform:lowercase;">losed </span>
                </strong>
              </td>
              <td class="govuk-table__cell" >
                <li>Iteration of create journey from UR w/c 12/9/22. Trello <a target="_blank" href="https://trello.com/c/nQajhg89/211-iteration-of-activity-creation-prototype-joe-writing-this-ticket-in-progress">211</a></li>
                <li>Added CTA link on confirmation page - back to category selection (start of create journey)</li>
                <li>Allocation journey
                  <ul>
                    <li>Rework of dashbords</li>
                    <li>Creation of muli-tier dashboards, category down to session</li>
                    <li>Search function - searches and returns a flat 1 tier result</li>
                    <li>Addition of advanced search under 'search'</li>
                    <li>Tab design for session/instance of activity</li>
                    <li>Removal of 'Create activity' CTA button in filter navbar</li>
                    <li>Addition of text on L1 dashboard linking to craete journey</li>
                    <li>Addition of alternate journey (2 tier) for Services > Gardening
                    </ul>
                  </li>

                  <li>Link to alternative '<a href="/v3/allocate/allocate-offender-dashboard-search-view">search view</a> - search criteria on left nav' for UR</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" >
                <a href="/v2/setup" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 2</a>
                <!--  <a href="/2-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 2</a>-->
              </td>
              <td class="govuk-table__cell" >
                <strong class="govuk-tag govuk-tag--grey">
                  C<span style="text-transform:lowercase;">losed </span>
                </strong>
              </td>
              <td class="govuk-table__cell" >
                <ul class="govuk-list govuk-list--bullet">
                  <li>First design and iteration of allocation and dashboard for both. Trello: <a href="https://trello.com/c/ys57BPOO/189-create-prototype-for-key-areas-of-event-allocation-for-work-and-education" target="_blank">189</a>, <a target="_blank" href="https://trello.com/c/uZ3VmUEW/206-iteration-of-allocation-and-create-dashboard-prototype">206</a></li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" >
                <a href="/v1/setup" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 1</a>
                <!--  <a href="/2-0/setup?r=t" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 2</a>-->
              </td>
              <td class="govuk-table__cell" >
                <strong class="govuk-tag govuk-tag--grey">
                  C<span style="text-transform:lowercase;">losed </span>
                </strong>

              </td>
              <td class="govuk-table__cell" >
                <ul class="govuk-list govuk-list--bullet">
                  <li>Activity creation. Trello <a target="_blank" href="https://trello.com/c/QfozP8Zm/142-create-low-fi-prototype-for-event-creation-of-education-and-work">142</a>, <a target="_blank" href="https://trello.com/c/sHGPYgDm/161-create-moj-cloud-hi-fi-prototype-for-event-creation-of-education-and-work">161</a></li>
                </ul>
              </td>
            </tr>

          </tbody>
        </table>


      </div>
    </div>

    {% endblock %}
