{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"           import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"           import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"         import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"              import govukButton %}
{% from "govuk/components/character-count/macro.njk"     import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"          import govukCheckboxes %}
{% from "govuk/components/cookie-banner/macro.njk"       import govukCookieBanner %}
{% from "govuk/components/date-input/macro.njk"          import govukDateInput %}
{% from "govuk/components/details/macro.njk"             import govukDetails %}
{% from "govuk/components/error-message/macro.njk"       import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"       import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"            import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"         import govukFileUpload %}
{% from "govuk/components/input/macro.njk"               import govukInput %}
{% from "govuk/components/inset-text/macro.njk"          import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/panel/macro.njk"               import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"        import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"              import govukRadios %}
{% from "govuk/components/select/macro.njk"              import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"           import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"        import govukSummaryList %}
{% from "govuk/components/table/macro.njk"               import govukTable %}
{% from "govuk/components/tabs/macro.njk"                import govukTabs %}
{% from "govuk/components/tag/macro.njk"                 import govukTag %}
{% from "govuk/components/textarea/macro.njk"            import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"        import govukWarningText %}

{% from "moj/components/header/macro.njk"                import mojHeader %}
{% from "moj/components/primary-navigation/macro.njk"    import mojPrimaryNavigation %}
{% from "moj/components/identity-bar/macro.njk"          import mojIdentityBar %}
{% from "_components/autocomplete/macro.html"           import appAutocomplete %}

{% block head %}
{% include "includes/head.html" %}
{% endblock %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<!-- {{ mojHeader({
  organisationLabel: {
    html: 'HMPPS',
    href: '/'
  },
  serviceLabel: {
    html: serviceName + '<span class="govuk-tag govuk-!-margin-left-2">Prototype</span>',
    href: '../'
  },
  navigation: {
    label: 'Account navigation',
    items: [{
      text: (data['user']['first-name'] or 'A') + ' ' + (data['user']['surname'] or 'George'),
      href: '#',
      active: true
    }, {
      text: 'Sign out',
      href: '#'
    }]
  }
}) }} -->

{% include './includes/dps-header.html' %}

{% block primaryNavigation %}
{{ mojPrimaryNavigation({
  classes: "govuk-!-display-none-print",
  label: 'Primary navigation',
  items: [
    {
      text: 'Nav item 1',
      href: '#1',
      active: true
    },
    {
      text: 'Nav item 2',
      href: '#2'
    },
    {
      text: 'Nav item 3',
      href: '#3'
    }
  ]
}) }}
{% endblock %}

{% block identityBar %}
<div class="govuk-width-container">
{{ mojIdentityBar({
  classes: "govuk-!-display-none-print",
  title: {
    html: "<span class='govuk-tag govuk-tag--red govuk-!-margin-right-2'>Prototype</span><b class='govuk-!-font-size-19'>" + (data['prison-name']) + "</b>"
  }
}) }}
</div>
{% endblock %}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% if useAutoStoreData %}
{% block footer %}
{{ govukFooter({
  meta: {
    items: [
    {
      href: "/",
      text: "Prototype home"
    },
    {
      href: "/prototype-admin/clear-data",
      text: "Clear data"
    },
    {
      href: "/unlock/version-7/attendance-dashboard/generate-data",
      text: "Generate attendance data"
    },
    {
      href: "https://github.com/ministryofjustice/hmpps-activity-management-prototype",
      text: "GitHub code"
    },
    {
      href: "https://govuk-prototype-kit.herokuapp.com/",
      text: "GOV.UK Prototype Kit " + releaseVersion
    }
    ],
    visuallyHiddenTitle: "Footer links"
  }
}) }}
{% endblock %}
{% endif %}

{% block bodyEnd %}
{% block scripts %}
{% include "includes/scripts.html" %}
{% block pageScripts %}{% endblock %}
{% endblock %}
<!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
