{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}
{% block pageTitle %}
Activities Management prototype
{% endblock %}
{% block primaryNavigation %}
{% endblock %}
{% block beforeContent %}
{{govukBackLink({
	text: "Back",
	"href": "javascript: window.history.go(-1)"
})}}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">
			Attendance details for {{prisoner.name.firstname}} {{prisoner.name.surname}}
		</h1>

		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Activity
				</dt>
				<dd class="govuk-summary-list__value">
					<a href="../{{activity.id}}?date={{data['date']}}" class="govuk-link--no-visited-state">{{activity.name}}</a>
				</dd>
			</div>

			<!-- {{attendanceData|dump}} -->

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Activity date
				</dt>
				<dd class="govuk-summary-list__value">
					
				</dd>
			</div>

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Attendance
				</dt>
				<dd class="govuk-summary-list__value">
					{% if attendanceData.status == "attended" %}
					<span class="moj-badge moj-badge--large moj-badge--green">Attended</span>
					{% elif attendanceData.status == "not-attended" %}
					<span class="moj-badge moj-badge--large moj-badge--red">Absent</span>
					{% endif %}
				</dd>
			</div>
			
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Recorded date
				</dt>
				<dd class="govuk-summary-list__value">
					{{attendanceData.formattedTimestamp}}
				</dd>
			</div>

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Recorded by
				</dt>
				<dd class="govuk-summary-list__value">
					Bal Patel
				</dd>
			</div>
		</dl>

		{{govukButton({
			text: "Change attendance record",
			classes: "govuk-button--secondary"
		})}}
	</div>
</div>
{% endblock %}

{% block pageScripts %}
{% endblock %}