{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}
{% block pageTitle %}
Activities Management prototype
{% endblock %}
{% block primaryNavigation %}
{% endblock %}
{% block beforeContent %}
{{govukBackLink({
	text: "Back",
	"href": "javascript: window.history.go(-1)"
})}}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">
			Attendance details for {{prisoner.name.firstname}} {{prisoner.name.surname}}
		</h1>
		<!-- {{attendanceData|dump}} -->
		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Activity
				</dt>
				<dd class="govuk-summary-list__value">
					<a href="../{{activity.id}}" class="govuk-link--no-visited-state">{{activity.name}}</a>
				</dd>
			</div>

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Date
				</dt>
				<dd class="govuk-summary-list__value">
					{{ date | convertShortDateToLongDate(date) }}
				</dd>
			</div>

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Attendance
				</dt>
				<dd class="govuk-summary-list__value">
					{% if attendanceData.attendance == "attended" %}
					<span class="moj-badge moj-badge--large moj-badge--green">Attended</span>
					{% elif attendanceData.attendance == "not-attended" %}
					<span class="moj-badge moj-badge--large moj-badge--red">Absent</span>
					{% endif %}
				</dd>
			</div>
			
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Pay
				</dt>
				<dd class="govuk-summary-list__value">
					{{attendanceData.pay|capitalize}}
				</dd>
			</div>

			{% if attendanceData.payReason %}
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Pay
				</dt>
				<dd class="govuk-summary-list__value">
					{{attendanceData.pay|capitalize}}
				</dd>
			</div>
			{% endif %}

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Audit details
				</dt>
				<dd class="govuk-summary-list__value">
					Recorded by Bal Patel on {{attendanceData.timestamp.date|convertShortDateToLongDate(attendanceData.timestamp.date)}} at {{attendanceData.timestamp.time}}
				</dd>
			</div>
		</dl>

		{{govukButton({
			text: "Change attendance record",
			classes: "govuk-button--secondary"
		})}}
	</div>
</div>
{% endblock %}

{% block pageScripts %}
{% endblock %}