{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}

{% block pageTitle %}
Attendance details for {{prisoner.name.firstname}} {{prisoner.name.surname}}
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block beforeContent %}
{{govukBackLink({
	text: "Back",
	"href": "javascript: window.history.go(-1)"
})}}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">
			Attendance details for {{prisoner.name.firstname}} {{prisoner.name.surname}}
		</h1>

		<h2 class="govuk-heading-m">
			Recorded on {{attendanceData.timestamp.date|convertShortDateToLongDate(attendanceData.timestamp.date)}} at {{attendanceData.timestamp.time}}
		</h2>

		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Activity
				</dt>
				<dd class="govuk-summary-list__value">
					<p>
						<a href="../{{activity.id}}" class="govuk-link--no-visited-state">{{activity.name}}</a>
					</p>
					<p>
						{{ date | convertShortDateToLongDate(date) }} ({{period}})
					</p>
				</dd>
			</div>

			<!-- <div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Activity date
				</dt>
				<dd class="govuk-summary-list__value">
					{{ date | convertShortDateToLongDate(date) }} ({{period}})
				</dd>
			</div> -->

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Attendance
				</dt>
				<dd class="govuk-summary-list__value">
					{% if attendanceData.attendance == "attended" %}
					Attended
					{% elif attendanceData.attendance == "not-attended" %}
					Absent
					{% endif %}
				</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link govuk-link--no-visited-state" href="{{prisoner.id}}/change-attendance">
						Change<span class="govuk-visually-hidden"> attendance</span>
					</a>
				</dd>
			</div>
			
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Pay
				</dt>
				<dd class="govuk-summary-list__value">
					<p>
						{{attendanceData.pay|capitalize}}
					</p>
					{% if attendanceData.payReason %}
					<p>
						&ldquo;{{attendanceData.payReason}}&rdquo;
					</p>
					{% endif %}
				</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link govuk-link--no-visited-state" href="{{prisoner.id}}/change-pay">
						Change<span class="govuk-visually-hidden"> pay</span>
					</a>
				</dd>
			</div>

			<!-- {% if attendanceData.payReason %}
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Additional information
				</dt>
				<dd class="govuk-summary-list__value">
					{% if attendanceData.payReason %}{{attendanceData.payReason}}{% endif %}
				</dd>
			</div>
			{% endif %} -->

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Recorded by
				</dt>
				<dd class="govuk-summary-list__value">
					Person Name
				</dd>
			</div>
		</dl>

		<form method="post">
			<!-- {{govukButton({
				text: "Change attendance record",
				classes: "govuk-button--secondary"
			})}} -->
		</form>
	</div>
</div>
{% endblock %}

{% block pageScripts %}
{% endblock %}