
{% extends "layout.html" %}


{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <span class="govuk-caption-m">Education | Risk level: Low | Minimum incentive: Basic | Start date: {{data.activityCreateScheduleStartDate or '5 Dec 2022'}} | End date: {{data.activityCreateScheduleStartDate or '12 Dec 2022'}}
  </span>
    <h1 class="govuk-heading-m">{{data.activityCreateScheduleName or 'Maths level 3'}} </h1>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      How many people can be allocated to this activity?
    </h1>

  </div>

  <div id="event-name-hint" class="govuk-hint">
  Enter the maximum number (known as capacity) of people who can be allocated.
  </div>
    <form method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label" for="event-name">
            </label>
            <input class="govuk-input govuk-input--width-5" id="event-name" name="event-name" type="text">
          </div>
        </fieldset>
      </div>
      <br />
    <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
</div>
{% endblock %}
