
{% extends "layout.html" %}


{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Will the schedule repeat?
    </h1>
  </div>
</div>
<div class="govuk-width-container">
  <ul class="govuk-grid-row card-group">
    <li class="govuk-grid-column-one-half card-group__item">
      <div class="card card--clickable" data-test="view-activity-location">
        <h2 class="govuk-heading-m card__heading">
          <a class="govuk-link card__link govuk-link--no-visited-state" href="select-activity">Week one</a>
        </h2>
        <p class="govuk-body card__description">
          <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="setupPayments3" name="setupPayments" type="radio" value="three" checked="checked">
            <label class="govuk-label govuk-radios__label" for="setupPayments3">
              Monday am, Tuesday am, Wednesday am<br />
              Wednesday pm, Thursday pm, Friday pm
              <hr />
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="setupPayments10" name="setupPayments" type="radio" value="ten">
          <label class="govuk-label govuk-radios__label" for="setupPayments10">
             Tuesday am, Wednesday am, Thursday am, Friday am<br />
            Monday pm, Friday pm, Friday pm
          </label>
        </div>
      </div></p>
      </div>
    </li>


    <li class="govuk-grid-column-one-half card-group__item">
      <div class="card card--clickable" data-test="view-activity-location">
        <h2 class="govuk-heading-m card__heading">
          <a class="govuk-link card__link govuk-link--no-visited-state" href="select-unlock-locations">Week two</a>
        </h2>
        <p class="govuk-body card__description">  <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="setupPayments3" name="setupPayments" type="radio" value="three" checked="checked">
            <label class="govuk-label govuk-radios__label" for="setupPayments3">
           Monday am, Monday pm<br />
           Tuesday am, Tuesday pm<br />
           Wednesday am   <br />
           Friday am, Friday pm<br />
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="setupPayments10" name="setupPayments" type="radio" value="ten">
          <label class="govuk-label govuk-radios__label" for="setupPayments10">
            Monday am<br />
            Tuesday am, Tuesday pm<br />
            Friday am, <br />
          </label>
        </div>
      </div></p>  </div>
    </li>
    <li class="govuk-grid-column-full card-group__item">
      <div class="card card--clickable" data-test="view-all-appointments">
        <h2 class="govuk-heading-m card__heading">
          <a class="govuk-link card__link govuk-link--no-visited-state" href="select-refusals-locations">Week three</a>
        </h2>
        <p class="govuk-body card__description">  <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="setupPayments3" name="setupPayments" type="radio" value="three" checked="checked">
            <label class="govuk-label govuk-radios__label" for="setupPayments3">
           Monday am, Monday pm<br />
           Tuesday am, Tuesday pm<br />
           Wednesday am   <br />
           Friday am, Friday pm<br />
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="setupPayments10" name="setupPayments" type="radio" value="ten">
          <label class="govuk-label govuk-radios__label" for="setupPayments10">
            Monday am<br />
            Tuesday am, Tuesday pm<br />
            Friday am, <br />
          </label>
        </div>
      </div>
    </p>
  </div>
  </li>


  <li class="govuk-grid-column-full card-group__item">
      <div class="card card--clickable" data-test="view-activity-location">
        <h2 class="govuk-heading-m card__heading">
          <a class="govuk-link card__link govuk-link--no-visited-state" href="view-daily-schedules">Week four</a>
        </h2>
        <p class="govuk-body card__description">  <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="setupPayments3" name="setupPayments" type="radio" value="three" checked="checked">
            <label class="govuk-label govuk-radios__label" for="setupPayments3">
           Monday am, Monday pm<br />
           Tuesday am, Tuesday pm<br />
           Wednesday am   <br />
           Friday am, Friday pm<br />
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="setupPayments10" name="setupPayments" type="radio" value="ten">
          <label class="govuk-label govuk-radios__label" for="setupPayments10">
            Monday am<br />
            Tuesday am, Tuesday pm<br />
            Friday am, <br />
          </label>
        </div>
      </div></p></div>
    </li>
    <li class="govuk-grid-column-full card-group__item">
      <div class="card card--clickable" data-test="view-attendance-statistics">
        <h2 class="govuk-heading-m card__heading">
          <a class="govuk-link card__link govuk-link--no-visited-state" href="#">Week five</a>
        </h2>
        <p class="govuk-body card__description">  <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="setupPayments3" name="setupPayments" type="radio" value="three" checked="checked">
            <label class="govuk-label govuk-radios__label" for="setupPayments3">
           Monday am, Monday pm<br />
           Tuesday am, Tuesday pm<br />
           Wednesday am   <br />
           Friday am, Friday pm<br />
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="setupPayments10" name="setupPayments" type="radio" value="ten">
          <label class="govuk-label govuk-radios__label" for="setupPayments10">
            Monday am<br />
            Tuesday am, Tuesday pm<br />
            Friday am, <br />
          </label>
        </div>
      </div></p>
      </div>
    </li>


    <li class="govuk-grid-column-full card-group__item">
      <div class="card card--clickable" data-test="view-bulk-appointments">
        <h2 class="govuk-heading-m card__heading">
          <a class="govuk-link card__link govuk-link--no-visited-state" href="#">Week six</a>
        </h2>
        <p class="govuk-body card__description">  <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="setupPayments3" name="setupPayments" type="radio" value="three" checked="checked">
            <label class="govuk-label govuk-radios__label" for="setupPayments3">
           Monday am, Monday pm<br />
           Tuesday am, Tuesday pm<br />
           Wednesday am   <br />
           Friday am, Friday pm<br />
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="setupPayments10" name="setupPayments" type="radio" value="ten">
          <label class="govuk-label govuk-radios__label" for="setupPayments10">
            Monday am<br />
            Tuesday am, Tuesday pm<br />
            Friday am, <br />
          </label>
        </div>
      </div></p>
      </div>
    </li>
  </ul>
  <form method="post">
    <button class="govuk-button" data-module="govuk-button">Continue</button>
  </form>
</div>

{% endblock %}
