
{% extends "layout.html" %}


{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Select a category for the new activity
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="education" name="category" {% if (data.category=='Education')%} checked {% endif %} type="radio" value="Education" aria-describedby="sign-in-item-hint">
                <label class="govuk-label govuk-radios__label" for="education">
                  Education
                </label>
                <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                  Such as classes in English, maths, construction and computer skills
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="industry" name="category" type="radio" {% if (data.category=='Industries')%} checked {% endif %} value="Industries" aria-describedby="sign-in-item-hint">
                <label class="govuk-label govuk-radios__label" for="industry">
                  Industries
                </label>
                <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                  Such as work in the prison and with employers and charities
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="maintenance" name="category" type="radio" {% if (data.category=='Maintenance')%} checked {% endif %} value="Maintenance" aria-describedby="sign-in-item-hint">
                <label class="govuk-label govuk-radios__label" for="maintenance">
                  Services
                </label>
                <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                  Such as work in the kitchens and laundry, cleaning, gardening, and mentoring
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="gym" name="category" type="radio" {% if (data.category=='Gym, sport and fitness"')%} checked {% endif %} value="Gym, sport and fitness" aria-describedby="sign-in-item-hint">
                <label class="govuk-label govuk-radios__label" for="gym">
                  Gym, sport and fitness
                </label>
                <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                  Such as sport clubs, like football, fitness classes and gym sessions
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="induction" name="category" type="radio" {% if (data.category=='Induction')%} checked {% endif %} value="Induction" aria-describedby="sign-in-item-hint">
                <label class="govuk-label govuk-radios__label" for="induction">
                  Induction
                </label>
                <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                  Such as gym induction, education assessments, health and safety workshops
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="intervention" name="category" type="radio"{% if (data.category=='Intervention')%} checked {% endif %}  value="Intervention" aria-describedby="sign-in-item-hint">
                <label class="govuk-label govuk-radios__label" for="intervention">
                  Intervention programmes
                </label>
                <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                  Such as programmes for behaviour management, drug and alcohol misuse and community rehabilitation
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="leisure" name="category" type="radio" {% if (data.category=='Leisure and social')%} checked {% endif %} value="Leisure and social" aria-describedby="sign-in-item-hint">
                <label class="govuk-label govuk-radios__label" for="leisure">
                  Leisure and social
                </label>
                <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                  Such as association, library time and social clubs, like music or art
                </div>
              </div>


            <!--    <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="maintenance" name="category" type="radio" value="maintenance" aria-describedby="sign-in-item-hint">
                <label class="govuk-label govuk-radios__label" for="maintenance">
                  Decide later
                </label>
                <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                  If you are unsure and would like to decide later
                </div>
              </div>

    </div>-->

            </div>
          </fieldset>
        </div>
      </fieldset>
    </div>
    <br />
    <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
