
{% extends "layout.html" %}


{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>

    <span class="govuk-caption-m">Education</span>
    <h1 class="govuk-heading-m">{{data.activityName or 'Maths level 3'}}</h1>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      What's the risk level?
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form method="post">
        <div class="govuk-form-group">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              </legend>
              <div id="contact-hint" class="govuk-hint">
                Select the most recent risk assessment level for this activity.
              </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <form method="post">
                <div class="govuk-radios__item">

                 <input class="govuk-radios__input" id="incentiveLevelBasic" name="riskLevel" type="radio" {% if data.riskLevel=='High' %}checked {% endif %} value="High" data-aria-controls="conditional-contact">
                  <label class="govuk-label govuk-radios__label" for="incentiveLevelBasic">
                    High
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="incentiveLevelStandard" name="riskLevel" {% if data.riskLevel=='Medium' %}checked {% endif %}type="radio" value="Medium"  data-aria-controls="conditional-contact">
                  <label class="govuk-label govuk-radios__label" for="incentiveLevelStandard">
                    Medium
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="incentiveLevelAdvanced" name="riskLevel" type="radio" value="Low" {% if data.riskLevel=='Low' %}checked {% endif %} data-aria-controls="conditional-contact">
                  <label class="govuk-label govuk-radios__label" for="incentiveLevelAdvanced">
                    Low
                  </label>
                </div>
                </form>
              </div>
            </fieldset>
          </div>
    <br /><br />
  <button class="govuk-button" data-module="govuk-button">Continue</button>
  </div>
</div>

{% endblock %}
