
{% extends "layout.html" %}


{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Check if the activity you want to create already exists
    </h1>
  <p>If the activity you're creating already exists, you can build a new schedule. Otherwise, continue creating 'Maths level 4'.</p>

    <!--  Otherwise, <a href="activity-risk-assessment">continue creating Maths level 4</a></p>
-->
  </div>


<table class="govuk-table" data-module="moj-sortable-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" aria-sort="ascending" style="width:25%">Activity name</th>
      <th scope="col" class="govuk-table__header" aria-sort="ascending" style="width:25%">Number of schedules</th>
      <th scope="col" class="govuk-table__header" aria-sort="ascending" style="width:22%">Date created
      </th>
      <th scope="col" class="govuk-table__header">Task</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <td>
        Maths entry level

      </td>
    <td style="text-align: center;"><a href="#"> 3</a></td>
      <td>9 Jan 2022</td>
      <td>
      <form method="post" action="">
        <input type="hidden" name="activityCreateScheduleName" value="Maths entry level" />

        <button class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-bottom:5px; margin-top:10px;">
        Build a new schedule for this activity
        </button>
        </form>
      </td>
    </tr>
    <tr>
      <td colspan="4"  class="govuk-table__cell">
        <details class="hods-expandable-banner">
      <summary class="hods-expandable-banner__summary" style="color:#00008B" style="margin-top:0;">
        Show more activity information
      </summary>
      <div class="hods-expandable-banner__text" style="background-color:#F2F1F0; padding:5px 0 0 15px;">
        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Incentive level
            </dt>
            <dd class="govuk-summary-list__value">
              Enhanced
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Educational qualifications
            </dt>
            <dd class="govuk-summary-list__value">
              English level 2
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Technical qualifications
            </dt>
            <dd class="govuk-summary-list__value">
              Motor foundation skills
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Learning pathways
            </dt>
            <dd class="govuk-summary-list__value">
              Information Technology
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Alerts
            </dt>
            <dd class="govuk-summary-list__value">
              None set
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Learning difficulties, <br />disabilities and health
            </dt>
            <dd class="govuk-summary-list__value">
              None set
            </dd>
          </div>
        </dl>

      </div>
    </details>
    </td>
    </tr>



    <tr class="govuk-table__row">
      <td>
        Maths level 1
      </td>
      <td style="text-align: center;"><a href="#"> 3</a></td>
      <td>13 July 2021</td>
      <td>
      <form method="post" action="">
        <input type="hidden" name="activityCreateScheduleName" value="Maths level 1" />

        <button class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-bottom:5px; margin-top:10px;">
        Build a new schedule for this activity
        </button>
        </form>
      </td>
    </tr>
    <tr>
      <td colspan="4"  class="govuk-table__cell">
        <details class="hods-expandable-banner">
      <summary class="hods-expandable-banner__summary" style="color:#00008B" style="margin-top:0;">
        Show more activity information
      </summary>
      <div class="hods-expandable-banner__text" style="background-color:#F2F1F0; padding:5px 0 0 15px;">
        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Incentive level
            </dt>
            <dd class="govuk-summary-list__value">
              Enhanced
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Educational qualifications
            </dt>
            <dd class="govuk-summary-list__value">
              English level 2
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Technical qualifications
            </dt>
            <dd class="govuk-summary-list__value">
              Motor foundation skills
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Learning pathways
            </dt>
            <dd class="govuk-summary-list__value">
              Information Technology
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Alerts
            </dt>
            <dd class="govuk-summary-list__value">
              None set
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Learning difficulties, <br />disabilities and health
            </dt>
            <dd class="govuk-summary-list__value">
              None set
            </dd>
          </div>
        </dl>

      </div>
    </details>
    </td>
    </tr>






    <tr class="govuk-table__row">
      <td>
        Maths level 2
      </td>
      <td style="text-align: center;"><a href="#">5</a></td>
      <td>1 Sep 2022</td>
      <td>
      <form method="post" action="">
        <input type="hidden" name="activityCreateScheduleName" value="Maths level 2" />

        <button class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-bottom:5px; margin-top:10px;">
        Build a new schedule for this activity
        </button>
        </form>
      </td>
    </tr>
    <tr>
      <td colspan="4"  class="govuk-table__cell">
        <details class="hods-expandable-banner">
      <summary class="hods-expandable-banner__summary" style="color:#00008B" style="margin-top:0;">
        Show more activity information
      </summary>
      <div class="hods-expandable-banner__text" style="background-color:#F2F1F0; padding:5px 0 0 15px;">
        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Incentive level
            </dt>
            <dd class="govuk-summary-list__value">
              Enhanced
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Educational qualifications
            </dt>
            <dd class="govuk-summary-list__value">
              English level 2
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Technical qualifications
            </dt>
            <dd class="govuk-summary-list__value">
              Motor foundation skills
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Learning pathways
            </dt>
            <dd class="govuk-summary-list__value">
              Information Technology
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Alerts
            </dt>
            <dd class="govuk-summary-list__value">
              None set
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Learning difficulties, <br />disabilities and health
            </dt>
            <dd class="govuk-summary-list__value">
              None set
            </dd>
          </div>
        </dl>

      </div>
    </details>
    </td>
    </tr>









    <tr class="govuk-table__row">
      <td>
        Maths level 3
      </td>
      <td style="text-align: center;"><a href="#"> 3</a></td>
      <td>20 Aug 2022</td>
      <td>
      <form method="post" action="">
        <input type="hidden" name="activityCreateScheduleName" value="Maths level 3" />

        <button class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-bottom:5px; margin-top:10px;">
        Build a new schedule for this activity
        </button>
        </form>
      </td>
    </tr>
    <tr>
      <td colspan="4"  class="govuk-table__cell">
        <details class="hods-expandable-banner">
      <summary class="hods-expandable-banner__summary" style="color:#00008B" style="margin-top:0;">
        Show more activity information
      </summary>
      <div class="hods-expandable-banner__text" style="background-color:#F2F1F0; padding:5px 0 0 15px;">
        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Incentive level
            </dt>
            <dd class="govuk-summary-list__value">
              Enhanced
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Educational qualifications
            </dt>
            <dd class="govuk-summary-list__value">
              English level 2
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Technical qualifications
            </dt>
            <dd class="govuk-summary-list__value">
              Motor foundation skills
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Learning pathways
            </dt>
            <dd class="govuk-summary-list__value">
              Information Technology
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Alerts
            </dt>
            <dd class="govuk-summary-list__value">
              None set
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Learning difficulties, <br />disabilities and health
            </dt>
            <dd class="govuk-summary-list__value">
              None set
            </dd>
          </div>
        </dl>

      </div>
    </details>
    </td>
    </tr>


  </tbody>
</table>
<h2 class="govuk-heading-m govuk-!-margin-bottom-4">
  If you want to continue creating 'Maths level 4'
</h2>
-<form method="post" action="activity-name-2-create">
  <button class="govuk-button" data-module="govuk-button" style="margin-bottom:5px;">
  Continue creating activity
  </button>
  </form>
</div>
{% endblock %}
