
{% extends "layout.html" %}


{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <div class="back">
      <a href="#" class="govuk-back-link">Back</a>
      </div>
    <span class="govuk-caption-m">Education | Risk level: High | Minimum incentive: Basic</span>
    <h1 class="govuk-heading-m">Maths level 4</h1>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
    Enter the pay rates
    </h1>
  </div>
  <div class="govuk-grid-column-one-third">

  <div id="event-name-hint" class="govuk-hint">
  You can add as many pay rates as you need.
  </div>
    <form method="post">
      <div class="govuk-form-group">
        <div data-module="moj-add-another">
          <form method="post">
            <fieldset class="govuk-fieldset moj-add-another__item">

              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-weight-bold" for="person[0][first_name]">
                  Pay rate name
                </label>
                <input class="govuk-input govuk-input--width-10" id="paymentA" name="paymentA" type="text" value="">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-weight-bold" for="person[0][last_name]">
                  Pay rate amount
                </label>
              <strong></strong>  <input class="govuk-input govuk-input--width-5" id="paymentA" name="paymentA" type="text" value="">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-weight-bold" for="person[0][last_name]">
                  Piecework rate
                </label>
              <strong></strong>  <input class="govuk-input govuk-input--width-5" id="paymentA" name="paymentA" type="text" value="">
              </div>
              <br />
              <hr />
            </fieldset>
            <br />
            <div class="moj-button-action">
              <button class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4" data-module="govuk-button">
                Add another pay rate
              </button>
            </div>
            <div class="moj-button-action">
              <button class="govuk-button" data-module="govuk-button">
                Continue
              </button>
            </div>
          </form>
        </div>
        <br /><br />
        </fieldset>
      </div>
      <br />
</div>
</div>

{% endblock %}
