
{% extends "layout_hmpps-no-nav.html" %}
{% set serviceName = "Appointments" %}

{% block pageTitle %}
Appointments prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block content %}
<form id="form" method="post" action="person-add-another">
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="back">
      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
      </div>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Bulk appointments</span>
        Which Neil Rudge do you mean?
       </h1>

  </div>
   </div>

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      
            {{ govukRadios({
              idPrefix: "add-another-person-question-bulk",
              name: "add-another-person-question-bulk",
             
              items: [
                {
                  value: "Yes",
                  html: "<b>Neil Rudge</b><br>BN5297F<br>1-A-069"
                },
                {
                  value: "Yes",
                  html: "<b>Neil Rudge</b><br>ER5987E<br>5-H-011"
                }
              ]
            }) }}  
   
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-button-group">
          
            {{ govukButton({
              text: 'Continue',
              href: "non-associations"
            }) }}
           
           <p class="govuk-body">
            <a href="#" class="govuk-link">Search for a different prisoner</a>
           </p>
          </div>
           


          </div>
          
      </div>


      
       

   




  </div>
</div>
{% endblock %}
