{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}
{% block pageTitle %}
Activities Management prototype
{% endblock %}
{% block primaryNavigation %}
{% endblock %}

{% block main %}
<form>
	<div class="govuk-width-container">
		{% block beforeContent %}
		{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
		{{ govukBreadcrumbs({
			classes: "govuk-!-display-none-print",
			items: [
			{
				text: "Digital Prison Services",
				href: "../dps-home"
			},
			{
				text: "Manage prisoner whereabouts",
				href: "../whereabouts"
			}
			]
		}) }}
		{% endblock %}

		<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
			<div class="govuk-grid-row govuk-!-margin-bottom-5">
				<div class="govuk-grid-column-three-quarters">
					<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
						<span class="govuk-caption-l">
							{{activity.startTime}}&thinsp;–&thinsp;{{activity.endTime}} on {{ {
								"day": data['activity-date'][0],
								"month": data['activity-date'][1],
								"year": data['activity-date'][2] 
							} | formatDate if data['activity-date'] else "2 November 2022"}}
						</span>

						{{ activity.name or 'Workshop' }}: record attendance

						<span class="govuk-caption-l">
							{{activity.location}}
						</span>
					</h1>

					<ul class="govuk-list">
						<li>
							<a href="../activities" class="govuk-link--no-visited-state">Choose a different activity</a>
						</li>
						<li>
							<a href="../select-activity" class="govuk-link--no-visited-state">View the schedule for a different day</a>
						</li>
					</ul>
				</div>

				{{periodStart}}
				<div class="govuk-grid-column-one-quarter">
					<p class="govuk-body" style="text-align: right;">
						{{govukButton({
							text: "Print attendance list",
							classes: "govuk-button--secondary"
						})}}
					</p>
				</div>
			</div>

			{% if data['selected-prisoners'].length == 1 %}
			{% set prisoner = data['selected-prisoners'] | getPrisoner %}
			{% endif %}

			{% if data['attendance-confirmation'] == 'true' %}
			{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
			{% set html %}
			<h3 class="govuk-notification-banner__heading">
				Attendance recorded
			</h3>
			<p class="govuk-body">We've saved attendance details for {{data['selected-prisoners'].length + " prisoners" if data['selected-prisoners'].length > 1 else prisoner.name.firstname + " " + prisoner.name.surname}}.</p>
			{% endset %}
			{{ govukNotificationBanner({
				html: html,
				type: 'success'
			}) }}
			{% endif %}

			{% set totalPrisoners = activity.count %}
			{% set notRecorded = totalPrisoners - notAttendedCount - attendedCount %}
			{% include './_includes/table-navbar.html' %}

			<h2 class="govuk-heading-m" id="expected">{{totalPrisoners}} prisoners allocated</h2>

			{% set attendanceDetailsHtml %}
			<ul class="govuk-list">
				<li>Attended: <b>{{attendedCount}}</b></li>
				<li>Absent: <b>{{notAttendedCount}}</b></li>
				<li>Not recorded: <b>{{notRecorded}}</b></li>
			</ul>
			{% endset %}
			<!-- {{ govukDetails({
				summaryText: "Attendance summary",
				html: attendanceDetailsHtml
			}) }} -->
			{{attendanceDetailsHtml|safe}}

			<table class="govuk-table app-whereabouts-table app-whereabouts-table--sticky-head app-whereabouts-table--font-size-normal govuk-!-margin-bottom-0" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
				<thead class="govuk-table__head">
					<tr>
						{% if notRecorded > 0 %}<th class="govuk-table__header govuk-!-padding-left-2" scope="col" id="select-all"></th>{% endif %}
						<th class="govuk-table__header">
							Name
						</th>
						<th class="govuk-table__header">
							Location
						</th>
						<th class="govuk-table__header">
							Relevant alerts
						</th>
						<th class="govuk-table__header">
							Attendance
						</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					{% set sortOrder = data['sort-by'] %}
					{% for prisoner in filteredPrisoners %}
					{% if (loop.index <= activity.count) %}
					<tr class="govuk-table__row">
						{% if notRecorded > 0 %}
						<td class="govuk-table__cell">
							{% if prisoner.attendance == "attended" %}
							
							{% elif prisoner.attendance == "not-attended" %}
							
							{% else %}
							<div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox govuk-!-margin-left-2">
								<input type="checkbox" class="govuk-checkboxes__input" id="prisoner-{{loop.index}}" name="selected-prisoners" value="{{prisoner._id}}">
								<label class="govuk-label govuk-checkboxes__label" for="prisoner-{{loop.index}}">
									<span class="govuk-visually-hidden">Select Surname, Forename</span>
								</label>
							</div>
							{% endif %}
						</td>
						{% endif %}
						<td class="govuk-table__cell" width="180">
							<a href="#" class="govuk-link--no-visited-state"><b>{{prisoner.name.surname}}</b>, {{prisoner.name.firstname}}</a><br>
							<span class="govuk-hint govuk-!-font-size-16">{{prisoner._id}}</span>
						</td>
						<td class="govuk-table__cell">
							{{prisoner.location.houseblock}}-{{prisoner.location.landing}}-{{prisoner.location.cell}}
						</td>
						<td class="govuk-table__cell">
							{% if prisoner.alerts.length > 0 %}
							<ul class="govuk-list">
								{% for alert in prisoner.alerts %}
								<li><span class="moj-badge moj-badge--grey">{{alert}}</span></li>        
								{% endfor %}
							</ul>
							{% endif %}
						</td>
						<td class="govuk-table__cell">
							{% if prisoner.attendance == "attended" %}
							<a href="{{activity.id}}/{{prisoner._id}}"><span class="moj-badge moj-badge--large moj-badge--green">Attended</span></a>
							{% elif prisoner.attendance == "not-attended" %}
							<a href="{{activity.id}}/{{prisoner._id}}"><span class="moj-badge moj-badge--large moj-badge--red">Absent</span></a>
							{% else %}
							<span class="govuk-hint">Not recorded yet</span>
							{% endif %}
						</td>
					</tr>
					{% endif %}
					{% endfor %}
				</tbody>
			</table>

		</main>
	</div>

	{% include './_includes/attendance-toolbar.html' %}
</form>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/dropdown-checkboxes.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#group-by').on('change', function() {
			window.location = 'unlock-list-concept-3--' + $(this).val()
		})

		function toggleToolbar(btn) {
			let checkbox = $('.app-whereabouts-table input[type="checkbox"]')
			let count = checkbox.filter(':checked').length - $('th .moj-multi-select__checkbox input:checkbox:checked').length
			
			if( ! btn.data('html')){
				$.each(btn, function(){
					$(this).attr('data-html', $(this).html())
				})

				$('#app-selected-count').attr('data-html', $('#app-selected-count').html())
			}

			if (checkbox.is(':checked')) {
				let countText = ( count > 1 ) ? "prisoners" : "prisoner"

				$('#app-selected-count').html(count + " " + countText + " selected")

				$.each(btn, function(){
					$(this).attr("disabled", false).html($(this).data('html'))
				})

				$('.app-attendance-sticky-bar--bottom').addClass('active').find('.govuk-button-group').show()
			} else {
				$.each(btn, function(){
					$(this).attr("disabled", true).html($(this).data('html'))
				})

				$('.app-attendance-sticky-bar--bottom').removeClass('active').find('.govuk-button-group').hide()
				$('#app-selected-count').html($('#app-selected-count').data('html'))
			}
		}
		$(window).load(function(){
			toggleToolbar($('.app-attendance-btn'))
		})
		$('.app-whereabouts-table input[type="checkbox"]').on('change', function() {
			toggleToolbar($('.app-attendance-btn'))
		})

		const el = document.querySelector(".app-attendance-sticky-bar--bottom")
		const observer = new IntersectionObserver( 
			([e]) => e.target.classList.toggle("is-pinned", e.intersectionRatio < 1),
			{ threshold: [1] }
			);

		observer.observe(el);
	})
</script>
{% endblock %}