{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}

{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block content %}
<form method="post">
	<h1 class="govuk-heading-xl">
		Prototype settings
	</h1>
	{{ govukInput({
		classes: "govuk-input--width-20",
		label: {
			text: "Prison name"
		},
		value: data['prison-name'],
		id: "prison-name",
		name: "prison-name"
	}) }}

	{{govukButton({
		text: "Save and continue"
	})}}
</form>
{% endblock %}
