{% extends "layout.html" %}
{% set serviceName = "" %}

{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Select people to allocate them to an activity
    </h1>
  </div><br />
<!--  <form method="post">
  <button class="govuk-button" data-module="govuk-button">Create new activity</button>
</form>-->

<!--
  <nav class="moj-sub-navigation" aria-label="Sub navigation" style="margin-top:20px;">
    <ul class="moj-sub-navigation__list" >
      <li class="moj-sub-navigation__item" style="float:left; list-style-type:none; margin-left:-40px; margin-top:15px;">
        <a class="moj-sub-navigation__link" aria-current="page" href="#1" style=" text-decoration:none; color:black; border-bottom: 4px solid #1d70b8; padding-bottom:12px;">Show all activities (5)</a>
      </li>

      <li class="moj-sub-navigation__item" style="float:left; margin-left:20px; list-style-type:none;  margin-top:15px;">
        <a class="moj-sub-navigation__link" href="activity-list-dashboard-filtered" style=" text-decoration:none;">Show only activities with space (3)</a>
      </li>
    </ul>

<ul class="moj-sub-navigation__list" style="margin-bottom:0px;">
  <li class="moj-sub-navigation__item" style=" float:right; list-style-type:none; margin-left:10px;" >
  <button class="govuk-button" data-module="govuk-button">Search</button>
  </li>
 <li class="moj-sub-navigation__item" style=" float:right; list-style-type:none;" >
   <input class="govuk-input moj-search__input;" style="font-size:.8em;" size="51" id="search" name="search" type="search" aria-describedby="search-hint"
    placeholder="Search by activity, location, wing or facilitator" >
</li>

</ul>
</nav>-->

<div class="moj-primary-navigation">
  <div class="moj-primary-navigation__container">
    <div class="moj-primary-navigation__nav">
      <nav class="moj-primary-navigation" aria-label="Primary navigation">
        <ul class="moj-primary-navigation__list">
          <ul class="moj-sub-navigation__list" >
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="#" aria-current="page" >All Prisoners (500)</a>
            </li>
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="offender-view-available">Prisoners with availability (35)</a>
            </li>

          <li class="moj-primary-navigation__item">
          <!--  <form method="post">
            <button class="govuk-button" data-module="govuk-button" style="margin:-8px 0 0 200px;">Create new activity</button>
          </form>-->
        </li>
        </ul>
      </nav>
    </div>
    <div class="moj-primary-navigation__search">
      <div class="moj-search-toggle" data-module="moj-search-toggle" data-moj-search-toggle-text="Search for prisoner">
        <div class="moj-search-toggle__toggle"></div>
        <div class="moj-search-toggle__search">
          <div class="moj-search moj-search--ondark moj-search--toggle moj-js-hidden">
            <form action="searchAllocationDashboard" method="post">
              <div class="govuk-form-group">
                <label class="govuk-label moj-search__label govuk-visually-hidden" for="search2">
                  Search
                </label>
                <div id="search2-hint" class="govuk-hint moj-search__hint ">
                  Search name, prisoner ID or location  </div>
                <input class="govuk-input moj-search__input " id="search2" name="search2" type="search" aria-describedby="search2-hint">
              </div>
              <form method="post" action="">
              <button class="govuk-button moj-search__button " data-module="govuk-button">
                Search
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br /><br />



<table class="govuk-table" data-module="moj-sortable-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" aria-sort="ascending">Prisoner name</th>
      <th scope="col" class="govuk-table__header app-custom-class" aria-sort="none">Location</th>
      <th scope="col" class="govuk-table__header app-custom-class"  aria-sort="ascending">Availability</th>
      <th scope="col" class="govuk-table__header app-custom-class"  aria-sort="none">Remaining Sentence </th>
      <th scope="col" class="govuk-table__header app-custom-class"  aria-sort="none">Time on Waitlist</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">


    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
          Leroy Smithe
        </h3>
          <span class="govuk-hint" style="font-size:.85em; margin-top:-10px;">ID: A773622</span>
      </th>
      <td class="govuk-table__cell">House block 4<br />Wing 3</td>
      <td class="govuk-table__cell">Available</td>
      <td class="govuk-table__cell">124 months</td>
        <td class="govuk-table__cell">55 days<br /><span class="govuk-hint" style="font-size:.85em;">5 Aug 2022</span></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
          Bill Board
        </h3>
          <span class="govuk-hint" style="font-size:.85em; margin-top:-10px;">ID: A193884</span>
      </th>
      <td class="govuk-table__cell">House block 2<br />Wing 1</td>
      <td class="govuk-table__cell">Available</td>
      <td class="govuk-table__cell">18 months</td>
        </td>
        <td class="govuk-table__cell">N/A</span></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
          Brock Lee
        </h3>
          <span class="govuk-hint" style="font-size:.85em;">ID: A663522</span>
      </th>
      <td class="govuk-table__cell">House block 1<br />Wing 1</td>
      <td class="govuk-table__cell">Available</td>
      <td class="govuk-table__cell">1 month</td>
      <td class="govuk-table__cell">30 days<br /><span class="govuk-hint" style="font-size:.85em;">30 Aug 2022</span></td>

          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                Daniel Ratsill
              </h3>
                <span class="govuk-hint" style="font-size:.85em;">ID: A3290129</span>
            </th>
            <td class="govuk-table__cell">House block 2<br />Wing 2</td>
            <td class="govuk-table__cell">Unavailable</td>
            <td class="govuk-table__cell">3 months</td>
            <td class="govuk-table__cell">N/A</span></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                      Raj Damodaran
                    </h3>
                      <span class="govuk-hint" style="font-size:.85em;">ID: A3290129</span>
                  </th>
                  <td class="govuk-table__cell">House block 1<br />Wing 1</td>
                  <td class="govuk-table__cell">Available</td>
                  <td class="govuk-table__cell"><1 month</td>
                  <td class="govuk-table__cell">2 days<br /><span class="govuk-hint" style="font-size:.85em;">1 Oct 2022</span></td>
                      </tr>
  </tbody>
</table>
</div>
{% endblock %}
