{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}

{% block pageTitle %}
Attendance dashboard
{% endblock %}

{% block primaryNavigation %}
{% endblock %}

{% block beforeContent %}
{{govukBackLink({
	text: "Back",
	"href": "javascript: window.history.go(-1)"
})}}
{% endblock %}
{% block content %}
<h1 class="govuk-heading-l">
	Attendance dashboard
</h1>

{{ govukDateInput({
				id: "other-date",
				namePrefix: "other-date",
				fieldset: {
					legend: {
						text: "Date"
					}
				},
				hint: {
					text: "For example, 27 3 2022"
				}
			}) }}

<h2 class="govuk-heading-m">
	Prison summary (past day)
</h2>
<div class="govuk-grid-row govuk-!-margin-bottom-8">
	<div class="govuk-grid-column-one-quarter">
		<h3 class="govuk-body govuk-hint govuk-!-font-size-19 govuk-!-margin-bottom-0">Attendance rate</h3>
		<span class="govuk-heading-xl govuk-!-margin-0 govuk-!-padding-0">92%</span>
	</div>

	<div class="govuk-grid-column-one-quarter">
		<h3 class="govuk-body govuk-hint govuk-!-font-size-19 govuk-!-margin-bottom-0">Sick</h3>
		<span class="govuk-heading-xl govuk-!-margin-0 govuk-!-padding-0">18</span>
	</div>

	<div class="govuk-grid-column-one-quarter">
		<h3 class="govuk-body govuk-hint govuk-!-font-size-19 govuk-!-margin-bottom-0">Refused</h3>
		<span class="govuk-heading-xl govuk-!-padding-0 govuk-!-margin-0">39</span>
	</div>
	
	<div class="govuk-grid-column-one-quarter">
		<h3 class="govuk-body govuk-hint govuk-!-font-size-19 govuk-!-margin-bottom-0">Time to report</h3>
		<span class="govuk-heading-xl govuk-!-padding-0 govuk-!-margin-0">5.4h</span>
	</div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-8">
	<div class="govuk-grid-column-one-quarter">
		<h3 class="govuk-body govuk-hint govuk-!-font-size-19 govuk-!-margin-bottom-0">Unaccounted for</h3>
		<span class="govuk-heading-xl govuk-!-margin-0 govuk-!-padding-0">11</span>
	</div>

	<div class="govuk-grid-column-one-quarter">
		<h3 class="govuk-body govuk-hint govuk-!-font-size-19 govuk-!-margin-bottom-0">Paid</h3>
		<span class="govuk-heading-xl govuk-!-margin-0 govuk-!-padding-0">643</span>
	</div>

	<div class="govuk-grid-column-one-quarter">
		<h3 class="govuk-body govuk-hint govuk-!-font-size-19 govuk-!-margin-bottom-0">Not paid</h3>
		<span class="govuk-heading-xl govuk-!-padding-0 govuk-!-margin-0">27</span>
	</div>
	
	<div class="govuk-grid-column-one-quarter">
		<h3 class="govuk-body govuk-hint govuk-!-font-size-19 govuk-!-margin-bottom-0">Total paid</h3>
		<span class="govuk-heading-xl govuk-!-padding-0 govuk-!-margin-0">£1,131.68</span>
	</div>
</div>

<h2 class="govuk-heading-m">
	Activities
</h2>
<table class="govuk-table app-whereabouts-table--font-size-normal app-whereabouts-table--sticky-head" data-module="moj-sortable-table">
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th scope="col" class="govuk-table__header" aria-sort="ascending" width="250">Activity name</th>
			<th scope="col" class="govuk-table__header" aria-sort="none" style="white-space: nowrap; width: 1%;">Attendance rate</th>
			<th scope="col" class="govuk-table__header govuk-hint" aria-sort="none" style="white-space: nowrap; width: 1%;">Absence rate</th>
			<th scope="col" class="govuk-table__header govuk-hint" aria-sort="none" style="white-space: nowrap; width: 1%;">Typical attendance per session</th>
		</tr>
	</thead>
	<tbody class="govuk-table__body">
		{% for activity in data['timetable-complete-1']['activities'] | sort(false, true, 'name') %}
		<tr class="govuk-table__row">
			<td class="govuk-table__cell govuk-!-font-weight-bold" data-sort-value="{{activity.name|lower}}">
				{{activity.name}}
			</td>
			<td class="govuk-table__cell--numeric govuk-table__cell govuk-hint">
				87%
			</td>
			<td class="govuk-table__cell--numeric govuk-table__cell govuk-hint">
				97%
			</td>
			<td class="govuk-table__cell--numeric govuk-table__cell govuk-hint">
				79%				
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}