{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}
{% block pageTitle %}
Attendance dashboard
{% endblock %}
{% block primaryNavigation %}
{% endblock %}
{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{{ govukBreadcrumbs({
	classes: "govuk-!-display-none-print",
	items: [
	{
		text: "Digital Prison Services",
		href: "dps-home"
	},
	{
		text: "Manage prisoner unlock and attendance",
		href: "whereabouts"
	}
	]
}) }}
{% endblock %}
{% block content %}
<h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
	Attendance statistics
	<span class="govuk-caption-l">
		{{date|today|convertShortDateToVeryLongDate}}
	</span>
</h1>
{% set dateHtml %}
{{ govukDateInput({
	id: "passport-issued",
	namePrefix: "passport-issued",
	fieldset: {
		legend: {
			text: "Date",
			isPageHeading: false,
			classes: "govuk-fieldset__legend--s"
		}
	},
	hint: {
		html: "For example, 27 1 2023.<br>The earliest date you can view is 27 January 2023."
	}
}) }}
{{govukButton({
	text: "Update results"
})}}
{% endset %}

<p>
	<a href="activities/{{date|today}}" class="govuk-link--no-visited-state">View a list of activities for this date</a>
</p>

{{ govukDetails({
	summaryText: "Choose a different date",
	html: dateHtml
}) }}


{% for period, section in data['attendance-data-1'] %}
{% endfor %}

{% macro dataCard(params) %}
<h3 class="govuk-body govuk-hint govuk-!-margin-bottom-0 {{params.titleClasses}}">{{ params.title }}</h3>
<span class="govuk-heading-xl govuk-!-margin-0 govuk-!-padding-0 {{params.countClasses}}">{{ params.count }}</span>
{% if params.linkHref %}
<p class="govuk-!-margin-bottom-0">
	<a href="{{params.linkHref}}?page-title={{'All ' + (params.title | lower)}}&count={{params.count}}" class="govuk-!-font-weight-bold govuk-link--no-visited-state govuk-!-font-size-16">{{ params.linkText or "All " + (params.title | lower) }}</a>
</p>
{% endif %}
{% endmacro %}

{% set totalMorningAbsences =
data['attendance-data-1']['absences']['morning']["sick"] +
data['attendance-data-1']['absences']['morning']["refused"] +
data['attendance-data-1']['absences']['morning']["notRequired"] +
data['attendance-data-1']['absences']['morning']["restDay"] +
data['attendance-data-1']['absences']['morning']["elsewhere"] +
data['attendance-data-1']['absences']['morning']["other"] +
data['attendance-data-1']['absences']['morning']["unknown"]
%}

{% set totalAfternoonAbsences =
data['attendance-data-1']['absences']['afternoon']["sick"] +
data['attendance-data-1']['absences']['afternoon']["refused"] +
data['attendance-data-1']['absences']['afternoon']["notRequired"] +
data['attendance-data-1']['absences']['afternoon']["restDay"] +
data['attendance-data-1']['absences']['afternoon']["elsewhere"] +
data['attendance-data-1']['absences']['afternoon']["other"] +
data['attendance-data-1']['absences']['afternoon']["unknown"]
%}

{% set totalDailyAbsences = totalMorningAbsences + totalAfternoonAbsences %}
{% set periods = ["Daily", "Morning", "Afternoon", "Evening"] %}
<div class="govuk-tabs" data-module="govuk-tabs">
	<h2 class="govuk-tabs__title">
		Contents
	</h2>
	<ul class="govuk-tabs__list" role="tablist">
		{% for period in periods %}
		<li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
			<a class="govuk-tabs__tab" href="#tab_{{loop.index}}" id="tab_{{loop.index}}" role="tab" aria-controls="tab_{{loop.index}}" aria-selected="true" tabindex="0">
				{{period}}
			</a>
		</li>
		{% endfor %}
	</ul>
	{% for period in periods %}
	{% set totalAbsences =
	data['attendance-data-1'][period|lower]['absences']["sick"] +
	data['attendance-data-1'][period|lower]['absences']["refused"] +
	data['attendance-data-1'][period|lower]['absences']["notRequired"] +
	data['attendance-data-1'][period|lower]['absences']["restDay"] +
	data['attendance-data-1'][period|lower]['absences']["elsewhere"] +
	data['attendance-data-1'][period|lower]['absences']["other"] +
	data['attendance-data-1'][period|lower]['absences']["unknown"] %}
	<div class="govuk-tabs__panel" id="tab_{{loop.index}}" role="tabpanel" aria-labelledby="tab_{{loop.index}}">
		<h2 class="govuk-heading-m">
			{{period}} summary
		</h2>

		<p>
			850 prisoners allocated to activities on {{date|today|convertShortDateToVeryLongDate}}.
		</p>

		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-quarter">
				{{ dataCard({
					title: "Absences",
					count: totalAbsences,
					linkHref: "attendance-dashboard-3-list",
					linkText: "All absences"
				}) }}
			</div>
			<div class="govuk-grid-column-one-quarter">
				{{ dataCard({
					title: "Not recorded",
					count: data['attendance-data-1'][period|lower]["notRecorded"],
					linkHref: "attendance-dashboard-3-list"
				}) }}
			</div>
			<div class="govuk-grid-column-one-quarter">
				{{ dataCard({
					title: "Unknown absences",
					count: data['attendance-data-1'][period|lower]['absences']["unknown"],
					linkHref: "attendance-dashboard-3-attendance"
				}) }}
			</div>
			<div class="govuk-grid-column-one-quarter">
				{{ dataCard({
					title: "Attendance rate (percentage)",
					count: ((850 - totalAbsences) / 850 * 100) | round(1, "floor")
				}) }}
			</div>
		</div>
		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
		<h2 class="govuk-heading-m">
			Absences
		</h2>
		<div class="govuk-grid-row govuk-!-margin-bottom-5">
			<div class="govuk-grid-column-one-quarter">
				{{ dataCard({
					title: "Sick",
					count: data['attendance-data-1'][period|lower]['absences']["sick"]
				}) }}
			</div>
			<div class="govuk-grid-column-one-quarter">
				{{ dataCard({
					title: "Refused",
					count: data['attendance-data-1'][period|lower]['absences']["refused"]
				}) }}
			</div>
			<div class="govuk-grid-column-one-quarter">
				{{ dataCard({
					title: "Not required or excused",
					count: data['attendance-data-1'][period|lower]['absences']['notRequired']
				}) }}
			</div>
			<div class="govuk-grid-column-one-quarter">
				{{ dataCard({
					title: "Rest day",
					count: data['attendance-data-1'][period|lower]['absences']['restDay']
				}) }}
			</div>
		</div>
		<div class="govuk-grid-row govuk-!-margin-bottom-5">
			<div class="govuk-grid-column-one-quarter">
				{{ dataCard({
					title: "Prisoner is elsewhere",
					count: data['attendance-data-1'][period|lower]['absences']['elsewhere']
				}) }}
			</div>
			<div class="govuk-grid-column-one-quarter">
				{{ dataCard({
					title: "Other",
					count: data['attendance-data-1'][period|lower]['absences']['other']
				}) }}
			</div>
			<div class="govuk-grid-column-one-quarter">
				{{ dataCard({
					title: "Absence reason unknown",
					count: data['attendance-data-1'][period|lower]['absences']['unknown']
				}) }}
			</div>
		</div>
		<div class="govuk-grid-row govuk-!-margin-bottom-5">
			<div class="govuk-grid-column-one-quarter">
				{{ dataCard({
					title: "Paid (acceptable)",
					count: data['attendance-data-1'][period|lower]['absences']["sick"] +
data['attendance-data-1'][period|lower]['absences']['notRequired'] +
data['attendance-data-1'][period|lower]['absences']['restDay'] +
data['attendance-data-1'][period|lower]['absences']['elsewhere']
				}) }}
			</div>
			<div class="govuk-grid-column-one-quarter">
				{{ dataCard({
					title: "Not paid (unacceptable)",
					count: data['attendance-data-1'][period|lower]['absences']["refused"] +
data['attendance-data-1'][period|lower]['absences']['other'] +
data['attendance-data-1'][period|lower]['absences']['unknown']
				}) }}
			</div>
		</div>
		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
		<h2 class="govuk-heading-m">
			Cancellations
		</h2>
		<div class="govuk-grid-row govuk-!-margin-bottom-5">
			<div class="govuk-grid-column-one-quarter">
				{{ dataCard({
					title: "Sessions cancelled",
					count: data['attendance-data-1'][period|lower]['cancellations']|length,
					linkHref: "#"
				}) }}
			</div>
		</div>
		<div class="govuk-grid-row govuk-!-margin-bottom-5">
			<div class="govuk-grid-column-one-quarter">
				{{ dataCard({
					title: "Staff unavailable",
					titleClasses: "govuk-!-font-size-16",
					count: 1,
					countClasses: "govuk-!-font-size-36"
				}) }}
			</div>
			<div class="govuk-grid-column-one-quarter">
				{{ dataCard({
					title: "Location unavailable",
					titleClasses: "govuk-!-font-size-16",
					count: 1,
					countClasses: "govuk-!-font-size-36"
				}) }}
			</div>
		</div>
		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
		<h2 class="govuk-heading-m">
			Prisoners suspended
		</h2>
		<div class="govuk-grid-row govuk-!-margin-bottom-8">
			<div class="govuk-grid-column-one-quarter">
				{{ dataCard({
					title: "Prisoners suspended",
					count: 11,
					linkHref: "#"
				}) }}
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}