{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}

{% set titleText %}

{% endset %}

{% block pageTitle %}
{{titleText}}
{% endblock %}

{% block primaryNavigation %}
{% endblock %}
{% block beforeContent %}
{{govukBackLink({
	text: "Back",
	"href": "javascript: window.history.go(-1)"
})}}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			<h1 class="govuk-heading-l">
				Change pay details for {{prisoner.name.firstname}} {{prisoner.name.surname}}
			</h1>

			{% set insetTextHtml %}
			<p>
				{{activity.name}} on {{date|convertShortDateToLongDate}} ({{period|upper}})
			</p>
			{% endset %}

			{{govukInsetText({
				html: insetTextHtml
			})}}
			
			{% set caseNoteHtml %}
			{{ govukTextarea({
				name: "attendance-details[" + prisoner.id + "][pay-detail]",
				id: "bonus-detail-" + prisoner.id,
				label: {
					text: "Provide a short explanation for your decision, this will be added to their case notes."
				}
			}) }}
			{% endset %}

			<!-- {{data['attendance']|dump}} -->

			{{ govukRadios({
				id: "pay-details-" + prisoner.id,
				name: "attendance-details[" + prisoner.id + "][pay]",
				fieldset: {
					legend: {
						text: "Should " + prisoner.name.firstname + " " + prisoner.name.surname + " be paid?",
						classes: "govuk-label--m"
					}
				},
				items: [
				{
					value: "standard",
					text: "Yes"
				},
				{
					value: "none",
					text: "No",
					conditional: {
						html: caseNoteHtml
					}
				}
				]
			}) }}

			<!-- {{ govukRadios({
				name: "standard-pay-all",
				fieldset: {
					legend: {
						text: titleText,
						isPageHeading: true,
						classes: "govuk-fieldset__legend--l"
					}
				},
				items: [
				{
					value: "yes",
					html: 'Yes'
				},
				{
					value: "no",
					html: "No"
				}
				]
			}) }} -->

			

			{{govukButton({
				text: "Continue"
			})}}
		</form>
	</div>
</div>
{% endblock %}

{% block pageScripts %}
{% endblock %}