{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}
{% block pageTitle %}
Activities Management prototype
{% endblock %}
{% block primaryNavigation %}
{% endblock %}
{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{{govukBackLink({
	text: "Back",
	"href": "javascript: window.history.go(-1)"
})}}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="get" action="movement-list">
			<div class="govuk-form-group">
				<h1 class="govuk-label-wrapper">
					<label class="govuk-label govuk-label--l" for="movement-location">
						Select the movement location
					</label>
				</h1>

				<div id="movement-location-hint" class="govuk-hint">
					Not all locations will show in this list. You’ll only see the locations where there are activities or appointments happening at the selected time and period.
				</div>
				<select class="govuk-select" id="movement-location" name="location" aria-describedby="movement-location-hint">
					<option value="" selected=""></option>
					{% for location in locations|sort %}
					<option value="{{location}}">{{location}}</option>
					{% endfor %}
				</select>
			</div>

			{{govukButton({
				text: "Continue"
			})}}
		</form>
	</div>
</div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script>
	accessibleAutocomplete.enhanceSelectElement({
		selectElement: document.querySelector('#movement-location'),
		showAllValues: true
	})
</script>
{% endblock %}