
{% extends "layout.html" %}


{% block pageTitle %}
Activities Management prototype
{% endblock %}
{% block back %}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-three-thirds">
        <div class="back">
          <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>
          </div>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4" style="margin-left:10px;">
          Check and confirm your allocation
        </h1><br />
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Details of who you're allocating </h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Name
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ data.offenderAllocate }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-start-time-2">
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Prison number
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
              {{ data.offenderIDAllocate }}
              </p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-start-time-2">
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cell location
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
              1-A-3078
              </p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-start-time-2">
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Workplace risk assessment
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> {{ data.allocationRisk }}
              </p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-start-time-2">
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Education level
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
                  {{data.allocationEducation}}
              </p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="allocate-payment-details">
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Incentive level
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
                  {{data.allocateIncentive}}
              </p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="allocate-payment-details">
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Pay rate
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
                  &pound;{{data.AllocatePayment or '1.1110'}}
              </p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="allocate-payment-details">Change
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Activity details </h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Activity name
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ data.activityAllocateName }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-start-time-2">
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Activity location
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">

                {% if data.activityAllocateName=="Kitchens" %}
                Kitchen

                {% elseif data.activityAllocateName=="Textiles" %}
                Workshop 1

                {% elseif data.activityAllocateName=="Wing cleaning" %}
                Wing A
                {% endif %}
              </p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-start-time-2">
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Activity risk level
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
              {{ data.allocationRisk }}
              </p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-start-time-2">
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Required education level
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
              {{data.allocationEducation}}
              </p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-start-time-2">
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Required incentive level
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
              {{ data.allocationIncentive }}
              </p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-start-time-2">
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Days and times
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
              Monday am<br />
              Monday pm<br />
              Tuesday am<br />
              Tuesday pm<br />
              Wednesday am <br />
              Wednesday pm<br />
              Thursday am<br />
              Thursday pm <br />
              Friday am
              </p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="check/activity-start-time-2">
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>


        </dl>
        <div id="event-name-hint" class="govuk-hint">
        <a href="allocate-cancel-offender#allocate">Cancel and return to the list of candidates</a>
      </div><br />

        <form method="post">
          <button class="govuk-button" data-module="govuk-button">
            Confirm allocation
          </button>
        </form>
      </div>
</div>
{% endblock %}
