
{% extends "layout.html" %}

{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigation: [
    {
      text: "Create and allocate",
      href: "/"
    },
    {
      text: "Unlock and attend",
      href: "/unlock",
      active: true
    }]
  }) }}

<div class="app-masthead">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-3">
          Unlock &amp; attend
        </h1>
        <h3 class="app-masthead__subtitle govuk-heading-l">Prototype</h3>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          User research, content docs and flow diagrams
        </span>
      </summary>
      <div class="govuk-details__text">

        <p class="govuk-body govuk-!-margin-bottom-2">User research:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://miro.com/app/board/uXjVPQEiC2s=/?moveToWidget=3458764536474157615&cot=14" target="_blank" class="govuk-link govuk-link--no-visited-state">UR</a></li>

        </ul>

        <!-- <p class="govuk-body govuk-!-margin-bottom-2">Copydecks:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="" target="_blank" class="govuk-link govuk-link--no-visited-state">View the content docs </a></li>
        </ul> -->

        <!-- <p class="govuk-body govuk-!-margin-bottom-2">Flow diagrams:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="#">View the flow diagrams</a></li>
        </ul> -->

      </div>
    </details>

    <!-- <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Experimental designs &amp; ideas
        </span>
      </summary>
      <div class="govuk-details__text">
        <h3 class="govuk-heading-s">Experimental designs</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="experimental/whereabouts" class="govuk-link govuk-link--no-visited-state">Whereabouts home page</a></li>
          <li><a href="experimental/select-residential-locations" class="govuk-link govuk-link--no-visited-state">Generate multiple unlock lists</a></li>
          <li><a href="experimental/select-activity-locations" class="govuk-link govuk-link--no-visited-state">Generate multiple activity attendance lists</a></li>
        </ul>
      </div>
    </details> -->

    <h2 class="govuk-heading-l govuk-!-margin-bottom-4">
      Prototype versions
    </h2>

    <table class="govuk-table">
      <thead class="govuk-table__head" >
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" width="15%">Version</th>
          <th scope="col" class="govuk-table__header" width="15%">Status</th>
          <th scope="col" class="govuk-table__header">Description</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <!-- <a href="/unlock/version-1" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 1</a> -->
            Version 1
          </td>

          <td class="govuk-table__cell" >
            <strong class="govuk-tag govuk-tag--green">
              In design
            </strong>
          </td>

          <td class="govuk-table__cell" >
            <h3 class="govuk-heading-s">
              Filtering lists:
            </h3>
            <p>
              A few concepts showing how filters could be iterated upon, including more filter parameters and left-aligned filter components.
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="version-1/unlock-list--left-filters-1">Left-aligned vertical filters – concept 1</a></li>
              <li><a href="version-1/unlock-list--left-filters-2">Left-aligned vertical filters – concept 2</a></li>
              <li><a href="version-1/unlock-list--horizontal-filters">Horizontal filters (with toggle)</a></li>
            </ul>
            
             <h3 class="govuk-heading-s">
              Whereabouts navigation tiles:
            </h3>
            <p>
              How could we present Whereabouts functionality?
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="version-1/whereabouts-as-is">Whereabouts as-is</a></li>
              <li><a href="version-1/whereabouts-concept-1">Whereabouts tiles concept 1</a></li>
              <li><a href="version-1/whereabouts-concept-2">Whereabouts tiles concept 2</a></li>
            </ul>

            <h3 class="govuk-heading-s">
              Printed lists:
            </h3>
            <p>
              Exploring how we could improve the usability of printed lists.
            </p>
            <p>
              Make sure to use your browser's print functionality to see the print version rather than the web one.
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="version-1/print-table-concept-1">Printable table concept</a></li>
            </ul>
          </td>
        </tr>

      </tbody>
    </table>


  </div>
</div>

{% endblock %}
