{% extends "layout.html" %}

{% block pageTitle %}
Activities Management prototype
{% endblock %}

{% block header %}
{% set page = 'unlock' %}
{% include '../includes/proto-header.html' %}

<div class="app-masthead">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="app-masthead__title govuk-heading-l govuk-!-margin-bottom-3">
          Unlock and attend
        </h1>
        <h3 class="app-masthead__subtitle govuk-heading-m">A collection of services for prison staff to help with
          unlocking prisoners and managing attendance.

        </h3>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          User research, content docs and flow diagrams
        </span>
      </summary>
      <div class="govuk-details__text">

        <p class="govuk-body govuk-!-margin-bottom-2">User research:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://miro.com/app/board/uXjVPQEiC2s=/?moveToWidget=3458764536474157615&cot=14" target="_blank"
              class="govuk-link govuk-link--no-visited-state">UR</a></li>
        </ul>

      </div>
    </details>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-caption-xl">Prototype versions</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" width="20%">Version</th>
          <th scope="col" class="govuk-table__header" width="15%">Status</th>
          <th scope="col" class="govuk-table__header">Description</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <h2 class="govuk-heading-s">
              <a href="/unlock/version-8" class="govuk-link govuk-link--no-visited-state">Version 8</a>
            </h2>
          </td>

          <td class="govuk-table__cell">
            <strong class="govuk-tag">
              In design
            </strong>
          </td>

          <td class="govuk-table__cell">
            Filters changed.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <h2 class="govuk-heading-s">Version 7</h2>
            <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
              <li><a href="/dps-home" class="govuk-link govuk-link--no-visited-state">DPS home page</a></li>
              <li><a href="/unlock/version-7/config"
                  class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16">Config</a></li>
            </ul>
          </td>

          <td class="govuk-table__cell">
            <strong class="govuk-tag">
              In design
            </strong>
          </td>

          <td class="govuk-table__cell">
            Filters changed.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <h2 class="govuk-heading-s">Version 6</h2>
            <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
              <li><a href="/dps-home" class="govuk-link govuk-link--no-visited-state">DPS home page</a></li>
              <li><a href="/unlock/version-6/config"
                  class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16">Config</a></li>
            </ul>
          </td>

          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--orange">
              Paused
            </strong>
          </td>

          <td class="govuk-table__cell">
            Updates to version 5 based on last round of User research.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <h2 class="govuk-heading-s"><a href="/unlock/version-5/config"
                class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 5</a></h2>
            <p class="govuk-hint govuk-!-font-size-16">(Use this link to configure the prototype)</p>
          </td>

          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--grey">
              Closed
            </strong>
          </td>

          <td class="govuk-table__cell">
            Description to follow.
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <h2 class="govuk-heading-s"><a href="/unlock/version-4/config"
                class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 4</a></h2>
            <p class="govuk-hint govuk-!-font-size-16">(Use this link to configure the prototype)</p>
          </td>

          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--grey">
              Closed
            </strong>
          </td>

          <td class="govuk-table__cell">
            Description to follow.
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <h2 class="govuk-heading-s"><a href="/unlock/version-3/config"
                class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 3</a></h2>
            <p class="govuk-hint govuk-!-font-size-16">(Use this link to configure the prototype)</p>
          </td>

          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--grey">
              Closed
            </strong>
          </td>

          <td class="govuk-table__cell">
            Attendance journey.
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <h2 class="govuk-heading-s"><a href="/unlock/version-2"
                class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 2</a></h2>
            <p class="govuk-hint govuk-!-font-size-16">(Use this link to configure the prototype)</p>
          </td>

          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--grey">
              Closed
            </strong>
          </td>

          <td class="govuk-table__cell">
            <h3 class="govuk-heading-s">
              Selecting attendance lists
            </h3>
            <p>
              Looked at 2 different patterns for users to generate attendance lists:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="/unlock/version-2/select-activity?config[select-activity-pattern]=typeahead"
                  class="govuk-link--no-visited-state">Search for an activity or location using an autocomplete</a>
              </li>
              <li>
                <a href="/unlock/version-2/select-activity?config[select-activity-pattern]=table"
                  class="govuk-link--no-visited-state">View all activities on a selected date</a>
              </li>
            </ul>

            <h3 class="govuk-heading-s">
              Recording attendance
            </h3>
            <p>
              Explored different ways of recording attendance:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="/unlock/version-2/select-activity?config[attend-pattern]=modals"
                  class="govuk-link--no-visited-state">Modal dialogs</a>
              </li>
              <li>
                <a href="/unlock/version-2/select-activity?config[attend-pattern]=separate"
                  class="govuk-link--no-visited-state">Separate page</a>
              </li>
            </ul>
            <p>
              Additionally, looked at different call-to-action patterns for users to record attendance:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="/unlock/version-2/select-activity?config[record-attendance-pattern]=dropdown-button&config[attend-pattern]=separate"
                  class="govuk-link--no-visited-state">Dropdown button with 'attend' and 'not attend' statuses</a>
              </li>
              <li>
                <a href="/unlock/version-2/select-activity?config[record-attendance-pattern]=single-button&config[attend-pattern]=separate"
                  class="govuk-link--no-visited-state">A single 'record attendance' button</a>
              </li>
            </ul>

            <h3 class="govuk-heading-s">
              Whereabouts tiles
            </h3>
            <p>
              Navigation tiles on the <a href="/unlock/version-2/whereabouts" class="govuk-link--no-visited-state">main
                Whereabouts page</a> have been updated:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/unlock/version-2/select-unlock-locations" class="govuk-link--no-visited-state">Get unlock
                  list</a></li>
              <li><a href="/unlock/version-2/view-daily-schedules" class="govuk-link--no-visited-state">View daily
                  schedules</a></li>
              <li><a href="/unlock/version-2/select-activity" class="govuk-link--no-visited-state">Attend an
                  activity</a></li>
              <li><a href="/unlock/version-2/select-refusals-locations" class="govuk-link--no-visited-state">Mark
                  refusals and sickness</a></li>
              <li>Attendance data</li>
              <li>Add bulk appointments</li>
            </ul>

            <p>
              Some tiles link to revised 'selection' pages where users can choose the parameters for the subsequent
              'list' pages.
            </p>
            <p>
              List pages all follow a similar design, but with small differences to cater for different user needs.
            </p>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <h2 class="govuk-heading-s">Version 1</h2>
          </td>

          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--grey">
              Closed
            </strong>
          </td>

          <td class="govuk-table__cell">
            <h3 class="govuk-heading-s">
              Filtering lists:
            </h3>
            <p>
              A few concepts showing how filters could be iterated upon, including more filter parameters and
              left-aligned filter components.
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/unlock/version-1/unlock-list--left-filters-1"
                  class="govuk-link--no-visited-state">Left-aligned vertical filters – concept 1</a></li>
              <li><a href="/unlock/version-1/unlock-list--left-filters-2"
                  class="govuk-link--no-visited-state">Left-aligned vertical filters – concept 2</a></li>
              <li><a href="/unlock/version-1/unlock-list--horizontal-filters"
                  class="govuk-link--no-visited-state">Horizontal filters (with toggle)</a></li>
            </ul>

            <h3 class="govuk-heading-s">
              Whereabouts navigation tiles:
            </h3>
            <p>
              How could we present Whereabouts functionality?
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/unlock/version-1/whereabouts-as-is" class="govuk-link--no-visited-state">Whereabouts
                  as-is</a></li>
              <li><a href="/unlock/version-1/whereabouts-concept-1" class="govuk-link--no-visited-state">Whereabouts
                  tiles concept 1</a></li>
              <li><a href="/unlock/version-1/whereabouts-concept-2" class="govuk-link--no-visited-state">Whereabouts
                  tiles concept 2</a></li>
            </ul>

            <h3 class="govuk-heading-s">
              Printed lists:
            </h3>
            <p>
              Exploring how we could improve the usability of printed lists.
            </p>
            <p>
              Make sure to use your browser's print functionality to see the print version rather than the web one.
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/unlock/version-1/print-table-concept-1" class="govuk-link--no-visited-state">Printable table
                  concept</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>


  </div>
</div>

{% endblock %}